﻿
    <div class="searchResulltTabl">
        <table id="member_table" class="table table-striped">
            <thead>
                <tr>
                    <th>@RSWP_UI.Resources.Resource.Year</th>
                    <th>@RSWP_UI.Resources.Resource.StatementsPDF</th>
                </tr>
            </thead>
            <tbody id="memberList">
            </tbody>
        </table>
    </div>