﻿<div class="searchResulltTabl">
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.Name</th>
                <th>@RSWP_UI.Resources.Resource.Designation</th>
                <th>@RSWP_UI.Resources.Resource.Address</th>
                <th>@RSWP_UI.Resources.Resource.TelNo</th>
                <th>@RSWP_UI.Resources.Resource.EMail</th>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>

    </table>
</div>

<div class="searchResulltTabl">
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.Name</th>
                <th>@RSWP_UI.Resources.Resource.Designation</th>
                <th>@RSWP_UI.Resources.Resource.Address</th>
                <th>@RSWP_UI.Resources.Resource.TelNo</th>
                <th>@RSWP_UI.Resources.Resource.EMail</th>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>

    </table>
</div>

<div class="searchResulltTabl">
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.Name</th>
                <th>@RSWP_UI.Resources.Resource.Designation</th>
                <th>@RSWP_UI.Resources.Resource.Address</th>
                <th>@RSWP_UI.Resources.Resource.TelNo</th>
                <th>@RSWP_UI.Resources.Resource.EMail</th>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>

    </table>
</div>
