﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.Members</h4>
        <ul class="sideBarList">
            <li><a href="/Graphical/Graphical_Analysis" class="active" data-section="Graphical" data-subsection="Members" data-module="Party Wise">@RSWP_UI.Resources.Resource.PartyWise</a></li>
            <li><a href="/Graphical/State_Graphical_Analysis" data-section="Graphical" data-subsection="Members" data-module="StateWise">@RSWP_UI.Resources.Resource.StateWise</a></li>
            <li><a href="/Graphical/Gender_Graphical_Analysis" data-section="Graphical" data-subsection="Members" data-module="Gender Wise">@RSWP_UI.Resources.Resource.GenderWise</a></li>
            <li><a href="#" data-section="Graphical" data-subsection="Members" data-module="Council of Ministers">@RSWP_UI.Resources.Resource.Councilofministers</a></li>
            <li><a href="/Graphical/ProfessionWise_Graphical_Analysis" data-section="Graphical" data-subsection="Members" data-module="Profession Wise">@RSWP_UI.Resources.Resource.ProfessionWise</a></li>
            <li><a href="#" data-section="Graphical" data-subsection="Members" data-module="Education Wise">@RSWP_UI.Resources.Resource.EducationWise</a></li>
            <li><a href="#" data-section="Graphical" data-subsection="Members" data-module="Time Taken and Time Lost (session wise)">@RSWP_UI.Resources.Resource.TimeTakenandTimeLost </a></li>
            <li><a href="/Graphical/ExpenditureIncurred_Graphical_Analysis" data-section="Graphical" data-subsection="Members" data-module="Actual expenditure incurred">@RSWP_UI.Resources.Resource.Actualexpenditureincurred</a></li>
            @*<li><a href="/Graphical/ExpenditureAllMembers_Graphical_Analysis">Total expenditure all members Financial Year</a></li>*@
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.Questions</h4>
        <ul class="sideBarList">
            <li><a href="/Graphical/NoticeDetails_Graphical_Analysis" data-section="Graphical" data-subsection="Questions" data-module="Notices submitted (starred/unstarred)">@RSWP_UI.Resources.Resource.Noticessubmitted</a></li>
            <li><a href="#" data-section="Graphical" data-subsection="Questions" data-module="Notices admitted (listed)">@RSWP_UI.Resources.Resource.Noticesadmitted</a></li>
            @*<li><a href="#" data-section="Graphical" data-subsection="Questions" data-module="Notices disallowed">@RSWP_UI.Resources.Resource.Noticesdisallowed</a></li>
            <li><a href="#" data-section="Graphical" data-subsection="Questions" data-module="Notices lapsed">@RSWP_UI.Resources.Resource.Noticeslapsed</a></li>*@
            <li><a href="#" data-section="Graphical" data-subsection="Questions" data-module="Questions Answered Orally">@RSWP_UI.Resources.Resource.QuestionsAnsweredOrally</a></li>
            <li><a href="#" data-section="Graphical" data-subsection="Questions" data-module="Number of Supplementaries asked">@RSWP_UI.Resources.Resource.NumberofSupplementariesasked</a></li>
            <li><a href="#" data-section="Graphical" data-subsection="Questions" data-module="Language wise Notices of Questions (English/Hindi)">@RSWP_UI.Resources.Resource.LanguagewiseNoticesofQuestions</a></li>
        </ul>
    </div>
</div>
