﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.GovernmentAssurances</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("AssurancesLaid_Graphical_Analysis","Graphical")" data-section="Graphical" data-subsection="Government Assurances" data-module="Ministry wise distribution of assurances laid during 2010-2018"> Ministry wise distribution of assurances laid during 2010-2018</a></li>
            <li><a href="@Url.Action("AssurancesPending_Graphical_Analysis","Graphical")" data-section="Graphical" data-subsection="Government Assurances" data-module="Yearly statement of assurances pending"> Yearly statement of assurances pending</a></li>
            <li><a href="@Url.Action("DroppedAssurances_Graphical_Analysis","Graphical")" data-section="Graphical" data-subsection="Government Assurances" data-module="Yearly statement of dropped assurances"> Yearly statement of dropped assurances</a></li>
        </ul>
    </div>

    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.Legislation</h4>
        <ul class="sideBarList">
            <li><a href="/Graphical/Bills_Introduce" data-section="Graphical" data-subsection="Legislation" data-module="Bills introduced in the Rajya Sabha">Bills introduced in the Rajya Sabha</a>
            @*<ul>
                <li><a href="#" data-section="Graphical" data-subsection="Legislation" data-module="Government Bills"> Government Bills</a></li>
                <li><a href="#" data-section="Graphical" data-subsection="Legislation" data-module="Private Bills"> Private Bills</a></li>
            </ul>*@
            </li>
            <li><a href="/Graphical/Bills_Passsed" data-section="Graphical" data-subsection="Legislation" data-module="Bills passed by the Rajya Sabha">Bills passed by the Rajya Sabha</a></li>
            <li><a href="#" data-section="Graphical" data-subsection="Legislation" data-module="Bills passed/returend by Rajya Sabha with amendments">Bills passed/returend by Rajya Sabha with amendments</a></li>
            <li><a href="/Graphical/Bills_Pending" data-section="Graphical" data-subsection="Legislation" data-module="Bills pending in the Rajya Sabha">Bills pending in the Rajya Sabha</a>
            @*<ul>
                <li><a href="#" data-section="Graphical" data-subsection="Legislation" data-module="Government Bills"> Government Bills</a></li>
                <li><a href="#" data-section="Graphical" data-subsection="Legislation" data-module="Private Bills"> Private Bills</a></li>
            </ul>*@
            </li>
            <li><a href="#" data-section="Graphical" data-subsection="Legislation" data-module=" Amendments to Bills received during the Session"> Amendments to Bills received during the Session</a></li>
        </ul>
    </div>
</div>
