﻿@using RSWP_DOM.Common
@model IEnumerable<RSSecretariat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bgWhiteConter bg-debate" id="sec1">
    <div class="row">
        <div class="col-md-12">
            <div class="page-heading">
                <h1 class="main-title center">@RSWP_UI.Resources.Resource.RajyaSabhaSecretariat</h1>
            </div>
        </div>
    </div>
    <div class="row">
        @Html.Partial("Partials/leftMenu")
        <div class="col-md-9 boxMiddleBorder">
            <div class="broadComTab">
                <ul>
                    @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                    {
                        <li><a href="@data.Value">@data.Text</a></li>
                    }
                </ul>
            </div>
            <div class="boxSearchMid boxSearchMid-2">
                <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
                <div class="box-midd">
                    <h4 class="text-center">@RSWP_UI.Resources.Resource.RajyaSabhaSecretariat @ViewBag.pageTitle</h4>
                    @if (ViewBag.switchName == "Default")
                    {
                        @Html.Partial("Partials/_default", Model)
                    }
                    else if (ViewBag.switchName == "DemandGrants")
                    {
                        @Html.Partial("Partials/demandGrants", Model)
                    }
                    else if (ViewBag.switchName == "TDirectories")
                    {
                        @Html.Partial("Partials/telephoneDirectories", Model)
                    }
                    else if (ViewBag.switchName == "SPosition")
                    {
                        @Html.Partial("Partials/senctionedPosition", Model)
                    }
                    else if (ViewBag.switchName == "MProcedure")
                    {
                        @Html.Partial("Partials/manualProcedure", Model)
                    }
                    else if (ViewBag.switchName == "AAReports")
                    {
                        @Html.Partial("Partials/annualAdministrativeReports", Model)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

