﻿@using RSWP_UI.Models.RajyaSabhaSecretariatViewModel
@{
    ViewBag.Title = "Joint_Secretaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-9 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;"><strong><u>Joint Secretaries</u></strong></h4>
                        <br />
                        <div class="ShowData" id="Show_Data">
                            <div class="searchResulltTabl">
                                <table class="table table-striped" id="member_table" border="1">
                                    <thead>
                                        <tr>
                                            <th>Name,Designation,Address</th>
                                            <th>Work Responsibility</th>
                                            <th>Off. Tel. Nos.,FAX,Intercom No.,P.S-Tel.No & E-mail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<GetSecretaryGeneralViewModel>)Session["JointSec"])
                                        {
                                            <tr>
                                                <td>
                                                    @{var data = "http://164.100.47.4/rssorgchart/photos/" + item.PhotoName + ".jpg";}
                                                    <img class="DC" src="@data" style="width:50%;">
                                                    <br />
                                                    <strong> @item.OfficerName </strong> <br />
                                                    @item.ODesigName <br />
                                                    @item.DesigVar <br />
                                                    @item.Address
                                                </td>
                                                <td>@item.wr</td>
                                                <td>
                                                    <strong>Off.Tel.Nos.:</strong> @item.TeleNo <br />
                                                    <strong>P.S - Tel.No.:</strong> @item.Pstn <br />
                                                    <strong>Fax No.:</strong> @item.Fax <br />
                                                    <strong>IntercomNo.:</strong> @item.Intercom <br />
                                                    <strong>E_Mail:</strong> @item.EmailID
                                                </td>
                                            </tr>
                                         }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</section>

