﻿@using RSWP_UI.Models.RajyaSabhaSecretariatViewModel
@{
    ViewBag.Title = "Organization_Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .searchResulltTabl th {
        background-color:white;
        color:black;
    }

    .div1 {
        width: 180px;
        height: 70px;
        border: 1px solid black;
        box-sizing: border-box;
    }

    .div2 {
        width: 155px;
        height: 70px;
        border: 1px solid black;
        box-sizing: border-box;
    }

    .div3 {
        width: 80px;
        height: 120px;
        border: 1px solid black;
        box-sizing: border-box;
    }
</style>
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-9 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <br />
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">
                                <div class="div1" style="text-align:center;">
                                    <h5><strong>Secretary-General</strong></h5>
                                    @foreach (var item in (List<GetSecretaryGeneralViewModel>)Session["SGen"])
                                    {
                                        @item.OfficerName
                                    }
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">
                                <div class="div1" style="text-align:center;">
                                    <h5><strong>Secretary</strong></h5>
                                    @foreach (var item in (List<GetSecretryViewModel>)Session["Sec"])
                                    {
                                        @item.OfficerName
                                    }
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4"></div>
                            @foreach (var item in (List<GetSecretaryGeneralViewModel>)Session["AddSec"])
                            {
                                <div class="col-md-2">
                                    <div class="div2" style="text-align:center;">
                                        <h5><strong>AS</strong></h5>
                                        @item.OfficerName
                                    </div>
                                </div>
                            }
                            <div class="col-md-3"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-1"></div>
                            @foreach (var item in (List<GetSecretaryGeneralViewModel>)Session["JoinSec"])
                            {
                                <div class="col-md-1">
                                    <div class="div3" style="text-align:center;">
                                        <h5><strong>JS</strong></h5>
                                        @item.OfficerName
                                    </div>
                                </div>
                            }
                        </div>
                        <h5 style="text-align:center;"><strong>RAJYA SABHA SECRETARIAT - ORGANISATIONAL SETUP SECTION WISE – RESPONSIBILITIES OF OFFICERS</strong></h5>
                        <div class="ShowData" id="Show_Data">
                            <div class="searchResulltTabl" style="background-color:white;">
                                <table class="table table-striped" id="member_table" border="1">
                                    <thead>
                                        <tr>
                                            <th>SNo.</th>
                                            <th>Section name</th>
                                            <th>EO/ CO/ LO/ PO and Equivalent</th>
                                            <th>Under Secretary/Deputy Director</th>
                                            <th>Deputy Secretary/Joint Director</th>
                                            <th>Additional Director</th>
                                            <th>Director</th>
                                            <th>OSD/ Joint Secretary</th>
                                            <th>Secretary/ Additional Secretary</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int count = 1;}
                                        @foreach (var item in (List<GetorgSetupViewModel>)Session["setup"])
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.SectionName</td>
                                                <td>@MvcHtmlString.Create(HttpUtility.HtmlDecode(item.eo_lo_co_po))</td>
                                                <td>@MvcHtmlString.Create(HttpUtility.HtmlDecode(item.us_ad))</td>
                                                <td>@MvcHtmlString.Create(HttpUtility.HtmlDecode(item.ds_jd))</td>
                                                <td>@MvcHtmlString.Create(HttpUtility.HtmlDecode(item.ad))</td>
                                                <td>@MvcHtmlString.Create(HttpUtility.HtmlDecode(item.director))</td>
                                                <td>@MvcHtmlString.Create(HttpUtility.HtmlDecode(item.osd_js))</td>
                                                <td>@MvcHtmlString.Create(HttpUtility.HtmlDecode(item.as_secratary))</td>
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</section>
