﻿@using RSWP_UI.Models.RajyaSabhaSecretariatViewModel
@{
    ViewBag.Title = "Sections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-9 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;"><strong><u>Sections</u></strong></h4>
                        <br />
                        <div class="ShowData" id="Show_Data">
                            <div class="searchResulltTabl">
                                <table class="table table-striped" id="member_table" border="1">
                                    <thead>
                                        <tr>
                                            <th>Name Of The Section And Room No.</th>
                                            <th>Name Of Executive/Committee/Legislative/Protocol/Research Officer/Section In-Charge</th>
                                            <th>Tel. Nos. And E-Mail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<GetSectionViewModel>)Session["Sections"])
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@item.SectionName</strong> <br />
                                                    @item.RoomNo, @item.Location</td>
                                                <td>
                                                    @MvcHtmlString.Create(HttpUtility.HtmlDecode(item.incharge))
                                                </td>
                                                <td>
                                                    <strong>Off.Tel.No: </strong>@item.TelephoneNo <br />
                                                    <strong>E-Mail: </strong>@item.EmailID
                                                </td>
                                            </tr>
                                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</section>

