﻿
<div class="searchResulltTabl">
    <table id="member_table" class="table table-striped">
        @*@if (Model != null && Model.VerbatimDebatesList != null && Model.VerbatimDebatesList.Count > 0)
            {*@
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.SLNo</th>
                <th>@RSWP_UI.Resources.Resource.MinistaryDepartment</th>
                <th>@RSWP_UI.Resources.Resource.AnnualReports</th>
                <th>@RSWP_UI.Resources.Resource.OutcomeBudget</th>
                <th>@RSWP_UI.Resources.Resource.OtherPublications</th>
            </tr>
        </thead>
        <tbody id="memberList">
            @*@foreach (var item in Model.DiscussionsList)
            {

                <tr>
                    <td>
                        @item.Prefix@item.SNo
                    </td>
                    <td>
                        @item.Session
                    </td>
                    <td>
                        @item.SelectedType
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.FileUrl))
                        {
                            <a href="@item.FileUrl" target="_blank">@item.Title</a>
                        }
                        else
                        {
                            <a href="#">@item.Title</a>
                        }
                    </td>
                    <td>
                        @item.SelectedFirstMember
                    </td>
                    <td>
                        @(item.SelectedAssociatedMember ?? "")
                    </td>
                    <td>

                        @item.SelectedDate.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                    </td>



                </tr>

            }*@
        </tbody>


        @*}*@
    </table>
    @*<iframe id="docFrame" style="width:900px;height:400px"></iframe>*@
</div>



