﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.Publications</h4>
        <ul class="sideBarList">
            <li><a href="#" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.ElectronicForm</a></li>
            <li><a href="#" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.PrintedForm</a></li>
        </ul>
    </div>
</div>
