﻿@using RSWP_DOM.Common
@model IEnumerable<RSSecretariat>
<div class="row">
    <div class="col-sm-12">
        <label for="Intro">@RSWP_UI.Resources.Resource.ORGANISATION</label>
    </div>
    <div class="col-sm-12">
        <p>The Secretariat of Rajya Sabha was set up pursuant to the provisions contained in Article 98 of the Constitution. The said Article, which provides for a separate secretarial staff for each House of Parliament, reads as follows:- “98. Secretariat of Parliament -</p>
        <ol type="1">
            <li>Each House of Parliament shall have a separate secretarial staff:  Provided that nothing in this clause shall be construed as preventing the creation of posts common to both Houses of Parliament. (2) Parliament may by law regulate the recruitment and the conditions of service of persons appointed to the secretarial staff of either House of Parliament. (3) Until provision is made by Parliament under clause</li>
            <li>The President may, after consultation with the Speaker of the House of the People or the Chairman of the Council of States, as the case may be, make rules regulating the recruitment and the conditions of service of persons appointed to the secretarial staff of the House of the People or the Council of States and any rules so made shall have effect subject to the provisions of any law made under the said clause.” Till 30 September 1955, the conditions of service of the Officers and Staff of the two Secretariats continued to be governed by the Legislative Assembly Department (Conditions of Service) Rules, 1929, as amended and adapted from time to time. Thereafter, the Rajya Sabha Secretariat (Recruitment and Conditions of Service) Rules, 1957 (R&CS Rules) were framed and promulgated by the President in consultation with the Chairman, Rajya Sabha on 15 March 1957, in exercise of the powers conferred by the provisions contained in Article 98 of the Constitution.</li>
        </ol>
    </div>
    <div class="col-sm-12">
        <label for="Intro">@RSWP_UI.Resources.Resource.FUNCTIONS</label>
        <p>The Rajya Sabha Secretariat functions under the overall guidance and control of the Chairman, Rajya Sabha. The main activities of the Secretariat inter alia include the following :-</p>
    </div>
    <div class="col-sm-12">
        <ol type="i">
            <li>providing secretarial assistance and support to the effective functioning of the Council of States (Rajya Sabha);</li>
            <li>payment of salary and other allowances to the Members of Rajya Sabha;</li>
            <li>providing amenities as admissible to Members of Rajya Sabha;</li>
            <li>servicing the various Parliamentary Committees;</li>
            <li>preparing research and reference material and bringing out various publications;</li>
            <li> recruitment of manpower in the Rajya Sabha Secretariat and attending to personnel matters; and</li>
            <li>preparing and publishing a record of the day-to-day proceedings of the Rajya Sabha and bringing out such other publications, as may be required concerning the functioning of the Rajya Sabha and its Committees.</li>
        </ol>
        <p>In the discharge of his constitutional and statutory responsibilities, the Chairman, Rajya Sabha is assisted by the Secretary-General, who holds the rank of the Cabinet Secretary to the Government of India. The Secretary-General, in turn, is assisted by senior functionaries at the level of Secretary, Additional Secretary, Joint Secretary and other officers and staff of the Secretariat. Based on the recommendations of the Parliamentary Pay Committee way back in 1974, the Secretariat was restructured on functional basis into the following Services, which cater to the specific needs of the House and its Committees.</p>
    </div>
</div>
