﻿@using RSWP_DOM.Common
@model IEnumerable<RSSecretariat>
<div class="searchResulltTabl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="5%">@RSWP_UI.Resources.Resource.SNo</th>
                <th width="5%">@RSWP_UI.Resources.Resource.Year</th>
                <th width="75%">@RSWP_UI.Resources.Resource.File</th>
                <th width="15%">@RSWP_UI.Resources.Resource.DATE</th>

            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Count() > 0)
                {
                    var index = 0;
                    foreach (var data in Model)
                    {
                        index += 1;
                        <tr>
                            <td>@index</td>
                            <td>@data.Year</td>
                            <td><a href="@data.FilePath" target="_blank">@data.FileName</a></td>
                            <td>@data.Date</td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="4" align="center">@RSWP_UI.Resources.Resource.NoRecordsFound</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



