﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.OrganizationChart</h4>
        <ul class="sideBarList">
            <li><a href="#" class="active" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="Introduction">@RSWP_UI.Resources.Resource.Introduction</a></li>
            <li><a href="/RajyaSabhaSecretariat/SecretaryGeneral" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="Secretary General">@RSWP_UI.Resources.Resource.SecretaryGeneral</a></li>
            <li><a href="/RajyaSabhaSecretariat/Secretary" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="Secretary">@RSWP_UI.Resources.Resource.Secretary</a></li>
            <li><a href="/RajyaSabhaSecretariat/Additional_Secretaries" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="Additional Secretaries">@RSWP_UI.Resources.Resource.AdditionalSecretaries</a></li>
            <li><a href="/RajyaSabhaSecretariat/Joint_Secretaries" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="Joint Secretaries">@RSWP_UI.Resources.Resource.JointSecretaries</a></li>
            <li><a href="#" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="Director/JD/DD">@RSWP_UI.Resources.Resource.DirectorJDDD</a></li>
            <ul class="nest-ul">
                <li class="ar"><a href="/RajyaSabhaSecretariat/LARRDIS" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="LARRDIS">@RSWP_UI.Resources.Resource.LARRDIS</a></li>
                <li class="ar"><a href="/RajyaSabhaSecretariat/SIS" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="SIS">@RSWP_UI.Resources.Resource.SIS</a></li>
                <li class="ar"><a href="/RajyaSabhaSecretariat/ENT" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="E&T">@RSWP_UI.Resources.Resource.EandT</a></li>
                <li class="ar"><a href="/RajyaSabhaSecretariat/Verbatim_Reporting" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="Verbatim Reporting">@RSWP_UI.Resources.Resource.VerbatimReporting</a></li>
                <li class="ar"><a href="/RajyaSabhaSecretariat/PNP" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="P&P">@RSWP_UI.Resources.Resource.PandP</a></li>
                <li class="ar"><a href="/RajyaSabhaSecretariat/Parliament_Security" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="Parliament Security">@RSWP_UI.Resources.Resource.ParliamentSecurity</a></li>
                <li class="ar"><a href="#" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="PSS">@RSWP_UI.Resources.Resource.PSS</a></li>
            </ul>
            <li><a href="/RajyaSabhaSecretariat/Sections" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="Sections">@RSWP_UI.Resources.Resource.Sections</a></li>
            <li><a href="#" data-section="Rajya Sabha Secretariat" data-subsection="Organization chart" data-module="Press & Media">@RSWP_UI.Resources.Resource.PressAndMedia</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.OrganizationSetup</h4>
        <ul class="sideBarList">
            <li><a href="/RajyaSabhaSecretariat/Organization_Setup" data-section="Rajya Sabha Secretariat" data-subsection="Organization Setup" data-module="OrganizationSetup">@RSWP_UI.Resources.Resource.OrganizationSetup</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "DemandGrants" })" data-section="Rajya Sabha Secretariat" data-subsection="Organization Setup" data-module="Demands For Grants">@RSWP_UI.Resources.Resource.DemandsForGrants</a></li>
            <li><a href="#" data-section="Rajya Sabha Secretariat" data-subsection="Organization Setup" data-module="Index of Files">@RSWP_UI.Resources.Resource.IndexOfFiles</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "MProcedure" })"data-section="Rajya Sabha Secretariat" data-subsection="Organization Setup" data-module="Office Manual">@RSWP_UI.Resources.Resource.OfficeManual</a></li>
            <li><a href="#" data-section="Rajya Sabha Secretariat" data-subsection="Organization Setup" data-module="Performance Profile-RS">@RSWP_UI.Resources.Resource.PerformanceProfile_RS</a></li>
            <li><a href="#" data-section="Rajya Sabha Secretariat" data-subsection="Organization Setup" data-module="Recruitment Rules">@RSWP_UI.Resources.Resource.RecruitmentRules</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "AAReports" })" data-section="Rajya Sabha Secretariat" data-subsection="Organization Setup" data-module="Annual Reports">@RSWP_UI.Resources.Resource.AnnualReports</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "SPosition" })" data-section="Rajya Sabha Secretariat" data-subsection="Organization Setup" data-module="Sanctioned & In-position in the Secretariat">@RSWP_UI.Resources.Resource.SanctionedAndInPositionInTheSecretariat</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "TDirectories" })" data-section="Rajya Sabha Secretariat" data-subsection="Organization Setup" data-module="Telephone Directories(Allied Services)">@RSWP_UI.Resources.Resource.TelephoneDirectories_AlliedServices</a></li>
        </ul>
    </div>
</div>