﻿@using RSWP_DOM.Common
@model IEnumerable<RSSecretariat>
<div class="searchResulltTabl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="10%">@RSWP_UI.Resources.Resource.SNo</th>
                <th width="80%">@RSWP_UI.Resources.Resource.Title</th>
                <th width="10%">@RSWP_UI.Resources.Resource.PublishedDate</th>

            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Count() > 0)
                {
                    var index = 0;
                    foreach (var data in Model)
                    {
                        index += 1;
                        <tr>
                            <td>@index</td>
                            <td><a href="@data.FilePath" target="_blank">@data.Title</a></td>
                            <td>@data.PublishDate</td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="3" align="center">@RSWP_UI.Resources.Resource.NoRecordsFound</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

