(1) "<em>Act</em>"--A Bill passed by both&nbsp; Houses of Parliament and assented to by the President.
<br>
<br> (2) "<em>Ad hoc  Committee</em>"- A Committee constituted by the House or by the Chairman or by the presiding officers of both the Houses jointly to consider and report on specific matter and becomes <em>functus  officio</em> as soon as the task is completed.
<br>
<br> (3) "<em>Adjournment of Debate</em>"--Adjournment on a motion adopted by the House, of the debate on a Motion/Resolution/Bill on which the House is then engaged until a future day or sine die as specified in the motion.
<br> (4) "<em>Adjournment of the sitting of the  House</em>"- Termination of the sitting of the House which meets again at the time appointed for the next sitting.
<br>
<br> (5) "<em>Adjournment sine die</em>"-Termination of a sitting of the House without any definite date being fixed for the next sitting.
<br>
<br> (6) "<em>Appropriation Bill</em>"-&nbsp; A Money Bill passed annually (or at various times of the year) providing for the withdrawal or appropriation from and out of the Consolidated Fund of India, of moneys, voted by&nbsp; Lok Sabha and moneys charged on the Consolidated Fund for the services of a financial year or a part of a financial year.
<br>
<br> (7) "<em>Ballot</em>"- A process to determine <em>inter se</em> priority of more than one notice through a draw of lot.
<br>
<br> (8) "<em>Bill</em>"--The draft of a legislative proposal put in the proper form which, when passed by both Houses of Parliament and assented to by the President becomes an Act.
<br>
<br> (9) "<em>Budget</em>"-Annual financial statement of the estimated receipts and expenditure of the Government of India in respect of a financial year. The Budget is laid in Rajya Sabha in two parts <em>viz</em>., the Railway Budget and the General Budget.
<br>
<br> (10) "<em>Bulletin</em>"-Bulletin means the Bulletin of&nbsp; Rajya Sabha. It is published in two parts. Part I contains a brief record of the proceedings of the House at each of its sittings; and Part II contains information on any matter relating to or connected with the business of the House or Committees or other matter which in the opinion of the Chairman may be included therein.
<br>
<br> (11) "<em>Calendar of Sittings</em>"- A calendar showing the provisional days on which Rajya Sabha is to sit and the nature of business to be transacted by it on those days.
<br>
<br> (12)&nbsp; "<em>Calling Attention</em>" –&nbsp; A procedure whereby a Member calls the attention of a Minister to a matter of urgent public importance , the &nbsp;Minister makes a brief statement thereon and thereafter the Members seek clarifications.
<br>
<br> (13) "<em>Casting Vote</em>"-The vote cast by the Chairman, or a Member acting as such in the House and by the Chairman or a Member acting as such in a Committee, in the case of an equality of votes on a matter.
<br>
<br> (14) "<em>Crossing the floor</em>"--Passing between the member addressing the House and the Chair which is considered breach of Parliamentary etiquette.
<br>
<br> (15) "<em>Demand  for Grants</em>"-Earmarking of budgetary allocation for meeting the plan and non-plan expenditure of a Ministry/Department.
<br>
<br> &nbsp;(16) "<em>Division</em>"-The mode of arriving at a decision on a proposed measure or question before the House by recording votes for or against it.
<br>
<br> (17) "<em>Draw of lot</em>" - A method applied to determine the relative precedence of private members' Bills and Resolutions, notices of questions, half-an-hour discussions or any other notice given by more than one member simultaneously for being taken up on the same day.
<br>
<br> (18) "<em>Expunction</em>"-Deletion of words, phrases or expressions from the proceedings or records of&nbsp; Rajya Sabha by an order of the Chairman for being defamatory or indecent or unparliamentary or undignified.
<br>
<br> (19) "<em>Finance Bill</em>"-A Bill ordinarily introduced every year to give effect to the financial proposals of the Government of India for the following financial year and includes a Bill to give effect to supplementary financial proposals for any period.
<br>
<br> &nbsp;(20) "<em>Financial  Business</em>" – The financial business of the House consists of the laying of the Railway and General Budgets and statements of supplementary Demands for Grants on the Table after they are presented to the Lok Sabha, general discussion on the General and Railway Budgets, consideration and return of connected Appropriate Bills and Finance Bills, laying of Budges, etc. of States which are under the President’s Rule.
<br>
<br> (21) "<em>Gazette</em>"-The Gazette of India.
<br>
<br> (22) "<em>Half-an-Hour  Discussion</em>"-A Member with the permission of the Chairman may raise a discussion on a matter of sufficient public importance which has been the subject of a recent oral or written question and the answer to which needs elucidation on a matter of fact.
<br>
<br> &nbsp;(23) "<em>Leader of the Council</em>"-The Prime Minister, if he is a member of the Council or a Minister who is a member of the Council&nbsp; and is nominated by the Prime Minister to function as the Leader of the Council.
<br> (24) "<em>Leader of the Opposition</em>"-A Member of the House, who is, for the time being, the leader in that House of the Party in opposition to the Government having the greatest numerical strength and recognised as such by the Chairman.
<br>
<br> (25) "<em>Leave  of absence</em>"-A member wishing to obtain permission of the House for remaining absent from its sittings is required to make an application stating the reasons and the &nbsp;period for which he may be permitted to be absent from the sittings of the House.
<br>
<br> (26) "<em>Legislative Business</em>" – Introduction, consideration and passing of a bill, piloted by a Minister or a Private Member, in the House.
<br>
<br> (27) "<em>List of Business</em>"- A list of items of business scheduled to be taken up in Rajya Sabha on a particular day of the sittings in the order in which they stand on it.
<br> &nbsp;
<br> (28) "<em>Lobby</em>"-The covered corridor immediately adjoining the Chamber and co-terminus with it.
<br>
<br> &nbsp;(29) "<em>Maiden Speech</em>"-The first speech of a member after his election/nomination to the Rajya Sabha in the House.
<br>
<br> (30) "<em>Matters  raised with permission</em>"- Immediately after the Question Hour and laying of papers, a Member may raise an issue of urgent public importance with the prior permission of the Chairman.
<br>
<br> (31) "<em>Member in charge of the Bill</em>"-The Minister/Private Member who has introduced the government/Private Members’ Bill.
<br>
<br> (32) "<em>Memorandum of business</em>" – It is meant for the use of the Chair to help him while calling the items listed in the Agenda paper of the day.
<br>
<br> (33) "<em>Message</em>"-A communication from the President to a House or Houses of Parliament under articles 86(2) and 111 of the Constitution and a communication sent from one House of Parliament to the other House.
<br>
<br> &nbsp;(34) "<em>Motion</em>"-A&nbsp; formal proposal made to the House by a Minister or a member that the House do something, order something to be done or express an opinion with regard to some matter, and is so phrased that, if&nbsp; adopted, it will purport to express the judgment or will of the House.
<br>
<br> (35) "<em>Motion of Thanks</em>"-A formal motion moved in the House, expressing its gratitude to the President for the Address delivered by him/her under article 87(1) of the Constitution to both Houses of Parliament assembled together.
<br>
<br> (36) "<em>Naming a Member</em>"-The drawing of attention of the House by the Chairman to the conduct of a member who disregards the authority of the Chair or abuses the Rules of the House by persistently and willfully obstructing the business thereof, with a view to action being taken to suspend him from the service of the House for a period not exceeding the remainder of the session.
<br>
<br> &nbsp;(37) "<em>Ordinance</em>"-A law made by the President in exercise of the powers vested in him under article 123 of the Constitution.
<br>
<br> (38) "<em>Panel of Vice-Chairmen</em>"- A panel of six members of&nbsp; Rajya Sabha nominated by the Chairman, any one of whom may preside over the House in the absence of the Chairman and the Deputy Chairman when so requested by the Chairman, or in his absence, by the Deputy Chairman.
<br>
<br> (39) "<em>Papers laid on the Table</em>"-The papers or documents laid on the Table of the House for purpose of bringing them on the record of the House by a Minister or by a private member or by the Secretary-General with the permission of the Chairman in pursuance of the provisions of the Constitution or the Rules of Procedure of Rajya Sabha or an Act of Parliament and the Rules and Regulations made thereunder.
<br>
<br> (40) "<em>Personal explanation</em>" -&nbsp; A Member or a Minister against whom comments or criticism of a personal nature are made on the floor of the House is entitled to make, with the consent of the Chairman, personal explanation in his defence.
<br>
<br> (41) "<em>Point of Order</em>"- A point relating to the interpretation or enforcement of the Rules of Procedure or such articles of the Constitution as regulate the business of the House raised in the House and submitted for the decision of the Chair.
<br>
<br> (42) "<em>Precincts of Rajya Sabha</em>"-This includes the Chamber, the Lobbies, the Galleries and such other places as the Chairman may from time to time specify.
<br>
<br> (43) "<em>Private  Members’ Resolution</em>"- A resolution, on a matter of general public interest, a Member, other than a Minister, on a day allotted for Private Members Resolutions which is in the form of a declaration of opinion by the House or in such other form as the Chairman may consider appropriate.
<br>
<br> (44) "<em>Prorogation</em>"-The termination of a session of&nbsp; Rajya Sabha by an order made by the President under article 85(2)(a) of the Constitution.
<br>
<br> (45) "<em>Putting the Question</em>"-When debate on a question is closed, the Chairman, rising from the Chair, states or reads the question to the House, beginning with "The question is, that".
<br>
<br> (46) "<em>Question Chart</em>"-A chart circulated to members, along with the Summons for a Session, which indicates the dates for answering questions and the last date for receiving notices of questions pertaining to various Ministries/ Departments.
<br>
<br> (47) "<em>Question Hour</em>"-The first hour of a sitting of the House allotted for asking and answering of questions.
<br>
<br> (48) "<em>Question of Privilege</em>"-A question involving a breach of privilege either of a member or of the House or of a Committee thereof or a contempt of the House.
<br>
<br> (49) "<em>Quorum</em>"-The minimum number of members required to be present at a sitting of the House or a Committee for valid transaction of its business, which is one-tenth of the total number of members of the House, as provided under article 100(3) of the Constitution.
<br>
<br> (50) "<em>Rajya Sabha debate</em>" – A verbatim record of everything said in the House is reported by the official Reporter for each of the sittings of the Rajya Sabha, except certain words, phrases and expression, if any, ordered by the Chair to be expunged or ordered by the Chairman not to be recorded, when Members speak without his permissions.
<br>
<br> (51) "<em>Roll of Members</em>"-A register in which newly elected members sign, after making and subscribing the oath or affirmation and before taking their seats for the first time in the House.
<br>
<br> (52) "<em>Session</em>"-A session of&nbsp; Rajya Sabha comprises the period commencing from the date and time mentioned in the order of the President summoning&nbsp; Rajya Sabha and ending with the day on which the President prorogues Rajya Sabha.
<br>
<br> (53) "<em>Short  Duration Discussion</em>"-For raising a discussion on a matter of urgent public importance for which a notice has to be given by a Member supported by two other Members specifying clearly and precisely the matter to be raised.
<br>
<br> (54) "<em>Short Notice Question</em>"-A question relating to a matter of urgent public importance asked for oral answer by a Member with shorter notice than fifteen clear days by giving the reasons for asking the question with short notice.
<br>
<br> (55) "<em>Sitting of the House</em>"-A sitting of the House is duly constituted when it is presided over by the Chairman or a member competent to preside over a sitting of the House&nbsp; under the Constitution or the Rules of Procedure of&nbsp; Rajya Sabha.
<br>
<br> (56) "<em>Special  Mention</em>"-A procedure available to a Member who wishes&nbsp; to mention a matter of public importance in the House by reading out from the text not exceeding 250 words.
<br>
<br> (57) "<em>Standing  Committee</em>"- Committee constituted by election &nbsp;by the House or nomination by the Chairman every year or from time to time which are permanent in nature.
<br>
<br> (58) "<em>Starred Question</em>"-A question to which a member wishes to have an oral answer on the floor of the House and which is distinguished by an asterisk.
<br>
<br> (59) "<em>Statutory Resolution</em>"-A resolution in pursuance of a provision in the Constitution or an Act of Parliament.
<br>
<br> (60) "<em>Subordinate Legislation</em>"--Rules, regulations, orders, schemes, bye-laws,&nbsp; etc. having the force of law, framed by the Executive or other subordinate authority in pursuance of the power conferred on it by the Constitution or delegated to it by an Act of Parliament.
<br>
<br> (61) "<em>Summons</em>"--An official communication issued by the Secretary-General of&nbsp; Rajya Sabha under the orders of the President to the Members of Rajya Sabha informing them of the place, date and time of the commencement of a session of Rajya Sabha.
<br>
<br> (62) "<em>Supplementary  question</em>" – A Question asked by any member when called by the Chairman for the purpose of further elucidating any matter of fact regarding which an answer has been given during the question hour.
<br>
<br> (63) "<em>Table of the House</em>"--The Table just in front of the desk of the Secretary-General below the Chairman's Chair, on which papers which are required to be laid on the Table of the House, are deemed to be placed.
<br>
<br> (64) "<em>Unstarred Question</em>"--A question which is not called for oral answer in the House and the &nbsp;written answer to such a question is deemed to have been laid on the Table.
<br>
<br> (65) "<em>Valedictory  remarks</em>"-It is customary in every Session for the Chair to make the &nbsp;Valedictory remarks at the end of Session thanking Members and leaders of parties and groups for their cooperation in the conduct of business of the House.
<br>
<br> &nbsp;(66) "<em>Whips</em>" – Members drawn from the party in power and the parties/groups in opposition to perform specified functions and form vital links in the internal organization of a party inside Parliament.