﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.ConstituentAssembly</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("Index","ConstituentAssembly")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.ConstituteAssemblyMembership</a></li>
            <li><a href="@Url.Action("Index","ConstituentAssembly")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.ConstituteAssemblyDebate</a></li>
        </ul>
    </div>
</div>
