﻿
@{
    ViewBag.Title = "BillCommittee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Committee Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-9 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <br />
                        <div class="row" style="padding-left:18%;color:red;">
                            <input type="radio" id="rd1" name="rd1" checked onclick="callChangefunc()" /> PRESS RELEASE &nbsp;&nbsp;
                            <input type="radio" id="rd2" name="rd1" onclick="callChangefunc1()" /> PRESS RELEASE ARCHIVE
                        </div>
                        <div>
                            <h5 id="totalMembers" style="font-weight:bold;"></h5>
                        </div>
                    </div>
                </div>
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table id="member_table" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>SL.No.</th>
                                    <th>Bill No.</th>
                                    <th>Short Title of Bill , Press Release & Legislative Synopsis</th>
                                    <th>Last Date of Suggestion</th>
                                    <th>Under examination with</th>
                                    <th>Feedback to</th>
                                </tr>
                            </thead>
                            <tbody id="memberList">
                                
                            </tbody>
                        </table>
                        <table id="member_table1" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Press Release</th>
                                    <th>Date of Publication</th>
                                    <th>Committee Name</th>
                                </tr>
                            </thead>
                            <tbody id="memberList1"></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        callChangefunc();
    });
</script>
<script type="text/javascript">
    function callChangefunc() {
        debugger;
        var obj = {};
        //obj.sessionvalue = $.trim($("[id*=sessioncode]").val());
        $.ajax({
            url: '@Url.Action("BillCommittee_Result", "Legislation")',
            data: { },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td>' + data[i].Billno + '</td>';
                    member_data += '<td>' + '<a class="link" href="' + data[i].rptbillfilepath + '" target="_blank">' + data[i].txttitle + '</a>' + ' , ' + '<br/>' + '<a class="link" href="' + data[i].rptpressfilepath + '" target="_blank">' + data[i].txtpress + '</a>' + '</td>';
                    if (data[i].sugg_date != null)
                    {
                        member_data += '<td>' + data[i].sugg_date + '</td>';
                    }
                    else
                    {
                        member_data += '<td>' + ' ' + '</td>';
                    }
                    member_data += '<td>' + data[i].vmaincomname + '</td>';
                    member_data += '<td>' + data[i].Feedback + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                $('#member_table').show();
                $('#member_table1').hide();
                $('#member_table tbody').append(member_data);
                var totMem = 'Records Found : ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('No Record Found.');
            }
        });
    }
</script>
<script type="text/javascript">
    function callChangefunc1() {
        debugger;
        var obj = {};
        $.ajax({
            url: '@Url.Action("BillCommittee_PressRelese_Result", "Legislation")',
            data: { },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table1 tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td>' + '<a class="link" href="' + data[i].rptpressfilepath + '" target="_blank">' + data[i].txtpress + '</a>' + '</td>';
                    member_data += '<td>' + data[i].pub_date + '</td>';
                    if (data[i].vmaincomname != null)
                    {
                        member_data += '<td>' + data[i].vmaincomname + '</td>';
                    }
                    else
                    {
                        member_data += '<td>' + ' ' + '</td>';
                    }
                   
                    member_data += '</tr>';
                    count++; 
                }
                $('#member_table').hide();
                $('#member_table1').show();
                $('#member_table1 tbody').append(member_data);
                var totMem = 'Records Found : ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('No Record Found.');
            }
        });
    }
</script>

