﻿@model RSWP_UI.Models.DucumentListVM
@{
    ViewBag.Title = "BillIntroduced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Introduced Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-9 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h5 style="text-align:center;font-size:large"><strong>@RSWP_UI.Resources.Resource.LatestBills</strong></h5>
                      
                    </div>
                </div>
                <br />
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table id="member_table" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>@RSWP_UI.Resources.Resource.Title</th>
                                    <th>@RSWP_UI.Resources.Resource.FileName</th>
                                    <th>@RSWP_UI.Resources.Resource.DATE</th>
                                   
                                   
                                </tr>
                            </thead>
                            <tbody id="memberList">
                                @foreach (var item in Model.DocumentList)
                                {
                                <tr>
                                    <td><a href="@item.FileUrl" target="_blank">@item.Tiltle</a></td>
                                    <td>@item.Name</td>
                                    <td>@item.selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                                  
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>
