﻿
<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.ApplicationForm</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.NoticeOfficeForm</th>
                <th>@RSWP_UI.Resources.Resource.MSABranchForms</th>
                <th>@RSWP_UI.Resources.Resource.MembersAmenities</th>
                <th>@RSWP_UI.Resources.Resource.ITSectionForms</th>
                <th>@RSWP_UI.Resources.Resource.CommitteeonEthics</th>
                <th>@RSWP_UI.Resources.Resource.CommitteeonCordination</th>
                <th>@RSWP_UI.Resources.Resource.MPLADS</th>
                <th>@RSWP_UI.Resources.Resource.DistributionSection</th>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>

    </table>
</div>

<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.NoticeOfficeForm</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>

    </table>
</div>

<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.MSABranchForms</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>

<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.MembersAmenities</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>

<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.ITSectionForms</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.CommitteeonEthics</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.CommitteeonCordination</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.MPLADS</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.DistributionSection</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
