﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.DownloadLink</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("DownloadLink","Download")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.ParliamentryNoticeForm</a></li>
            <li><a href="@Url.Action("ApplicationForm","Download")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Official Debate Portal">@RSWP_UI.Resources.Resource.ApplicationForm</a></li>
            <li><a href="@Url.Action("FormForNewMembers","Download")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Official Debate Date-Wise">@RSWP_UI.Resources.Resource.FormOfNewMembers</a></li>
            <li><a href="@Url.Action("DownloadLink","Download")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Constituent Assembly Debates">@RSWP_UI.Resources.Resource.Downloadplugins</a></li>
        </ul>
    </div>
</div>
