﻿
<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.ApplicationForm</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.NoticeOfficeForm</th>
                <th>@RSWP_UI.Resources.Resource.ITSectionForms</th>
                <th>@RSWP_UI.Resources.Resource.ConferenceProtocalSection</th>
                <th>@RSWP_UI.Resources.Resource.TableOffice</th>
                <th>@RSWP_UI.Resources.Resource.MSCSectionForm</th>
                <th>@RSWP_UI.Resources.Resource.MASection</th>
                <th>@RSWP_UI.Resources.Resource.MPLADS</th>
                <th>@RSWP_UI.Resources.Resource.DistributionSection</th>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>

    </table>
</div>

<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.NoticeOfficeForm</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>

    </table>
</div>

<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.ITSectionForms</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>

<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.ConferenceProtocalSection</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>

<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.TableOffice</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.MSCSectionForm</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.MASection</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.MPLADS</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.DistributionSection</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>

