﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.ImportantLinks</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("RajyasabhaAtWork","Procedures")" class="active" data-section="Procedures" data-subsection="Important Links" data-module="Rajya Sabha At Work">@RSWP_UI.Resources.Resource.RajyaSabhaAtWork</a></li>
            <li><a href="#" id="procedureForSubmission" target="_blank" class="active" data-section="Procedures" data-subsection="Important Links" data-module="Petitions - Procedure for Submission">@RSWP_UI.Resources.Resource.PetitionsProcedureForSubmission</a></li>
            <li><a href="@Url.Action("LegislativeRules","Procedures")" class="active" data-section="Procedures" data-subsection="Important Links" data-module="Rules of Procedures & Conduct of Business">@RSWP_UI.Resources.Resource.RulesOfProceduresAndConductOfBusiness</a></li>
            <li><a href="@Url.Action("LegislativeDirection","Procedures")" class="active" data-section="Procedures" data-subsection="Important Links" data-module="Directions by the Chairman">@RSWP_UI.Resources.Resource.DirectionsByTheChairman</a></li>
            <li><a href="@Url.Action("RulingsAndObservation","Procedures")" class="active" data-section="Procedures" data-subsection="Important Links" data-module="Rulings and observations">@RSWP_UI.Resources.Resource.RulingsAndObservations</a></li>
            <li><a href="@Url.Action("HandBookForMembers","Procedures")" class="active" data-section="Procedures" data-subsection="Important Links" data-module="Handbook for Members">@RSWP_UI.Resources.Resource.HandbookForMembers</a></li>
            <li><a href="@Url.Action("PracticeAndProcedure","Procedures")" class="active" data-section="Procedures" data-subsection="Important Links" data-module="Practice & Procedure-Abstract Series">@RSWP_UI.Resources.Resource.PracticeAndProcedureAbstractSeries</a></li>
            <li><a href="@Url.Action("PrivilegeDigest","Procedures")" class="active" data-section="Procedures" data-subsection="Important Links" data-module="Privilege Digest">@RSWP_UI.Resources.Resource.PrivilegeDigest</a></li>
            <li><a href="@Url.Action("GovernmentInstructions","Procedures")" class="active" data-section="Procedures" data-subsection="Important Links" data-module="Government Instructions on dealing with MPs">@RSWP_UI.Resources.Resource.GovernmentInstructionsOnDealingWithMPs</a></li>
            <li><a href="#" class="active" data-section="Procedures" data-subsection="Important Links" data-module="Manual of Parliamentary Procedures in the Government of India">@RSWP_UI.Resources.Resource.ManualOfParliamentaryProceduresInTheGovernmentOfIndia</a></li>
        </ul>
    </div>

</div>
<script>
     $(document).ready(
        function () {
            $.ajax(
            {
                url: '@Url.Action("GetProcedureForSubmissionUrl", "Procedures")',
                type: 'Get',
                    success: function (result) {
                        if (result != null && result.url != null)
                            $('#procedureForSubmission').attr('href', result.url);
                        else
                            $('#procedureForSubmission').attr('href', '#');
                }
                }

            );
        }
    )
</script>