﻿@model RSWP_UI.Models.DocumentModelView
<div @*class="searchResulltTabl"*@>
    <table id="member_table" class="table table-striped">
        @*@if (Model != null && Model.VerbatimDebatesList != null && Model.VerbatimDebatesList.Count > 0)
            {*@
        <thead>
            @*<tr>
                    <th>@RSWP_UI.Resources.Resource.SLNo</th>
                    <th>@RSWP_UI.Resources.Resource.Session</th>
                    <th>@RSWP_UI.Resources.Resource.Type</th>
                    <th>@RSWP_UI.Resources.Resource.Title</th>
                    <th>@RSWP_UI.Resources.Resource.AllMembers</th>
                    <th>@RSWP_UI.Resources.Resource.DATE</th>


                </tr>*@
        </thead>
        <tbody id="memberList">
            @*<tr>
                    <td>
                        @Model.SelectedDate.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                    </td>
                    <td>
                        @foreach (var item in Model.VerbatimDebatesList)
                        {
                            <b> <a href="#" class="time" id="@item.Id" data-fileurl="@item.FileUrl" onclick="setDocumentUrl('@item.Id');"> <u>  @item.Time </u></a> |</b>
                        }
                    </td>
                </tr>*@
        </tbody>
        @*}*@
    </table>

    @if (Model!=null && !string.IsNullOrEmpty(Model.FileUrl))
    {
        <a href="@Model.FileUrl" target="_blank" title="Open Pdf in New Window" class="pull-right"><u>@RSWP_UI.Resources.Resource.OpenPDFInNewTab</u></a>

        <iframe src="@Model.FileUrl" id="docFrame" style="width:700px;height:400px"></iframe>
    }
    else
    {
        <a href="#" title="Open Pdf in New Window" class="pull-right"><u>@RSWP_UI.Resources.Resource.OpenPDFInNewTab</u></a>

        <iframe id="docFrame" style="width:900px;height:400px"></iframe>
    }
</div>
