﻿

    <div class="col-md-3">
        <div class="sectionBox">
            <ul class="sideBarList">
                <li><a href="@Url.Action("TodayInGlance","Today")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.TodayataGlance</a></li>
            </ul>
        </div>
        <div class="sectionBox">
            <h4>@RSWP_UI.Resources.Resource.RSBusiness</h4>
            <ul class="sideBarList">
                <li><a href="@Url.Action("BusinessList","Today")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.ListofBusiness</a></li>
                <li><a href="@Url.Action("PaperToBeLaid","Today")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Official Debate Portal">@RSWP_UI.Resources.Resource.PaperstobelaidontheTable</a></li>
                <li><a href="@Url.Action("BulletinOne","Today")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Official Debate Date-Wise">@RSWP_UI.Resources.Resource.BulletinPartI_Latest</a></li>
                <li><a href="@Url.Action("BulletinTwo","Today")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Constituent Assembly Debates">@RSWP_UI.Resources.Resource.BulletinPartI__Latest</a></li>
                <li><a href="@Url.Action("Synopis","Today")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Constituent Assembly Debates">@RSWP_UI.Resources.Resource.SynopsisofDebates</a></li>
                <li><a href="@Url.Action("UnCorrectedDebates","Today")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Constituent Assembly Debates">@RSWP_UI.Resources.Resource.UncorrectedDebates_Latest</a></li>
                <li><a href="#" @*href="@Url.Action("CommitteeReport","Today")"*@ class="active" data-section="Debates" data-subsection="Important Links" data-module="Constituent Assembly Debates">@RSWP_UI.Resources.Resource.CommitteeReports_card_Printed</a></li>
            </ul>
        </div>
        <div class="sectionBox">
            <h4>@RSWP_UI.Resources.Resource.TodaysQuestionList</h4>
            <ul class="sideBarList">
                <li><a href="@Url.Action("Starred","Today")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.Starred_ansGiven</a></li>
                <li><a href="@Url.Action("UnStarred","Today")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Constituent Assembly Debates">@RSWP_UI.Resources.Resource.Unstarred_AnsTabled</a></li>
            </ul>
        </div>
    </div>