﻿<div class="col-md-3">

    <div class="sectionBox bday-sec">
        <h2 class="m-bday">@RSWP_UI.Resources.Resource.MembersBirthday</h2>
        <div class="bday-btn text-center">
            <a href="@Url.Action("BirthdayToday","Today")" class="btn btn-success">@RSWP_UI.Resources.Resource.today</a>
            <a href="@Url.Action("BirthdayList","Today")" class="btn btn-primary">@RSWP_UI.Resources.Resource.ThisMonth </a>
        </div>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.CommitteeMeetings</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("MeetingList_Today","Today")">@RSWP_UI.Resources.Resource.today</a></li>
            <li><a href="@Url.Action("MeetingList_ThisWeek","Today")">@RSWP_UI.Resources.Resource.ThisWeek </a></li>
            <li><a href="@Url.Action("MeetingList_ThisMonth","Today")">@RSWP_UI.Resources.Resource.ThisMonth</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.LegislativeBusiness</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("Government_Bills","Today")">@RSWP_UI.Resources.Resource.GovernmentBills</a></li>
            <li><a href="@Url.Action("Private_Bills","Today")">@RSWP_UI.Resources.Resource.PrivateMembersBills</a></li>
            @*<li><a href="">@RSWP_UI.Resources.Resource.Discussions</a></li>*@
        </ul>
    </div>
</div>
