﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.Feedback</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("Feedback","Footer")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.Feedback</a></li>
            <li><a href="@Url.Action("ViewFeedback","Footer")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.ViewFeedback</a></li>
        </ul>
    </div>
</div>
