﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.OfficialSites</h4>
        <ul class="sideBarList">
            <li><a href="#" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.Government</a></li>
            <li><a href="#" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.Legislative</a></li>
            <li><a href="#" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.Judiciary</a></li>
        </ul>
    </div>
</div>

