﻿<div class="searchResulltTabl">
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.PersonalInformation</th>
                <th>@RSWP_UI.Resources.Resource.Subject</th>
                <th>@RSWP_UI.Resources.Resource.Feedback</th>
            </tr>
        </thead>
        <tbody id="memberList">
                   </tbody>
    </table>
</div>

