﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.ChairmenRajyaSabha</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("About","ChairmenRajyaSabha")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.About</a></li>
            <li><a href="@Url.Action("RadhaKrishnanChairFellowship","ChairmenRajyaSabha")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.SchemeForDrSRadaKrishnan</a></li>
            <li><a href="@Url.Action("SearchandAdvisory","ChairmenRajyaSabha")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.SearchandAdvisory</a></li>
            <li><a href="#" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.StudiesUndertaken</a></li>
            <li><a href="@Url.Action("StatusofSRadhaKrishnanChair","ChairmenRajyaSabha")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.StatusofDrRadhakrishnanChair</a></li>
            <li><a href="@Url.Action("StatusofRajyaSabhaFelloship","ChairmenRajyaSabha")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.StatusofRajyasabhafellowship</a></li>
        </ul>
    </div>
</div>
