﻿<div class="searchResulltTabl">
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.SNo</th>
                <th>@RSWP_UI.Resources.Resource.SchemePDF</th>
              
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
