﻿.calendar_panel {
    background: #f9f9f9;
    width: 100%;
    float: left;
    margin: 20px 0 47px 0;
    font-size: 1.4em;
    font-weight: bold;
    color: #000;
}

li.firstli a {
    text-decoration: none;
    color: #be5501;
    outline: none;
}

    li.firstli a:hover {
        color: #850000;
    }

li.firstli a {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

li.firstli {
    list-style: none;
    float: left;
    width: 39px;
    text-align: center;
    border: 1px solid #b3b3b3;
    padding: 5px 0;
    margin: 0 0px 5px 5px;
}

.input-panel select {
    /*//width: 400px;*/
    float: left;
    border: 1px solid #bfbfbf;
    padding: 5px 0;
    font-size: 1.1em;
}

.select_dropd select {
    float: left !important;
   
    /*//width: 50px !important;*/
}

#slctSession{
    width: 100% !important;
}

.select_dropd span {
    float: left !important;
    margin: 6px -9px 0 20px !important;
    font-size: 1em;
    width: 100px !important;
}

.time_table {
    background: #f9f9f9;
    width: 100%;
    float: left;
    margin: 20px 0 47px 0;
    font-size: 1em !important;
    color: #6f6f6f;
    font-weight: bold;
}

    .time_table table {
        border-collapse: collapse;
        border: 1px solid #bcbcbc;
    }

        .time_table table thead tr {
            background: #6f6f6f;
            text-align: center;
        }

            .time_table table thead tr td {
                text-align: center !important;
                padding: 6px;
                border: 1px solid #bcbcbc;
                line-height: 20px;
            }

        .time_table table tbody tr td {
            padding: 6px;
        }

#ulDocuments li {
    list-style: none;
    float: left;
    width: 39px;
    text-align: center;
    border: 1px solid #b3b3b3;
    padding: 5px 0;
    margin: 0 0px 5px 5px;
}

.is-flex{
    display:flex;
}

