﻿
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_FeedbackLeftMenu")
            <h4 class="main-title center">@RSWP_UI.Resources.Resource.RajyaSabhaFeedback</h4>
            <div class="col-md-9 boxMiddleBorder" id="business-center">

                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.Feedback</a></li>
                    </ul>
                </div>
                <div class="broadComTab">
                    <h4 style="text-align:center">@RSWP_UI.Resources.Resource.PleaseFilltheInformation</h4>
                    <form>
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">@RSWP_UI.Resources.Resource.EMail</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="inputAddress">@RSWP_UI.Resources.Resource.Subject</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>

                            <label for="inputAddress">@RSWP_UI.Resources.Resource.IfOtherpleasespecify:</label>
                            <input type="text" class="form-control" id="inputEmail4">
                            @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>*@
                        </div>

                        <div class="form-group col-md-12">
                            <label for="inputAddress">@RSWP_UI.Resources.Resource.Enterfeedbackhere:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <div class="form-group col-md-12">
                            <h4 style="color:red;">@RSWP_UI.Resources.Resource.AdditionalInformationHere:</h4>
                            <div class="col-md-6">
                                <label for="inputAddress2">@RSWP_UI.Resources.Resource.FullName:</label>
                                <input type="text" class="form-control" id="inputAddress2">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress2">@RSWP_UI.Resources.Resource.Nationality:</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="inputAddress">@RSWP_UI.Resources.Resource.Profession:</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>

                            <label for="inputAddress">@RSWP_UI.Resources.Resource.IfOtherpleasespecify:</label>
                            <input type="text" class="form-control" id="inputEmail4">
                        </div>

                        <div class="form-group row col-md-12">
                            <label for="inputAddress" class="col-md-12">@RSWP_UI.Resources.Resource.Doyouwantyourfeedback:</label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" checked="checked" type="radio" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">
                                        @RSWP_UI.Resources.Resource.Yes
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        @RSWP_UI.Resources.Resource.No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button style="margin-left:400px" type="submit" class="btn btn-primary">Send Feedback</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

