﻿@model RSWP_UI.Models.DucumentListVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Introduced Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")


            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

                        <li><a href="@Url.Action("HandBookForMembers","Procedures")">@RSWP_UI.Resources.Resource.Procedures</a></li>


                        <li>
                            <a href="#">
                                @RSWP_UI.Resources.Resource.Archive
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.Archive</h3>
                    @if (Model.SubSection == RSWP_UI.Common.CommanConstant.HandBookForMembers)
                    {

                        <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.HandbookForMembers</h4>

                    }
                    else if (Model.SubSection == RSWP_UI.Common.CommanConstant.RajyaSabhaAtWork)
                    {

                        <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabhaAtWork</h4>

                    }
                    else if (Model.SubSection == RSWP_UI.Common.CommanConstant.SubSection_LegislativeRules)
                    {
                        <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.RulesOfProceduresAndConductOfBusiness</h4>

                    }
                    else
                    {
                        <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.DirectionsByTheChairman</h4>

                    }

                    <div class="ShowData">
                        <div class="searchResulltTabl">
                            @*@if (Model.SubSection == RSWP_UI.Common.CommanConstant.HandBookForMembers || Model.SubSection == RSWP_UI.Common.CommanConstant.SubSection_LegislativeRules || Model.SubSection == RSWP_UI.Common.CommanConstant.SubSection_LegislativeDirection)*@
                            @if (Model.SubSection == RSWP_UI.Common.CommanConstant.HandBookForMembers || Model.SubSection == RSWP_UI.Common.CommanConstant.SubSection_LegislativeRules || Model.SubSection == RSWP_UI.Common.CommanConstant.SubSection_LegislativeDirection)
                            {
                                <table id="member_table" class="table table-striped table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>@RSWP_UI.Resources.Resource.Title</th>
                                            <th>@RSWP_UI.Resources.Resource.FileName</th>
                                        </tr>
                                    </thead>
                                    <tbody id="memberList">
                                        @foreach (var item in Model.DocumentList)
                                        {
                                            <tr>
                                                <td><a href="@item.FileUrl" target="_blank">@item.Tiltle</a></td>
                                                <td>@item.Name (@(item.FileSize / 1000) KB)</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                            else
                            { <table id="member_table" class="table table-striped table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>@RSWP_UI.Resources.Resource.Title</th>
                                            <th>@RSWP_UI.Resources.Resource.EditedBy</th>
                                            <th>@RSWP_UI.Resources.Resource.Page</th>
                                        </tr>
                                    </thead>
                                    <tbody id="memberList">
                                        @foreach (var item in Model.DocumentList)
                                        {
                                            <tr>
                                                <td>@item.Tiltle</td>
                                                <td>@item.EditedBy</td>
                                                <td>

                                                    <a href="@item.FileUrl" target="_blank"><u>@RSWP_UI.Resources.Resource.Page @item.PageFrom - @item.PageTo </u></a>(pdf Size:@(item.FileSize / 1000) KB)
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


