﻿
@{
    ViewBag.Title = "BillIntroduced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Introduced Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-9 boxMiddleBorder" id="question-center">
                @*<div class="">
                    <div id="content">
                        <h5 style="text-align:center;"><strong>PARLIAMENTARY BILLS INFORMATION SYSTEM</strong></h5>
                        <h5 style="text-align:center;"><strong>संसदीय विधेयक सूचना प्रणाली</strong></h5>
                      
                        <br />
                        <div>
                            <h5>BILLS INTRODUCED IN RAJYA SABHA DURING</h5>
                            <h5 id="sessionNumber"></h5>
                            <h5 id="totalMembers"></h5>
                        </div>
                    </div>
                </div>
                <br />
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table id="member_table" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>SL.No.</th>
                                    <th>Bill No. & Year</th>
                                    <th>Title of Bill</th>
                                    <th>Type of Bill</th>
                                    <th>Name of Member/Ministry</th>
                                    <th>Date of Introduction</th>
                                </tr>
                            </thead>
                            <tbody id="memberList">
                                @*@@*{ int count = 1;}
                                    @foreach(var item in (List<GetAll_IntroducedbillViewModel>)Session["IntroduceBill"])
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.bill_no of @item.bill_year</td>
                                            <td>@item.title <br /> <a href="@item.as_introduced_file" target="_blank">As introduced (54 Kb)</a> <br /> <a href="@item.H_as_introduced_file" target="_blank">पुर: स्थापित रूप में (64 Kb)</a></td>
                                            <td>@item.type</td>
                                            <td>@item.intro @item.ministry</td>
                                            <td>@item.introduction.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                        count++;
                                    }*@
                            @*</tbody>
                        </table>
                    </div>
                </div>*@
                @*<div class="sectionBox stats-an">
                        <div class="memberListAraSearch">
                            <div class="row">
                                <form>
                                    <div class="col-sm-12 text-right">
                                        <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</section>


