﻿@model RSWP_UI.Models.DocumentModelView
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Introduced Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")


            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

                        <li><a href="#">@RSWP_UI.Resources.Resource.Procedures</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.DirectionsByTheChairman</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.DirectionsByTheChairman</h3>
                    <input type="button" onclick="location.href='@Url.Action("Archive", "Procedures", new { section = RSWP_UI.Common.CommanConstant.Larrdis_Section,subSection = RSWP_UI.Common.CommanConstant.SubSection_LegislativeDirection })'" class="btn btn-default" value="Archive" />

                    @if (Model != null && !string.IsNullOrEmpty( Model.FileUrl))
                    {
                       <a href="@Model.FileUrl" target="_blank" title="Open Pdf in New Window" class="pull-right"><u>@RSWP_UI.Resources.Resource.OpenPDFInNewTab</u></a>
                       <h4 class="text-center rcolor">@Model.Tiltle (pdf,@(Model.FileSize / 1000) KB)</h4>

                        <iframe id="docFrame" src="@Model.FileUrl" style="width:900px;height:400px"></iframe>
                    }
                    else
                    {
                        <a href="#" title="Open Pdf in New Window" class="pull-right"><u>@RSWP_UI.Resources.Resource.OpenPDFInNewTab</u></a>
                        <iframe id="docFrame" src="" style="width:900px;height:400px"></iframe>
                    }

                </div>
            </div>
        </div>
    </div>
</section>


