﻿@model RSWP_UI.Models.DucumentListVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Introduced Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")


            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

                        <li><a href="@Url.Action("HandBookForMembers","Procedures")">@RSWP_UI.Resources.Resource.Procedures</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.PracticeAndProcedureAbstractSeries</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.PracticeAndProcedureAbstractSeries</h4>

                    <div class="ShowData">
                        <div >
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                @*<thead>
                                        <tr>
                                            <th>@RSWP_UI.Resources.Resource.Title</th>
                                            <th>@RSWP_UI.Resources.Resource.FileName</th>
                                            <th>@RSWP_UI.Resources.Resource.Year</th>


                                        </tr>
                                    </thead>*@
                                <tbody id="memberList">
                                    @for (int i = 0; i < Model.DocumentList.Count; i = i + 2)
                                    {
                                        var item = Model.DocumentList[i];
                                        <tr>
                                            <td>
                                                <a href="@item.FileUrl" target="_blank">@item.SNo . @item.Tiltle </a>(pdf Size: @(item.FileSize / 1000) KB)
                                            </td>
                                            @if (i + 1 < Model.DocumentList.Count)
                                            {
                                                var nextItem = Model.DocumentList[i + 1];
                                                <td>
                                                    <a href="@nextItem.FileUrl" target="_blank">@nextItem.SNo . @nextItem.Tiltle </a>(pdf Size: @(nextItem.FileSize / 1000) KB)
                                                </td>
                                            }
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>


