﻿@model RSWP_UI.Models.DucumentListVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Introduced Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")


            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

                        <li><a href="@Url.Action("HandBookForMembers","Procedures")">@RSWP_UI.Resources.Resource.Procedures</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.RulingsAndObservations</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.RulingsAndObservations</h4>

                    <div class="ShowData">
                        <div>
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                @*<thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.CaseNo</th>
                                        <th>@RSWP_UI.Resources.Resource.Subject</th>
                                        <th>@RSWP_UI.Resources.Resource.Source_sm/@RSWP_UI.Resources.Resource.Reference</th>


                                    </tr>
                                </thead>*@
                                <tbody id="memberList">
                                    @foreach (var item in Model.DocumentList)
                                    {

                                        <tr>
                                            <td>
                                                @item.Subject
                                            </td>
                                            <td>
                                                <a href="@item.FileUrl" target="_blank"><u>@RSWP_UI.Resources.Resource.Page @item.PageFrom - @item.PageTo </u></a>(pdf Size:@(item.FileSize / 1000) KB)
                                            </td>
                                           
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>


