﻿

<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.Gallery</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("GalleryView","Gallery")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.StatusandPortraits</a></li>
            <li><a href="@Url.Action("GalleryView","Gallery")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Official Debate Portal">@RSWP_UI.Resources.Resource.PhotographofParliament</a></li>
            <li><a href="@Url.Action("GalleryView","Gallery")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Official Debate Date-Wise">@RSWP_UI.Resources.Resource.MuralPainting</a></li>
            <li><a href="@Url.Action("GalleryView","Gallery")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Constituent Assembly Debates">@RSWP_UI.Resources.Resource.ArchivalPhotos</a></li>
            <li><a href="@Url.Action("CurrentYearPhotos","Gallery")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Constituent Assembly Debates">@RSWP_UI.Resources.Resource.CurrentYearPhoto</a></li>
            <li><a href="@Url.Action("GalleryView","Gallery")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Constituent Assembly Debates">@RSWP_UI.Resources.Resource.VideoGallery</a></li>
        </ul>
        <div class="gallery-archive">
            <a href="@Url.Action("Archive","Gallery")" @*data-toggle="tab"*@ class="btn btn-danger">Archive</a>
        </div>
    </div>
</div>
