﻿<div class="searchResulltTabl">
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.QuarterName</th>
                <th>@RSWP_UI.Resources.Resource.Title</th>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
