﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_ConstituteAssemblyLeftMenu")
            <h4 class="main-title center">@RSWP_UI.Resources.Resource.ConstituentAssembly</h4>
            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.ConstituentAssembly</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <div id="contentContainer" class="ShowData">
                        <div>
                            <table id="member_table" class="table table-striped">
                                <thead>
                                </thead>
                                <tbody id="memberList">
                                </tbody>
                            </table>
                            @if (Model != null && !string.IsNullOrEmpty(Model.FileUrl))
                            {
                                <a href="@Model.FileUrl" target="_blank" title="Open Pdf in New Window" class="pull-right"><u>@RSWP_UI.Resources.Resource.OpenPDFInNewTab</u></a>

                                <iframe src="@Model.FileUrl" id="docFrame" style="width:700px;height:400px"></iframe>
                            }
                            else
                            {
                                <a href="#" title="Open Pdf in New Window" class="pull-right"><u>@RSWP_UI.Resources.Resource.OpenPDFInNewTab</u></a>

                                <iframe id="docFrame" style="width:100%;height:400px"></iframe>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




