﻿﻿@{
    Layout = null;
    string WebLinkValue = string.Empty;
    var WebLinkImageValue = string.Empty;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@RSWP_UI.Resources.Resource.RajyaSabha</title>
    <!--Bootstrap and Other Vendors-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/owl.carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/owl.carousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/flexslider/flexslider.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap-select/css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/calender-style.css" />
    <link rel="stylesheet" type="text/css" href="/css/pignose.calender.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.css" />

    <!--RV-->
    <link rel="stylesheet" href="/vendors/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="/vendors/rs-plugin/css/settings-ie8.css">

    <!--Mechanic Styles-->
    <link rel="stylesheet" href="/css/default/style.css">
    <link rel="stylesheet" href="/css/responsive/responsive.css">

    <!--Custom Styles-->
    <link rel="stylesheet" href="/css/custom.css">
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
    <script src="/js/jquery-2.1.3.min.js"></script>
    <style>
        .dropbtn {
            background-color: #B81719;
            color: white;
            padding: 14px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #E96365;
        }
    </style>
</head>
<body class="default home" id="bodybg">
    <header class="row">
        <div class="top_row row m0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav navbar-right">
                            <li><a href="#main-page-index">@RSWP_UI.Resources.Resource.SkipToMainContent</a></li>
                            <li><a href="#">@RSWP_UI.Resources.Resource.ScreenReaderAccess</a></li>
                            <li><a href="#">@RSWP_UI.Resources.Resource.FAQs</a></li>
                            <li class="social sitemap-s social-n" title="Sitemap"><a href="" class="p-b"><i class="fas fa-sitemap icons"></i></a></li>
                            <li class="fontSizeAnc li-sign"><a href="#" class="a-size">A-</a> <a href="#" class="a-size">A</a> <a href="#" class="a-size">A+</a></li>
                            <li class="fontSizeAnc li-sign"><a href="#" class="a-size a-size-white">A</a><a href="#" class="a-size a-size-new">A</a></li>
                            @*<li><a href="#"><strong>हिंदी</strong></a></li>*@
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">@RSWP_UI.Resources.Resource.LangText</button>
                                    <div class="dropdown-content" style="left:0;">
                                        @{
                                            foreach (var i in RSWP_UI.Models.LanguageMang.AvailableLanguages)
                                            {
                                                @Html.ActionLink(i.LanguageFullName, "ChangeLanguage", "Home", new { lang = i.LanguageCultureName }, new { @style = "display: block;" }) @*<text> </text>*@
                                            }
                                        }
                                    </div>
                                </div>
                            </li>
                            <li class="social"><i class="fab fa-youtube icons"></i> <i class="fab fa-facebook icons"></i> <i class="fab fa-twitter-square icons"></i> <i class="fas fa-rss-square icons"></i> </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!--Top Row-->
        <div class="logo_row row m0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6"> <a href="/Home" class="logo"> <img src="/images/new-logo-rs.png" alt="Logo" id="main-logo"> </a> </div>
                    <div class="col-sm-6 sliderTopImg"> </div>
                    <div class="col-sm-3 col-xs-6">
                        <form class="searchFrm" style="margin-top:18px;">
                            <input placeholder="@RSWP_UI.Resources.Resource.Search" type="search" />
                            <select class="form-control">
                                <option value="thissite">@RSWP_UI.Resources.Resource.ThisSite</option>
                                <option value="advancesearch">@RSWP_UI.Resources.Resource.AdvanceSearch</option>
                            </select>
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Logo Row-->
        <nav class="row menu_row m0">
            <div class="container">
                <div class="row">
                    <div class="fleft menu_area">
                        <button class="btn btn-primary visible-xs" type="button" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-controls="mainMenu"> <i class="glyphicon glyphicon-th-large"></i> @RSWP_UI.Resources.Resource.Menu </button>
                        <div class="collapse navbar-collapse" id="mainMenu">
                            <ul class="nav navbar-nav">
                                <li id="menuHome"><a href="/Home"><i class="fas fa-home"></i></a></li>
                                <li id="menuToday"><a href="@Url.Action("TodayInGlance","Today")">@RSWP_UI.Resources.Resource.TodayInRS</a></li>
                                <li id="menuBusiness">
                                    @*@{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("Business Transacted by the Parliament") ? ((Dictionary<string, string>)Session["WebLinks"])["Business Transacted by the Parliament"] : "#";}*@
                                    @*<a href="@WebLinkValue">Business</a>*@
                                    <a href="/Business/ListOfBussiness">@RSWP_UI.Resources.Resource.Business</a>
                                </li>
                                <li id="menuQuestions"><a href="/Questions/BallotList">@RSWP_UI.Resources.Resource.Questions</a></li>
                                <li id="menuDebates">
                                    @*@{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("Official Debate Portal") ? ((Dictionary<string, string>)Session["WebLinks"])["Official Debate Portal"] : "#";}
                                        <a href="@WebLinkValue">Debates</a>*@
                                    <a href="@Url.Action("VerbatimDebates","Debates")">@RSWP_UI.Resources.Resource.Debates</a>
                                </li>
                                <li id="menuLegislation"><a href="/Legislation/BillIntroduced">@RSWP_UI.Resources.Resource.Legislation</a></li>
                                <li id="menuCommitees"><a href="/Committees/BusinessAdvisory?id=1">@RSWP_UI.Resources.Resource.Committees</a></li>
                                <li id="menuMembers"><a href="/Members/Alphabetical">@RSWP_UI.Resources.Resource.Members</a></li>
                                <li id="menuProcedures"><a href="@Url.Action("HandBookForMembers","Procedures")">@RSWP_UI.Resources.Resource.Procedures</a></li>
                                <div style="display: none;" id="more-link">
                                    <li><a href="secretariat.html#sec1">@RSWP_UI.Resources.Resource.RajyaSabhaSecretariat</a></li>
                                    <li><a href="careers.html#mainsec">@RSWP_UI.Resources.Resource.CareersInRajyaSabhaSecretariat</a></li>
                                    <li><a href="downloads.html#main-d">@RSWP_UI.Resources.Resource.Downloads</a></li>
                                    <li><a href="RTI.html">@RSWP_UI.Resources.Resource.RightToInformation</a></li>
                                    <li><a href="press-release.html#main-p">@RSWP_UI.Resources.Resource.PressRelease</a></li>
                                    <li><a href="https://rajyasabha.nic.in/rsnew/press_media/press_madia_com.asp">@RSWP_UI.Resources.Resource.MediaAdvisoryCommittee</a></li>
                                    <li><a href="http://164.100.47.5/newsite/rs_tenders/rs_tenders.aspx">@RSWP_UI.Resources.Resource.Tenders</a></li>
                                    <li><a href="#">@RSWP_UI.Resources.Resource.Events</a></li>
                                </div>
                                @*<li class="memberLoginBtn">
                                    @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("MEMBER'S LOGIN") ? ((Dictionary<string, string>)Session["WebLinks"])["MEMBER'S LOGIN"] : "#";}
                                    <a href="@WebLinkValue">@RSWP_UI.Resources.Resource.MembersLogin</a>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                    <!--Menu Area-->
                </div>
            </div>
        </nav>
        <!--Menu Row-->
    </header>

    @RenderBody()

    <section class="row marketing_app">
        <div class="container-fluid ministry-sec ministry-sec-logo">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li>
                                    @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("RSTV") ? ((Dictionary<string, string>)Session["WebLinks"])["RSTV"] : "#";}
                                    <a href="@WebLinkValue" target="_blank">
                                        @{ WebLinkImageValue = ((Dictionary<string, string>)Session["WebLinksImage"]).ContainsKey("RSTV") ? "/careers_documents/" + ((Dictionary<string, string>)Session["WebLinksImage"])["RSTV"] : "/images/rstv.jpg";}
                                        <img src="@WebLinkImageValue" alt="Los Angeles" class="custom-mini">
                                    </a>
                                </li>
                                <li>
                                    @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("LSTV") ? ((Dictionary<string, string>)Session["WebLinks"])["LSTV"] : "#";}
                                    <a href="@WebLinkValue" target="_blank">
                                        @{ WebLinkImageValue = ((Dictionary<string, string>)Session["WebLinksImage"]).ContainsKey("LSTV") ? "/careers_documents/" + ((Dictionary<string, string>)Session["WebLinksImage"])["LSTV"] : "/images/lstv.jpg";}
                                        <img src="/images/lstv.jpg" alt="Chicago" class="custom-mini">
                                    </a>
                                </li>
                                <li>
                                    @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("DATA.GOV") ? ((Dictionary<string, string>)Session["WebLinks"])["DATA.GOV"] : "#";}
                                    <a href="@WebLinkValue" target="_blank">
                                        @{ WebLinkImageValue = ((Dictionary<string, string>)Session["WebLinksImage"]).ContainsKey("DATA.GOV") ? "/careers_documents/" + ((Dictionary<string, string>)Session["WebLinksImage"])["DATA.GOV"] : "/images/indigov.png";}
                                        <img src="/images/indigov.png" alt="New York" class="m-l">
                                    </a>
                                </li>
                                <li>
                                    @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("INDIA.GOV") ? ((Dictionary<string, string>)Session["WebLinks"])["INDIA.GOV"] : "#";}
                                    <a href="@WebLinkValue" target="_blank">
                                        @{ WebLinkImageValue = ((Dictionary<string, string>)Session["WebLinksImage"]).ContainsKey("INDIA.GOV") ? "/careers_documents/" + ((Dictionary<string, string>)Session["WebLinksImage"])["INDIA.GOV"] : "/images/indigov2.png";}
                                        <img src="@WebLinkImageValue" alt="New York" class="m-l">
                                    </a>
                                </li>
                                <li>
                                    @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("NIC MAIL") ? ((Dictionary<string, string>)Session["WebLinks"])["NIC MAIL"] : "#";}
                                    <a href="@WebLinkValue" target="_blank">
                                        @{ WebLinkImageValue = ((Dictionary<string, string>)Session["WebLinksImage"]).ContainsKey("NIC MAIL") ? "/careers_documents/" + ((Dictionary<string, string>)Session["WebLinksImage"])["NIC MAIL"] : "/images/nic-mail.png";}
                                        <img src="@WebLinkImageValue" alt="New York" class="m-l">
                                    </a>
                                </li>
                                <li>
                                    @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("150 years") ? ((Dictionary<string, string>)Session["WebLinks"])["150 years"] : "#";}
                                    <a href="@WebLinkValue" target="_blank">
                                        @{ WebLinkImageValue = ((Dictionary<string, string>)Session["WebLinksImage"]).ContainsKey("150 years") ? "/careers_documents/" + ((Dictionary<string, string>)Session["WebLinksImage"])["150 years"] : "/images/Untitled-15year.png";}
                                        <img src="@WebLinkImageValue" alt="New York" class="m-l">
                                    </a>
                                </li>
                                <li>
                                    @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("India code") ? ((Dictionary<string, string>)Session["WebLinks"])["India code"] : "#";}
                                    <a href="@WebLinkValue" target="_blank">
                                        @{ WebLinkImageValue = ((Dictionary<string, string>)Session["WebLinksImage"]).ContainsKey("India code") ? "/careers_documents/" + ((Dictionary<string, string>)Session["WebLinksImage"])["India code"] : "/images/indiacode.jpg";}
                                        <img src="@WebLinkImageValue" alt="Indiacode" class="m-l m-l-2">
                                    </a>
                                </li>
                                <li>
                                    @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("INDIAC") ? ((Dictionary<string, string>)Session["WebLinks"])["INDIAC"] : "#";}
                                    <a href="@WebLinkValue" target="_blank">
                                        @{ WebLinkImageValue = ((Dictionary<string, string>)Session["WebLinksImage"]).ContainsKey("INDIAC") ? "/careers_documents/" + ((Dictionary<string, string>)Session["WebLinksImage"])["INDIAC"] : "/images/NevaLogo.png";}
                                        <img src="@WebLinkImageValue" alt="Indiacode" class="m-l m-l-2">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>

    <footer class="row">
        <div class="row m0 top_footer">
            <div class="container">

                <div class="row footer_widgets">
                    <div class="col-sm-3 ">
                        <div class="footer_widget">
                            <div class="row m0 body ">
                                <ul class="list-unstyled links">
                                    <li class="fa fa-caret-right">
                                        @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("Union budget") ? ((Dictionary<string, string>)Session["WebLinks"])["Union budget"] : "https://www.indiabudget.gov.in/";}
                                        <a href="@WebLinkValue" target="_blank">@RSWP_UI.Resources.Resource.UnionBudget</a>
                                    </li>
                                    <li class="fa fa-caret-right"><a href="@Url.Action("ImportantOfficialWebsite","Footer")">@RSWP_UI.Resources.Resource.ImportantOfficialWebsites</a></li>
                                    @*<li class="fa fa-caret-right"><a href="@Url.Action("ImportantOfficialWebsite","Footer")">@RSWP_UI.Resources.Resource.LegislativeWebsites</a></li>*@
                                    <li class="fa fa-caret-right">
                                            @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("Constitution of India") ? ((Dictionary<string, string>)Session["WebLinks"])["Constitution of India"] : "http://legislative.gov.in/constitution-of-india";}
                                            <a href="@WebLinkValue" target="_blank">@RSWP_UI.Resources.Resource.ConstitutionOfIndia</a>
                                        </li>
                                    <li class="fa fa-caret-right">
                                        @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("MPLADS") ? ((Dictionary<string, string>)Session["WebLinks"])["MPLADS"] : "https://www.mplads.gov.in/mplads/Default.aspx";}
                                        <a href="@WebLinkValue" target="_blank">@RSWP_UI.Resources.Resource.MPLADS</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Single widget-->
                    <div class="col-sm-3 footer_widget">
                        <div class="row m0 body">
                            <ul class="list-unstyled links">
                                <li class="fa fa-caret-right"><a href="@Url.Action("Feedback","Footer")">@RSWP_UI.Resources.Resource.Feedback</a></li>
                                <li class="fa fa-caret-right"><a href="@Url.Action("SiteMap","Footer")">@RSWP_UI.Resources.Resource.Sitemap</a></li>
                                <li class="fa fa-caret-right"><a href="@Url.Action("UseFulLink","Footer")">@RSWP_UI.Resources.Resource.UsefulLinks</a></li>
                                <li class="fa fa-caret-right"><a href="@Url.Action("NewsPaper","Footer")">@RSWP_UI.Resources.Resource.NewsPaper</a></li>
                                <li class="fa fa-caret-right"><a href="https://cabsec.gov.in/page.php?page=18" target="_blank">@RSWP_UI.Resources.Resource.Councilofministers</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 footer_widget">

                        <div class="row m0 body">
                            <ul class="list-unstyled links">

                                <li class="fa fa-caret-right"><a href="@Url.Action("WebsitePolicy","Footer")">@RSWP_UI.Resources.Resource.WebsitePolices</a></li>
                                <li class="fa fa-caret-right"><a href="@Url.Action("TermandCondition","Footer")">@RSWP_UI.Resources.Resource.TermsAndConditions</a></li>
                                <li class="fa fa-caret-right"><a href="@Url.Action("ContactUs","Footer")">@RSWP_UI.Resources.Resource.ContactsUS</a></li>
                                <li class="fa fa-caret-right"><a href="@Url.Action("Help","Footer")">@RSWP_UI.Resources.Resource.Help</a></li>
                            </ul>

                        </div>
                    </div>
                    <!--Single widget-->
                    <div class="col-sm-3 footer_widget">

                        <div class="row m0 body b-none">

                            <ul class="list-unstyled links">

                                <li class="bottom-li">
                                    @RSWP_UI.Resources.Resource.RajyaSabha @RSWP_UI.Resources.Resource.BusinessApps <span class="download-app">
                                        @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("Android") ? ((Dictionary<string, string>)Session["WebLinks"])["Android"] : "#";}
                                        <a href="@WebLinkValue" target="_blank">
                                            <i class="fab fa-android app-icon"></i>
                                        </a>
                                        @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("Apple") ? ((Dictionary<string, string>)Session["WebLinks"])["Apple"] : "#";}
                                        <a href="@WebLinkValue" target="_blank">
                                            <i class="fab fa-apple app-icon-apple app-icon"></i>
                                        </a>
                                    </span>
                                </li>
                                <li class="bottom-li">@RSWP_UI.Resources.Resource.Visitors :<img src="/images/visitors.png" alt="" class="visitor-img"></li>
                                <li class="bottom-li">@RSWP_UI.Resources.Resource.LastPageUpdatedOn : 25/12/18</li>
                                <li class="bottom-li"></li>

                            </ul>
                            <!--End mc_embed_signup-->
                        </div>
                    </div>
                </div>
                <!--Single widget-->

                <div class="row footer_widgets">

                </div>

            </div>

        </div>
    </footer>

    <div class="col-md-12 b-g-f footer-disclamair">

        <p class="text-center custom-foot m-b-f" id="bottom-p">
            <span>@RSWP_UI.Resources.Resource.Copyright &copy; @RSWP_UI.Resources.Resource.RajyaSabhaSecretariat</span>
            @RSWP_UI.Resources.Resource.CopyrightInformation
        </p>
    </div>

    <!----scrollPage Top--->
    <div id="ScrollpageTotop">
        <i class="fas fa-angle-double-up"></i>
    </div>
    <!----scrollPage Top--->
    <!--jQuery, Bootstrap and other vendor JS-->
    <!--jQuery-->
    <!--Bootstrap JS-->
    <script src="/js/bootstrap.min.js"></script>

    <!--Owl Carousel-->
    <script src="/vendors/owl.carousel/js/owl.carousel.min.js"></script>

    <!--Bootstrap Select-->
    <script src="/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>

    <!--FlexSlider-->
    <script src="/vendors/flexslider/jquery.flexslider-min.js"></script>

    <!--Counter Up-->
    <script src="/vendors/counterup/jquery.counterup.min.js"></script>

    <!--Waypoints-->
    <script src="/vendors/waypoints/waypoints.min.js"></script>

    <!--RV-->
    <script src="/vendors/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/vendors/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/js/moment.js"></script>
    <script type="text/javascript" src="/js/pignose.calender.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <!--Strella JS-->
    <script src="/js/jquery.bxslider.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/revs.js"></script>
    <script type="application/javascript" src="/js/common.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            //External Link code
            $.ajax(
                {
                    url: '@Url.Action("GetExternalLink", "Business")',
                    type: 'GET',
                    dataType: 'JSON',
                    success: function (response) {
                        globalResponse = response;
                       // console.log(response);
                        var anchors = $(document).find('a');
                        Object.keys(response.ExternalLinkData).forEach(function (key) {

                            for (var i = 0; i < anchors.length; i++) {
                                if (anchors[i].hasAttribute('data-module') == true) {
                                    var anchorSection = anchors[i].dataset.section.trim().toLowerCase().replace(/ /g, '');
                                    var anchorSubsection = anchors[i].dataset.subsection.trim().toLowerCase().replace(/ /g, '');
                                    var anchorModule = anchors[i].dataset.module.trim().toLowerCase().replace(/ /g, '');
                                    var anchorKey = anchorSection + '_' + anchorSubsection + '_' + anchorModule;                             
                                    if (anchorKey == key) {
                                       // console.log(anchorKey);
                                        anchors[i].href = response.ExternalLinkData[key];
                                        anchors[i].target = '_blank';
                                    }
                                }
                            }
                        });
                    },
                    error: function () {
                        alert('Something went wrong');
                    }
                }

            );
        //External link code END


            $('#myCarousel').carousel({
                interval: 10000
            })
            $('#myCarousel1').carousel({
                interval: 10000
            })
            var url = window.location.pathname;
            var selectedTab = url.toString().split("/");
            if (selectedTab[1].startsWith("Home")) {
                $("#menuHome").addClass("active");
            }
            else if (selectedTab[1].startsWith("Today")) {
                $("#menuToday").addClass("active");
            }
            else if (selectedTab[1].startsWith("Business")) {
                $("#menuBusiness").addClass("active");
            }
            else if (selectedTab[1].startsWith("Questions")) {
                $("#menuQuestions").addClass("active");
            }
            else if (selectedTab[1].startsWith("Debates")) {
                $("#menuDebates").addClass("active");
            }
            else if (selectedTab[1].startsWith("Legislation")) {
                $("#menuLegislation").addClass("active");
            }
            else if (selectedTab[1].startsWith("Committees")) {
                $("#menuCommitees").addClass("active");
            }
            else if (selectedTab[1].startsWith("Members")) {
                $("#menuMembers").addClass("active");
            }
            else if (selectedTab[1].startsWith("Procedures")) {
                $("#menuProcedures").addClass("active");
            }
            else {
                $("#menuHome").addClass("active");
            }
        });

        $(function () {
            $('.fontSizeAnc .a-size-new').click(function () {
                $('#bodybg').css('background-color', '#000');
                $('h5,p,span,h2,h4,li').css('color', '#f6ff14');
                $('ul.list-unstyled.links a').css('color', '#f6ff14');
                $('i.app-icon').css('color', '#f6ff14');
                $('ul.nav.navbar-right a').css('color', '#000');
                $('body.default header .top_row').css('background-color', '#000');
                $('ul.nav.navbar-right a').css('color', '#f6ff14');
                $('img#main-logo').attr('src', '/images/dark-theme-logo.png');
                $('p.h-p').css('color', '#f6ff14');
                $('p.d-p').css('color', '#f6ff14');
                $('span.pignose-calender-top-value').css('color', '#777777');
                $('p.pignose-calender-top-month').css('color', '#000');
                $('.pignose-calender').css('background-color', '#fff');
                $('ul.notice-ul a').css('color', '#f6ff14');
                $('ul.d-block a').css('color', '#f6ff14');
                $('ul#internal-ul a').css('color', '#f6ff14');
                $('div#main-buttons button').removeClass('btn-default');
                $('div#main-buttons button').addClass('btn-link-n');




            });

            $('.fontSizeAnc .a-size-white').click(function () {
                $('#bodybg').css('background-color', '#fff');
                $('ul.nav.navbar-nav a').css('color', '#fff');
                $('h5,h4').css('color', '#084388');
                $('ul.list-unstyled.links a').css('color', '#fff');
                $('li.main-li.li-border a').css('color', '#fff');
                $('ul.list-unstyled.links li a, ul.list-unstyled.links li').css('color', '#fff');
                $('.notice-ul li a').css('color', '#000');
                $('ul.d-block li a').css('color', '#000');
                $('ul#internal-ul li a').css('color', '#000');
                $('.discover_heading a').css('color', '#4a4a4a');
                $('p,h2').css('color', '#000');
                $('p#bottom-p').css('color', '#fff');
                $('div.box-r-s > a').css('color', '#000');
                $('div.discover_heading.r-s-app span,div.discover_heading.r-s-app i').css('color', '#737373');
                $('body.default header .top_row').css('background-color', '#fff');
                $('ul.nav.navbar-right a').css('color', '#000');
                $('img#main-logo').attr('src', '/images/new-logo-rs.png');
                $('div#main-buttons button').css('color', 'black');


                $(".media-body ul  a").hover(function () {
                    $(this).css("color", "#1A97DC;");
                });
                $('p.h-p').css('color', '#084388');
                $('p.d-p').css('color', 'red');
                $('ul.notice-ul a').css('color', '#4a4a4a');
                $('ul.d-block a').css('color', '#4a4a4a');
                $('ul#internal-ul a').css('color', '#4a4a4a');
                $('div#main-buttons button').removeClass('btn-link-n');
                $('div#main-buttons button').addClass('btn-default');



            });


            $(function () {
                $('.calender').pignoseCalender({
                    select: function (date, obj) {
                        /*obj.calender.parent().next().show().text('You selected ' +
                        (date[0] === null? 'null':date[0].format('YYYY-MM-DD')) +
                        '.');*/
                    }
                });
            });


            // get the number of .child elements
            var totalitems = $("#internal-ul .main-li").length;
            // get the height of .child
            var scrollval = $('.main-li').height();
            // work out the total height.
            var totalheight = (totalitems * scrollval) - ($("#parent-ul").height());

            $(document).on("click", "#down", function () {
                var currentscrollval = $('#internal-ul').scrollTop();

                $('#internal-ul').scrollTop(scrollval + currentscrollval);

                // hide/show buttons

            });
            $(document).on("click", "#up", function () {
                var currentscrollval = parseInt($('#internal-ul').scrollTop());

                $('#internal-ul').scrollTop(currentscrollval - scrollval);


            });


            $(document).on("click", "#down-1", function () {
                var currentscrollval = $('#internal-ul-left').scrollTop();

                $('#internal-ul-left').scrollTop(scrollval + currentscrollval);

                // hide/show buttons

            });
            $(document).on("click", "#up-1", function () {
                var currentscrollval = parseInt($('#internal-ul-left').scrollTop());

                $('#internal-ul-left').scrollTop(currentscrollval - scrollval);


            });


            $('.rstv-bt').click(function () {
                $('#rstv-live').show();
                $('#calender-live').hide();
            });


            $('.session-bt').click(function () {
                $('#rstv-live').hide();
                $('#calender-live').show();
            });
        });


        //Gallery Slider

        $(function () {
            $('.gallery-slider').bxSlider({
                minSlides: 4,
                maxSlides: 4,
                slideWidth: 400,
                slideMargin: 4,
                moveSlides: 1,
                auto: true
            });

        });
    </script>
</body>
</html>
