﻿@model RSWP_UI.Models.StatementListVM
<h4>@Model.Type</h4>
<span id="spnContentSessionWise" style="outline:solid">
    

    @foreach (var item in Model.StatementList)
    {
        <b><a href="#" title="Bulletin No:@item.BulletinData.BulletinNo.Trim() ,Bulletin Date: @item.BulletinData.Date.ToString("dd/MM/yyyy",System.Globalization.CultureInfo.InvariantCulture)" onclick="openStatementContent('@item.SessionNo.ToString()','@item.BulletinData.BulletinNo.Trim().ToString()','@item.BulletinData.Date.Date.Day.ToString()','@item.BulletinData.Date.Date.Month.ToString()','@item.BulletinData.Date.Date.Year.ToString()');" >@item.SessionNo</a>|</b>

        <div id="htmlText_@item.SessionNo.ToString()_@item.BulletinData.BulletinNo.Trim().ToString()_@item.BulletinData.Date.Date.Day.ToString()_@item.BulletinData.Date.Date.Month.ToString()_@item.BulletinData.Date.Date.Year.ToString()" hidden>


            <div>

                &nbsp;<table width="100%">
                    <tr>
                        <td colspan="3" style="text-align: center">
                            <strong>
                                <span>
                                    <span style="font-size: 14pt; color: blue">
                                        Parliamentary Bulletin Part-II
                                    </span><a href="#">
                                        <span style="font-size: 14pt; color: #ff0000"> </span>
                                    </a>
                                </span>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>No. <span id="bulletinNo" style="font-size:10pt;">@item.BulletinData.BulletinNo</span></strong>
                        </td>
                        <td style="text-align: center">
                            <span id="selectedDate" style="font-size:10pt;font-weight:bold;"> @item.BulletinData.Date.DayOfWeek,@item.BulletinData.Date.ToString("MMMM dd, yyyy",System.Globalization.CultureInfo.InvariantCulture)    @*Thursday, February 20, 2020*@</span>
                        </td>
                        <td style="text-align: right">
                            <span id="sectionName" style="font-size:10pt;font-weight:bold;">@item.BulletinData.SectionName</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center">
                            <span id="lblTitle" style="font-size:10pt;font-weight:bold;">@item.BulletinData.SubjectName                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            &nbsp;
                            <span id="htmlContent" style="font-size:10pt;">
                                @Html.Raw(item.BulletinData.HtmlText)
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="height: 21px; text-align: right">
                            <span id="sgName">@item.BulletinData.SGName</span>
                            <br />
                            <span id="designation">@item.BulletinData.SGDesignation</span>
                        </td>
                    </tr>
                </table>
                <br />

            </div>





        </div>
    }


</span>

<script>
    function openStatementContent(sessionNo, bulletinNo, dd, mm, yyyy) {
        var elementHtml = $("#htmlText_" + sessionNo + '_' + bulletinNo + '_' + dd + '_' + mm + '_' + yyyy).html();       
        var win = window.open("", "_blank ", "");
        win.document.title = 'Bulletin II';
        win.document.body.innerHTML = elementHtml;
    }
    </script>
