﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.SittingMembers</h4>
        <ul class="sideBarList">
            <li><a href="/Members/Alphabetical" class="active" data-section="Members" data-subsection="Sitting Members" data-module="Alphabetical">@RSWP_UI.Resources.Resource.Alphabetical</a></li>
            <li><a href="/Members/TermWise" data-section="Members" data-subsection="Sitting Members" data-module="Term Wise">@RSWP_UI.Resources.Resource.TermWise</a></li>
            <li><a href="/Members/PartyWise" data-section="Members" data-subsection="Sitting Members" data-module="Party Wise">@RSWP_UI.Resources.Resource.PartyWise</a></li>
            <li><a href="/Members/StateWise" data-section="Members" data-subsection="Sitting Members" data-module="StateWise">@RSWP_UI.Resources.Resource.StateWise</a></li>
            <li><a href="/Members/AgeWise" data-section="Members" data-subsection="Sitting Members" data-module="Age Wise">@RSWP_UI.Resources.Resource.AgeWise</a></li>
            <li><a href="/Members/Index/PartyPosition?MenuId=25000" data-section="Members" data-subsection="Sitting Members" data-module="Party Position">@RSWP_UI.Resources.Resource.PartyPosition <i class="fas fa-file-pdf pdf-r"></i></a></li>
            <li><a href="/Members/EmailAddress" data-section="Members" data-subsection="Sitting Members" data-module="E-mail Addresses">@RSWP_UI.Resources.Resource.EmailAddresses</a></li>
            <li><a href="/Members/AverageAge" data-section="Members" data-subsection="Sitting Members" data-module="Average Age">@RSWP_UI.Resources.Resource.AverageAge</a></li>
            <li><a href="/Members/BillingualList" data-section="Members" data-subsection="Sitting Members" data-module="Billingual List of Members">@RSWP_UI.Resources.Resource.BillingualListofMembers</a></li>
            <li><a href="/Members/InCouncilMinisters" data-section="Members" data-subsection="Sitting Members" data-module="In Council of Ministers">@RSWP_UI.Resources.Resource.InCouncilofMinisters  </a></li>
            <li><a href="/Members/WomenMembers" data-section="Members" data-subsection="Sitting Members" data-module="Women Members">@RSWP_UI.Resources.Resource.WomenMembers</a></li>
            <li><a href="/Members/BirthdayWise" data-section="Members" data-subsection="Sitting Members" data-module="Birthday Wise List(With Address)">@RSWP_UI.Resources.Resource.BirthdayWiseListWithAddress</a></li>
            <li><a href="/Members/BirthdayWiseWithoutAdd" data-section="Members" data-subsection="Sitting Members" data-module="Birthday Wise List(Without Address)">@RSWP_UI.Resources.Resource.BirthdayWiseListWithoutAddress</a></li>
            <li><a href="/Members/RetirementList_Alphabetical" data-section="Members" data-subsection="Sitting Members" data-module="Retirement List (Alphabetical)">@RSWP_UI.Resources.Resource.RetirementListAlphabetical</a></li>
            <li><a href="/Members/RetirementList_Month_Year" data-section="Members" data-subsection="Sitting Members" data-module="Retirement List (monthy/year) wise">@RSWP_UI.Resources.Resource.RetirementListmonthyyearwise</a></li>
            <li><a href="/Members/StateWiseRetirement" data-section="Members" data-subsection="Sitting Members" data-module="State wise RetirementList">@RSWP_UI.Resources.Resource.StatewiseRetirementList</a></li>
            <li><a href="/Members/AdvanceSearch" data-section="Members" data-subsection="Sitting Members" data-module="Integrated Search">@RSWP_UI.Resources.Resource.IntegratedSearch</a></li>
            <li><a href="/Members/Index/EntitlementOfSittingMembers?MenuId=26000" data-section="Members" data-subsection="Sitting Members" data-module="Entitlement of sitting members">@RSWP_UI.Resources.Resource.Entitlementofsittingmembers</a></li>
            <li><a href="/Members/ExpenditureIncurred" data-section="Members" data-subsection="Sitting Members" data-module="Expenditure incurred">@RSWP_UI.Resources.Resource.Expenditureincurred</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.MembersAddress</h4>
        <ul class="sideBarList">
            <li><a href="/Members/AlphabeticalMemberAddress" data-section="Members" data-subsection="Members Address" data-module="Alphabetical">@RSWP_UI.Resources.Resource.Alphabetical</a></li>
            <li><a href="/Members/PartyWiseMemberAddress" data-section="Members" data-subsection="Members Address" data-module="Party Wise">@RSWP_UI.Resources.Resource.PartyWise</a></li>
            <li><a href="/Members/StateWiseMemberAddress" data-section="Members" data-subsection="Members Address" data-module="StateWise">@RSWP_UI.Resources.Resource.StateWise</a></li>
            <li><a href="">@RSWP_UI.Resources.Resource.ExporttoCSV</a></li>
        </ul>
    </div>
    <div class="sectionBox" id="nominated">
        <h4>@RSWP_UI.Resources.Resource.NominatedMembers</h4>
        <ul class="sideBarList">
            <li><a href="/Members/NominatedMember" data-section="Members" data-subsection="Nominated Members" data-module="Current">@RSWP_UI.Resources.Resource.Current</a></li>
            <li><a href="/Members/NominatedMember_Since1952" data-section="Members" data-subsection="Nominated Members" data-module="Members Since 1952">@RSWP_UI.Resources.Resource.MembersSince1952</a></li>
        </ul>
    </div>
</div>
