﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.MembersParticipation</h4>
        <ul class="sideBarList">
            <li><a href="/Members/Index/GeneralInformation?MenuId=25002&archieve=false" data-section="Members" data-subsection="Members Participation" data-module="General Information">@RSWP_UI.Resources.Resource.GeneralInformation</a></li>
            <li><a href="/Members/OfficersOfRajyaSabha" data-section="Members" data-subsection="Members Participation" data-module="Officers of Rajya Sabha">@RSWP_UI.Resources.Resource.OfficersofRajyaSabha</a></li>
            <li><a href="/Members/MemberAttendance" data-section="Members" data-subsection="Members Participation" data-module="Member's Attendance">@RSWP_UI.Resources.Resource.MembersAttendance</a></li>
            <li><a href="/Members/MembersAdvanceSearch" data-section="Members" data-subsection="Members Participation" data-module="Consolidated Who's Who">@RSWP_UI.Resources.Resource.ConsolidatedWhosWho</a></li>
            <li><a href="/Members/DisqualificationofMembers" data-section="Members" data-subsection="Members Participation" data-module="Disqualification of Members on Ground of Defection">@RSWP_UI.Resources.Resource.DisqualificationofMembersonGroundofDefection</a></li>
            <li><a href="/Members/Index/CodeOfConduct?MenuId=25005" data-section="Members" data-subsection="Members Participation" data-module="Code of Conduct">@RSWP_UI.Resources.Resource.CodeofConduct</a></li>
            <li><a href="/Members/Index/DeclarationofAssetsandLiabilities?MenuId=25006" data-section="Members" data-subsection="Members Participation" data-module="Declaration of Assets and Liabilites">@RSWP_UI.Resources.Resource.DeclarationofAssetsandLiabilites</a></li>
            @*<li><a href="/Members/MPLADS_Index?MenuId=25012" data-section="Members" data-subsection="Members Participation" data-module="MPLADS">@RSWP_UI.Resources.Resource.MPLADS</a></li>*@
            <li><a data-toggle="collapse" href="#forthcomingCollapse" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Forthcoming Examination">@RSWP_UI.Resources.Resource.MPLADS</a></li>
            <ul id="forthcomingCollapse" class="nest-ul panel-collapse collapse">
                <li class="ar"><a href="@Url.Action("CommitteeOnMPLADS","Members")" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Forthcoming Examination Open Competative Examination">@RSWP_UI.Resources.Resource.Commotteemplads</a></li>
                <li class="ar"><a href="https://www.mplads.gov.in/mplads/Default.aspx"  target="_blank" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Forthcoming Examination Departmental Examination">@RSWP_UI.Resources.Resource.MpladsWebsite</a></li>
                <li class="ar"><a href="@Url.Action("MPLADSVideo","Members")" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Forthcoming Examination Departmental Examination">@RSWP_UI.Resources.Resource.MPLADSVideo</a></li>
            </ul>
            <li><a href="/Members/SalaryActAndRules_Index?MenuId=25009" data-section="Members" data-subsection="Members Participation" data-module="Salary Acts and Rulese">@RSWP_UI.Resources.Resource.SalaryActsandRules</a></li>
            <li><a href="/Members/Orientation_Index?MenuId=25010" data-section="Members" data-subsection="Members Participation" data-module="Orientation Program">@RSWP_UI.Resources.Resource.OrientationProgram</a></li>
            <li><a href="" data-section="Members" data-subsection="Members Participation" data-module="MPs in Hospital in Delhi">@RSWP_UI.Resources.Resource.MPsinHospitalinDelhi</a></li>
        </ul>
    </div>

    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.FormerMembers</h4>
        <ul class="sideBarList">
            <li><a href="/Members/AlphabeticalFormerMember" data-section="Members" data-subsection="Former Members" data-module="Alphabetical List">@RSWP_UI.Resources.Resource.AlphabeticalList</a></li>
            <li><a href="/Members/TermWiseFormerMember" data-section="Members" data-subsection="Former Members" data-module="Term Wise">@RSWP_UI.Resources.Resource.TermWise</a></li>
            <li><a href="/Members/BriefBio_Index?MenuId=25011" data-section="Members" data-subsection="Former Members" data-module="Brief Biodata 1952-2003">@RSWP_UI.Resources.Resource.BriefBiodata19522003</a></li>
            <li><a href="/Members/FormerMemberSearch" data-section="Members" data-subsection="Former Members" data-module="Search">@RSWP_UI.Resources.Resource.Search</a></li>
            <li><a href="/Members/Index/EntitlementOfFormerMembers?MenuId=26001" data-section="Members" data-subsection="Former Members" data-module="Entitlement of Members">@RSWP_UI.Resources.Resource.EntitlementofMembers</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4><a href="/Graphical/Graphical_Analysis">@RSWP_UI.Resources.Resource.GraphicalAnalysis</a></h4>

    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.SummaryReport</h4>
        <ul class="sideBarList">
            <li><a href="/Members/PartyWiseSummary" data-section="Members" data-subsection="Summary Report" data-module="Party Wise">@RSWP_UI.Resources.Resource.PartyWise</a></li>
            <li><a href="/Members/StateWiseSummary" data-section="Members" data-subsection="Summary Report" data-module="StateWise">@RSWP_UI.Resources.Resource.StateWise</a></li>
        </ul>
    </div>

</div>
