﻿
@{
    ViewBag.Title = "ChairmanDeputy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenuAboutRS")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>
                <div class="member-menu-link notice-sec-tabing">
                    <ul class="nav nav-tabs">

                        <li class="active"><a data-toggle="tab" href="#gen">@RSWP_UI.Resources.Resource.Profile</a></li>
                        <li><a href="#bio" data-toggle="tab">@RSWP_UI.Resources.Resource.PositionAndRole</a></li>
                        <li><a href="#ques" data-toggle="tab">@RSWP_UI.Resources.Resource.LatestDecisions</a></li>
                        <li><a href="#assu" data-toggle="tab">@RSWP_UI.Resources.Resource.Speeches</a></li>
                        <li><a href="#comm" data-toggle="tab">@RSWP_UI.Resources.Resource.Directions</a></li>
                        <li><a href="#spec" data-toggle="tab">@RSWP_UI.Resources.Resource.RulingsAndObservations</a></li>
                        <li><a href="#deb" data-toggle="tab">@RSWP_UI.Resources.Resource.PressRelease</a></li>
                        <li><a href="#bill" data-toggle="tab">@RSWP_UI.Resources.Resource.ChairmansOffice</a></li>


                    </ul>

                </div>

                <div class="graph-sec single-member-content">

                    <div class="member-pic">
                        <div class="pic">
                            <img src="~/images/hariva.png" alt="">

                        </div>
                        <div class="info">
                            <p>Shri Harivansh</p>
                            <p class="rajyatext">@RSWP_UI.Resources.Resource.DeputyChairman, @RSWP_UI.Resources.Resource.RajyaSabha</p>
                        </div>
                    </div>
                    <div id="gen" class="tab-pane fade in active">

                        <div class="profile-head">
                            <h4>@RSWP_UI.Resources.Resource.Profile</h4>
                        </div>
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">


                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Name:</td>
                                    <td>Shri Harivansh</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.FathersName : </td>
                                    <td>Late Shri Bankey Bihari Singh</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.MotherName :</td>
                                    <td>Shrimati Devyani Devi</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.DateOfBirth :</td>
                                    <td>30 June 1956</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PlaceOfBirth :</td>
                                    <td> Ballia (Uttar Pradesh)</td>
                                </tr>
                                <tr>
                                    <td> @RSWP_UI.Resources.Resource.MaritalStatus : </td>
                                    <td>Married on 23 April 1978</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SpousesName : </td>
                                    <td>Shrimati Asha Singh</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Children : </td>
                                    <td>One son and one daughter</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EducationalQualification :</td>
                                    <td>M.A. (Economics), Diploma in Journalism Educated at Banaras Hindu University, Varanasi</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Profession :</td>
                                    <td>Journalist/Writer</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PermanentAddress:</td>
                                    <td>Vrindavan Colony, Chiraundi Bodeya Road, Ranchi-834006 (Jharkhand) Tel. - {0651} 2551900, Mobile: 9431114265</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PresentAddress :</td>
                                    <td>14, Akbar Road, New Delhi110011 Tel. - 23010279, 23016332 Telefax: 23016180 Mobile: 9013181002</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EMail : </td>
                                    <td>hari.vansh@sansad.nic.in</td>
                                </tr>




                            </table>

                            <div class="panel-group profile-accordian" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">@RSWP_UI.Resources.Resource.PositionsHeld:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> 1971 : President, Students' Union, V.R. College, Nellore;</li>
                                                <li> <i class="fas fa-hand-point-right hand-link-icon"></i> 1973-74 : President, Students' Union, Andhra University Colleges;</li>
                                                <li> <i class="fas fa-hand-point-right hand-link-icon"></i> 1974 : Convener, Lok Nayak Jai Prakash Narayan Kshatra Sangharsha Samiti of Andhra Pradesh;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> 1977-80 : President, Youth Wing of Janata Party, Andhra Pradesh;</li>
                                                <li> <i class="fas fa-hand-point-right hand-link-icon"></i> 1978-85 : Member, Legislative Assembly, Andhra Pradesh;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> 1980-83 : Vice-President, Youth Wing of All India B.J.P.;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> 1980-85 : Leader, B.J.P. Legislature Party in Andhra Pradesh;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> 1985-88 : General Secretary, Andhra Pradesh State B.J.P.;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> 1988-93 : President, Andhra Pradesh State Unit of B.J.P.;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> 1993-Sept. 2000 : General Secretary, All India B.J.P.;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> April 1998 : Elected to Rajya Sabha from Karnataka (first term);</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> 2002-2003 : Member, Committee on Home Affairs; Member, Consultative Committee for the Ministry of Agriculture;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Dec. 1999-2001 : Member, Committee on Finance;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Jan. 2000-Feb. 2004 : Member, Consultative Committee for the Ministry of Rural Development;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> 30 Sept. 2000-30 June 2002 : Minister of Rural Development;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> July 2002-Dec. 2003 : National President, B.J.P.;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Jan. 2003- Feb. 2004 : Member, Committee on External Affairs;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Jan. 2004-Oct. 2004 : National President, B.J.P. (second term);</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> July 2004 : Re-elected to Rajya Sabha from Karnataka (second term);</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Aug. 2004-May 2009 : Member, Committee on Finance;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Oct. 2004-May 2009 : Member, Consultative Committee for the Ministry of Agriculture and Ministry of Consumer Affairs, Food and Public Distribution;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> April 2005-Jan. 2006 : Senior Vice-President, B.J.P.;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Jan. 2006-July 2017 : Member, Parliamentary Board of B.J.P. and Central Election Committee;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Sept. 2006-Sept. 2009 : Chairman, Committee on Petitions;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Oct. 2006-May 2014 : Member, General Purposes Committee;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Dec. 2008-Aug. 2013 : Member, Tobacco Board;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Aug. 2009-May 2014 : Chairman, Committee on Home Affairs;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> July 2010 : Re-elected to Rajya Sabha from Karnataka (third term) (resigned w.e.f. 23 June 2016);</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> April-Nov. 2011 : Chairman, Sub-Committee to examine various provisions of the Enemy Property (Amendment &amp; Validation) Second Bill, 2010 of the Committee on Home Affairs;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Dec. 2011-May 2014 : Vice-President, Parliamentary Forum on Disaster Management;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> 26 May 2014-5 July 2016 : Minister of Urban Development; Minister of Housing and Urban Poverty Alleviation; and Minister of Parliamentary Affairs;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> July 2016 : Elected to Rajya Sabha from Rajasthan (fourth term) (resigned w.e.f. 10 August 2017);</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i>5 July 2016-17 July 2017 : Minister of Urban Development; Minister of Housing and Urban Poverty Alleviation; and Minister of Information and Broadcasting;</li>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i>11 August 2017 onwards : Vice-President of India and Ex-officio Chairman, Rajya Sabha</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">@RSWP_UI.Resources.Resource.BooksPublished:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i>Articles in newspapers on the subjects of political and public interests</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">@RSWP_UI.Resources.Resource.OtherInterests :</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Agriculture and social work; motivating voluntary organizations, engaged in constructive work in fields of agriculture, health, vocational education & training, animal care etc.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">@RSWP_UI.Resources.Resource.Hobbies:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Reading, educating and motivating people</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">@RSWP_UI.Resources.Resource.CountriesVisited:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Australia, Austria, Belgium, Botswana, Cambodia, Dubai (U.A.E.), Egypt, Paris (France), Gautemala, Germany, Hong Kong, Italy, Malavi, Malaysia, Maldives, Malta, Mauritius, the Netherlands, Panama, Peru, Romania, Serbia, Singapore, Spain, South Korea, Thailand, Zimbabwe, U.K. and U.S.A.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">@RSWP_UI.Resources.Resource.OtherInformation:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Was Chairman, Students' Union at College and also in University; imprisoned under M.I.S.A. during the Emergency, 1975-77; was Secretary, (i) B.J.P. Parliamentary Board and (ii) B.J.P. Central Election Committee; Spokesman, B.J.P., 1996-2000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                    <div id="bio" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">


                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.MembersName:</td>
                                    <td>Shri Abdul Wahab</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.FathersName : </td>
                                    <td>Late Shri Alavikutty</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.MotherName :</td>
                                    <td>Shrimati Fathima1</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.DateOfBirth :</td>
                                    <td>1 July 1950</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PlaceOfBirth :</td>
                                    <td>Nilambur, Distt. Malappuram (Kerala)</td>
                                </tr>
                                <tr>
                                    <td> @RSWP_UI.Resources.Resource.MaritalStatus : </td>
                                    <td>Married on 22 December 1976</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SpousesName : </td>
                                    <td>Shrimati Yasmine Wahab</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Children : </td>
                                    <td>Four sons</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EducationalQualification :</td>
                                    <td>Educated at Government Manavedan High School, Nilambur and MES College, Mampad, Kerala</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Profession :</td>
                                    <td>Trader and Industralist,Political and Social Worker</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PermanentAddress:</td>
                                    <td>Peevees Mirage, Nilambur P.O., Malappuram District, Kerala.679329 Tel. - 04931-220542, fax:04931-221988 M:09847020911</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PresentAddress :</td>
                                    <td>402 - Swarna Jayanti Sadan Deluxe, Dr. B.D. Marg, New Delhi110001 Tel. - 23319163, 21430553, Mobile 9013181677, 9868181280</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EMail : </td>
                                    <td>wahab.pv@sansand.nic.in</td>
                                </tr>




                            </table>
                        </div>

                        <h3>@RSWP_UI.Resources.Resource.PositionsHeld:</h3>

                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Duration
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.PositionTitle
                                    </th>
                                </tr>
                                <tr>
                                    <td>April 2004</td>
                                    <td>Elected to Rajya Sabha</td>
                                </tr>
                                <tr>
                                    <td>Aug. 2004-April 2010</td>
                                    <td>Member, Committee on Social Justice and Empowerment</td>
                                </tr>
                                <tr>
                                    <td>Oct. 2004-April 2010</td>
                                    <td>Member, Consultative Committee for the Ministry of Civil Aviation</td>
                                </tr>

                                <tr>
                                    <td>April 2015</td>
                                    <td>Elected to Rajya Sabha (second term)</td>
                                </tr>
                                <tr>
                                    <td>Sept. 2015 - June 2018</td>
                                    <td>Member,Committee on Rules</td>
                                </tr>
                                <tr>
                                    <td>Sept. 2015 onwards</td>
                                    <td>Member,Committee on Chemicals and Fertilizers</td>
                                </tr>
                                <tr>
                                    <td>June 2016 onwards</td>
                                    <td>Member, Railway Convention Committee</td>
                                </tr>

                            </table>

                        </div>

                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.FreedomFighter </td>
                                    <td>NO</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.BooksPublished: </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SocialAndCulturalActivitiesLiteraryArtisticScientificEtc :</td>
                                    <td>Chairman, (i) Peevees Charitable Trust and (ii) Keraleeyam; President (i) Nilambur Orphanage and (ii) Peevees Public School</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SportsClubsFavouritePastimesandRecreation :</td>
                                    <td>Reading, football, cricket, listening to music and news</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.CountriesVisited :</td>
                                    <td>Widely travelled</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.OtherInformation :</td>
                                    <td>Chairman, Calicut Airport Development Committee, 1994-2004</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="ques" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        QN
                                    </th>
                                    <th>
                                        Q.TYPE
                                    </th>
                                    <th>
                                        DATE
                                    </th>
                                    <th>
                                        MINISTRY
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Subject
                                    </th>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>

                            </table>



                        </div>
                        <div class="qa-paging">
                            <ul class="pager">
                                <li class="previous"><a href="#">@RSWP_UI.Resources.Resource.Previous</a></li>
                                <li class="next"><a href="#">@RSWP_UI.Resources.Resource.Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="assu" class="tab-pane fade">
                        @RSWP_UI.Resources.Resource.Assurances
                    </div>
                    <div id="comm" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        @RSWP_UI.Resources.Resource.CommiteeName
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.MembershipFrom
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Status
                                    </th>

                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.ChemicalsAndFertilizers</td>
                                    <td>01/09/2018</td>
                                    <td>@RSWP_UI.Resources.Resource.Member</td>

                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.RailwayConventionCommittee</td>
                                    <td>20/06/2016</td>
                                    <td>@RSWP_UI.Resources.Resource.Member</td>

                                </tr>


                            </table>



                        </div>
                    </div>
                    <div id="spec" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        @RSWP_UI.Resources.Resource.SNo
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.MADEDATE
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Subject
                                    </th>
                                    <th>@RSWP_UI.Resources.Resource.MINISTRYCONCERNED</th>
                                    <th>@RSWP_UI.Resources.Resource.REPLYFROMMINISTRYSENT_Y_N</th>

                                </tr>
                                <tr>
                                    <td>125</td>
                                    <td>13/05/2015 (235)</td>
                                    <td><a href="#">DEMAND FOR TAKING STEPS FOR REHABILITATION OF NURSES EVACUATED FROM YEMEN, LIBYA AND OTHER GULF COUNTRIES</a></td>
                                    <td>@RSWP_UI.Resources.Resource.EXTERNALAFFAIRS</td>
                                    <td>@RSWP_UI.Resources.Resource.FinalReply 29/06/2016</td>

                                </tr>
                                <tr>
                                    <td>125</td>
                                    <td>13/05/2015 (235)</td>
                                    <td><a href="#">DEMAND FOR TAKING STEPS FOR REHABILITATION OF NURSES EVACUATED FROM YEMEN, LIBYA AND OTHER GULF COUNTRIES</a></td>
                                    <td>@RSWP_UI.Resources.Resource.EXTERNALAFFAIRS</td>
                                    <td>@RSWP_UI.Resources.Resource.FinalReply 29/06/2016</td>

                                </tr>


                            </table>



                        </div>
                    </div>
                    <div id="deb" class="tab-pane fade">
                        <p><a href="#">@RSWP_UI.Resources.Resource.VerbatimDebates (189th Session onwards)</a></p>
                        <p><a href="#">@RSWP_UI.Resources.Resource.OfficialDebates (From 13th May 1952 onwards)</a></p>
                    </div>
                    <div id="bill" class="tab-pane fade">
                        <p>@RSWP_UI.Resources.Resource.NoBillsIntroducedByMe!</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


