﻿@using RSWP_UI.Models;
@model IEnumerable<DocumentModelView>
@{
    ViewBag.Title = "CouncilOfStates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h1 class="main-title center">@RSWP_UI.Resources.Resource.CouncilOfStates (@RSWP_UI.Resources.Resource.RajyaSabha)</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid singlepage">
            <div class="row">
                @Html.Partial("Partial/leftMenuAboutRS")

                <div class="col-md-9 boxMiddleBorder">
                    <div class="broadComTab">
                        <ul>
                            @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                            {
                                <li><a href="@data.Value">@data.Text</a></li>
                            }
                        </ul>
                    </div>

                    <div id="content">
                    @if (Model != null)
                    {
                        var pdf = Model.FirstOrDefault(f => f.FileType == "pdf");
                        if (pdf != null)
                        {
                            <table width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>
                                            <div align="right"><a href="@pdf.FileUrl" target="_blank">@RSWP_UI.Resources.Resource.PDFFormat</a> </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        if (pdf != null)
                        {
                        @Html.Raw(pdf.Description)
                        }
                    }
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


