﻿<div class="boxSearchMid">
    <div class="box-mid">
        <label>@RSWP_UI.Resources.Resource.SECRETARIESGENERALOFTHERAJYASABHA</label>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@RSWP_UI.Resources.Resource.Name</th>
                    <th>@RSWP_UI.Resources.Resource.Term</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model)
                {
                    if (string.IsNullOrEmpty(document.Name))
                    { continue; }
                    <tr>
                        <td>
                            @document.Name
                        </td>
                        <td>
                            @document.From to @document.To
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

