﻿
@{
    ViewBag.Title = "FormerLeaderOfOpposition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenuAboutRS")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>

                <div class="graph-sec single-member-content">

                    <div class="searchResulltTabl">


                        <table class="table table-striped single-member-table">
                            <tbody>
                                <tr>
                                    <th scope="col">@RSWP_UI.Resources.Resource.SNo</th>
                                    <th scope="col">@RSWP_UI.Resources.Resource.Name</th>
                                    <th scope="col">@RSWP_UI.Resources.Resource.Term</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Shri Shyam Nandan Mishra</td>
                                    <td>December 1969 to March 1971</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Shri M. S. Gurupadaswamy</td>
                                    <td>March 1971 to April 1972</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Shri Kamlapati Tripathi</td>
                                    <td>30/03/1977 to 15/02/1978</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Shri Bhola Paswan Shastri</td>
                                    <td>24/02/1978 to 23/03/1978</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Shri Kamlapati Tripathi</td>
                                    <td>23/03/1978 to 02/04/1978</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>&nbsp;</td>
                                    <td>18/04/1978 to 08/01/1980</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Shri Lal K. Advani</td>
                                    <td>21/01/1980 to 07/04/1980</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Shri P. Shiv Shanker</td>
                                    <td>18/12/1989 to 02/01/1991</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Shri M. S. Gurupadaswamy</td>
                                    <td>28/06/1991 to 21/07/1991</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Shri S. Jaipal Reddy</td>
                                    <td>22/07/1991 to 29/06/1992</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Shri Sikander Bakht</td>
                                    <td>07/07/1992 to 10/04/1996</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>&nbsp;</td>
                                    <td>10/04/1996 to 16/05/1996</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Shri S.B. Chavan</td>
                                    <td>23/05/1996 to 01/06/1996</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Shri Sikander Bakht</td>
                                    <td>01/06/1996 to 19/03/1998</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Dr. Manmohan Singh</td>
                                    <td>21/03/1998 to 15/06/2001</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>&nbsp;</td>
                                    <td>15/06/2001 to 22/05/2004</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Shri Jaswant Singh</td>
                                    <td>03/06/2004 to 05/07/2004</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>&nbsp;</td>
                                    <td>05/07/2004 to 16/05/2009</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>Shri Arun Jaitley</td>
                                    <td>03/06/2009 to 03/04/2012</td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>&nbsp;</td>
                                    <td>03/04/2012 to 26/05/2014</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Shri Ghulam Nabi Azad</td>
                                    <td>08/06/2014 to 10/02/2015</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-left" style="padding: 20px">
                            <p>Officers responsible for supply of information for the former Deputy Chairmen of the Rajya Sabha</p>
                            <ul>
                                <li style="margin-bottom: 20px">
                                    <p>Shri S. D. Nautiyal</p>
                                    <p>Joint Secretary (LR)</p>
                                    <p>23724702, 23724745</p>
                                    <p>sd.nautiyal@sansad.nic.in</p>
                                </li>
                                <li>
                                    <p>Shri Prasanna Kumar</p>
                                    <p>Director (LARRDIS)</p>
                                    <p>23724705</p>

                                </li>
                                <li>
                                    <p>Smt.Meena Kandwal</p>
                                    <p>Additional Director (LARRDIS)</p>
                                    <p>Tel. 23724711</p>
                                    <p>rsrlib@sansad.nic.in</p>

                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

