﻿
@{
    ViewBag.Title = "FormerChairman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenuAboutRS")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>

                <div class="graph-sec single-member-content">

                    <div class="searchResulltTabl">
                        <table class="table table-striped single-member-table">
                            <tr>
                                <th>
                                    @RSWP_UI.Resources.Resource.Name
                                </th>
                                <th>
                                    @RSWP_UI.Resources.Resource.Term
                                </th>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957 <br />13.5.1957 to 12.5.1962</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Zakir Husain</a></td>
                                <td>13.5.1962 to 12.5.1967</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957</td>


                            </tr>
                            <tr>
                                <td><a href="#">Dr.Sarvepalli Radhakrishnan</a></td>
                                <td>13.5.1952 to 12.5.1957</td>


                            </tr>


                        </table>



                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

