﻿
@{
    ViewBag.Title = "FormerDeputyChairman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenuAboutRS")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>

                </div>

                <div class="graph-sec single-member-content">

                    <div class="searchResulltTabl">
                        <table class="table table-striped single-member-table">
                            <tr>
                                <th>
                                    @RSWP_UI.Resources.Resource.Name
                                </th>
                                <th>
                                    @RSWP_UI.Resources.Resource.Term
                                </th>


                            </tr>
                            <tr>
                                <td>Shri S. V. Krishna Moorthy Rao</td>
                                <td>31/05/1952 to 02/04/1956 <br /> 25/04/1956 to 01/03/1962</td>


                            </tr>
                            <tr>
                                <td>Smt. Violet Alva</td>
                                <td>19/04/1962 to 02/04/1966 <br /> 07/04/1966 to 16/11/1969</td>


                            </tr>
                            <tr>
                                <td>Shri Bhaurao Dewaji Khobragade</td>
                                <td>17/12/1969 to 01/04/1972</td>


                            </tr>
                            <tr>
                                <td>Shri Godey Murahari</td>
                                <td>13/04/1972 to 02/04/1974 <br />26/04/1974 to 20/03/1977</td>


                            </tr>
                            <tr>
                                <td>Shri Ram Niwas Mirdha</td>
                                <td>30/03/1977 to 02/04/1980</td>


                            </tr>
                            <tr>
                                <td>Shri Shyam Lal Yadav</td>
                                <td>30/07/1980 to 02/04/1982 <br />28/04/1982 to 29/12/1984</td>


                            </tr>
                            <tr>
                                <td>Dr. Najma A. Heptulla</td>
                                <td>25/01/1985 to 20/01/1986</td>


                            </tr>
                            <tr>
                                <td>Shri M.M. Jacob</td>
                                <td>26/02/1986 to 22/10/1986</td>


                            </tr>
                            <tr>
                                <td>Smt. Pratibha Devisingh Patil</td>
                                <td>18/11/1986 to 05/11/1988</td>


                            </tr>
                            <tr>
                                <td>Dr. Najma A. Heptulla</td>
                                <td>18/11/1988 to 04/07/1992 <br>10/07/1992 to 04/07/1998 <br>09/07/1998 to 10/06/2004</td>


                            </tr>
                            <tr>
                                <td>Shri K. Rahman Khan</td>
                                <td>22/07/2004 to 02/04/2006 <br /> 12/05/2006 to 02/04/2012</td>


                            </tr>
                            <tr>
                                <td>Prof. P.J. Kurien</td>
                                <td>21/08/2012 to 01/07/2018</td>


                            </tr>


                        </table>
                        <div class="text-left" style="padding: 20px">
                            <p>Officers responsible for supply of information for the former Deputy Chairmen of the Rajya Sabha</p>
                            <ul>
                                <li style="margin-bottom: 20px">
                                    <p>Shri S. D. Nautiyal</p>
                                    <p>Joint Secretary (LR)</p>
                                    <p>23724702, 23724745</p>
                                    <p>sd.nautiyal@sansad.nic.in</p>
                                </li>
                                <li>
                                    <p>Shri Prasanna Kumar</p>
                                    <p>Director (LARRDIS)</p>
                                    <p>23724705</p>

                                </li>
                                <li>
                                    <p>Smt.Meena Kandwal</p>
                                    <p>Additional Director (LARRDIS)</p>
                                    <p>Tel. 23724711</p>
                                    <p>rsrlib@sansad.nic.in</p>

                                </li>

                            </ul>
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

