﻿
@{
    ViewBag.Title = "FormerLeaderOfHouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenuAboutRS")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">l
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>

                <div class="graph-sec single-member-content">

                    <div class="searchResulltTabl">

                        <table class="table table-striped single-member-table">
                            <tr>
                                <th scope="col">@RSWP_UI.Resources.Resource.SNo</th>
                                <th scope="col">@RSWP_UI.Resources.Resource.Name</th>
                                <th scope="col">@RSWP_UI.Resources.Resource.Term</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Shri Narasimha Gopalaswami Ayyangar</td>
                                <td>May, 1952 to February, 1953</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Shri Charu Chandra Biswas</td>
                                <td>February, 1953 to November, 1954</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Shri Lal Bahadur Shastri</td>
                                <td>November, 1954 to March, 1955</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Pandit Govind Ballabh Pant</td>
                                <td>March, 1955 to February, 1961</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Hafiz Mohammad Ibrahim</td>
                                <td>February, 1961 to August, 1963</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Shri Y. B. Chavan</td>
                                <td>August, 1963 to December, 1963</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Shri Jai Sukh Lal Hathi</td>
                                <td>February, 1964 to March, 1964</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Shri M. C. Chagla</td>
                                <td>March, 1964 to November, 1967</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Shri Jai Sukh Lal Hathi</td>
                                <td>November, 1967 to November, 1969</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Shri Kodardas Kakudas Shah</td>
                                <td>November, 1969 to May, 1971</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Shri Umashankar Dikshit</td>
                                <td>May, 1971 to December, 1975</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Shri Kamlapati Tripathi</td>
                                <td>December, 1975 to March, 1977</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Shri Lal K. Advani</td>
                                <td>March, 1977 to August, 1979</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Shri K.C. Pant</td>
                                <td>August, 1979 to January, 1980</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>Shri Pranab Mukherjee</td>
                                <td>January, 1980 to July, 1981</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>&nbsp;</td>
                                <td>August, 1981 to December, 1984</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>Shri Vishwanath Pratap Singh</td>
                                <td>December, 1984 to April, 1987</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>Shri Narayan Datt Tiwari</td>
                                <td>April, 1987 to June, 1988</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>Shri P. Shiv Shanker</td>
                                <td>July, 1988 to December, 1989</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>Shri M. S. Gurupadaswamy</td>
                                <td>December, 1989 to November, 1990</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>Shri Yashwant Sinha</td>
                                <td>December, 1990 to June, 1991</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>Shri S.B. Chavan</td>
                                <td>July, 1991 to April, 1996</td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>Shri Sikander Bakht</td>
                                <td>May, 1996 to May, 1996</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>Shri Inder Kumar Gujral</td>
                                <td>June, 1996 to November, 1996</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>Shri H.D. Deve Gowda</td>
                                <td>November, 1996 to April, 1997</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>Shri Inder Kumar Gujral</td>
                                <td>April, 1997 to March, 1998</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>Shri Sikander Bakht</td>
                                <td>March, 1998 to October, 1999</td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>Shri Jaswant Singh</td>
                                <td>October, 1999 to May, 2004</td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>Dr. Manmohan Singh</td>
                                <td>June, 2004 to May, 2009</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>&nbsp;</td>
                                <td>May, 2009 to May, 2014</td>
                            </tr>
                            <tr>
                                <td>29</td>
                                <td>Shri Arun Jaitley</td>
                                <td>June, 2014 to April, 2018</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>&nbsp;</td>
                                <td>April, 2018 to May, 2019</td>
                            </tr>


                        </table>

                        <div class="text-left" style="padding: 20px">
                            <p>Officers responsible for supply of information for the former Deputy Chairmen of the Rajya Sabha</p>
                            <ul>
                                <li style="margin-bottom: 20px">
                                    <p>Shri S. D. Nautiyal</p>
                                    <p>Joint Secretary (LR)</p>
                                    <p>23724702, 23724745</p>
                                    <p>sd.nautiyal@sansad.nic.in</p>
                                </li>
                                <li>
                                    <p>Shri Prasanna Kumar</p>
                                    <p>Director (LARRDIS)</p>
                                    <p>23724705</p>

                                </li>
                                <li>
                                    <p>Smt.Meena Kandwal</p>
                                    <p>Additional Director (LARRDIS)</p>
                                    <p>Tel. 23724711</p>
                                    <p>rsrlib@sansad.nic.in</p>

                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

