﻿@using RSWP_UI.Models;
@model IEnumerable<DocumentModelView>
@{
    ViewBag.Title = "ImpParliamentaryTerm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenuAboutRS")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>

                <div class="graph-sec single-member-content" style="text-align: left">
                    @if (Model != null)
                    {
                        var pdf = Model.FirstOrDefault(f => f.FileType == "pdf");
                        if (pdf != null)
                        {
                            <p style="text-align: right;padding-right: 20px;">
                                <a href="@pdf.FileUrl">@RSWP_UI.Resources.Resource.PDFFormat</a>
                            </p>
                        }
                        <div class="searchResulltTabl" style="padding: 22;">
                            <h3 class="main-title center">@RSWP_UI.Resources.Resource.ImportantParliamentaryTerm</h3>
                            <p style="text-align: left; padding: 20px;">
                                
                                @Html.Raw(pdf?.Description)
                                
                            </p>
                            @*@foreach (var rec in Model)
                            {
                                if (rec.FileType == "html")
                                {
                                    <p style="text-align: left; padding: 20px;">
                                        @Html.Action("GetHtmlPage", "Home", new { path = rec.FileUrl })
                                    </p>
                                }
                            }*@

                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
</section>

