﻿@using RSWP_UI.Models;
@model IEnumerable<tblRecruitmentCell>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool flag = false;
    var WebLinkValue = string.Empty;
}
<section class="row contentRow" id="main-page-index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 feature_cols">
                <div class="main-button">
                    <div class="btn-group" role="group" aria-label="Basic example" id="main-buttons">
                        <button type="button" class="btn btn-default rstv-bt">@RSWP_UI.Resources.Resource.RSTV @RSWP_UI.Resources.Resource.Live</button>
                        <button type="button" class="btn btn-default session-bt">@RSWP_UI.Resources.Resource.SessionCalender</button>
                    </div>
                    <button class="btn  btn-danger btn-md">@RSWP_UI.Resources.Resource.HouseNotInSession</button>
                </div>
                <div class="calender cal-width" id="calender-live" style="display: none;"> </div>
                <div class="rstv-width" id="rstv-live">
                    @*<iframe id="iframe1" src="https://rstv.nic.in/player/video.html?rtmpurl=rtmp://playrtmp.media.nic.in:80/live/rstv&hlsurl=https://playhls.media.nic.in/hls/live/rstv/rstv.m3u8&image=https://rstv.nic.in/player/images/rstv1_2019.jpg&autostart=false&logo=https://rstv.nic.in/player/images/newlogo_1.png" width="100%" height="230px" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>*@
                    <iframe id="iframe1" src="https://rstv.nic.in/player/video.html?hlsurl= https://nicls2-lh.akamaihd.net/i/rstv_1@26970/master.m3u8 &image=https://rstv.nic.in/player/images/rstv1_2019.jpg&autostart=false&logo=https://rstv.nic.in/player/images/newlogo_1.png" width="100%" height="230px" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-3 feature_cols">
                <div class="media feature_col">
                    <div class="media-body" id="main-body-rs">
                        <h5 class="m-t-a aboutrs main-title">@RSWP_UI.Resources.Resource.AboutRajyaSabha</h5>
                        <ul class="d-block">
                            <li class="main-li">
                                <i class="fas fa-hand-point-right hand-link-icon"></i>
                                @*@{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("Council of States") ? ((Dictionary<string, string>)Session["WebLinks"])["Council of States"] : "#";}
                                <a href="@WebLinkValue" target="_blank">Council of States</a>*@
                                <a href="/Home/CouncilOfStates" data-section="Home" data-subsection="About Rajya Sabha" data-module="Council of States">@RSWP_UI.Resources.Resource.CouncilOfStates</a>
                            </li>
                            <li class="main-li">
                                <i class="fas fa-hand-point-right hand-link-icon"></i>
                                <a href="/Home/Chairman" data-section="Home" data-subsection="About Rajya Sabha" data-module="Chairman">@RSWP_UI.Resources.Resource.Chairman</a>
                            </li>
                            <li class="main-li">
                                <i class="fas fa-hand-point-right hand-link-icon"></i>                                
                                @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("Deputy Chairman") ? ((Dictionary<string, string>)Session["WebLinks"])["Deputy Chairman"] : "#";}
                                <a href="@WebLinkValue" target="_blank" data-section="Home" data-subsection="About Rajya Sabha" data-module="Deputy Chairman">@RSWP_UI.Resources.Resource.DeputyChairman</a>
                                @*<a href="/Home/ChairmanDeputy">Deputy Chairman</a>*@
                            </li>
                            <li class="main-li">
                                <i class="fas fa-hand-point-right hand-link-icon"></i>
                                @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("LEADER OF THE HOUSE") ? ((Dictionary<string, string>)Session["WebLinks"])["LEADER OF THE HOUSE"] : "#";}
                                <a href="@WebLinkValue" target="_blank" data-section="Home" data-subsection="About Rajya Sabha" data-module="Leader of the House">@RSWP_UI.Resources.Resource.LeaderOfTheHouse</a>
                                @*<a href="/Home/LeaderOfHouse">Leader of the House</a>*@                                
                            </li>
                            <li class="main-li">
                                <i class="fas fa-hand-point-right hand-link-icon"></i>
                                @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("LEADER OF OPPOSITION") ? ((Dictionary<string, string>)Session["WebLinks"])["LEADER OF OPPOSITION"] : "#";}
                                <a href="@WebLinkValue" target="_blank" data-section="Home" data-subsection="About Rajya Sabha" data-module="Leader of opposition">@RSWP_UI.Resources.Resource.LeaderOfOpposition</a>
                                @*<a href="/Home/LeaderOfOpposition">Leader of opposition</a>*@
                            </li>
                            <li class="main-li">
                                <i class="fas fa-hand-point-right hand-link-icon"></i>
                                <a href="/Home/PannelOfViceChairmen" data-section="Home" data-subsection="About Rajya Sabha" data-module="Panel of Vice Chairman">@RSWP_UI.Resources.Resource.PanelOfViceChairman</a>
                            </li>
                            <li class="main-li">
                                <i class="fas fa-hand-point-right hand-link-icon"></i>
                                <a href="/Home/SecretaryGeneral" data-section="Home" data-subsection="About Rajya Sabha" data-module="Secretary General">@RSWP_UI.Resources.Resource.SecretaryGeneral</a>
                                @*<a href="/Home/SecretaryGeneral_Index">Secretary General</a>*@
                            </li>
                            <li class="main-li">
                                <i class="fas fa-hand-point-right hand-link-icon"></i>
                                <a href="/Home/ImpParliamentaryTerm" data-section="Home" data-subsection="About Rajya Sabha" data-module="Important Parliamentary Term">@RSWP_UI.Resources.Resource.ImportantParliamentaryTerm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 feature_cols">
                <div class="media feature_col">
                    <div class="media-body home-chairman-sec">
                        <div class="pic1">
                            <a href="http://164.100.47.5/Chairman-Rajyasabha/Default.aspx" target="_blank">
                                <img src="/images/mvenka.png" alt="" class="mini-border">
                                <p class="h-p">@RSWP_UI.Resources.Resource.MVenkaiahNaidu</p>
                                <p class="d-p">@RSWP_UI.Resources.Resource.Chairman, @RSWP_UI.Resources.Resource.RajyaSabha</p>
                            </a>
                        </div>
                        <div class="pic2">
                            <a href="#" target="_blank">
                                <img src="/images/hariva.png" alt="" class="mini-border">
                                <p class="h-p">@RSWP_UI.Resources.Resource.ShriHarivansh</p>
                                <p class="d-p">@RSWP_UI.Resources.Resource.DeputyChairman, @RSWP_UI.Resources.Resource.RajyaSabha</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="discover_services box-parent">
    <div class="container-fluid">
        <div class="row is-flex is-flex-none">
            <div class="col-sm-5 col-md-4 col-xs-12">
                <div class="box-left box">
                    <ul class="sideBarList" style="border-top: 0; padding-top:0;">
                        <li>
                            @{
                                flag = false;
                                foreach (var item in Model)
                                {
                                    if (item.Title.ToLower() == "e-notice")
                                    {
                            <a href="@item.URL" target="_blank">@RSWP_UI.Resources.Resource.ENotices</a>
                                        flag = true;
                                    }
                                }
                                if (!flag)
                                { <a href="#" target="_blank">@RSWP_UI.Resources.Resource.ENotices</a>}
                            }
                        </li>
                        @*<li><a href="#">E-Notices</a></li>*@

                        <li><a href="/RajyaSabhaSecretariat">@RSWP_UI.Resources.Resource.RajyaSabhaSecretariat</a></li>
                        <li><a href="/Home/VisitParliament">@RSWP_UI.Resources.Resource.VisitParliament</a></li>
                        <li><a href="/CareersInRajyaSabhaSecretariat">@RSWP_UI.Resources.Resource.CareersInRajyaSabhaSecretariat</a></li>
                        <li><a href="@Url.Action("DownloadLink","Download")">@RSWP_UI.Resources.Resource.Downloads</a></li>
                        <li><a href="@Url.Action("RightToInfo","RTI")">@RSWP_UI.Resources.Resource.RightToInformation</a></li>
                        <li><a href="@Url.Action("PressReleaseLink","PressRelease")">@RSWP_UI.Resources.Resource.PressRelease</a></li>
                        <li><a href="@Url.Action("Index","PublicationMinistries")">@RSWP_UI.Resources.Resource.PublicationsOfMinistries</a></li>
                        <li><a href="http://10.21.217.43/Seowave/pdf/E_Souvenir_Item.pdf" target="_blank">@RSWP_UI.Resources.Resource.SouvenirItems</a></li>
                        <li>
                            @{
                                flag = false;
                                foreach (var item in Model)
                                {
                                    if (item.Title.ToLower() == "today in lok sabha")
                                    {
                            <a href="@item.URL" target="_blank">@RSWP_UI.Resources.Resource.TodayInLokSabha</a>
                                        flag = true;
                                    }
                                }
                                if (!flag)
                                { <a href="#" target="_blank">@RSWP_UI.Resources.Resource.TodayInLokSabha</a>}
                            }
                        </li>
                        <li>
                            @{
                                flag = false;
                                foreach (var item in Model)
                                {
                                    if (item.Title.ToLower() == "parliament library")
                                    {
                            <a href="@item.URL" target="_blank">@RSWP_UI.Resources.Resource.ParliamentLibrary</a>
                                        flag = true;
                                    }
                                }
                                if (!flag)
                                { <a href="#" target="_blank">@RSWP_UI.Resources.Resource.ParliamentLibrary</a>}
                            }
                        </li>
                        <li>
                            @{
                                flag = false;
                                foreach (var item in Model)
                                {
                                    if (item.Title.ToLower() == "digital libray-parliament of india")
                                    {
                            <a href="@item.URL" target="_blank">@RSWP_UI.Resources.Resource.DigitalLibrayParliamentOfIndia</a>
                                        flag = true;
                                    }
                                }
                                if (!flag)
                                { <a href="#" target="_blank">@RSWP_UI.Resources.Resource.DigitalLibrayParliamentOfIndia</a>}
                            }
                        </li>
                        @*<li><a href="#">Today in Lok Sabha</a></li>
                        <li><a href="#">Parliament Library</a></li>
                        <li><a href="#">Digital Libray-Parliament of India</a></li>*@

                        @*<li><a href="@Url.Action("Index","MediaAdvisoryComittee")" target="_blank">@RSWP_UI.Resources.Resource.MediaAdvisoryCommittee</a></li>*@
                        <li style="border-bottom:0"><a href="@Url.Action("Index","Publication")" target="_blank">@RSWP_UI.Resources.Resource.Publications</a></li>
                    </ul>
                    <!--
                       <ul class="sideBarList">
                         <li><a href="#">Electronic Form</a></li>
                         <li><a href="http://164.100.47.7/Pricelist/PriceList/P_P_rajyasabha.pdf" target="_blank"> Printed Form</a></li>
                       </ul>
                       -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="box-mid box">
                    <h5 class="notice main-title center">@RSWP_UI.Resources.Resource.NoticeBoard</h5>
                    <div class="notice-sec-tabing">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#menu1">@RSWP_UI.Resources.Resource.Bulletin-II</a></li>
                            <li><a data-toggle="tab" href="#menu2">@RSWP_UI.Resources.Resource.Events</a></li>
                            <li><a data-toggle="tab" href="#menu3">@RSWP_UI.Resources.Resource.Recruitments</a></li>
                            <li><a data-toggle="tab" href="#menu4">@RSWP_UI.Resources.Resource.RSTV</a></li>
                            <li><a data-toggle="tab" href="#menu5">@RSWP_UI.Resources.Resource.Tenders</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="menu1" class="tab-pane fade in active">
                                <ul class="notice-ul">
                                    <li><a href="#"><i class="fas fa-angle-double-right hand-link-icon"></i>@RSWP_UI.Resources.Resource.TechnicalPostInParliamentSecurityService</a><i class="fas fa-file-pdf pdf-r"></i><a class="new-b">NEW</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right hand-link-icon"></i>@RSWP_UI.Resources.Resource.SelectionOfEditorInChiefInRajyaSabhaTelevision</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right hand-link-icon"></i>@RSWP_UI.Resources.Resource.DownloadADMITCARD (@RSWP_UI.Resources.Resource.AdvtNo 1/2016)</a><i class="fas fa-file-pdf pdf-r"></i><a class="new-b">NEW</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right hand-link-icon"></i>@RSWP_UI.Resources.Resource.SelectCommiteeReportOnThePreventionOfCorruptionAmendmentBill2013</a><i class="fas fa-file-pdf pdf-r"></i><a class="new-b">NEW</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right hand-link-icon"></i>@RSWP_UI.Resources.Resource.TheConstitution122ndAmendmentBill2014Info</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right hand-link-icon"></i>@RSWP_UI.Resources.Resource.DebateOnTheConstitutionBillInfo</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right hand-link-icon"></i>@RSWP_UI.Resources.Resource.TheConstitution122ndAmendmentBill2014Info</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right hand-link-icon"></i>@RSWP_UI.Resources.Resource.TheConstitution122ndAmendmentBill2014Info</a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right hand-link-icon"></i>@RSWP_UI.Resources.Resource.TheConstitution122ndAmendmentBill2014Info</a></li>
                                </ul>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                            </div>
                            <div id="menu3" class="tab-pane fade">
                            </div>
                            <div id="menu4" class="tab-pane fade">
                            </div>
                            <div id="menu5" class="tab-pane fade">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-3 col-xs-12">
                <div class="box-left box">
                    <div class="map-home">
                        <p><img src="/images/map.png" alt=""></p>
                        <div class="searchMP"><input type="text" placeholder="@RSWP_UI.Resources.Resource.KnowYourMP" class="form-control"><button class="btn btn-primary">@RSWP_UI.Resources.Resource.Go</button></div>
                    </div>
                    <ul id="internal-ul" class="notice-ul">
                        <li class="main-li"><i class="fas fa-hand-point-right hand-link-icon"></i><a href="http://10.21.217.43/Seowave/pdf/Parliament_of_India.pdf" target="_blank">@RSWP_UI.Resources.Resource.AboutIndianParliament</a></li>
                        <li class="main-li"><i class="fas fa-hand-point-right hand-link-icon"></i><a href="http://10.21.217.43/Seowave/pdf/RAJYA%20SABHA.pdf" target="_blank"> @RSWP_UI.Resources.Resource.RajyaSabha - @RSWP_UI.Resources.Resource.Introduction</a></li>
                        <li class="main-li"><i class="fas fa-hand-point-right hand-link-icon"></i><a href="http://10.21.217.43/Seowave/pdf/two_house_parliament.pdf" target="_blank">@RSWP_UI.Resources.Resource.TwoHousesofParliament</a></li>
                        <li class="main-li">
                            <i class="fas fa-hand-point-right hand-link-icon"></i>
                            <a href="@Url.Action("Index","OpeningParliament")">
                           @RSWP_UI.Resources.Resource.OpeningOfParliamentByPresidentOfIndia
                            </a>
                        </li>
                        <li class="main-li"><i class="fas fa-hand-point-right hand-link-icon"></i><a href="@Url.Action("Index","ConstituentAssembly")">@RSWP_UI.Resources.Resource.ConstituentAssembly</a></li>
                        <li class="main-li"><i class="fas fa-hand-point-right hand-link-icon"></i><a href="http://10.21.217.43/Seowave/pdf/jic_gangele_report.pdf" target="_blank">@RSWP_UI.Resources.Resource.ReportsOfJudgesInquiryCommittee </a></li>
                        @*<li class="main-li">
                            <i class="fas fa-hand-point-right hand-link-icon"></i><a href="@Url.Action("About","ChairmenRajyaSabha")">
                                @RSWP_UI.Resources.Resource.DrSRadhakrishnan @RSWP_UI.Resources.Resource.ChairAnd 
                                @RSWP_UI.Resources.Resource.RajyaSabha @RSWP_UI.Resources.Resource.Fellowships
                            </a>
                        </li>*@
                        <li class="main-li"><i class="fas fa-hand-point-right hand-link-icon"></i><a href="@Url.Action("Index","Resolution")">@RSWP_UI.Resources.Resource.ResolutionsAdoptedSpecialSittings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row gallery-section">
    <div class="row m0 page_packages page_pricing contentRow">
        <div class="container-fluid">
            <div class="row">
                <h2 class="main-title center"><a href="@Url.Action("GalleryView","Gallery")">@RSWP_UI.Resources.Resource.MediaGallery</a></h2>
            </div>
            <div id="gallery-slider">
                <ul class="gallery-slider">
                    <li><img src="/images/1.jpg" alt="Los Angeles" class="c-w"> </li>
                    <li><img src="/images/2.jpg" alt="Los Angeles" class="c-w"> </li>
                    <li><img src="/images/3.jpg" alt="Los Angeles" class="c-w"> </li>
                    <li><img src="/images/4.jpg" alt="Los Angeles" class="c-w"> </li>
                    <li><img src="/images/5.jpg" alt="Los Angeles" class="c-w"> </li>
                    <li><img src="/images/6.jpg" alt="Los Angeles" class="c-w"> </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="row Graphical-Analysis-sec">
    <div class="row m0 page_packages page_pricing contentRow">
        <div class="container-fluid">
            <div class="row">
                <h5 class="main-title center"><a href="/Graphical/Graphical_Analysis">@RSWP_UI.Resources.Resource.GraphicalAnalysis</a></h5>
            </div>
            <div class="row">
                <div class="col-md-12 is-flex is-flex-none">
                    <div class="graph-box">
                        <h3>@RSWP_UI.Resources.Resource.PartyWiseMembers</h3>
                        <img src="/images/member-chart.png" alt="">
                    </div>
                    <div class="graph-box">
                        <h3>@RSWP_UI.Resources.Resource.GenderWiseMembers</h3>
                        <img src="/images/gender-graph.png" alt="">
                    </div>
                    <div class="graph-box">
                        <h3>@RSWP_UI.Resources.Resource.BillsIntroduced</h3>
                        <img src="/images/bills-graph.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="innerContent mem-notice-inc">
    <div class="container-fluid">
        <div class="row is-flex is-flex-none">
            <div class="col-sm-6 col-md-4 col-lg-2 item col-xs-6">
                <div class="card">
                    <div onclick="GetDataListNPA(6);" class="card-body pb-0">
                        <span class="count">0</span>
                        <p>@RSWP_UI.Resources.Resource.QuestionsNotices <span>(@RSWP_UI.Resources.Resource.Since2000)</span></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 item col-xs-6">
                <div class="card">
                    <div class="card-body pb-0">
                        <span class="count">311</span>
                        <p>@RSWP_UI.Resources.Resource.OtherNotices <span>(@RSWP_UI.Resources.Resource.Since1952)</span></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 item col-xs-6">
                <div class="card">
                    <div class="card-body pb-0">
                        <span class="count">0</span>
                        <p>@RSWP_UI.Resources.Resource.BillsIntroduced <span>(@RSWP_UI.Resources.Resource.Since1952)</span> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 item col-xs-6">
                <div class="card">
                    <div class="card-body pb-0">
                        <span class="count">19</span>
                        <p>@RSWP_UI.Resources.Resource.BillsPassed <span>(@RSWP_UI.Resources.Resource.Since1952)</span></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 item col-xs-6">
                <div class="card">
                    <div class="card-body pb-0">
                        <span class="count">3</span>
                        <p>@RSWP_UI.Resources.Resource.SittingMembers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 item col-xs-6">
                <div class="card">
                    <div class="card-body pb-0">
                        <span class="count">242</span>
                        <p>@RSWP_UI.Resources.Resource.FormerMembers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 item col-xs-6">
                <div class="card">
                    <div class="card-body pb-0">
                        <span class="count">242</span>
                        <p>@RSWP_UI.Resources.Resource.CommitteeReports</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



