﻿
@{
    ViewBag.Title = "LeaderOfHouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenuAboutRS")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>


                <div class="graph-sec single-member-content">

                    <div class="member-pic">
                        <div class="pic">
                            <img src="~/images/leader-of-house.jpg" alt="">

                        </div>
                        <div class="info">
                            <p>Shri Thaawarchand Gehlot </p>
                            <p class="rajyatext">@RSWP_UI.Resources.Resource.MemberOfParliamentAndLeaderOfHouse (@RSWP_UI.Resources.Resource.RajyaSabha)</p>
                        </div>
                    </div>
                    <div id="gen" class="tab-pane fade in active">

                        <div class="profile-head">
                            <h4>@RSWP_UI.Resources.Resource.Profile</h4>
                        </div>
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">


                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Name:</td>
                                    <td>Shri Thaawarchand Gehlot </td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.FathersName </td>
                                    <td>Shri Ramlal Gehlot</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.MotherName :</td>
                                    <td>Shrimati Suman Bai</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.DateOfBirth :</td>
                                    <td>18 May 1948</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PlaceOfBirth :</td>
                                    <td>Village Rupeta (Nagda), Distt. Ujjain (Madhya Pradesh)</td>
                                </tr>
                                <tr>
                                    <td> @RSWP_UI.Resources.Resource.MaritalStatus : </td>
                                    <td>Married on 1 May 1965</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SpousesName : </td>
                                    <td>Shrimati Anita Gehlot</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Children : </td>
                                    <td>Three sons and one daughter</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EducationalQualification :</td>
                                    <td>B.A., D.Litt. Educated at Vikram University, Ujjain, Madhya Pradesh Dr. Bhimrao Ambedkar University of Social Sciences, Mhow, Madhya Pradesh</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Profession :</td>
                                    <td>Business</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PermanentAddress:</td>
                                    <td>56 Block, Maharana Pratap Nagar, Nagda Junction, District Ujjain, Madhya Pradesh.456335 Tel. - {07366} 246635(R), Mobile : 09425091516</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PresentAddress :</td>
                                    <td>
                                        4, Janpath, New Delhi110001 Tel. - 23012175,23012195, Fax: 23782711, Mobile: 9013181955
                                        E-mail   :tc.gehlot@sansad.nic.in
                                    </td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EMail : </td>
                                    <td>wahab.pv@sansand.nic.in</td>
                                </tr>




                            </table>

                            <div class="panel-group profile-accordian" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">@RSWP_UI.Resources.Resource.PositionsHeld:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>1980-84, 1990-92 and 1993-96	Member, Madhya Pradesh Legislative Assembly (three terms) 1980-84 and 1990-92	Member, Committee on Estimates, Madhya Pradesh Legislative Assembly Member, Labour Advisory Committee, Madhya Pradesh Legislative Assembly 1990-92	Minister of State, Water Resources, Narmada Valley Development, Panchayat and Rural Development, Antyodaya Programme and Implementation of 20-Point Programme, Government of Madhya Pradesh 1993-96	Member, Committee on Estimates, Madhya Pradesh Legislative Assembly 1996-97	Member, Eleventh Lok Sabha 1996-97 and 1999-2000	Member, Committee on Agriculture Member, Consultative Committee for the Ministry of Labour 1996-97, 1998-99, 1999-2000 and 2000-2001	Member, Committee on the Welfare of Scheduled Castes and Scheduled Tribes 1998-99	Member, Twelfth Lok Sabha (second term) Member, Committee on Labour and Welfare Member, Consultative Committee for the Ministry of Industry 1999	Whip, B.J.P. Parliamentary Party in Lok Sabha 1999-2004	Member, Thirteenth Lok Sabha (third term) 1999-2000	Member, Committee on Agriculture 2000-2001	Member, Committee on the Empowerment of Women 2000-2004	Member, Consultative Committee for the Ministry of External Affairs Member, Business Advisory Committee 2004-2009	Member, Fourteenth Lok Sabha (fourth term) Member, Committee on Official Language Member, Committee on Labour April 2012 Elected to Rajya Sabha May 2012 - May 2014 Member, Committee on Labour Member, Committee on the Welfare of Scheduled Castes and Scheduled Tribes Aug. 2012 - May 2014	Member, Consultative Committee for the Ministry of Road Transport and Highways Aug. 2012 onwards Member, Central Advisory Committee for Building and Other Construction Workers Welfare (BOCW) 27 May 2014 onwards	Minister of Social Justice and Empowerment Jan. 2015 onwards	Special Invitee Member, Niti Aayog April 2018	Re-elected to Rajya Sabha (second term) 30 May 2019 onwards	Minister of Social Justice and Empowerment 17 June 2019 onwards	Leader of the House, Rajya Sabha July 2019 onwards	Member, General Purposes Committee</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">@RSWP_UI.Resources.Resource.FreedomFighter :</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i>No</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">@RSWP_UI.Resources.Resource.BooksPublished :</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            No
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                @RSWP_UI.Resources.Resource.SocialAndCulturalActivitiesLiteraryArtisticScientificEtc :
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Contributed articles in Vidhayani – a quarterly Journal published by Madhya Pradesh Legislative Assembly; made efforts to eradicate the social evils rituals and conservatism from the society through Balai Samaj; active in the above tasks through social and political organisations since 1960; social and political activities; completed 310 km Padayatra in 11 days to promote literacy in 1991 in Aalot Vidhan Sabha Constituency; interest in cultural programmes.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"> @RSWP_UI.Resources.Resource.SportsClubsFavouritePastimesandRecreation :</a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Swimming, kabaddi, volleyball and gymnastics; Office bearer, (i) Kabaddi Association and (ii) Shivaji Kreeda Mandal, Nagda, Ujjain; enjoys cultural plays, songs and sports</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">@RSWP_UI.Resources.Resource.CountriesVisited:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> U.S.A., represented India as a member of Indian Delegation to United Nations, 1998 and 2007; Durban (South Africa), to attend world conference against Racism, Racial Discrimination, 2001; China, and Australia for Study Tour in 2012 and 2013 as a Member of Indian Parliamentary Delegation; accompanied the President of India on official visit to Jordon, Israel and Palestine, Oct. 2015; Edinburgh (Scotland) to attend 23rd International Rehabilitation Conference, Oct. 2016; London (U.K.), to visit the Dr. Ambedkar Memorial Home, Oct., 2016; Beijing (China), to participate in high level inter governmental meeting on Mid Point Review of the Asian and Pacific Decades of PWDS, Nov. 2017</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">@RSWP_UI.Resources.Resource.OtherInformation:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Remained in judicial custody many times in various movements and kept in jails 1966 to 1970; remained in judicial custody for 10 months in Bhairavgarh jail, Distt. Ujjain in 1971; detained under the Maintenance of Internal Security Act (M.I.S.A.) in Bhairavgarh, district jail, Ujjain during Emergency, 1975-76; detained in connection with political agitations in Ujjain, Bhopal and Delhi; Conferred, Best Legislator Award by the Madhya Pradesh Legislative Assembly, 19 March 1996; worked as a labour in Grasim Industries, Birla Udyog, Nagda Junction, Ujjain District, Madhya Pradesh, 1965-70; Secretary, Grasim Engineering Shramik Sangh affiliated to Bharatiya Mazdoor Sangh, 1967-75; Secretary, (i) Treasurer Chemical Shramik Sangh affiliated to Bharatiya Mazdoor Sangh, 1967-75, (ii) R.S.S. Shakha, Nagda Junction, Distt. Ujjain, Madhya Pradesh and (iii) Bharatiya Janata Yuva Morcha, Madhya Pradesh, 1984-86; represented, Madhya Pradesh Legislative Assembly in Bureau of Parliamentary Studies and Training (B.P.S.T.), New Delhi, 1982; Chief Organiser, Rashtriya Swayamsevak Sangh (R.S.S.) Shakha, Nagda Junctions, Distt. Ujjain, Madhya Pradesh, 1972-77; Nagar Karyavahak, R.S.S. Shakha, Nagda Junction, Distt. Ujjain, Madhya Pradesh; General Secretary and Vice-President, Janata Party (J.P.), Distt. Ujjain, Madhya Pradesh, 1977-80; Vice-President and State Secretary, Bharatiya Janata Yuva Morcha, Madhya Pradesh, 1983-84 and 1985-86; President, Bharatiya Janata Party, Distt. Ratlam, Madhya Pradesh, 1986-87; National Secretary, B.J.P., 2002-May 2004; Vice-President, B.J.P. and in-charge of North East (excluding Assam); National General Secretary, B.J.P., 2006-2014 (in-charge of Karanataka, Delhi and Uttarakhand States) and National In-charge of B.J.P. SC Morcha; Member, (i) R.S.S. Shakha, Nagda Junction, Distt. Ujjain, Madhya Pradesh, 1962-77, (ii) Bharatiya Jana Sangh, 1962-77, (iii) Senate, Vikram University Ujjain, Madhya Pradesh, 1982-85; (iv) Madhya Pradesh Sansadiya Sangh, 1996, (v) Board of Patrons, Nagda Balai Samaj Sangathan Samiti, (vi) Central Election Committee, B.J.P., since 2006 and (vii) Central Parliamentary Board, B.J.P., since 2006 (in-charge of Uttarakhand); also held various posts in several organizations of Madhya Pradesh Balai Samaj</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                    <div id="bio" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">


                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.MembersName:</td>
                                    <td>Shri Abdul Wahab</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.FathersName : </td>
                                    <td>Late Shri Alavikutty</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.MotherName :</td>
                                    <td>Shrimati Fathima1</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.DateOfBirth :</td>
                                    <td>1 July 1950</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PlaceOfBirth :</td>
                                    <td>Nilambur, Distt. Malappuram (Kerala)</td>
                                </tr>
                                <tr>
                                    <td> @RSWP_UI.Resources.Resource.MaritalStatus : </td>
                                    <td>Married on 22 December 1976</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SpousesName : </td>
                                    <td>Shrimati Yasmine Wahab</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Children : </td>
                                    <td>Four sons</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EducationalQualification :</td>
                                    <td>Educated at Government Manavedan High School, Nilambur and MES College, Mampad, Kerala</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Profession :</td>
                                    <td>Trader and Industralist,Political and Social Worker</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PermanentAddress:</td>
                                    <td>Peevees Mirage, Nilambur P.O., Malappuram District, Kerala.679329 Tel. - 04931-220542, fax:04931-221988 M:09847020911</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PresentAddress :</td>
                                    <td>402 - Swarna Jayanti Sadan Deluxe, Dr. B.D. Marg, New Delhi110001 Tel. - 23319163, 21430553, Mobile 9013181677, 9868181280</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EMail : </td>
                                    <td>wahab.pv@sansand.nic.in</td>
                                </tr>




                            </table>
                        </div>

                        <h3>@RSWP_UI.Resources.Resource.PositionsHeld:</h3>

                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Duration
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.PositionTitle
                                    </th>
                                </tr>
                                <tr>
                                    <td>April 2004</td>
                                    <td>Elected to Rajya Sabha</td>
                                </tr>
                                <tr>
                                    <td>Aug. 2004-April 2010</td>
                                    <td>Member, Committee on Social Justice and Empowerment</td>
                                </tr>
                                <tr>
                                    <td>Oct. 2004-April 2010</td>
                                    <td>Member, Consultative Committee for the Ministry of Civil Aviation</td>
                                </tr>

                                <tr>
                                    <td>April 2015</td>
                                    <td>Elected to Rajya Sabha (second term)</td>
                                </tr>
                                <tr>
                                    <td>Sept. 2015 - June 2018</td>
                                    <td>Member,Committee on Rules</td>
                                </tr>
                                <tr>
                                    <td>Sept. 2015 onwards</td>
                                    <td>Member,Committee on Chemicals and Fertilizers</td>
                                </tr>
                                <tr>
                                    <td>June 2016 onwards</td>
                                    <td>Member, Railway Convention Committee</td>
                                </tr>

                            </table>

                        </div>

                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.FreedomFighter : </td>
                                    <td>NO</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.BooksPublished: </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SocialAndCulturalActivitiesLiteraryArtisticScientificEtc :</td>
                                    <td>Chairman, (i) Peevees Charitable Trust and (ii) Keraleeyam; President (i) Nilambur Orphanage and (ii) Peevees Public School</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SportsClubsFavouritePastimesandRecreation :</td>
                                    <td>Reading, football, cricket, listening to music and news</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.CountriesVisited :</td>
                                    <td>Widely travelled</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.OtherInformation:</td>
                                    <td>Chairman, Calicut Airport Development Committee, 1994-2004</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="ques" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        QN
                                    </th>
                                    <th>
                                        Q.TYPE
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.DATE
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.MINISTRY
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Subject
                                    </th>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>

                            </table>



                        </div>
                        <div class="qa-paging">
                            <ul class="pager">
                                <li class="previous"><a href="#">@RSWP_UI.Resources.Resource.Previous</a></li>
                                <li class="next"><a href="#">@RSWP_UI.Resources.Resource.Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="assu" class="tab-pane fade">
                        @RSWP_UI.Resources.Resource.Assurances
                    </div>
                    <div id="comm" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        @RSWP_UI.Resources.Resource.CommiteeName
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.MembershipFrom
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Status
                                    </th>

                                </tr>
                                <tr>
                                    <td>Chemicals and Fertilizers</td>
                                    <td>01/09/2018</td>
                                    <td>Member</td>

                                </tr>
                                <tr>
                                    <td>Railway Convention Committee</td>
                                    <td>20/06/2016</td>
                                    <td>Member</td>

                                </tr>


                            </table>



                        </div>
                    </div>
                    <div id="spec" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        @RSWP_UI.Resources.Resource.SNo
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.MADEDATE
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Subject
                                    </th>
                                    <th>@RSWP_UI.Resources.Resource.MINISTRYCONCERNED</th>
                                    <th>@RSWP_UI.Resources.Resource.REPLYFROMMINISTRYSENT_Y_N</th>

                                </tr>
                                <tr>
                                    <td>125</td>
                                    <td>13/05/2015 (235)</td>
                                    <td><a href="#">DEMAND FOR TAKING STEPS FOR REHABILITATION OF NURSES EVACUATED FROM YEMEN, LIBYA AND OTHER GULF COUNTRIES</a></td>
                                    <td>EXTERNAL AFFAIRS</td>
                                    <td>Final Reply 29/06/2016</td>

                                </tr>
                                <tr>
                                    <td>125</td>
                                    <td>13/05/2015 (235)</td>
                                    <td><a href="#">DEMAND FOR TAKING STEPS FOR REHABILITATION OF NURSES EVACUATED FROM YEMEN, LIBYA AND OTHER GULF COUNTRIES</a></td>
                                    <td>EXTERNAL AFFAIRS</td>
                                    <td>Final Reply 29/06/2016</td>

                                </tr>


                            </table>



                        </div>
                    </div>
                    <div id="deb" class="tab-pane fade">
                        <p><a href="#">@RSWP_UI.Resources.Resource.VerbatimDebates (189th Session onwards)</a></p>
                        <p><a href="#">@RSWP_UI.Resources.Resource.OfficialDebates (From 13th May 1952 onwards)</a></p>
                    </div>
                    <div id="bill" class="tab-pane fade">
                        <p>@RSWP_UI.Resources.Resource.NoBillsIntroducedByMe!</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

