﻿
@{
    ViewBag.Title = "LeaderOfOpposition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenuAboutRS")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>


                <div class="graph-sec single-member-content">

                    <div class="member-pic">
                        <div class="pic">
                            <img src="~/images/gulam-nabi.jpg" alt="">

                        </div>
                        <div class="info">
                            <p>Shri Ghulam Nabi Azad</p>
                            <p class="rajyatext">@RSWP_UI.Resources.Resource.MemberOfParliamentAndLeaderOfOpposition (@RSWP_UI.Resources.Resource.RajyaSabha)</p>
                        </div>
                    </div>
                    <div id="gen" class="tab-pane fade in active">

                        <div class="profile-head">
                            <h4>@RSWP_UI.Resources.Resource.Profile</h4>
                        </div>
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">


                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Name:</td>
                                    <td>Shri Ghulam Nabi Azad</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.FathersName : </td>
                                    <td>Shri Rahamatullah</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.MotherName :</td>
                                    <td>Shrimati Basa Begum</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.DateOfBirth :</td>
                                    <td>7 March 1949</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PlaceOfBirth :</td>
                                    <td>Village Soti, Bhadarwah, Distt. Doda (Jammu & Kashmir)</td>
                                </tr>
                                <tr>
                                    <td> @RSWP_UI.Resources.Resource.MaritalStatus : </td>
                                    <td>Married on 27 March 1980</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SpousesName : </td>
                                    <td>Shrimati Shameem Dev Azad</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Children : </td>
                                    <td>One son and one daughter</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EducationalQualification :</td>
                                    <td>M.Sc. (Zoology) Educated at Kashmir University, Srinagar</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Profession :</td>
                                    <td>Political and Social Worker</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PermanentAddress:</td>
                                    <td>Bungalow No. 2, Panama Chowk, Gandhi Nagar, Jammu.180004 H.No. 9, Hyderpora Byepass, Srinagar, J&K</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PresentAddress :</td>
                                    <td>5, South Avenue Lane, New Delhi -110011 Tel. - 23792052, 23792944,23013292</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EMail : </td>
                                    <td>azadg@sansand.nic.in</td>
                                </tr>




                            </table>

                            <div class="panel-group profile-accordian" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">@RSWP_UI.Resources.Resource.PositionsHeld:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>1980-84 Member, Seventh Lok Sabha 1980-82 Member, Committee on Public Undertakings Member, Consultative Committee for the Ministry of Defence 1982-83 Union Deputy Minister in the Ministry of Law, Justice and Company Affairs 1983-84 Union Deputy Minister in the Ministry of Information and Broadcasting 1985-89 Member, Eighth Lok Sabha (second term) Dec.1984 - May 1986	Union Minister of State in the Ministry of Parliamentary Affairs May 1986 - Oct. 1986 Union Minister of State in the Ministry of Home Affairs Oct. 1986 - Sept. 1987	Union Minister of State in the Ministry of Food and Civil Supplies April 1990 Elected to Rajya Sabha June 1991 - Dec. 1992 Union Minister of Parliamentary Affairs Jan. 1993 - May 1996	Union Minister of Parliamentary Affairs; and Union Minister of Civil Aviation and Tourism Nov. 1996 Re-elected to Rajya Sabha (second term) July 1998- Oct. 2005 Member, Committee on Energy Member, Rajghat Samadhi Committee Dec. 1999 - Feb. 2004	Member, Committee on Transport, Tourism and Culture May 2000 - Feb. 2004	Member, J.P.C. on the Functioning of Wakf Boards Nov. 2002	Re-elected to Rajya Sabha (third term) 2004 - 2005 Chairman, Rajghat Samadhi Committee May 2004 - Oct. 2005	Union Minister of Parliamentary Affairs and Minister of Urban Development Nov. 2005 - July 2008	Chief Minister, Jammu and Kashmir April 2006	Elected to Jammu and Kashmir Legislative Assembly with the highest number of votes in the history of the state Dec. 2008	Re-elected to Jammu and Kashmir Legislative Assembly with the highest number of votes in the state Feb. 2009 Elected to Rajya Sabha (fourth term) May 2009 - May 2014	Union Minister of Health and Family Welfare Jan. 2010 - May 2014	Vice-President, Parliamentary Forum on Population and Public Health Feb. - May 2014	Union Minister of Water Resources (Additional Charge) June 2014 onwards	Leader of the Opposition, Rajya Sabha Aug. 2014 onwards	Member, General Purposes Committee Oct. 2014 - Feb. 2015 and Oct. 2016 - May 2019 Member, Committee on Installation of Portraits/Statues of National Leaders and Parliamentarians in Parliament House Complex Feb. 2015	Re-elected to Rajya Sabha (fifth term)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">@RSWP_UI.Resources.Resource.FreedomFighter :</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>No</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">@RSWP_UI.Resources.Resource.BooksPublished :</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>No</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                @RSWP_UI.Resources.Resource.SocialAndCulturalActivitiesLiteraryArtisticScientificEtc :
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Organising camps, symposia and seminars on the teachings of Mahatma Gandhi</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">@RSWP_UI.Resources.Resource.SportsClubsFavouritePastimesandRecreation :</a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><i class="fas fa-hand-point-right hand-link-icon"></i> Gardening and photography</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">@RSWP_UI.Resources.Resource.CountriesVisited:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>Widely travelled to more than eighty countries across the world; led more than eighty official delegations to different parts of the world, in different capacities as Minister and Party General Secretary since 1982; represented India and addressed ‘The UN General Assembly’ at New York on Prevention and Control of Non-Communicable Diseases’, September 2011; addressed the 66th World Health Assembly at U.N. Headquarters at Geneva in May 2013</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">@RSWP_UI.Resources.Resource.OtherInformation:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>Conferred, (i) ‘Indian Parliamentary Group’s Outstanding Parliamentarian Award-2015’ by the Hon’ble President of India on 1 August 2018 and (ii) ‘Lokmat Best Parliamentarian Award 2018’ by the Hon’ble Vice-President of India on 13 December, 2018; Secretary, Block Congress Committee, 1973-75; President, (i) State Youth Congress, Jammu and Kashmir, 1975 - 77, (ii) District Congress Committee, Doda, J & K, 1977 - 80, (iii) All India Muslim Youth Conference associated with Congress, 1979 - 80, (iv) All India Youth Congress, 1980 - 82 and (v) J&K Pradesh Congress Committee, 2002-03; General Secretary, (i) All India Youth Congress, 1977 - 80 and (ii) All India Congress Committee for more than fifteen times with six AICC President and has been incharge for almost all the States and Union Territories since 1987; Convener, (i) Central Campaign Committee of AICC for 1998 Parliamentary elections and (ii) AICC Committee for Golden Jubilee Celebrations of India’s Independence, 1997; Member, (i) Central Parliamentary Board, AICC, 1987 - 92 and (ii) Congress Working Committee since 1987; an outstanding N.C.C. Cadet in Government Degree College, Bhadarwah, G.G.M. Science College and S.P. College, Srinagar; courted arrest more than a dozen times and jailed during the Janata Government (1977-79) in different parts of the country for agitation against the Janata Party; Cultural Secretary and elected representative of Post Graduate Department of Zoology, Kashmir University; Chairman, First International Youth Conference, Delhi, 1970-72; Director, Board of Directors in the Associated Journals Limited, publishers of National Herald, 1982; Member, (i) Bazam-i-Adab, S.P. College, Srinagar, 1967-68, (ii) Anti-Copying Front, S.P. College, Srinagar, 1967-68, (iii) Peace Committee, G.G.M. Science College, Jammu, 1967-69, (iv) National Integration Committee, G.G.M. Science College, Jammu, 1967-69, (v) Jammu and Kashmir Gandhi Centenary Committee, 1969, (vi) Publication of Journals and Beautification of Campus Committee, Kashmir University, 1970-72, (vii) Jammu and Kashmir Gandhi Smarak Nidhi (as Member and Organiser of Jammu and Kashmir Gandhi Smarak Nidhi, 1970-75, organized hundreds of camps, symposia and seminars on teachings of Mahatma Gandhi), (viii) Delegation to the 11th World Youth and Students' Festival, Havana (Cuba), 1978, (ix) Central Haj Committee, 1980-82,(x) Governing Council, Rajaji International Institute of Public Affairs and Admin., 1980-82, (xi) Jammu and Kashmir Bhoodan Committee, (xii) Parliamentary Delegation to Mexico and Greece and (xiii) Indian Parliamentary Group; Leader, (i) Indian Delegation of Sarvodaya to Sri Lanka to visit one thousand Gandhian model villages, 1973, (ii) Youth Congress Delegation to Yugoslavia, Czechoslovakia, Romania and Russia, 1980-82, (iii) Young M.P.s' Delegation to Iraq, 1981, (iv) Indian Goodwill Haj Delegation to Saudi Arabia, 1987, (v) Indian Parliamentary Delegation to Sweden, 1991 as Parliamentary Affairs Minister, (vi) Indian Parliamentary Delegation in the Inter-Parliamentary Union meeting held in New Delhi, 1992 as Parliamentary Affairs Minister and (vii) a number of Congress Party and Ministry of Civil Aviation Delegations to more than three dozen countries; led the Haj Delegation to Saudi Arabia (four times)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">@RSWP_UI.Resources.Resource.RTI:</a>
                                        </h4>
                                    </div>
                                    <div id="collapse7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li>
                                                    Shri Simanchala Dash,IRS<br />
                                                    Secretary to LOP <br />
                                                    Appellate Authority under section 19(1) of the RTI Act, 2005<br />
                                                    Tel No.23016707, 23034883 <br />
                                                    Fax No.23793433

                                                </li>
                                                <li>
                                                    Shri S.P. Bhatia,<br />
                                                    PA Central Public Information Officer (CPIO) <br />
                                                    Office of Leader of Opposition (RS) Immediate effect under section 5(1) of the RTI Act, 2005<br />
                                                    Room no. 43,Parliament House New Delhi-110001 <br />
                                                    Tel No.23016707, 23034883<br />
                                                    Fax No.23793433

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                    <div id="bio" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">


                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.MembersName:</td>
                                    <td>Shri Abdul Wahab</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.FathersName : </td>
                                    <td>Late Shri Alavikutty</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.MotherName :</td>
                                    <td>Shrimati Fathima1</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.DateOfBirth :</td>
                                    <td>1 July 1950</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PlaceOfBirth :</td>
                                    <td>Nilambur, Distt. Malappuram (Kerala)</td>
                                </tr>
                                <tr>
                                    <td> @RSWP_UI.Resources.Resource.MaritalStatus : </td>
                                    <td>Married on 22 December 1976</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SpousesName : </td>
                                    <td>Shrimati Yasmine Wahab</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Children : </td>
                                    <td>Four sons</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EducationalQualification :</td>
                                    <td>Educated at Government Manavedan High School, Nilambur and MES College, Mampad, Kerala</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Profession :</td>
                                    <td>Trader and Industralist,Political and Social Worker</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PermanentAddress:</td>
                                    <td>Peevees Mirage, Nilambur P.O., Malappuram District, Kerala.679329 Tel. - 04931-220542, fax:04931-221988 M:09847020911</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.PresentAddress :</td>
                                    <td>402 - Swarna Jayanti Sadan Deluxe, Dr. B.D. Marg, New Delhi110001 Tel. - 23319163, 21430553, Mobile 9013181677, 9868181280</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.EMail : </td>
                                    <td>wahab.pv@sansand.nic.in</td>
                                </tr>




                            </table>
                        </div>

                        <h3>@RSWP_UI.Resources.Resource.PositionsHeld:</h3>

                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Duration
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.PositionTitle
                                    </th>
                                </tr>
                                <tr>
                                    <td>April 2004</td>
                                    <td>Elected to Rajya Sabha</td>
                                </tr>
                                <tr>
                                    <td>Aug. 2004-April 2010</td>
                                    <td>Member, Committee on Social Justice and Empowerment</td>
                                </tr>
                                <tr>
                                    <td>Oct. 2004-April 2010</td>
                                    <td>Member, Consultative Committee for the Ministry of Civil Aviation</td>
                                </tr>

                                <tr>
                                    <td>April 2015</td>
                                    <td>Elected to Rajya Sabha (second term)</td>
                                </tr>
                                <tr>
                                    <td>Sept. 2015 - June 2018</td>
                                    <td>Member,Committee on Rules</td>
                                </tr>
                                <tr>
                                    <td>Sept. 2015 onwards</td>
                                    <td>Member,Committee on Chemicals and Fertilizers</td>
                                </tr>
                                <tr>
                                    <td>June 2016 onwards</td>
                                    <td>Member, Railway Convention Committee</td>
                                </tr>

                            </table>

                        </div>

                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.FreedomFighter </td>
                                    <td>NO</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.BooksPublished: </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SocialAndCulturalActivitiesLiteraryArtisticScientificEtc :</td>
                                    <td>Chairman, (i) Peevees Charitable Trust and (ii) Keraleeyam; President (i) Nilambur Orphanage and (ii) Peevees Public School</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.SportsClubsFavouritePastimesandRecreation :</td>
                                    <td>Reading, football, cricket, listening to music and news</td>
                                </tr>
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.CountriesVisited:</td>
                                    <td>Widely travelled</td>
                                </tr>

                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.OtherInformation :</td>
                                    <td>Chairman, Calicut Airport Development Committee, 1994-2004</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="ques" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        QN
                                    </th>
                                    <th>
                                        Q.TYPE
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.DATE
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.MINISTRY
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Subject
                                    </th>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>
                                <tr>
                                    <td><a href="#">2956</a></td>
                                    <td>UNSTARRED</td>
                                    <td>08.01.2019</td>
                                    <td>HEALTH AND FAMILY WELFARE Healthcare initiatives undertaken in Kerala</td>
                                    <td>Healthcare initiatives undertaken in Kerala</td>
                                </tr>

                            </table>



                        </div>
                        <div class="qa-paging">
                            <ul class="pager">
                                <li class="previous"><a href="#">@RSWP_UI.Resources.Resource.Previous</a></li>
                                <li class="next"><a href="#">@RSWP_UI.Resources.Resource.Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="assu" class="tab-pane fade">
                        @RSWP_UI.Resources.Resource.Assurances
                    </div>
                    <div id="comm" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        @RSWP_UI.Resources.Resource.CommiteeName
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.MembershipFrom
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Status
                                    </th>

                                </tr>
                                <tr>
                                    <td>Chemicals and Fertilizers</td>
                                    <td>01/09/2018</td>
                                    <td>Member</td>

                                </tr>
                                <tr>
                                    <td>Railway Convention Committee</td>
                                    <td>20/06/2016</td>
                                    <td>Member</td>

                                </tr>


                            </table>



                        </div>
                    </div>
                    <div id="spec" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <table class="table table-striped single-member-table">
                                <tr>
                                    <th>
                                        @RSWP_UI.Resources.Resource.SNo
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.MADEDATE
                                    </th>
                                    <th>
                                        @RSWP_UI.Resources.Resource.Subject
                                    </th>
                                    <th>@RSWP_UI.Resources.Resource.MINISTRYCONCERNED</th>
                                    <th>@RSWP_UI.Resources.Resource.REPLYFROMMINISTRYSENT_Y_N</th>

                                </tr>
                                <tr>
                                    <td>125</td>
                                    <td>13/05/2015 (235)</td>
                                    <td><a href="#">DEMAND FOR TAKING STEPS FOR REHABILITATION OF NURSES EVACUATED FROM YEMEN, LIBYA AND OTHER GULF COUNTRIES</a></td>
                                    <td>EXTERNAL AFFAIRS</td>
                                    <td>Final Reply 29/06/2016</td>

                                </tr>
                                <tr>
                                    <td>125</td>
                                    <td>13/05/2015 (235)</td>
                                    <td><a href="#">DEMAND FOR TAKING STEPS FOR REHABILITATION OF NURSES EVACUATED FROM YEMEN, LIBYA AND OTHER GULF COUNTRIES</a></td>
                                    <td>EXTERNAL AFFAIRS</td>
                                    <td>Final Reply 29/06/2016</td>

                                </tr>


                            </table>



                        </div>
                    </div>
                    <div id="deb" class="tab-pane fade">
                        <p><a href="#">@RSWP_UI.Resources.Resource.VerbatimDebates (189th Session onwards)</a></p>
                        <p><a href="#">@RSWP_UI.Resources.Resource.OfficialDebates (From 13th May 1952 onwards)</a></p>
                    </div>
                    <div id="bill" class="tab-pane fade">
                        <p>@RSWP_UI.Resources.Resource.NoBillsIntroducedByMe!</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
