﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.SecretaryGeneral</h4>
        <ul class="sideBarList height-s">
            <li><a href="@Url.Action("SecretaryGeneral_Menu", new { sgType = "present" })" data-section="Home" data-subsection="Secretary General" data-module="Present">@RSWP_UI.Resources.Resource.Present</a></li>
            <li><a href="@Url.Action("SecretaryGeneral_Menu", new { sgType = "former" })" data-section="Home" data-subsection="Secretary General" data-module="Former">@RSWP_UI.Resources.Resource.Former</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        @*<h4>Other Links</h4>*@
        <ul class="sideBarList">
            <li><a href="#"></a></li>
            <li><a href="@Url.Action("MinistryWiseNodalOfficers")"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
    <div class="sectionBox">
        @*<h4><a href="graphical-analysis.html">Graphical Analysis</a></h4>*@

    </div>
</div>

