﻿@using RSWP_UI.Models;
@model POVCModelView

@{
    ViewBag.Title = "Pannel Of Vice Chairmen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
previous code in "PresidingOfficer_Index.cshtml"
-->


<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenuAboutRS")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>

                <div class="graph-sec single-member-content">

                    <div class="searchResulltTabl" style="text-align: left">
                        <h3 class="secondary-title">@RSWP_UI.Resources.Resource.PRESIDINGOFFICERS</h3>
                        <ol>
                            <li><a href="@Model.CLink" target="_blank">@Model.CName</a> - @RSWP_UI.Resources.Resource.Chairman</li>
                            <li><a href="@Model.DLink" target="_blank">@Model.DCName</a> - @RSWP_UI.Resources.Resource.DeputyChairman </li>
                        </ol>

                        <h3 class="secondary-title">@RSWP_UI.Resources.Resource.PanelOfViceChairman</h3>
                        <ol>
                            @*<li><a href="#">Dr. Satyanarayan Jatiya,</a> MP</li>
                            <li><a href="#">Shri Tiruchi Siva,</a> MP</li>
                            <li><a href="#">Shri T.K. Rangarajan,</a> MP</li>
                            <li><a href="#">Shri Sukhendu Sekhar Ray,</a> MP</li>
                            <li><a href="#">Smt. Kahkashan Perween,</a> MP</li>*@

                            @if (Model.VCMmembers != null)
                            {
                                for (int i = 0; i < Model.VCMmembers.Count; i++)
                                {
                                    <li>
                                        <a href="#">@Model.VCMmembers[i].MemName</a>
                                        @*@Model.VCMmembers[i].From - @Model.VCMmembers[i].To*@
                                        MP
                                    </li>
                                }
                            }
                        </ol>
                        
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



