﻿@using RSWP_UI.Models;
@model POVCModelView

@{
    ViewBag.Title = "PANEL OF VICE-CHAIRMEN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @*@Html.Partial("Partials/leftMenu")*@
            <div class="col-sm-offset-1 boxMiddleBorder" id="question-center">
                <div class="broadComTab center">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>
                    <div class="boxSearchMid">
                        <div class="box-mid">
                            <label>@RSWP_UI.Resources.Resource.PRESIDINGOFFICERS</label>
                            <p><a href="@Model.CLink">@Model.CName</a> - @RSWP_UI.Resources.Resource.Chairman</p>
                            <p><a href="@Model.DLink">@Model.DCName</a> - @RSWP_UI.Resources.Resource.DeputyChairman</p>

                            <br />
                            <br />
                            <br />
                            <br />
                            <label>PANEL OF VICE-CHAIRMEN</label>
                            @if (Model.VCMmembers != null)
                            {
                                for (int i = 0; i < Model.VCMmembers.Count; i++)
                                {
                                    <p>
                                        <a href="#">@Model.VCMmembers[i].MemName</a>
                                        @Model.VCMmembers[i].From - @Model.VCMmembers[i].To
                                    </p>
                                }
                            }
                        </div>
                    </div>
                

            </div>
        </div>
    </div>
</section>


