﻿<div class="boxSearchMid">
    <div class="box-mid">
        <p align="center">
            <label>@RSWP_UI.Resources.Resource.SecretaryGeneral</label>
        </p>
        @foreach (var document in Model)
        {
            <p align="center">
                <img src="@Url.Content(@document.ImgPath)"  width="150" height="150"/>
            </p>
            
            <p class="sgname">@document.Name</p>
            <div class="profile">
                @Html.Raw(document.Profile)
            </div>
        }
        
    </div>
</div>

