﻿<div class="col-md-3">
    <div class="sectionBox">
        @*<h4>General Information</h4>*@
        <ul class="sideBarList height-s">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
    <div class="sectionBox">
        @*<h4>Other Links</h4>*@
        @*<ul class="sideBarList">
            <li><a href="@Url.Action("OthersLinks", new { questionsTypes = "MinistryWiseSubjects", archive="" })">Ministry wise Subjects</a></li>
            <li><a href="@Url.Action("MinistryWiseNodalOfficers")">Ministry-wise Nodal Officers</a></li>
            <li><a href="@Url.Action("OthersLinks", new { questionsTypes = "SessionWiseStatisticalReport", archive="" })">Session-wise Statistical Report</a></li>
        </ul>*@
    </div>
    <div class="sectionBox">
        @*<h4><a href="graphical-analysis.html">Graphical Analysis</a></h4>*@

    </div>
</div>

