﻿@using RSWP_UI.Models;
@model IEnumerable<SGModelView>

@{
    ViewBag.Title = "SecretaryGeneral_Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="broadComTab center">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>
                @if (ViewBag.flag == 1)
                {
                    @Html.Partial("present", Model)
                }
                else if (ViewBag.flag == 2)
                {
                    @Html.Partial("former", Model)
                }
            </div>
            @Html.Partial("rightMenu")
        </div>
    </div>
</section>

