﻿@using RSWP_UI.Models;
@model IEnumerable<SGModelView>
@{
    ViewBag.Title = "SecretaryGeneral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenuAboutRS")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>


                <div class="graph-sec single-member-content" style="text-align:left;">
                @foreach (var document in Model)
                {
                    <div class="member-pic">
                        <div class="pic">
                            <img src="@Url.Content(@document.ImgPath)" alt="">

                        </div>
                        <div class="info">
                            <p>@document.Name</p>
                            <p class="rajyatext">@RSWP_UI.Resources.Resource.SecretaryGeneral</p>
                        </div>
                    </div>

                    <div class="general-secetory-content">
                        @Html.Raw(document.Profile)
                    </div>
                }
                </div>

            </div>

        </div>
    </div>
</section>

