﻿
@{
    ViewBag.Title = "VisitParliament";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h1 class="main-title center">@RSWP_UI.Resources.Resource.VisitParliament</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Partial("Partial/leftMenuVisitParliament")

            <div class="col-md-9 boxMiddleBorder" id="commitees-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>

                <div class="graph-sec">

                </div>

            </div>

        </div>
    </div>
</section>

