﻿@using RSWP_UI.Models.CommiteeViewModel
@{
    ViewBag.Title = "CommitteesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div>
                    <br />
                    <div class="row">
                        <div class="col-md-4"><p>@RSWP_UI.Resources.Resource.SelectCommitteeSubComittee:</p></div>
                        <div class="col-md-4"><input type="radio" id="" name="ComID" checked />&nbsp;@RSWP_UI.Resources.Resource.Commitee</div>
                        <div class="col-md-4"><input type="radio" id="" name="ComID" />&nbsp;@RSWP_UI.Resources.Resource.SubCommittee</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.SelectCategory</p></div>
                        <div class="col-md-9">
                            <select id="" name="">
                                <option>---@RSWP_UI.Resources.Resource.SelectCategoryName---</option>
                                <option>@RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha</option>
                                <option>@RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)</option>
                                <option>@RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.LS)</option>
                                <option>@RSWP_UI.Resources.Resource.JointCommittees</option>
                                <option>@RSWP_UI.Resources.Resource.AdhocCommittee</option>
                                <option>@RSWP_UI.Resources.Resource.SelectCommitte</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.CommiteeName</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.ReportNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SubjectOfTheReport</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.DateOfAdoption</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.DateOfPresentation</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Type</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeReportViewModel>)Session["GetCommReportDetails"])
                                {
                                    <tr>
                                        <td>@item.vmaincomname</td>
                                        <td>@item.reportno</td>
                                        <td>@item.txtsub</td>
                                        <td>@item.adporgdate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.presorgdate.ToString("dd/MM/yyyy")</td>
                                        <td><a href="@item.rptfilepath" target="_blank">@RSWP_UI.Resources.Resource.PDF</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

