﻿@using RSWP_UI.Models.CommiteeViewModel
@{
    ViewBag.Title = "Ethics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div>
                    <br />
                    <div>
                        @{string imagePath = TempData["ChairmanImage"]?.ToString();}
                        <p style="">@RSWP_UI.Resources.Resource.DetailsOf :- @TempData["GetComName"]</p>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <img class="" style="border-color: Silver;height: 111px;width: 102px;border-width: 0px;" src="@imagePath">
                            </div>
                            <div class="col-md-4">
                                <p>
                                    @RSWP_UI.Resources.Resource.Chairman:-<br />
                                    @RSWP_UI.Resources.Resource.ConstitutedOn:-
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    @TempData["ChairmanName"]<br />
                                    @TempData["Chairmanddoj"]
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Biodata Results-->
                    <br />
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#Introduction">@RSWP_UI.Resources.Resource.Introduction</a></li>
                                    <li><a data-toggle="tab" href="#Composition">@RSWP_UI.Resources.Resource.Composition</a></li>
                                    <li><a data-toggle="tab" href="#Report">@RSWP_UI.Resources.Resource.Report</a></li>
                                    <li><a data-toggle="tab" href="#Rules">@RSWP_UI.Resources.Resource.Rules</a></li>
                                    <li><a data-toggle="tab" href="#Subject">@RSWP_UI.Resources.Resource.Subject</a></li>
                                    <li><a data-toggle="tab" href="#Meeting">@RSWP_UI.Resources.Resource.Meeting</a></li>
                                    <li><a data-toggle="tab" href="#Engagements">@RSWP_UI.Resources.Resource.Engagements</a></li>
                                    <li><a data-toggle="tab" href="#Bills">@RSWP_UI.Resources.Resource.Bills</a></li>
                                    <li><a data-toggle="tab" href="#Pressrelease">@RSWP_UI.Resources.Resource.PressRelease</a></li>
                                    <li><a data-toggle="tab" href="#LegSynopsis">@RSWP_UI.Resources.Resource.LegislativeSynopsis</a></li>
                                    <li><a data-toggle="tab" href="#MoreInfo">@RSWP_UI.Resources.Resource.MoreInfo</a></li>
                                    <li><a data-toggle="tab" href="#ContactUs">@RSWP_UI.Resources.Resource.ContactsUS</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="Introduction" class="tab-pane fade in active">
                                        @foreach (var item in (List<GetCommiteeDetailsViewModel>)Session["CommiteesValues"]??new List<GetCommiteeDetailsViewModel>())
                                        {
                                            if (item.introduction != null)
                                            {
                                                @MvcHtmlString.Create(HttpUtility.HtmlDecode(item.introduction));
                                            }
                                            else
                                            {
                                                <div><br /><p>@RSWP_UI.Resources.Resource.IntroductionNotAvailable</p></div>
                                            }
                                        }
                                    </div>
                                    <div id="Composition" class="tab-pane fade in">
                                        <br />
                                        <div>
                                            <p>
                                                <strong>@RSWP_UI.Resources.Resource.Member: </strong><label id="totalCompositionMember" style="font-size:14px;font-weight:bold;">@TempData["GetMPCount"]</label>
                                                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                <strong>@RSWP_UI.Resources.Resource.Vacant : </strong><label id="totalCompositionVacant" style="font-size:14px;font-weight:bold;">0</label>
                                            </p>
                                        </div>
                                        <table class="table" border="1" id="Composition_table">
                                            <thead>
                                                <tr>
                                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                                    <th><h5><strong>@RSWP_UI.Resources.Resource.MemberName</strong></h5></th>
                                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                                </tr>
                                            </thead>
                                            <tbody id="CompositionList">
                                                @{ int count = 1;}
                                                @foreach (var item in (List<GetCompositionsViewModel>)Session["CompositionValues"]??new List<GetCompositionsViewModel>())
                                                {
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@item.vmember_name</td>
                                                        <td>@item.vhouse</td>
                                                        <td>@item.vstate</td>
                                                        @if (item.vConstituency != null)
                                                        {
                                                            <td>@item.vConstituency</td>
                                                        }
                                                        else
                                                        {
                                                            <td>&nbsp;</td>
                                                        }
                                                        <td>@item.vParty</td>
                                                    </tr>
                                                    count++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="Report" class="tab-pane fade in">
                                        <br />
                                        <table>
                                            <tr>
                                                <td>@RSWP_UI.Resources.Resource.MinistryName: </td>
                                                <td>
                                                    &nbsp;
                                                    <select>
                                                        <option>---@RSWP_UI.Resources.Resource.SelectMinistaryDepartment---</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>@RSWP_UI.Resources.Resource.Year </td>
                                                <td>
                                                    &nbsp;<input type="text" id="txtyear" name="txtyear" />
                                                    &emsp;
                                                    <input type="button" id="btnsearch" name="btnsearch" value="Search" />
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        @{ int reportcnt = Convert.ToInt32(TempData["ReportCount"]??0);}
                                        @if (reportcnt != 0)
                                        {
                                            <table class="table" border="1" id="Report_table">
                                                <thead>
                                                    <tr>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.ReportNo</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.SubjectOfTheReport</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.DateOfAdoption</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.DateOfPresentation</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.Type</strong></h5></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="ReportList">
                                                    @foreach (var item in (List<GetCommitteeReoprtViewModel>)Session["ReportResult"]??new List<GetCommitteeReoprtViewModel>())
                                                    {
                                                        <tr>
                                                            <td>@item.reportno</td>
                                                            <td>@item.txtsub</td>
                                                            <td>@item.adp_date</td>
                                                            <td>@item.Pres_date</td>
                                                            <td><a href="@item.rptfilepath" target="_blank">@RSWP_UI.Resources.Resource.PDF</a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <div><br /><p>@RSWP_UI.Resources.Resource.ReportDetailsNotAvailable</p></div>
                                        }

                                    </div>
                                    <div id="Rules" class="tab-pane fade in">
                                        @foreach (var item in (List<GetCommiteeDetailsViewModel>)Session["CommiteesValues"]?? new List<GetCommiteeDetailsViewModel>())
                                        {
                                            if (item.rules != null)
                                            {
                                                @MvcHtmlString.Create(HttpUtility.HtmlDecode(item.rules));
                                            }
                                            else
                                            {
                                                <div><br /><p>@RSWP_UI.Resources.Resource.RulesNotAvailable</p></div>
                                            }
                                        }
                                    </div>
                                    <div id="ContactUs" class="tab-pane fade in">
                                        @foreach (var item in (List<GetCommiteeDetailsViewModel>)Session["CommiteesValues"]??new List<GetCommiteeDetailsViewModel>())
                                        {
                                            if (item.contactus != null)
                                            {
                                                @MvcHtmlString.Create(HttpUtility.HtmlDecode(item.contactus));
                                            }
                                            else
                                            {
                                                <div><br /><p>@RSWP_UI.Resources.Resource.ContactNotAvailable</p></div>
                                            }
                                        }
                                    </div>
                                    <div id="MoreInfo" class="tab-pane fade in">
                                        <br />
                                        @{ int moreinfocnt = Convert.ToInt32(TempData["MoreInfoCount"]??0);}
                                        @{ int ID = Convert.ToInt32(TempData["MoreInfoId"]??0);}
                                        @{ int cont1 = 0;}
                                        @foreach (var item in (List<GetMoreInfoViewModel>)Session["MoreInfoValues"]??new List<GetMoreInfoViewModel>())
                                        {
                                            if (item.nmastercomid == ID && item.cflag == "A")
                                            {
                                                cont1++;
                                            }
                                        }
                                        @if (cont1 != 0)
                                        {
                                            <table class="table" border="1" id="MoreInfo_table">
                                                <thead>
                                                    <tr>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.Title</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.File</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.Hyperlink</strong></h5></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="MoreInfoList">
                                                    @{ int count1 = 1;}
                                                    @foreach (var item in (List<GetMoreInfoViewModel>)Session["MoreInfoValues"]??new List<GetMoreInfoViewModel>())
                                                    {
                                                        if (item.nmastercomid == ID && item.cflag == "A")
                                                        {
                                                            <tr>
                                                                <td>@count1</td>
                                                                <td>@item.title</td>
                                                                <td><a target="_blank" href="@item.filepath">@item.filename</a></td>
                                                                <td>@item.hyperlink</td>
                                                            </tr>
                                                            count1++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                                        }
                                                        else
                                                        {
                                                            <div><br /><p>@RSWP_UI.Resources.Resource.MoreInfoDetailsNotAvailable</p></div>
                                                        }
                                    </div>
                                    <div id="Meeting" class="tab-pane fade in">
                                        <br />
                                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.CommitteeMeetings</strong></h5>
                                        @{ int meetingcnt = Convert.ToInt32(TempData["MeetingListCount"]??0);}
                                        @{ int sm = 0;}
                                        @{ string todaydate = DateTime.Now.ToString("dd-MMM-yyyy");}
                                        @foreach (var item in (List<GetMeetingListViewModel>)Session["MeetingList"]??new List<GetMeetingListViewModel>())
                                        {
                                            if (DateTime.Parse(item.dmeetdate) >= DateTime.Parse(todaydate))
                                            {
                                                sm++;
                                            }
                                        }
                                        @if (sm != 0)
                                        {
                                            <table class="table" border="1" id="Meeting_table">
                                                <thead>
                                                    <tr>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.DATE</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.Time</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.MeetingNo</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.VenueAndPlace</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.Agenda</strong></h5></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="MeetingList">
                                                    @foreach (var item in (List<GetMeetingListViewModel>)Session["MeetingList"]??new List<GetMeetingListViewModel>())
                                                    {
                                                        if (DateTime.Parse(item.dmeetdate) >= DateTime.Parse(todaydate))
                                                        {
                                                            <tr>
                                                                <td>@item.dmeetdate</td>
                                                                <td>@item.meet_time</td>
                                                                <td>@item.nmeetno</td>
                                                                <td>@item.vvenuename</td>
                                                                <td>@item.agenda</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <div><br /><p>@RSWP_UI.Resources.Resource.NoMeetingScheduledDuringThisPeriod</p></div>
                                        }
                                    </div>
                                    <div id="Subject" class="tab-pane fade in">
                                        <br />
                                        @{ int sbjCount = Convert.ToInt32(TempData["SubjectCount"]??0);}
                                        @if (sbjCount != 0)
                                        {
                                            <table class="table" border="1" id="Subject_table">
                                                <thead>
                                                    <tr>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.Subject</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.MinistaryDepartment</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.Remark</strong></h5></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="SubjectList">
                                                    @{ int cnt = 1;}
                                                    @foreach (var item in (List<GetCommiteeSubjectViewModel>)Session["ConSubjectResult"]??new List<GetCommiteeSubjectViewModel>())
                                                    {
                                                        <tr>
                                                            <td>@cnt</td>
                                                            @*<td>@item.subject</td>*@
                                                            <td>@Html.Raw(HttpUtility.HtmlDecode(item.subject));</td>
                                                            <td>@item.Dept_Name</td>
                                                            <td>@item.remark</td>
                                                        </tr>
                                                        cnt++;
                                                    }
                                                </tbody>
                                            </table>
                                                        }
                                                        else
                                                        {
                                                            <div><br /><p>@RSWP_UI.Resources.Resource.SubjectDetailsNotAvailable</p></div>
                                                        }
                                    </div>
                                    <div id="Pressrelease" class="tab-pane fade in">
                                        <br />
                                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.PressReleasesRelatingToReportsOfCommittees</strong></h5>
                                        @{ int pressrelcnt = Convert.ToInt32(TempData["PressReleaseCount"]??0);}
                                        @if (pressrelcnt != 0)
                                        {
                                            <table class="table" border="1" id="Pressrelease_table">
                                                <thead>
                                                    <tr>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.PressRelease</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.DateOfPublication</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.CommiteeName</strong></h5></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="PressreleaseList">
                                                    @{int ct = 1;}
                                                    @foreach (var item in (List<GetPressReleaseViewModel>)Session["PressReleaseResult"]??new List<GetPressReleaseViewModel>())
                                                    {
                                                        <tr>
                                                            <td>@ct</td>
                                                            <td><a href="@item.rptpressfilepath" target="_blank">@item.txtpress</a></td>
                                                            <td>@item.pub_date</td>
                                                            <td>@item.vmaincomname</td>
                                                        </tr>
                                                        ct++;
                                                    }
                                                </tbody>
                                            </table>
                                                        }
                                                        else
                                                        {
                                                            <div><br /><p>@RSWP_UI.Resources.Resource.PressReleaseRecordsNotFound!</p></div>
                                                        }
                                    </div>
                                    <div id="Engagements" class="tab-pane fade in">
                                        <br />
                                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.CommitteeTour</strong></h5>
                                        @{ int tourcnt = Convert.ToInt32(TempData["TourCount"]??0);}
                                        @if (tourcnt != 0)
                                        {
                                            @*<table class="table" border="1" id="Engagements_table">
                                                    <thead>
                                                        <tr>
                                                            <th><h5><strong>Date</strong></h5></th>
                                                            <th><h5><strong>Time</strong></h5></th>
                                                            <th><h5><strong>Meeting No</strong></h5></th>
                                                            <th><h5><strong>Venue & Place</strong></h5></th>
                                                            <th><h5><strong>Agenda</strong></h5></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="EngagementsList">
                                                        @{ string todaydate = DateTime.Now.ToString("dd-MMM-yyyy");}
                                                        @foreach (var item in (List<GetMeetingListViewModel>)Session["MeetingList"])
                                                        {
                                                            if (DateTime.Parse(item.dmeetdate) >= DateTime.Parse(todaydate))
                                                            {
                                                                <tr>
                                                                    <td>@item.dmeetdate</td>
                                                                    <td>@item.meet_time</td>
                                                                    <td>@item.nmeetno</td>
                                                                    <td>@item.vvenuename</td>
                                                                    <td>@item.agenda</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>*@
                                        }
                                        else
                                        {
                                            <div><br /><p>@RSWP_UI.Resources.Resource.NoTourScheduledDuringThisPeriod</p></div>
                                        }
                                    </div>
                                    <div id="Bills" class="tab-pane fade in">
                                        <br />
                                        @{ int billCount = Convert.ToInt32(TempData["MainComCount_1"]);}
                                        @{ int ad = 0;}
                                        @foreach (var item in (List<GetCommitteBillsViewModel>)Session["MainComData_1"]??new List<GetCommitteBillsViewModel>())
                                        {
                                            if (item.Archive == "N")
                                            {
                                                ad++;
                                            }
                                        }
                                        @if (ad != 0)
                                        {
                                            <table class="table" border="1" id="Bills_table">
                                                <thead>
                                                    <tr>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.BillNo</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.ShortTitleOfBillPressReleaseAndLegislativeSynopsis</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.LastDateOfSuggestion</strong></h5></th>
                                                        <th><h5><strong>@RSWP_UI.Resources.Resource.FeedbackTo</strong></h5></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="BillsList">
                                                    @{ int cttt = 1;}
                                                    @foreach (var item in (List<GetCommitteBillsViewModel>)Session["MainComData_1"]??new List<GetCommitteBillsViewModel>())
                                                    {
                                                        if (item.Archive == "N")
                                                        {
                                                            <tr>
                                                                <td>@cttt</td>
                                                                <td>@item.Billno</td>
                                                                <td><a href="@item.rptbillfilepath" target="_blank">@item.txttitle</a>  <br /> <a href="@item.rptpressfilepath" target="_blank">@item.txtpress</a></td>
                                                                <td>@item.sugg_date</td>
                                                                @if (item.Feedback == null)
                                                                {
                                                                    <td>&nbsp;</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@item.Feedback</td>
                                                                }
                                                            </tr>
                                                            cttt++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                                        }
                                                        else
                                                        {
                                                            <div><br /><p>@RSWP_UI.Resources.Resource.BillDetailsNotAvailable</p></div>
                                                        }
                                    </div>
                                    <div id="LegSynopsis" class="tab-pane fade in">
                                        <br />
                                        <div><br /><p>@RSWP_UI.Resources.Resource.LegislativeSynopsisDetailsNotAvailable</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>
