﻿@using RSWP_UI.Models.CommiteeViewModel
@{
    ViewBag.Title = "GeneralInforamtion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <br />
                <div>
                    <div>
                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha</strong></h5>
                    </div>
                    <div>
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.CommiteeName</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.ChairmanName</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @{ int count = 1;}
                                @foreach (var item in (List<GetSelectCommitteListViewModel>)Session["GetMTCommittee_1"]??new List<GetSelectCommitteListViewModel>())
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td><a href="" id="" onclick="GetStandingCommitte(@item.nMstcomid)">@item.vMstcomName</a></td>
                                        <td>@item.vchair_name</td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br />
                <div>
                    <div>
                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)</strong></h5>
                    </div>
                    <div>
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.CommiteeName</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.ChairmanName</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @{ int count1 = 1;}
                                @foreach (var item in (List<GetSelectCommitteListViewModel>)Session["GetMTCommittee_2"]??new List<GetSelectCommitteListViewModel>())
                                {
                                    <tr>
                                        <td>@count1</td>
                                        <td><a href="" id="" onclick="GetStandingCommitte(@item.nMstcomid)">@item.vMstcomName</a></td>
                                        <td>@item.vchair_name</td>
                                    </tr>
                                    count1++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br />
                <div>
                    <div>
                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.LS)</strong></h5>
                    </div>
                    <div>
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.CommiteeName</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.CommiteeName</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @{ int count2 = 1;}
                                @foreach (var item in (List<GetSelectCommitteListViewModel>)Session["GetMTCommittee_3"]??new List<GetSelectCommitteListViewModel>())
                                {
                                    <tr>
                                        <td>@count2</td>
                                        <td><a href="@item.URL_loksabha" id="" target="_blank">@item.vMstcomName</a></td>
                                        <td>@item.vchair_name</td>
                                    </tr>
                                    count2++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br />
                <div>
                    <div>
                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.JointCommittees</strong></h5>
                    </div>
                    <div>
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.CommiteeName</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.ChairmanName</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @{ int count4 = 1;}
                                @foreach (var item in (List<GetSelectCommitteListViewModel>)Session["GetMTCommittee_4"]??new List<GetSelectCommitteListViewModel>())
                                {
                                    <tr>
                                        <td>@count4</td>
                                        <td><a href="" id="" onclick="">@item.vMstcomName</a></td>
                                        <td>@item.vchair_name</td>
                                    </tr>
                                    count4++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br />
                <div>
                    <div>
                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.SelectCommitees</strong></h5>
                    </div>
                    <div>
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.CommiteeName</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.ChairmanName</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @{ int count6 = 1;}
                                @foreach (var item in (List<GetSelectCommitteListViewModel>)Session["GetMTCommittee_6"]??new List<GetSelectCommitteListViewModel>())
                                {
                                    <tr>
                                        <td>@count6</td>
                                        <td><a href="" id="" onclick="GetSelectCommitteeValue(@item.nMstcomid)">@item.vMstcomName</a></td>
                                        <td>@item.vchair_name</td>
                                    </tr>
                                    count6++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br />
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>
<script>
    function GetStandingCommitte(id) {
        debugger;
        $.ajax({
            url: '@Url.Action("GenStandingComm", "Committees")',
            data: { comID : id },
            method: 'POST',
            success: function (data) {
                window.location.href = '@Url.Action("GenInfoSC", "Committees")';
            },
            error: function ()
            {
                alert('error');
            }
        });
        }
</script>
<script>
    function GetSelectCommitteeValue(id) {
        debugger;
        @*window.location.href = '@Url.Action("SelectCommitteesResult", "Committees")?id=' + id;*@
        $.ajax({
            url: '@Url.Action("SelectCommitteesResult", "Committees")',
            data: { comId : id },
            method: 'POST',
            success: function (data) {
                window.location.href = '@Url.Action("SelectCommittees", "Committees")';
            },
            error: function ()
            {
                alert('error');
            }
        });
        }
</script>