﻿@using RSWP_UI.Models.CommiteeViewModel
@{
    ViewBag.Title = "GenInfoChairman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div>
                    <br />
                    <div class="row">
                        <div class="col-md-4"><p>@RSWP_UI.Resources.Resource.SelectCommitteeSubComittee:</p></div>
                        <div class="col-md-4"><input type="radio" id="" name="ComID" checked />&nbsp;@RSWP_UI.Resources.Resource.Commitee</div>
                        <div class="col-md-4"><input type="radio" id="" name="ComID" />&nbsp;@RSWP_UI.Resources.Resource.SubCommittee</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.SelectCategory</p></div>
                        <div class="col-md-9">
                            <select id="ddlCategory" onchange="callChangefunc()" name="">
                                <option>---@RSWP_UI.Resources.Resource.SelectCategoryName---</option>
                                <option value="Adhoc Committee">@RSWP_UI.Resources.Resource.AdhocCommittee</option>
                                <option value="Department Related Parliamentary Standing Committee (RS)">@RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)</option>
                                <option value="Department Related Parliamentary Standing Committee (LS)">@RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.LS)</option>
                                <option value="Joint Committee">@RSWP_UI.Resources.Resource.JointCommittees</option>
                                <option value="Select Committe">@RSWP_UI.Resources.Resource.SelectCommitte</option>
                                <option value="Standing Committee of Rajya Sabha">@RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.ASON :- @DateTime.Now.ToString("dd-MMM-yyyy")
                            </strong>
                            <br />
                            <strong>
                                @RSWP_UI.Resources.Resource.ChairmanOfParliamentaryCommittees
                            </strong>
                        </p>
                    </div>
                    <div>
                        @foreach (var item in (List<GetInfoChairmanViewModel>)Session["GetInfoChairmanDetails"]??new List<GetInfoChairmanViewModel>())
                        {
                        <p style="text-align:center;">
                            @item.vcatname <br />
                            @item.vMstcomName <br />
                            @RSWP_UI.Resources.Resource.ConstitutedOn @item.constituteddate
                        </p>
                            if (item.vchair_name != null)
                            {
                                <table class="table" border="1" id="SelectCommittee_table">
                                    <thead>
                                        <tr>
                                            <th><h5><strong> @RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                            <th><h5><strong> @RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                            <th><h5><strong> @RSWP_UI.Resources.Resource.House</strong></h5></th>
                                            <th><h5><strong> @RSWP_UI.Resources.Resource.State</strong></h5></th>
                                            <th><h5><strong> @RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                            <th><h5><strong> @RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                            <th><h5><strong> @RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                        </tr>
                                    </thead>
                                    <tbody id="SelectCommitteeList">
                                        <tr>
                                            <td>1</td>
                                            <td>@item.vchair_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@RSWP_UI.Resources.Resource.Chairman</td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>
                                    @RSWP_UI.Resources.Resource.NoRecordsFound!
                                </p>
                            }
                            <br />
                            <br />
                        }
                    </div>
                    <!-- Modal Chairman Results-->
                    <div id="CommCharDiv">
                        <table class="table" border="1" id="commChairman_table" hidden>
                            <thead>
                                <tr>
                                    <th><h5><strong> @RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong> @RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong> @RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong> @RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong> @RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong> @RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong> @RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="commChairman_tableList">
                               
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>
@*<script>
    function callChangefunc() {
        debugger;
        var obj = {};
        obj.comCategory = $.trim($("[id*=ddlCategory]").val());
        $.ajax({
            url: '@Url.Action("GetCommCategoryDetails", "Committees")',
            data: { GetComValue: obj.comCategory },
            method: 'POST',
            success: function (data) {
                debugger;
                var Comm_data = '';
                var member_data = '';
                //$('#member_table tbody').empty();
                for (var i = 0; i < data.length; i++) {
                    if (data[i].vcatname == obj.comCategory)
                    {
                        Comm_data += '<p style="text-align:center;">' + data[i].vcatname + '<br />' + data[i].vMstcomName + '<br />' + data[i].constituteddate + '</p>';
                        if (data[i].vchair_name != null) {
                            $('#commChairman_table').show();
                            member_data += '<tr>';
                            member_data += '<td>' + '1' + '</td>';
                            member_data += '<td>' + data[i].vchair_name + '</td>';
                            member_data += '<td>' + data[i].vhouse + '</td>';
                            member_data += '<td>' + data[i].vstate + '</td>';
                            member_data += '<td>' + data[i].vConstituency + '</td>';
                            member_data += '<td>' + data[i].vParty + '</td>';
                            member_data += '<td>' + 'Chairman' + '</td>';
                            member_data += '</tr>';
                        }
                        else
                        {
                            Comm_data += '<p>' + 'No Record Found !' +'</p>';
                        }
                        $('#commChairman_table tbody').append(member_data);
                    }
                }
                $('#CommCharDiv').append(Comm_data);
            },
            error: function ()
            {
                alert('Not Success...');
            }
        });
    }
</script>*@