﻿@using RSWP_UI.Models.CommiteeViewModel
@{
    ViewBag.Title = "MeetingSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 
<script>
  $(document).ready(function() {
      $("#EnterDate").datepicker({
          dateFormat: "dd-M-yy",
          changeMonth: true,
          changeYear: true
      });  
      $("#EnterDate1").datepicker({
          dateFormat: "dd-M-yy",
          changeMonth: true,
          changeYear: true
      });  
  });
</script>
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
               <div>
                   <br />
                   <div class="row">
                       <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.ParliamentaryCommittees</strong></h5><br />
                       <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.CommitteeMeetings</strong></h5>
                   </div>
                   <div class="row">
                       <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.CommitteeSubComitteeName:</p></div>
                       <div class="col-md-9">
                           @Html.DropDownList("CommList", TempData["GetCommList"] as SelectList ?? new SelectList(new List<GetCommitteeSubCommListViewModel>(), "nMstcomid", "vmaincomname") , "ALL", new { })
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.DATE:</p></div>
                       <div class="col-md-4">
                           <p>@RSWP_UI.Resources.Resource.From  <input type="text" id="EnterDate" name="EnterDate" value="@DateTime.Now.ToString("dd-MMM-yyyy")" /> </p>
                       </div>
                       <div class="col-md-5">
                           @{DateTime nextMonth = DateTime.Today.AddDays(1).AddMonths(1).AddDays(-1); }
                           <p>@RSWP_UI.Resources.Resource.To  <input type="text" id="EnterDate1" name="EnterDate1" value="@nextMonth.ToString("dd-MMM-yyyy")" /> </p>
                       </div>
                   </div>
                   <div class="row" style="text-align:center;">
                       <input type="button" id="" name="" onclick="callChangefuncState()" value="Submit" />&nbsp;&nbsp;<input type="button" id="" name="" value="Reset" />
                   </div>
               </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @*<div class="ShowData" style="display:none">
                    <div class="searchResulltTabl">
                        <table id="member_table" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Meeting No</th>
                                    <th>Venue & Place</th>
                                    <th>Agenda</th>
                                    <th>Print Notice</th>
                                </tr>
                            </thead>
                            <tbody id="memberList"></tbody>
                        </table>
                    </div>
                </div>*@
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>
<script>

</script>
<script type="text/javascript">
    function callChangefuncState() {
        debugger;
        var obj = {};
        var Date1 = document.getElementById('EnterDate').value;
        var Date2 = document.getElementById('EnterDate1').value;
        var ddlvalue = $('#CommList :selected').text();
        $.ajax({
            url: '@Url.Action("DateWise_Result", "Committees")',
            data: { dt1: Date1, dt2: Date2, ddlval: ddlvalue },
            method: 'POST',
            success: function (data) {
                 window.location.href = '@Url.Action("MeetingScheduleResult", "Committees")';
                //debugger;
                //var member_data = '';
                //$('.ShowData').show();
                //$('#member_table tbody').empty();
                //for (var i = 0; i < data.length; i++) {
                //    var dtt = data[i].dmeetdate;
                //    if (dtt >= Date1 /*&& dtt <= Date2*/)
                //    {
                //        member_data += '<tr>';
                //        member_data += '<td>' + data[i].dmeetdate + '</td>';
                //        member_data += '<td>' + data[i].meet_time + '</td>';
                //        member_data += '<td>' + data[i].nmeetno + '</td>';
                //        member_data += '<td>' + data[i].vvenuename + '</td>';
                //        member_data += '<td>' + data[i].agenda + '</td>';
                //        member_data += '<td>' + '------' + '</td>';
                //        member_data += '</tr>';
                //    }
                //}
                //$('#member_table tbody').append(member_data);
            },
            error: function ()
            {
                alert('Select One');
            }
        });
    }
</script>
