﻿@using RSWP_UI.Models.CommiteeViewModel
@{
    ViewBag.Title = "MeetingScheduleResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div>
                    <br />
                    <div class="row">
                        <h5 style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.ParliamentaryCommittees<br />
                                @RSWP_UI.Resources.Resource.CommitteeMeetings<br />
                                @TempData["SelComm"] <br />
                                @RSWP_UI.Resources.Resource.From:- @TempData["Date1"] @RSWP_UI.Resources.Resource.To:- @TempData["Date2"]
                            </strong>
                        </h5>
                    </div>
                    <div class="row" style="text-align:right;padding-right:20px;">
                        <a href="/Committees/MeetingSchedule">@RSWP_UI.Resources.Resource.Back</a>
                    </div>
                    <div>
                        @{ DateTime date1 = Convert.ToDateTime(TempData["Date1"]??new DateTime());}
                        @{ DateTime date2 = Convert.ToDateTime(TempData["Date2"]?? new DateTime());}
                        @*@if (TempData["SelComm"] == "ALL")
                        {*@
                            @foreach (var item in (List<GetCommitteeMeetingViewModel>)Session["GetMeetCommMeetList"]??new List<GetCommitteeMeetingViewModel>())
                            {
                                if (Convert.ToDateTime(item.dmeetdate) >= date1 && Convert.ToDateTime(item.dmeetdate) <= date2)
                                {
                                    <br /><p style="text-align:center;"><strong><a href="#">@item.comName</a></strong></p><br />
                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th>@RSWP_UI.Resources.Resource.DATE</th>
                                                <th>@RSWP_UI.Resources.Resource.Time</th>
                                                <th>@RSWP_UI.Resources.Resource.MeetingNo</th>
                                                <th>@RSWP_UI.Resources.Resource.VenueAndPlace</th>
                                                <th>@RSWP_UI.Resources.Resource.Agenda</th>
                                                <th>@RSWP_UI.Resources.Resource.PrintNotice</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@item.dmeetdate</td>
                                                <td>@item.meet_time</td>
                                                <td>@item.nmeetno</td>
                                                <td>@item.vvenuename</td>
                                                <td>@item.agenda</td>
                                                <td>-----</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        @*}*@
                    </div>
                    <div class="sectionBox stats-an">
                        <div class="memberListAraSearch">
                            <div class="row">
                                <form>
                                    <div class="col-sm-12 text-right">
                                        @*<a class="btn btn-default" href="#">Print</a>*@
                                        <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>
