﻿@using RSWP_UI.Models.CommiteeViewModel
@{
    ViewBag.Title = "MemberSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div>
                    <br />
                    <div class="row">
                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.ParliamentaryCommittees</strong></h5><br />
                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.PARLIAMENTARYCOMMITTEEMEMBERSHIP</strong></h5>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><p>@RSWP_UI.Resources.Resource.SelectCommitteeSubComittee:</p></div>
                        <div class="col-md-4"><input type="radio" id="" name="ComID" checked />&nbsp;@RSWP_UI.Resources.Resource.Commitee</div>
                        <div class="col-md-4"><input type="radio" id="" name="ComID" />&nbsp;@RSWP_UI.Resources.Resource.SubCommittee</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.CommitteeSubComitteeName:</p></div>
                        <div class="col-md-9">
                            @*<select id="" name="">
                                    <option>ALL</option>
                                </select>*@
                            @Html.DropDownList("CommList", TempData["GetCommList"] as SelectList ?? new SelectList(new List<GetCommitteeSubCommListViewModel>(), "nMstcomid", "vmaincomname"), @RSWP_UI.Resources.Resource.All, new { })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.MemberSearch</p></div>
                        <div class="col-md-9">
                            <input type="text" id="" name="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.SelectMember:</p></div>
                        <div class="col-md-9">
                            @*<select id="" name="">
                                    <option>---Select Member---</option>
                                </select>*@
                            @Html.DropDownList("CommMemList", TempData["GetCommMemList"] as SelectList ?? new SelectList(new List<GetCommitteeSubCommListViewModel>(), "nmemid", "vmember_name"), "---"+RSWP_UI.Resources.Resource.SelectMember+"---", new { })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.State</p></div>
                        <div class="col-md-9">
                            @Html.DropDownList("CommStateList", TempData["GetStateList"] as SelectList ?? new SelectList(new List<RSWP_UI.Models.MemberViewModel.GetStateViewModel>(), "STATE_COUNT", "STATE_NAME"), "---"+ RSWP_UI.Resources.Resource.SelectState+"---", new { })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.Party</p></div>
                        <div class="col-md-9">
                            @Html.DropDownList("CommPartyList", TempData["GetPartyList"] as SelectList ?? new SelectList(new List<RSWP_UI.Models.MemberViewModel.GetPartyViewModel>(), "partycount", "PARTY_CODE"), "---"+ RSWP_UI.Resources.Resource.SelectParty+"---", new { })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><p>@RSWP_UI.Resources.Resource.Membership</p></div>
                        <div class="col-md-4"><input type="radio" id="" name="MemId" checked />&nbsp;@RSWP_UI.Resources.Resource.Present</div>
                        <div class="col-md-4"><input type="radio" id="" name="MemId" />&nbsp;@RSWP_UI.Resources.Resource.Past</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.Chairman/@RSWP_UI.Resources.Resource.Member</p></div>
                        <div class="col-md-3">
                            <select id="" name="">
                                <option>@RSWP_UI.Resources.Resource.AllMembers</option>
                                <option>@RSWP_UI.Resources.Resource.ChairmanOnly</option>
                            </select>
                        </div>
                        <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.House</p></div>
                        <div class="col-md-3">
                            <select id="" name="">
                                <option>@RSWP_UI.Resources.Resource.Both</option>
                                <option>@RSWP_UI.Resources.Resource.RajyaSabha</option>
                                <option>@RSWP_UI.Resources.Resource.LokSabha</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><p>@RSWP_UI.Resources.Resource.Orderby</p></div>
                        <div class="col-md-9"><input type="radio" id="" name="OrderID" checked />@RSWP_UI.Resources.Resource.CommitteeName&nbsp;&nbsp;&nbsp;<input type="radio" id="" name="OrderID" />@RSWP_UI.Resources.Resource.MemberName&nbsp;&nbsp;&nbsp;<input type="radio" id="" name="OrderID" />@RSWP_UI.Resources.Resource.StateName&nbsp;&nbsp;&nbsp;<input type="radio" id="" name="OrderID" />@RSWP_UI.Resources.Resource.PartyName</div>
                    </div>
                    <div class="row" style="text-align:center;">
                        <input type="button" id="" name="" onclick="location.href='@Url.Action("MemberSearhResult", "Committees")'" value="Submit" />&nbsp;&nbsp;<input type="button" id="" name="" value="Reset" />
                    </div>
                    <br />
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

