﻿@using RSWP_UI.Models.CommiteeViewModel
@{
    ViewBag.Title = "MemberSearhResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div>
                    <br />
                    <div class="row">
                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.ParliamentaryCommittees<br />
                        @RSWP_UI.Resources.Resource.PARLIAMENTARYCOMMITTEEMEMBERSHIP</strong></h5>
                    </div>
                    <div class="row" style="text-align:right;padding-right:20px;">
                        <a href="/Committees/MemberSearch">@RSWP_UI.Resources.Resource.Back</a>
                    </div>
                    <!-- Standing Committee(Business Advisory Committee)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.BusinessAdvisoryCommittee
                            </strong>
                        </p>
                        @{ int count = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 1)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 1)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(Ethics)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                Ethics
                            </strong>
                        </p>
                        @{ int count1 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 2)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 2)
                                    {
                                        <tr>
                                            <td>@count1</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count1++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(General Purposes Committee)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.GeneralPurposesCommittee
                            </strong>
                        </p>
                        @{ int count2 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 3)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn  @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 3)
                                    {
                                        <tr>
                                            <td>@count2</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count2++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(Government Assurances)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.GovernmentAssurances
                            </strong>
                        </p>
                        @{ int count3 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 4)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 4)
                                    {
                                        <tr>
                                            <td>@count3</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count3++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(House Committee)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.HouseCommittee
                            </strong>
                        </p>
                        @{ int count4 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 5)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 5)
                                    {
                                        <tr>
                                            <td>@count4</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count4++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(MPLADS)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.MPLADS
                            </strong>
                        </p>
                        @{ int count5 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 6)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn  @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 6)
                                    {
                                        <tr>
                                            <td>@count5</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count5++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(Papers Laid on the table)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.PapersLaidOnTheTable
                            </strong>
                        </p>
                        @{ int count6 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 7)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 7)
                                    {
                                        <tr>
                                            <td>@count6</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count6++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(Petitions)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.Petitions
                            </strong>
                        </p>
                        @{ int count7 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 8)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 8)
                                    {
                                        <tr>
                                            <td>@count7</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count7++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(Privileges)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.Privileges
                            </strong>
                        </p>
                        @{ int count8 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 9)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 9)
                                    {
                                        <tr>
                                            <td>@count8</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count8++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(Provision of Computer Equipment to Members of Rajya Sabha)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.ProvisionOfComputerEquipmentToMembersOfRajyaSabha
                            </strong>
                        </p>
                        @{ int count9 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 10)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 10)
                                    {
                                        <tr>
                                            <td>@count9</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count9++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(Rules)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.Rules
                            </strong>
                        </p>
                        @{ int count10 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 11)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 11)
                                    {
                                        <tr>
                                            <td>@count10</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count10++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Standing Committee(Subordinate Legislation)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.StandingCommitteeOfRajyaSabha
                                <br />
                                @RSWP_UI.Resources.Resource.SubordianteLegislations
                            </strong>
                        </p>
                        @{ int count11 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 12)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 12)
                                    {
                                        <tr>
                                            <td>@count11</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count11++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Department Related Parliamentary Standing Committee (RS)(Commerce)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)
                                <br />
                                @RSWP_UI.Resources.Resource.Commerce
                            </strong>
                        </p>
                        @{ int count12 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 13)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 13)
                                    {
                                        <tr>
                                            <td>@count12</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count12++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Department Related Parliamentary Standing Committee (RS)(Health and Family Welfare)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)
                                <br />
                                @RSWP_UI.Resources.Resource.HealthAndFamilyWelfare
                            </strong>
                        </p>
                        @{ int count13 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 14)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 14)
                                    {
                                        <tr>
                                            <td>@count13</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count13++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Department Related Parliamentary Standing Committee (RS)(Home Affairs)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)
                                <br />
                                @RSWP_UI.Resources.Resource.HomeAffairs
                            </strong>
                        </p>
                        @{ int count14 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 15)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 15)
                                    {
                                        <tr>
                                            <td>@count14</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count14++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Department Related Parliamentary Standing Committee (RS)(Human Resource Development)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)
                                <br />
                                @RSWP_UI.Resources.Resource.HumanResourceDevelopment
                            </strong>
                        </p>
                        @{ int count15 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"] ?? new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 16)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 16)
                                    {
                                        <tr>
                                            <td>@count15</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count15++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Department Related Parliamentary Standing Committee (RS)(Industry)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)
                                <br />
                                @RSWP_UI.Resources.Resource.Industry
                            </strong>
                        </p>
                        @{ int count16 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 17)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 17)
                                    {
                                        <tr>
                                            <td>@count16</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count16++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Department Related Parliamentary Standing Committee (RS)(Personnel, Public Grievances, Law and Justice)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)
                                <br />
                                @RSWP_UI.Resources.Resource.PersonnelPublicGrievancesLawAndJustice
                            </strong>
                        </p>
                        @{ int count17 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 18)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 18)
                                    {
                                        <tr>
                                            <td>@count17</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count17++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Department Related Parliamentary Standing Committee (RS)(Science and Technology, Environment, Forests and Climate Change)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)
                                <br />
                                @RSWP_UI.Resources.Resource.ScienceAndTechnologyEnvironmentForestsAndClimateChange
                            </strong>
                        </p>
                        @{ int count18 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 19)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 19)
                                    {
                                        <tr>
                                            <td>@count18</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count18++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Department Related Parliamentary Standing Committee (RS)(Transport, Tourism and Culture)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.RS)
                                <br />
                                @RSWP_UI.Resources.Resource.TransportTourismAndCulture
                            </strong>
                        </p>
                        @{ int count19 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 20)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 20)
                                    {
                                        <tr>
                                            <td>@count19</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count19++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Department Related Parliamentary Standing Committee (LS)(Energy)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittee (@RSWP_UI.Resources.Resource.LS)
                                <br />
                                @RSWP_UI.Resources.Resource.Energy
                            </strong>
                        </p>
                        @{ int count25 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 25)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 25)
                                    {
                                        <tr>
                                            <td>@count25</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count25++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Adhoc Committee(Committee in the Rajya Sabha to study the alarming issue of pornography on social media and its effect on children and society as a whole)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.AdhocCommittee
                                <br />
                                @RSWP_UI.Resources.Resource.CommitteeintheRajyaSabhatostudythealarmingissueofpornographyonsocialmediaanditseffectonchildrenandsocietyasawhole
                            </strong>
                        </p>
                        @{ int count71 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 71)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 71)
                                    {
                                        <tr>
                                            <td>@count71</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count71++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <!-- Adhoc Committee(Select Committee on Surrogacy (Regulation) Bill, 2019)-->
                    <div>
                        <p style="text-align:center;">
                            <strong>
                                @RSWP_UI.Resources.Resource.AdhocCommittee
                                <br />
                                @RSWP_UI.Resources.Resource.SelectCommitteeonSurrogacyRegulationBill, 2019
                            </strong>
                        </p>
                        @{ int count70 = 1;}
                        @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                        {
                            if (item.nmastercomid == 70)
                            {
                                <p style="text-align:center;">
                                    <strong>
                                        @RSWP_UI.Resources.Resource.ConstitutedOn  @item.ddoj.ToString("dd-MMM-yyyy") <br />
                                    </strong>
                                </p>
                                break;
                            }
                        }
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Name</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.House</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.State</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Constituency</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Party</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @foreach (var item in (List<GetCommitteeMemberListViewModel>)Session["GetAllMemberSearch"]??new List<GetCommitteeMemberListViewModel>())
                                {
                                    if (item.nmastercomid == 70)
                                    {
                                        <tr>
                                            <td>@count70</td>
                                            <td>@item.vmember_name</td>
                                            <td>@item.vhouse</td>
                                            <td>@item.vstate</td>
                                            <td>@item.vConstituency</td>
                                            <td>@item.vParty</td>
                                            <td>@item.vstatus</td>
                                        </tr>
                                        count70++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

