﻿@using RSWP_UI.Models.CommiteeViewModel
@{
    ViewBag.Title = "SelectCommittee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <br />
                <div>
                    <div style="text-align:right;">
                        <a href="#">Previous Select Committee</a>
                    </div>
                    <div>
                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.SelectCommitte</strong></h5>
                    </div>
                    <div>
                        <table class="table" border="1" id="SelectCommittee_table">
                            <thead>
                                <tr>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.SNo</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.CommiteeName</strong></h5></th>
                                    <th><h5><strong>@RSWP_UI.Resources.Resource.ChairmanName</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody id="SelectCommitteeList">
                                @{ int count = 1;}
                                @foreach (var item in (List<GetSelectCommitteListViewModel>)Session["SelectCommitteeDetails"]??new List<GetSelectCommitteListViewModel>())
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td><a href="" id="" onclick="GetSelectCommitteeValue(@item.nMstcomid)">@item.vMstcomName</a></td>
                                        <td>@item.vchair_name</td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>
<script>
    function GetSelectCommitteeValue(id) {
        
        @*window.location.href = '@Url.Action("SelectCommitteesResult", "Committees")?id=' + id;*@
        $.ajax({
            url: '@Url.Action("SelectCommitteesResult", "Committees")',
            data: { comId : id },
            method: 'POST',
            success: function (data) {
                window.location.href = '@Url.Action("SelectCommittees", "Committees")';
            },
            error: function ()
            {
                alert('error');
            }
        });
        }
</script>