﻿@model RSWP_UI.Models.DucumentListVM
@{
    ViewBag.Title = "MeetingScheduleResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")


            <div class="col-md-6 boxMiddleBorder" id="question-center">
                @if (Model.Archive)
                {
                    <div class="broadComTab">
                        <ul>
                            @*<li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>*@
                            <li><a href="@Url.Action("SummaryOFWork", "Committees")">[@RSWP_UI.Resources.Resource.SummaryOfWork]</a></li>
                            <li><a href="">@RSWP_UI.Resources.Resource.Archive</a></li>
                        </ul>
                    </div>
                }
                <div>
                    <br />
                    <div class="row">
                        <h5 style="text-align:center;">
                            <strong>
                                <h4>  @RSWP_UI.Resources.Resource.SummaryOfWork</h4><br />
                                @if (Model.Archive == false)
                                {


                                    <input type="button" onclick="location.href='@Url.Action("SummaryOFWork", "Committees", new { archive = true })'" class="btn btn-default" value="Archive" />
                                }

                            </strong>
                        </h5>
                    </div>
                    <div class="ShowData">
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.Title</th>
                                        <th>@RSWP_UI.Resources.Resource.FileName</th>
                                        <th>@RSWP_UI.Resources.Resource.Year</th>


                                    </tr>
                                </thead>
                                <tbody id="memberList">
                                    @foreach (var item in Model.DocumentList)
                                    {
                                        <tr>
                                            <td><a href="@item.FileUrl" target="_blank">@item.Tiltle</a></td>
                                            <td>@item.Name (@(item.FileSize / 1000) KB)</td>
                                            <td>@item.startDate.Value.Year.ToString()</td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="stats-an">
                        <div class="memberListAraSearch">
                            <div class="row">
                                <form>
                                    <div class="col-sm-12 text-right">
                                        @*<a class="btn btn-default" href="#">Print</a>*@
                                        <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>
