﻿<div class="col-md-3">
    <div class="sectionBox member-single-left-sec">
        <h4>@RSWP_UI.Resources.Resource.AboutRajyaSabha</h4>

        <ul class="sideBarList">
            @*<li><a href="/Home/CouncilOfStates">Council of States</a></li>
            <li><a href="/Home/Chairman">Chairman</a></li>
            <li><a href="/Home/FormerChairman">Former Chairmen</a></li>
            <li><a href="/Home/ChairmanDeputy">Deputy Chairman</a></li>
            <li><a href="/Home/FormerDeputyChairman">Former Deputy Chairman</a></li>
            <li><a href="/Home/LeaderOfHouse">Leader of the House</a></li>
            <li><a href="/Home/FormerLeaderOfHouse">Former leader of the House</a></li>
            <li><a href="/Home/LeaderOfOpposition">Leader of opposition</a></li>
            <li><a href="/Home/FormerLeaderOfOpposition">Former Leader of opposition</a></li>
            <li><a href="/Home/PannelOfViceChairmen">Panel of Vice Chairman</a></li>
            <li><a href="/Home/SecretaryGeneral">Secretary General</a></li>
            <li><a href="/Home/ImpParliamentaryTerm">Important Parliamentary Term</a></li>*@

            @*@{ var WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("Council of States") ? ((Dictionary<string, string>)Session["WebLinks"])["Council of States"] : "#";}
            <li><a href="@WebLinkValue">Council of States</a></li>*@
            <li><a href="/Home/CouncilOfStates" data-section="Home" data-subsection="About Rajya Sabha" data-module="Council of States">@RSWP_UI.Resources.Resource.CouncilOfStates</a></li>
            <li><a href="/Home/Chairman" data-section="Home" data-subsection="About Rajya Sabha" data-module="Chairman">@RSWP_UI.Resources.Resource.Chairman</a></li>
            <li><a href="#" data-section="Home" data-subsection="About Rajya Sabha" data-module="Former Chairman">@RSWP_UI.Resources.Resource.Former @RSWP_UI.Resources.Resource.Chairman</a></li>
            @{ var WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("Deputy Chairman") ? ((Dictionary<string, string>)Session["WebLinks"])["Deputy Chairman"] : "#";}
            <li><a href="@WebLinkValue" data-section="Home" data-subsection="About Rajya Sabha" data-module="Deputy Chairman">@RSWP_UI.Resources.Resource.DeputyChairman</a></li>
            <li><a href="/Home/FormerDeputyChairman" data-section="Home" data-subsection="About Rajya Sabha" data-module="Former Deputy Chairman">@RSWP_UI.Resources.Resource.Former @RSWP_UI.Resources.Resource.DeputyChairman</a></li>
            @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("LEADER OF THE HOUSE") ? ((Dictionary<string, string>)Session["WebLinks"])["LEADER OF THE HOUSE"] : "#";}
            <li><a href="@WebLinkValue" data-section="Home" data-subsection="About Rajya Sabha" data-module="Leader of the House">@RSWP_UI.Resources.Resource.LeaderOfTheHouse</a></li>
            <li><a href="#" data-section="Home" data-subsection="About Rajya Sabha" data-module="Former Leader of the House">@RSWP_UI.Resources.Resource.Former @RSWP_UI.Resources.Resource.LeaderOfTheHouse</a></li>
            @{ WebLinkValue = ((Dictionary<string, string>)Session["WebLinks"]).ContainsKey("LEADER OF OPPOSITION") ? ((Dictionary<string, string>)Session["WebLinks"])["LEADER OF OPPOSITION"] : "#";}
            <li><a href="@WebLinkValue" data-section="Home" data-subsection="About Rajya Sabha" data-module="Leader of opposition">@RSWP_UI.Resources.Resource.LeaderOfOpposition</a></li>
            <li><a href="#" data-section="Home" data-subsection="About Rajya Sabha" data-module="Former Leader of opposition">@RSWP_UI.Resources.Resource.Former @RSWP_UI.Resources.Resource.LeaderOfOpposition</a></li>
            <li><a href="/Home/PannelOfViceChairmen" data-section="Home" data-subsection="About Rajya Sabha" data-module="Panel of Vice Chairman">@RSWP_UI.Resources.Resource.PanelOfViceChairman</a></li>
            <li><a href="/Home/SecretaryGeneral" data-section="Home" data-subsection="About Rajya Sabha" data-module="Secretary General">@RSWP_UI.Resources.Resource.SecretaryGeneral</a></li>
            <li><a href="/Home/ImpParliamentaryTerm" data-section="Home" data-subsection="About Rajya Sabha" data-module="Important Parliamentary Term">@RSWP_UI.Resources.Resource.ImportantParliamentaryTerm</a></li>
        </ul>
    </div>
</div>
