﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.VisitParliament</h4>
        <ul class="sideBarList">
            <li><a href="" data-section="Home" data-subsection="Visit Parliament" data-module="Watch Debates">@RSWP_UI.Resources.Resource.WatchDebates</a></li>
            <li><a href="" data-section="Home" data-subsection="Visit Parliament" data-module="Tour to Parliament">@RSWP_UI.Resources.Resource.TourToParliament</a></li>
            <li><a href="" data-section="Home" data-subsection="Visit Parliament" data-module="Visit to Parliament Museum">@RSWP_UI.Resources.Resource.VisitToParliamentMuseum</a></li>
            <li><a href="" data-section="Home" data-subsection="Visit Parliament" data-module="Access to Parliament Library">@RSWP_UI.Resources.Resource.AccessToParliamentLibrary</a></li>
            <li><a href="" data-section="Home" data-subsection="Visit Parliament" data-module="Buy Souvenir Items">@RSWP_UI.Resources.Resource.BuySouvenirItems</a></li>
            <li><a href="" data-section="Home" data-subsection="Visit Parliament" data-module="Contacts Us">@RSWP_UI.Resources.Resource.ContactsUS</a></li>
        </ul>
    </div>
</div>
