﻿
@{
    ViewBag.Title = "AssurancesPending_Graphical_Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: ""
	},
	axisY: {
		includeZero: false
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "line",
		name: "Dropp Assurances",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints1)
	}, {
		type: "line",
        name: "Pending Assurances",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints2)
	}, {
		type: "line",
        name: "Added Assurances",
		showInLegend: true,
		dataPoints: @Html.Raw(ViewBag.DataPoints3)
	}]
});
chart.render();

}
</script>
<!--Get Graphical Analysis Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;color:red;">GRAPHICAL ANALYSIS</h4>
                        <h5 style="text-align:center;color:red;">Yearly statement of assurances pending</h5>
                        <br />
                        <div>
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">@RSWP_UI.Resources.Resource.Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>

<script src="~/js/canvasjs.min.js"></script>
<script src="~/js/jquery-1.11.1.min.js"></script>


