﻿
@{
    ViewBag.Title = "AssurancesLaid_Graphical_Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Get Graphical Analysis Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;color:red;">GRAPHICAL ANALYSIS</h4>
                        <h5 style="text-align:center;color:red;">Ministry wise distribution of assurances laid during 2010-2018</h5>
                        <br />
                        <div>
                            <label>
                                Select Ministry:
                            </label>
                            @Html.DropDownList("Minname", ViewBag.List as SelectList, "--- Select One ---", new { })
                        </div>
                        <div style="text-align:center;" id="Memberbtn">
                            <input type="button" id="btnSubmit" onclick="GetData()" value="Get Details" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">@RSWP_UI.Resources.Resource.Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>

<script type="text/javascript">
    function GetData() {
        debugger;
        var obj = {};
        obj.minCode = $.trim($("[id*=Minname]").val());
            $.ajax({
                url: '@Url.Action("GetAssuranceLaid_Result", "Graphical")',
                data: { mincode: obj.minCode },
                method: 'POST',
                success: function (data) {
                    if (obj.minCode != "")
                    {
                        window.location.href = '@Url.Action("AssurancesLaids_Graphical_Analysis", "Graphical")';
                    }
                    else
                    {
                        alert('Select Ministry');
                    }
                },
                error: function ()
                {
                    alert('Select Ministry');
                }
            });
    }
</script>

