﻿
@{
    ViewBag.Title = "Bills_Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Graphical Analysis Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;color:red;">GRAPHICAL ANALYSIS</h4>
                        <h5 style="text-align:center;color:red;">Bills introduced in the Rajya Sabha</h5>
                        <br />
                        <div>
                            <p><strong>@RSWP_UI.Resources.Resource.SessionNo_sm</strong> &nbsp;&nbsp; @Html.DropDownList("sessioncode", ViewBag.SessionList as SelectList, "Select Session", new { @onchange = "callChangefunc()" })</p>
                        </div>
                        <div style="text-align:center;" id="Memberbtn">
                            <input type="button" id="btnSubmit" onclick="GetData()" value="Get Details" />
                        </div>
                        @*<div>
                                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                            </div>*@
                    </div>
                </div>
                <br />
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">@RSWP_UI.Resources.Resource.Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>

<script type="text/javascript">
    function GetData() {
        debugger;
        var obj = {};
        obj.session = $.trim($("[id*=sessioncode]").val());
            $.ajax({
                url: '@Url.Action("Bills_Introduce", "Graphical")',
                data: { sess: obj.session },
                method: 'POST',
                success: function (data) {
                    debugger;
                    if (obj.session != "")
                    {
                        window.location.href = '@Url.Action("Bill_Introduce", "Graphical")';
                    }
                    else
                    {
                        alert('Select Session');
                    }
                },
                error: function ()
                {
                    alert('Select Session');
                }
            });
    }
</script>