﻿
@{
    ViewBag.Title = "ExpenditureAllMembers_Graphical_Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;color:red;">GRAPHICAL ANALYSIS</h4>
                        <h5 style="text-align:center;color:red;">Expenditure All Member Representation Of Members</h5>
                        <div>
                            <label>
                                @RSWP_UI.Resources.Resource.FinancialYear    :
                            </label>

                            <select id="drpFinancialYr">
                                <option id="">--Select Financial Year--</option>
                                @{int finyear = 2013; }
                                @{ int lfinyear = 0;}
                                @while (finyear <= DateTime.Today.Year)
                                {
                                    if (DateTime.Today.Year == finyear && DateTime.Today.Month <= 3)
                                    { }
                                    else
                                    {
                                        lfinyear = finyear + 1;
                                        <option id="">@finyear-@lfinyear</option>
                                    }
                                    finyear++;
                                }
                            </select>
                        </div>
                        <div style="text-align:center;" id="Memberbtn">
                            <input type="button" id="btnSubmit" onclick="GetData()" value="Get Expense Details" />
                        </div>

                    </div>
                </div>
                <br />
                @*<div class="ShowData" id="Show_Data" hidden>
                        <div class="searchResulltTabl">

                        </div>
                    </div>*@
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<script type="text/javascript">
    function GetData() {
        debugger;
        var obj = {};
        obj.enddate = $.trim($("[id*=drpFinancialYr]").val());
        var strtsplit = obj.enddate.split('-')[0];
        var strFinalDate = strtsplit + '-' + '04' + '-' + '01';
        var lstsplit = obj.enddate.split('-')[1];
        var lstFinalDate = lstsplit + '-' + '03' + '-' + '31';
        $.ajax({
            url: '@Url.Action("ExpenditureIncurredAllMP_Result", "Graphical")',
            data: { duration1: strFinalDate, duration2: lstFinalDate, memDur: obj.enddate },
            method: 'POST',
            success: function (data) {
                if (obj.enddate != "--Select Financial Year--")
                {
                    window.location.href = '@Url.Action("ExpenditureAllMember_Graphical_Analysis", "Graphical")';
                }
                else
                {
                    alert('Select Financial Year');
                }
            },
            error: function ()
            {
                alert('Select Member');
            }
        });
    }

</script>

