﻿
@{
    ViewBag.Title = "NoticeDetail_Graphical_Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "",
                fontSize: 21
            },
            data: [{
                type: "doughnut",
                innerRadius: "40%",
                showInLegend: true,
                toolTipContent: "<b>{label}</b>: {y}",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 16,
                indexLabel: "{label} : {y}",
                dataPoints: @Html.Raw(TempData["GetNoticesRes"])
	}]
});
chart.render();
}
</script>
<!--Get Graphical Analysis Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;color:red;">GRAPHICAL ANALYSIS</h4>
                        <h5 style="text-align:center;color:red;">Notices</h5>
                        <div><h5 style="text-align:right;"><strong><a href="/Graphical/NoticeDetails_Graphical_Analysis" style="color:black;">Back</a></strong></h5></div>
                        <div>Session No.: @TempData["SessionNo"]</div>
                        <div>Date From @TempData["DateFrom"] To @TempData["DateTo"]</div>
                        <br />
                        <div>
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">@RSWP_UI.Resources.Resource.Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>

<script src="~/js/canvasjs.min.js"></script>
<script src="~/js/jquery-1.11.1.min.js"></script>