﻿
@{
    ViewBag.Title = "NoticeDetails_Graphical_Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Graphical Analysis Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;color:red;">GRAPHICAL ANALYSIS</h4>
                        <h5 style="text-align:center;color:red;">Notices</h5>
                        <br />
                        <div>
                            <p><strong>@RSWP_UI.Resources.Resource.SessionNo_sm</strong> &nbsp;&nbsp; @Html.DropDownList("sessioncode", ViewBag.SessionList as SelectList, "Select Session", new { @onchange = "callChangefunc()" })</p>
                        </div>
                        <div>
                            <p>
                                <strong>@RSWP_UI.Resources.Resource.Date_sm </strong>&nbsp;&nbsp;<strong>@RSWP_UI.Resources.Resource.From</strong>
                                <select id="GetData" name="">
                                    <option>Select</option>
                                </select>
                                &nbsp;<strong>@RSWP_UI.Resources.Resource.To</strong>
                                <select id="GetData1" name="">
                                    <option>Select</option>
                                </select>
                            </p>
                        </div>
                        <div style="text-align:center;" id="Memberbtn">
                            <input type="button" id="btnSubmit" onclick="GetData()" value="Get Details" />
                        </div>
                        @*<div>
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                        </div>*@
                    </div>
                </div>
                <br />
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="#">@RSWP_UI.Resources.Resource.Print</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<script type="text/javascript">
    function callChangefunc() {
        var obj = {};
        obj.sessioncode = $.trim($("[id*=sessioncode]").val());
        $.ajax({
           url: '@Url.Action("Get_Date_Page", "Questions")',
            data: { session_date: obj.sessioncode },
            method: 'POST',
            success: function (data) {
                $("#GetData option:gt(0)").remove();
                $("#GetData option:eq(0)").remove();
                $("#GetData1 option:gt(0)").remove();
                $("#GetData1 option:eq(0)").remove();
                //$("#GetData").append($('<option/>').attr("value", '0').text('Select'));
                for (var i = 0; i < data.length; i++) {
                    if (data[i].session_date != null)
                    {
                        $("#GetData").append($('<option/>').attr("value", data[i].session_date).text(data[i].session_date));
                    }
                }
                //$("#GetData1").append($('<option/>').attr("value", '0').text('Select'));
                for (var i = 0; i < data.length; i++) {
                    if (data[i].session_date != null) {
                        $("#GetData1").append($('<option/>').attr("value", data[i].session_date).text(data[i].session_date));
                    }
                }
            },
            error: function () {
                alert('Not Success...');
            }
        });
    }
</script>
<script type="text/javascript">
    function GetData() {
        debugger;
        var obj = {};
        obj.session = $.trim($("[id*=sessioncode]").val());
        obj.date1 = $.trim($("[id*=GetData]").val());
        obj.date2 = $.trim($("[id*=GetData1]").val());
            $.ajax({
                url: '@Url.Action("GetNoticeDetails", "Graphical")',
                data: { sess: obj.session, date1: obj.date1, date2: obj.date2},
                method: 'POST',
                success: function (data) {
                    debugger;
                    if (obj.session != "")
                    {
                        window.location.href = '@Url.Action("NoticeDetail_Graphical_Analysis", "Graphical")';
                    }
                    else
                    {
                        alert('Select Session');
                    }
                },
                error: function ()
                {
                    alert('Select Session');
                }
            });
    }
</script>


