﻿
@{
    ViewBag.Title = "CurrentYearPhotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="row contentRow bgRajhSabha">
        <div class="container-fluid bgWhiteConter">
            <div class="row">
                @Html.Partial("Partial/_GalleryLeftMenu")
                <div class="col-md-9 boxMiddleBorder" id="business-center">
                    <div class="broadComTab">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                            <li><a href="#">@RSWP_UI.Resources.Resource.Gallery</a></li>
                        </ul>
                    </div>
                    <div class="boxSearchMid">
                        <div id="contentContainer" class="ShowData">
                            @Html.Partial("Partial/CurrentYearPhotoGrid")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

