﻿
@{
    ViewBag.Title = "GalleryView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_GalleryLeftMenu")
            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.Gallery</a></li>
                    </ul>
                </div>
                <div class="graph-sec single-member-content">

                    <div id="galary1" class="tab-pane fade active in">
                        <ul id="gallery">
                            <li>
                                <a href="/images/Gallery-img/ghandi_4.jpg" data-caption="Immediately opposite Gate No. 1 of Parliament House is installed a 16-feet high bronze statue of Mahatma Gandhi, the Father of the Nation.  He was a Saint among mortals, an apostle of peace, an educationist and social reformer and above all, a true humanist.  An abiding faith in truth, non-violence, selfsacrifice, tolerance and universal love was the distinguishing feature of his many-faceted personality. Mahatma Gandhi's name is synonymous with India's freedom struggle.  For nearly four decades, he was at the vanguard of the national liberation movement.  He also served as President of the Indian National Congress.  The Non-Cooperation Movement, Dandi March and Salt Satyagraha and the Quit India Movement were historical landmarks in the struggle against foreign rule which he led with peerless fervour.  Gandhiji infused a new spirit into the people, awakened national consciousness and moved the masses into action.

The statue of the Mahatma in a meditating posture, sculpted by Ram Sutar, was unveiled by the then President of India, Dr. Shanker Dayal Sharma on 2 October 1993.

The statue was donated by the Ministry of Urban Development.">
                                    <img src="/images/Gallery-img/ghandi_4.jpg">
                                </a>
                                <div class="pic-name"> Mahatma Gandhi</div>
                            </li>
                            <li>
                                <a href="/images/Gallery-img/c_mauria_1.jpg" data-caption="In the courtyard opposite Gate No. 5 of Parliament House, on a red sandstone pedestal, is installed a symbolic bronze statue of Chandragupta Maurya, one of the greatest figures in Indian history and founder of the Mauryan dynasty, who reigned from 321 B.C. to 296 B.C. The 0.74 metre high bust bears at its base the inscription:

&quot;Shepherd boy-Chandragupta Maurya
dreaming of India he was to create&quot;.

 This bust was made by Hilda Selegman who also donated it for installation in Parliament Complex.">
                                    <img src="/images/Gallery-img/c_mauria_1.jpg">
                                </a>
                                <div class="pic-name"> CHANDRAGUPTA MAURYA</div>
                            </li>
                            <li>
                                <a href="images/Gallery-img/ghosh_3.jpg" data-caption="A marble bust of Sri Aurobindo Ghosh, a freedom fighter, thinker and philosopher, is placed in another niche on the outer wall of the Central Hall, opposite Gate No. 1 of Parliament House.  Sri Aurobindo believed that all human problems cannot be solved merely by economic and political means but by a deep and psychological change.  According to him, even for social reforms, something &quot;must come from within&quot;.  Later in his life, he settled at his Ashram in Pondicherry.  The bust, sculpted by B.V. Wagh, was unveiled by the then Speaker of the Lok Sabha, Shri K.S. Hegde on 15 August 1978.
  The bust was donated by Dr. Karan Singh, MP, Chairman, Sri Aurobindo Centre, New Delhi.">
                                    <img src="/images/Gallery-img/ghosh_3.jpg">
                                </a>
                                <div class="pic-name"> AUROBINDO GHOSH</div>
                            </li>

                            <li>
                                <a href="/images/Gallery-img/g_gokale_2.jpg" data-caption="Gopal Krishna Gokhale">
                                    <img src="/images/Gallery-img/g_gokale_2.jpg">
                                </a>
                                <div class="pic-name">Gopal Krishna Gokhale</div>
                            </li>

                        </ul>
                    </div>
                    <div id="galary2" class="tab-pane fade">
                        <ul id="gallery">
                            <li>
                                <a href="/images/Gallery-img/ghandi_4.jpg" data-caption="Immediately opposite Gate No. 1 of Parliament House is installed a 16-feet high bronze statue of Mahatma Gandhi, the Father of the Nation.  He was a Saint among mortals, an apostle of peace, an educationist and social reformer and above all, a true humanist.  An abiding faith in truth, non-violence, selfsacrifice, tolerance and universal love was the distinguishing feature of his many-faceted personality.

Mahatma Gandhi's name is synonymous with India's freedom struggle.  For nearly four decades, he was at the vanguard of the national liberation movement.  He also served as President of the Indian National Congress.  The Non-Cooperation Movement, Dandi March and Salt Satyagraha and the Quit India Movement were historical landmarks in the struggle against foreign rule which he led with peerless fervour.  Gandhiji infused a new spirit into the people, awakened national consciousness and moved the masses into action.

The statue of the Mahatma in a meditating posture, sculpted by Ram Sutar, was unveiled by the then President of India, Dr. Shanker Dayal Sharma on 2 October 1993.

The statue was donated by the Ministry of Urban Development.">
                                    <img src="/images/Gallery-img/ghandi_4.jpg">
                                </a>
                                <div class="pic-name"> Mahatma Gandhi</div>
                            </li>
                            <li>
                                <a href="/images/Gallery-img/c_mauria_1.jpg" data-caption="In the courtyard opposite Gate No. 5 of Parliament House, on a red sandstone pedestal, is installed a symbolic bronze statue of Chandragupta Maurya, one of the greatest figures in Indian history and founder of the Mauryan dynasty, who reigned from 321 B.C. to 296 B.C. The 0.74 metre high bust bears at its base the inscription:

&quot;Shepherd boy-Chandragupta Maurya
dreaming of India he was to create&quot;.

 This bust was made by Hilda Selegman who also donated it for installation in Parliament Complex.">
                                    <img src="/images/Gallery-img/c_mauria_1.jpg">
                                </a>
                                <div class="pic-name"> CHANDRAGUPTA MAURYA</div>
                            </li>
                            <li>
                                <a href="/images/Gallery-img/ghosh_3.jpg" data-caption="A marble bust of Sri Aurobindo Ghosh, a freedom fighter, thinker and philosopher, is placed in another niche on the outer wall of the Central Hall, opposite Gate No. 1 of Parliament House.  Sri Aurobindo believed that all human problems cannot be solved merely by economic and political means but by a deep and psychological change.  According to him, even for social reforms, something &quot;must come from within&quot;.  Later in his life, he settled at his Ashram in Pondicherry.  The bust, sculpted by B.V. Wagh, was unveiled by the then Speaker of the Lok Sabha, Shri K.S. Hegde on 15 August 1978.
  The bust was donated by Dr. Karan Singh, MP, Chairman, Sri Aurobindo Centre, New Delhi.">
                                    <img src="images/Gallery-img/ghosh_3.jpg">
                                </a>
                                <div class="pic-name"> AUROBINDO GHOSH</div>
                            </li>

                            <li>
                                <a href="/images/Gallery-img/g_gokale_2.jpg" data-caption="Gopal Krishna Gokhale">
                                    <img src="/images/Gallery-img/g_gokale_2.jpg">
                                </a>
                                <div class="pic-name">Gopal Krishna Gokhale</div>
                            </li>

                        </ul>
                    </div>
                    <div id="galary3" class="tab-pane fade">
                        <ul id="gallery">
                            <li>
                                <a href="/images/Gallery-img/ghandi_4.jpg" data-caption="Immediately opposite Gate No. 1 of Parliament House is installed a 16-feet high bronze statue of Mahatma Gandhi, the Father of the Nation.  He was a Saint among mortals, an apostle of peace, an educationist and social reformer and above all, a true humanist.  An abiding faith in truth, non-violence, selfsacrifice, tolerance and universal love was the distinguishing feature of his many-faceted personality.

Mahatma Gandhi's name is synonymous with India's freedom struggle.  For nearly four decades, he was at the vanguard of the national liberation movement.  He also served as President of the Indian National Congress.  The Non-Cooperation Movement, Dandi March and Salt Satyagraha and the Quit India Movement were historical landmarks in the struggle against foreign rule which he led with peerless fervour.  Gandhiji infused a new spirit into the people, awakened national consciousness and moved the masses into action.

The statue of the Mahatma in a meditating posture, sculpted by Ram Sutar, was unveiled by the then President of India, Dr. Shanker Dayal Sharma on 2 October 1993.

The statue was donated by the Ministry of Urban Development.">
                                    <img src="/images/Gallery-img/ghandi_4.jpg">
                                </a>
                                <div class="pic-name"> Mahatma Gandhi</div>
                            </li>
                            <li>
                                <a href="/images/Gallery-img/c_mauria_1.jpg" data-caption="In the courtyard opposite Gate No. 5 of Parliament House, on a red sandstone pedestal, is installed a symbolic bronze statue of Chandragupta Maurya, one of the greatest figures in Indian history and founder of the Mauryan dynasty, who reigned from 321 B.C. to 296 B.C. The 0.74 metre high bust bears at its base the inscription:

&quot;Shepherd boy-Chandragupta Maurya
dreaming of India he was to create&quot;.

 This bust was made by Hilda Selegman who also donated it for installation in Parliament Complex.">
                                    <img src="/images/Gallery-img/c_mauria_1.jpg">
                                </a>
                                <div class="pic-name"> CHANDRAGUPTA MAURYA</div>
                            </li>
                            <li>
                                <a href="/images/Gallery-img/ghosh_3.jpg" data-caption="A marble bust of Sri Aurobindo Ghosh, a freedom fighter, thinker and philosopher, is placed in another niche on the outer wall of the Central Hall, opposite Gate No. 1 of Parliament House.  Sri Aurobindo believed that all human problems cannot be solved merely by economic and political means but by a deep and psychological change.  According to him, even for social reforms, something &quot;must come from within&quot;.  Later in his life, he settled at his Ashram in Pondicherry.  The bust, sculpted by B.V. Wagh, was unveiled by the then Speaker of the Lok Sabha, Shri K.S. Hegde on 15 August 1978.
  The bust was donated by Dr. Karan Singh, MP, Chairman, Sri Aurobindo Centre, New Delhi.">
                                    <img src="/images/Gallery-img/ghosh_3.jpg">
                                </a>
                                <div class="pic-name"> AUROBINDO GHOSH</div>
                            </li>

                            <li>
                                <a href="/images/Gallery-img/g_gokale_2.jpg" data-caption="Gopal Krishna Gokhale">
                                    <img src="/images/Gallery-img/g_gokale_2.jpg">
                                </a>
                                <div class="pic-name">Gopal Krishna Gokhale</div>
                            </li>

                        </ul>
                    </div>
                    <div id="galary4" class="tab-pane fade">
                        <ul id="gallery">
                            <li>
                                <a href="/images/Gallery-img/ghandi_4.jpg" data-caption="Immediately opposite Gate No. 1 of Parliament House is installed a 16-feet high bronze statue of Mahatma Gandhi, the Father of the Nation.  He was a Saint among mortals, an apostle of peace, an educationist and social reformer and above all, a true humanist.  An abiding faith in truth, non-violence, selfsacrifice, tolerance and universal love was the distinguishing feature of his many-faceted personality.

Mahatma Gandhi's name is synonymous with India's freedom struggle.  For nearly four decades, he was at the vanguard of the national liberation movement.  He also served as President of the Indian National Congress.  The Non-Cooperation Movement, Dandi March and Salt Satyagraha and the Quit India Movement were historical landmarks in the struggle against foreign rule which he led with peerless fervour.  Gandhiji infused a new spirit into the people, awakened national consciousness and moved the masses into action.

The statue of the Mahatma in a meditating posture, sculpted by Ram Sutar, was unveiled by the then President of India, Dr. Shanker Dayal Sharma on 2 October 1993.

The statue was donated by the Ministry of Urban Development.">
                                    <img src="/images/Gallery-img/ghandi_4.jpg">
                                </a>
                                <div class="pic-name"> Mahatma Gandhi</div>
                            </li>
                            <li>
                                <a href="/images/Gallery-img/c_mauria_1.jpg" data-caption="In the courtyard opposite Gate No. 5 of Parliament House, on a red sandstone pedestal, is installed a symbolic bronze statue of Chandragupta Maurya, one of the greatest figures in Indian history and founder of the Mauryan dynasty, who reigned from 321 B.C. to 296 B.C. The 0.74 metre high bust bears at its base the inscription:

&quot;Shepherd boy-Chandragupta Maurya
dreaming of India he was to create&quot;.

 This bust was made by Hilda Selegman who also donated it for installation in Parliament Complex.">
                                    <img src="/images/Gallery-img/c_mauria_1.jpg">
                                </a>
                                <div class="pic-name"> CHANDRAGUPTA MAURYA</div>
                            </li>
                            <li>
                                <a href="/images/Gallery-img/ghosh_3.jpg" data-caption="A marble bust of Sri Aurobindo Ghosh, a freedom fighter, thinker and philosopher, is placed in another niche on the outer wall of the Central Hall, opposite Gate No. 1 of Parliament House.  Sri Aurobindo believed that all human problems cannot be solved merely by economic and political means but by a deep and psychological change.  According to him, even for social reforms, something &quot;must come from within&quot;.  Later in his life, he settled at his Ashram in Pondicherry.  The bust, sculpted by B.V. Wagh, was unveiled by the then Speaker of the Lok Sabha, Shri K.S. Hegde on 15 August 1978.
  The bust was donated by Dr. Karan Singh, MP, Chairman, Sri Aurobindo Centre, New Delhi.">
                                    <img src="/images/Gallery-img/ghosh_3.jpg">
                                </a>
                                <div class="pic-name"> AUROBINDO GHOSH</div>
                            </li>

                            <li>
                                <a href="/images/Gallery-img/g_gokale_2.jpg" data-caption="Gopal Krishna Gokhale">
                                    <img src="/images/Gallery-img/g_gokale_2.jpg">
                                </a>
                                <div class="pic-name">Gopal Krishna Gokhale</div>
                            </li>

                        </ul>
                    </div>
                    <div id="galary5" class="tab-pane fade">
                        <div class="searchResulltTabl">
                            <h4 class="text-center main-title">2018</h4>
                            <table class="table table-striped gallery-year-table">
                                <thead>
                                    <tr>
                                        <th>Quarter Name</th>
                                        <th>Title</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Jan-Mar</td>
                                        <td>
                                            &nbsp;
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Apr-Jun</td>
                                        <td>
                                            <ul>
                                                <li><a href="#">Oath Taking Ceremony of Member of Rajya Sabha in Chairman Chamber on 4th May, 2018</a></li>
                                                <li><a href="#">Floral tributes by Hon'ble Chairman, Rajya Sabha in Parliament House Complex on 14th April, 2018 on the occasion of the birth anniversary of Dr. B.R.Ambedkar.</a></li>
                                            </ul>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Jul-Sep</td>
                                        <td>
                                            <ul>
                                                <li><a href="#">bulletCertificate Awarding Ceremony for Regional Language Interpreting Consultants Organised by Simultaneous Interpretation Service, Rajya Sabha Secretariat on 10.07.2018</a></li>
                                                <li><a href="#">Study Visit of Department Related Parliamentary Standing Committee on Commerce to Mumbai from 9th to 11th July, 2018 on the subject 'Impact of Banking Misappropriation on Trade and Industry'.</a></li>

                                                <li><a href="#">Orientation Programme for Newly Elected and Nominated Members of Rajya Sabha</a></li>
                                            </ul>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Oct-Dec</td>
                                        <td>
                                            &nbsp;
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="galary6" class="tab-pane fade">
                        <div class="gallery-archive-sec">
                            <h4 class="text-center main-title">YEAR WISE ARCHIVE OF PHOTO ALBUMS</h4>
                            <ul>
                                <li><a href="">2019</a></li>
                                <li><a href="">2018</a></li>
                                <li><a href="">2017</a></li>
                                <li><a href="">2016</a></li>
                                <li><a href="">2015</a></li>
                                <li><a href="">2014</a></li>
                                <li><a href="">2013</a></li>
                                <li><a href="">2012</a></li>
                                <li><a href="">2011</a></li>
                                <li><a href="">2010</a></li>
                                <li><a href="">2009</a></li>
                                <li><a href="">2008</a></li>
                                <li><a href="">2007</a></li>
                                <li><a href="">2006</a></li>
                                <li><a href="">2005</a></li>
                                <li><a href="">2004</a></li>
                                <li><a href="">2003</a></li>
                                <li><a href="">2002</a></li>
                                <li><a href="">2001</a></li>
                                <li><a href="">2000</a></li>
                                <li><a href="">1999</a></li>
                                <li><a href="">1998</a></li>
                                <li><a href="">1997</a></li>
                                <li><a href="">1996</a></li>
                                <li><a href="">1995</a></li>
                                <li><a href="">1994</a></li>
                                <li><a href="">1993</a></li>
                                <li><a href="">1992</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



