﻿@using RSWP_DOM.Common
@model IEnumerable<Documents>
<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
    <div class="box-midd question-middle-sec">
        <h4 class="text-center">@RSWP_UI.Resources.Resource.ARCHIVESOFQUESTIONS </h4>
        <div class="searchResulltTabl">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@RSWP_UI.Resources.Resource.SessionNo_sm.</th>
                        <th>@RSWP_UI.Resources.Resource.FileName</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Count() > 0)
                        {

                            foreach (var data in Model)
                            {
                                <tr>
                                    <td>@data.session</td>
                                    <td><a href="@data.FileUrl" target="_blank">@data.Name</a></td>
                                </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="2" align="center">@RSWP_UI.Resources.Resource.NoRecordsFound</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
