﻿<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.BallotList</h3>
    <div class="box-midd">
        <div class="filterOptionDrop row">
            <br />
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectSession</label>
                <select class="form-control" id="Sel_Session">
                    <option>--Please Select--</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectDate</label>
                <select class="form-control" id="Sel_Date">
                    <option>--Please Select--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="searchResulltTabl">
        <table class="table table-striped" id="tblQuestionDtWise">
            <thead>
                <tr>
                    <th width="10%">@RSWP_UI.Resources.Resource.SNo.</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.QN.</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.QType_sm</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.Date_sm</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Ministry_sm</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Member</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Subject</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    var session = '';
    var sessionDate = '';

    var url_ballotSession = 'http://164.100.47.5/api_new/Question/GetBallot_session';
    $.ajax({
        'url': url_ballotSession,
        'method': 'GET',
        success: function (data) {
            $.each(data, function (key, value) {
                var ballotSession = $("<option></option>").val(value.session_code).text(value.Session_value);
                $('#Sel_Session').append(ballotSession);
            });
        },
        error: function (err) { console.log(err); }
    });

    var getdate = function () {
        var url_sessionWiseDate = 'http://164.100.47.5/api_new/question/GetQuestion_sessionDate?session=' + session;
        $.ajax({
            'url': url_sessionWiseDate,
            'method': 'GET',
            success: function (data) {
                console.log("session wise date: ", data);
                $.each(data, function (key, value) {
                    var sessionDate = $("<option></option>").val(value.session_date).text(value.session_date);
                    $('#tblQuestionDtWise').append(sessionDate);
                });
            },
            error: function (err) { console.log(err); }
        });
    }

    var getballot = function () {
        var url_ballotList = 'http://164.100.47.5/api_new/Question/Get_Ballot_position_oral?session=' + session + '&date=' + sessionDate;
        $.ajax({
            'url': url_ballotList,
            'method': 'GET',
            success: function (data) {
                var ballot_data = '';
                $('#member_table tbody').empty();
                var i = 1;
                $.each(data, function (key, value) {
                    ballot_data += '<tr>';
                    ballot_data += '<td>' + i + '</td>';
                    ballot_data += '<td>' + i + '</td>';
                    ballot_data += '<td>' + i + '</td>';
                    ballot_data += '<td>' + i + '</td>';
                    ballot_data += '<td>' + i + '</td>';
                    ballot_data += '<td>' + i + '</td>';
                    ballot_data += '<td>' + i + '</td>';
                    ballot_data += '</tr>';
                });
            },
            error: function (err) { console.log(err); }
        });
    }

    $('#Sel_Session').change(function (e) {
        session = $(this).val();
        getdate();
    });

    $('#Sel_Date').change(function (e) {
        sessionDate = $(this).val();
        getballot();
    });
</script>
