﻿@using RSWP_UI.Models;
@model List<sittingMaster> 
<<<<<<< HEAD

<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.SearchQuestions</h3>
    <div class="box-midd">
        <div class="filterOptionDrop row">
            <br />
=======
<h3 class="text-center rcolor">Search Questions</h3>
<div class="box-midd">
    <div class="memberListAraSearch">
        <br/>
        <div class="row">
            
>>>>>>> 3196ca80bde294ffd842862495805a526b8006d5
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectSession</label>
                <select class="form-control" id="idSelSession">
                    <option>--Please Select--</option>
                    @foreach (var session in (List<int>)TempData["sessionNo"])
                    {
                        <option>@session</option>
                    }
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label>Select Date</label>
                <select class="form-control" id="idSelDate"></select>
            </div>
        </div>
    </div>
<<<<<<< HEAD
    <div class="searchResulltTabl">
        <table class="table table-striped" id="tblQuestionDtWise">
            <thead>
                <tr>
                    <th width="10%">@RSWP_UI.Resources.Resource.SNo.</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.QN.</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.QType_sm</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.Date_sm</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Ministry_sm</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Member</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Subject</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
=======
>>>>>>> 3196ca80bde294ffd842862495805a526b8006d5
</div>

<script>
    var sessionNo = '';
    var sittingDate = '';
    var model = @Html.Raw(Json.Encode(Model));
<<<<<<< HEAD

    $("#idSelSession").change(function () {
        console.log($(this).val());
        sessionNo = $(this).val();
        getSittingDates();
        getQuestionDateWise();
    });

    $('#idSelDate').change(function (e) {
        sittingDate = $(this).val();
        getQuestionDateWise();
=======
    console.log(model);

    $(function () {
        $("#idSelSession").change(function () {
            console.log($(this).val());
            sessionNo = $(this).val();
            getSittingDates();
        });
>>>>>>> 3196ca80bde294ffd842862495805a526b8006d5
    });

    var getSittingDates = function () {
        $('#idSelDate').empty();
<<<<<<< HEAD
        $('#idSelDate').append($("<option></option>").text('--Please Select--'));
        $.each(model, function (key, value) {
            if(sessionNo == value.sessionNo){
                var sDate = value.SittingDate;
                sDate = sDate.substring(6, sDate.length-2);

                let dateS = new Date(parseInt(sDate, 10));
                dateS = dateS.getDate() + "." + (dateS.getMonth() + 1) + "." + dateS.getFullYear();
                var date_list = $("<option></option>").text(dateS);
                $('#idSelDate').append(date_list);
            }
        });
    }

    var getQuestionDateWise = function(){
        if(sessionNo && sittingDate){
            console.log("sessionNo", sessionNo);
            console.log("sittingDate", sittingDate);

            url_getQuestion_dateWise = 'http://164.100.47.5/api_new/question/Get_Question_DateWise?session=' + sessionNo + '&ansdate=' + sittingDate;
            //url_getQuestion_dateWise = 'http://164.100.47.5/api_new/question/Get_Question_DateWise?session=249&ansdate=21.06.2019';

            $.ajax({
                'url': url_getQuestion_dateWise,
                'method': 'GET',
                success: function (data) {
                    sortResults(data, 'qno', false);

                    var table_row = '';
                    $('#tblQuestionDtWise tbody').empty();
                    var i = 1;
                    $.each(data, function (key, value) {
                        table_row += '<tr>';
                        table_row += '<td>' + i + '</td>';
                        table_row += '<td><a class="link" row-value="">' + $.trim(value.qno) + '</a></td>';
                        table_row += '<td>' + $.trim(value.qtype) + '</td>';
                        table_row += '<td>' + $.trim(value.ans_date) + '</td>';
                        table_row += '<td>' + $.trim(value.min_name) + '</td>';
                        table_row += '<td>' + $.trim(value.name) + '</td>';
                        table_row += '<td>' + $.trim(value.qtitle) + '</td>';
                        table_row += '</tr>';

                        i++;
                    });
                    $('#tblQuestionDtWise tbody').append(table_row);
                },
                error: function (err) { console.log(err); }
            });
        }
    }

    function sortResults(result, prop, asc) {
        result.sort(function (a, b) {
            if (asc) {
                return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
            } else {
                return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
            }
=======
        $('#idSelDate').append($("<option></option>").val('').html('--Please Select--'));
        $.each(model, function (key, value) {
            console.log("sessionNo in getSittingDates",sessionNo);
            if(sessionNo == value.sessionNo){
                //var sittingDate = value.SittingDate;
                //sittingDate = sittingDate.substring(6, sittingDate.length-2);
                //var dateS = new Date(sittingDate).toDateString("MMMM dd, yyyy");
                //console.log("sitting Dates", sittingDate);
            }
            //var state_list = $("<option></option>").val(value.code).html(value.name);
            //$('#ddlParty').append(state_list);
>>>>>>> 3196ca80bde294ffd842862495805a526b8006d5
        });
    }

</script>
