﻿@using RSWP_DOM.Common
@model QuestionDocumentsToShow
<div class="boxSearchMid">

	<div class="box-midd">
		<iframe class="custom-pdf" id="pdfIframe" src="@Model.FileUrl" style="-webkit-transition: width 2s; transition: width 2s;width: 100%;">
            <p>%">@RSWP_UI.Resources.Resource.Yourbrowserdoesnotsupportiframes.</p>
		</iframe>

	</div>
	<div class="memberListAraSearch">
		<div class="row">
			<form>
				<div class="col-sm-12 text-center">
                    <a class="btn btn-default" href="http://164.100.47.5/newsite/dailyquestions/archivepage.aspx">%">@RSWP_UI.Resources.Resource.Archive</a>
					<a href="@Model.FileUrl" class="btn btn-default" target="_blank" id="IpdfShow">PDF link @Model.FileSize</a>
					<button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
					<!--
					<button type="button" class="btn btn-default reduce">Reduce Width&nbsp;&lt;&lt; </button>-->
				</div>
			</form>
		</div>
	</div>
</div>
@*<script>
    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("QuestionChartPDF", "Questions")',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data.data != "") {
                    $("#pdfIframe").attr("src", data.data.FileUrl);
	                $("#IpdfShow").attr("href", data.data.FileUrl);
                    $("#IpdfShow").text("Open in New Window" + data.data.FileSize)
                    $("#IpdfShow").show();
					$("#pdfIframe").show();
                }
                else {
                    $("#pdfIframe").hide();
                }

            }

        });
    });
</script>*@
