﻿@using RSWP_DOM.Common
@model QuestionDocumentsToShow
<div class="boxSearchMid">
    <div class="box-midd question-middle-sec">
        <div class="top-qa-row">
            @if (ViewBag.switchName == "GroupingOfMinistries")
            {
            <a href="@Url.Action("OthersLinks","Questions", new { questionsTypes = "Archive"})" class="btn btn-danger">@RSWP_UI.Resources.Resource.Archive</a>
            }
        </div><br/>
        <div>
            @Html.Raw(Model.Description)
        </div>
        @*<h4 class="text-center">
            QUESTIONS & ANSWERS
            GROUPING OF MINISTRIES
        </h4>
        <p>For the purpose of answering question in Rajya Sabha, Ministries of the Government of India have been divided into five groups, i.e, I,II.III,IV and V and these groups have been allotted Mondays, Tuesdays, Wednesdays, Thursdays and Fridays, respectively. The grouping is done in such a way that each Minister has one day fixed in the week for answering questions in Rajya Sabha and another fixed day in the week for answering questions in Lok Sabha</p>
        <p>Changes are introduced in the grouping of Ministries according to the changes in the restructuring of Ministries or due to a reshuffle in the portfolios of Ministries or other relevant reasons. Since there are some Ministries about which more questions are tabled, grouping is done in such a way that as far as practicable, each group has approximately the same number of questions on a day on average. The Ministries which attract a large number of questions are not usually bunched together.</p>*@
        <div class="pdf-link" style="text-align:right">
            <a href="@Model.FileUrl" target="_blank" class="btn btn-danger">PDF link @Model.FileSize</a>
        </div>
    </div>
</div>

