﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.Questions</h4>
        <ul class="sideBarList height-s">
            <li><a href="@Url.Action("Index", new { questionsTypes = "QuestionCharts" })" class="active" data-section="Questions" data-subsection="Questions" data-module="Question Charts">@RSWP_UI.Resources.Resource.QuestionCharts</a></li>
            <li><a href="@Url.Action("Index", new { questionsTypes = "QuestionCalender" })" data-section="Questions" data-subsection="Questions" data-module="Question Calender">@RSWP_UI.Resources.Resource.QuestionCalender</a></li>
            <li><a href="/Questions/BallotList" data-section="Questions" data-subsection="Questions" data-module="Ballot List">@RSWP_UI.Resources.Resource.BallotList</a></li>
            <li><a href="/Questions/PendingQuestionsStatus" data-section="Questions" data-subsection="Questions" data-module="Pending Questions Status">@RSWP_UI.Resources.Resource.PendingQuestionsStatus</a></li>
            <li><a href="/Questions/SupplementaryQuestion" data-section="Questions" data-subsection="Questions" data-module="Question Calender">@RSWP_UI.Resources.Resource.SupplementaryQuestions</a></li>
            <li><a href="/Questions/ShortNoticeQuestions" data-section="Questions" data-subsection="Questions" data-module="Question Calender">@RSWP_UI.Resources.Resource.ShortNoticeQuestions</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.QuestionsList</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("QuestionListStarred","Questions")" data-section="Questions" data-subsection="Questions List" data-module="Starred - Answers given/tabled">@RSWP_UI.Resources.Resource.StarredAnswersgiventabled</a></li>
            <li><a href="@Url.Action("QuestionListStarred","Questions")" data-section="Questions" data-subsection="Questions List" data-module="Unstarred - Answers tabled">@RSWP_UI.Resources.Resource.UnstarredAnswerstabled</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.SearchQuestions</h4>
        <ul class="sideBarList">
            <li><a href="/Questions/MemberWiseSearch" data-section="Questions" data-subsection="Search Questions" data-module="Member wise Search">@RSWP_UI.Resources.Resource.MemberwiseSearch</a></li>
            <li><a href="/Questions/DateWiseSearch" data-section="Questions" data-subsection="Search Questions" data-module="Date Wise">@RSWP_UI.Resources.Resource.DateWise</a></li>
            <li><a href="/Questions/QuestionNumberWiseSearch" data-section="Questions" data-subsection="Search Questions" data-module="Question No. Wise">@RSWP_UI.Resources.Resource.QuestionNoWise</a></li>
            <li><a href="/Questions/QuestionTypeWiseSearch" data-section="Questions" data-subsection="Search Questions" data-module="Question Type">@RSWP_UI.Resources.Resource.QuestionType</a></li>
            <li><a href="/Questions/SessionWiseSearch" data-section="Questions" data-subsection="Search Questions" data-module="Session Wise">@RSWP_UI.Resources.Resource.SessionWise</a></li>
            <li><a href="/Questions/MinistryWiseSearch" data-section="Questions" data-subsection="Search Questions" data-module="Ministry Wise">@RSWP_UI.Resources.Resource.MinistryWise</a></li>
            <li><a href="/Questions/IntegratedSearchForm" data-section="Questions" data-subsection="Search Questions" data-module="Integrated Search Form">@RSWP_UI.Resources.Resource.IntegratedSearchForm</a></li>
        </ul>
    </div>
</div>
