﻿
<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.SearchQuestions</h3>
    <div class="box-midd">
        <div class="filterOptionDrop row">
            <br />
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectSession</label>
                <select class="form-control" id="sel_session">
                    <option>--Please Select--</option>
                    @foreach (var session in (List<int>)TempData["sessionNo"]??new List<int>())
                    {
                        <option>@session</option>
                    }
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectMinistry</label>
                <select class="form-control" id="sel_ministry"></select>
            </div>
        </div>
    </div>
    <div class="searchResulltTabl">
        <table class="table table-striped" id="tblQuestionDtWise">
            <thead>
                <tr>
                    <th width="10%">@RSWP_UI.Resources.Resource.SNo.</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.QN.</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.QType_sm</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.Date_sm</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Ministry_sm</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Member</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Subject</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    var sessionNo = '';
    var ministryName = '';

    $("#sel_session").change(function () {
        //sessionNo = $(this).val();
        sessionNo = 249;
        getMinistry();
        getQuestionMinistryWise();
    });

    $('#sel_ministry').change(function (e) {
        ministryName = $(this).val();
        getQuestionMinistryWise();
    });

    var getMinistry = function () {
        //url_getQuestion_sessionWise = 'http://164.100.47.5/api_new/Question/Get_Question_SessionWise?session=' + sessionNo;
        url_getQuestion_sessionWise = 'http://164.100.47.5/api_new/Question/Get_Question_SessionWise?session=249';

        $.ajax({
            'url': url_getQuestion_sessionWise,
            'method': 'GET',
            success: function (data) {
                var result = data;
                var unique_min_name = Array.from(new Set(result.map(r=>r.min_name)))
                    .map(min_name=> {
                        return {
                            name: $.trim(result.find(s=>s.min_name === min_name).min_name)
                        }
                    });
                
                sortResults(unique_min_name, "name", true);

                $('#sel_ministry').empty();
                $('#sel_ministry').append($("<option></option>").text('--Please Select--'));
                $.each(unique_min_name, function (key, value) {
                    var min_list = $("<option></option>").text($.trim(value.name));
                    $('#sel_ministry').append(min_list);
                });
            },
            error: function (err) { console.log(err); }
        });
    }

    var getQuestionMinistryWise = function () {
        url_getData = 'http://164.100.47.5/api_new/Question/GetMinistry_Question?sessionno=249&minid=16';
        /// ministry id is needed
    }

    function sortResults(result, prop, asc) {
        result.sort(function (a, b) {
            if (asc) {
                return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
            } else {
                return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
            }
        });
    }

</script>
