﻿@using RSWP_DOM.Common
@model IEnumerable<MinistryNodalOfficers>
<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
    <div class="box-midd">
        <div class="graph-sec single-member-content">
            <div class="top-qa-row">
                <a href="@Url.Action("OthersLinks", new { questionsTypes = "MinistryWiseNodalOfficers", archive="yes" })" class="btn btn-danger">@RSWP_UI.Resources.Resource.Archive</a>
            </div>
            <h4>@RSWP_UI.Resources.Resource.CABINETSECRETARIAT</h4>
            <div class="searchResulltTabl">
                <table class="table table-striped NodalOfficersTBL-Width">
                    <thead>
                        <tr>
                            <th width="5%">@RSWP_UI.Resources.Resource.SNo</th>
                            <th width="40%">@RSWP_UI.Resources.Resource.Name_Designation</th>
                            <th width="5%">@RSWP_UI.Resources.Resource.OfficeTelephoneNo</th>
                            <th width="5%">@RSWP_UI.Resources.Resource.ResidenceTelephoneNo.</th>
                            <th width="5%">@RSWP_UI.Resources.Resource.EMail</th>
                            <th width="40%">@RSWP_UI.Resources.Resource.OfficeAddress</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count() > 0)
                            {

                                foreach (var data in Model)
                                {
                                    <tr>
                                        <td>@data.Id</td>
                                        <td>@data.NameOfOfficer (@data.Ministry @data.Designation)</td>
                                        <td>@data.OfficeTelephoneNo (FAX)</td>
                                        <td>@data.ResidenceTelephoneNo</td>
                                        <td>@data.Email </td>
                                        <td>@data.OfficeAddress </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" align="center">@RSWP_UI.Resources.Resource.NoRecordsFound</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div style="text-align:right">
                <a target="_blank" class="btn btn-danger" id="pdfID"></a>
            </div>
        </div>
        <div class="responsible-person">
            <h5>@RSWP_UI.Resources.Resource.Source_sm:-</h5>
            <p>@RSWP_UI.Resources.Resource.ShriPPKRamacharyulu</p>
            <p>@RSWP_UI.Resources.Resource.Secretary,</p>
            <p>@RSWP_UI.Resources.Resource.PhoneNos. 23034204, 23012592 </p>
            <p>@RSWP_UI.Resources.Resource.FaxNo. – 223015585</p>
            <p>@RSWP_UI.Resources.Resource.EMail - <span>charyulu@sansad.nic.in</span></p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({  
            type: 'POST',  
            url: '@Url.Action("MinistryWiseNodalOfficersPDF", "Questions")',  
            dataType: 'json',  
            success: function (data) {
                console.log(data);
                if (data.data != "") {
                    $("#pdfID").attr("href", data.data.FileUrl);
                    $("#pdfID").text("PDF link " + data.data.FileSize)
                    $("#pdfID").show();
                }
                else {
                    $("#pdfID").hide();
                }
                    
            }  
             
        }); 
    });
</script>