﻿<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.PendingQuestionsStatus</h3>
    <div class="box-midd">
        <div class="filterOptionDrop row">
            <br />
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectSession</label>
                <select class="form-control" id="Sel_Session">
                    <option>--Please Select--</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectType</label>
                <select class="form-control" id="Sel_Type">
                    <option>--Please Select--</option>
                    <option value="1">@RSWP_UI.Resources.Resource.MinistryWise</option>
                    <option value="2">@RSWP_UI.Resources.Resource.SittingDateWise</option>
                    <option value="3">@RSWP_UI.Resources.Resource.DepartmentWise</option>
                </select>
            </div>
        </div>
        <div class="filterOptionDrop row" id="divMinistry" hidden>
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectMinistry</label>
                <select class="form-control" id="Sel_ministry">
                    <option>--Please Select--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="searchResulltTabl">
        <table class="table table-striped" id="tblShortQuestion">
            <thead>
                <tr>
                    <th width="10%">@RSWP_UI.Resources.Resource.SNo.</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.QN.</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.QType_sm</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.Date_sm</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Ministry_sm</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Member</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Subject</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    var url_pendingQSession = 'http://164.100.47.5/api_new/Question/Get_pending_Question_session';
    $.ajax({
        url: url_pendingQSession,
        type: 'GET',
        success: function (data) {
            sortResults(data, 'session_code', false);
            $.each(data, function (key, value) {
                var sessionOption = $('<option></option>').val(value.session_code).text(value.Session_value);
                $('#Sel_Session').append(sessionOption);
            });
        },
        error: function (err) { console.log(err); }
    });

    $('#Sel_Type').change(function () {
        if ($(this).val() == 1) {
            $('#divMinistry').show();
        }
        else {
            $('#divMinistry').hide();
        }
    });

    function sortResults(result, prop, asc) {
        result.sort(function (a, b) {
            if (asc) {
                return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
            } else {
                return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
            }
        });
    }
</script>
