﻿@using RSWP_UI.Models;
@model List<sittingMaster>

<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.SearchQuestions</h3>
    <div class="box-midd">
        <div class="filterOptionDrop row">
            <br />
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectSession</label>
                <select class="form-control" id="idSelSession">
                    <option>--Please Select--</option>
                    @foreach (var session in (List<int>)TempData["sessionNo"]??new List<int>())
                    {
                        <option>@session</option>
                    }
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectQuestionNo. </label>
                <label id="lblQuestionLimit"></label><br />
                <input type="number" class="clsQNo" id="inputNumQNo">
            </div>
            <div class="col-md-12 form-group">
                <div class="radio-inline">
                    <label><input type="radio" name="optradio" id="STARRED" value="STARRED">@RSWP_UI.Resources.Resource.STARRED</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" name="optradio" id="UNSTARRED" value="UNSTARRED">@RSWP_UI.Resources.Resource.UNSTARRED</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="searchResulltTabl">
    <table class="table table-striped" id="tblQuestionNoWise">
        <thead>
            <tr>
                <th width="10%">@RSWP_UI.Resources.Resource.SNo.</th>
                <th width="10%">@RSWP_UI.Resources.Resource.QN.</th>
                <th width="10%">@RSWP_UI.Resources.Resource.QType_sm</th>
                <th width="10%">@RSWP_UI.Resources.Resource.Date_sm</th>
                <th width="20%">@RSWP_UI.Resources.Resource.Ministry_sm</th>
                <th width="20%">@RSWP_UI.Resources.Resource.Member</th>
                <th width="20%">@RSWP_UI.Resources.Resource.Subject</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    var sessionNo = '';
    var questionNo = '';
    var questionType = '';
    var noOfQ = '';
    var result = '';

    var model = @Html.Raw(Json.Encode(Model));

    $("#idSelSession").change(function () {
        console.log($(this).val());
        sessionNo = $(this).val();

        getNoOfQuestions();
        getQuestionNoWise();
    });

    $('#inputNumQNo').change(function (e) {
        questionNo = $(this).val();
        getQuestionNoWise();
    });

    /////// onclick Radio button ///////
    $( "input" ).on( "click", function() {
        var radioVal = $( "input:checked" ).val();
        console.log(radioVal);
        
        var table_row = '';
        $('#tblQuestionNoWise tbody').empty();
        var i = 1;
        $.each(result, function(key, value){
            if($.trim(value.qtype) == radioVal){
                console.log("result value",value);
                table_row += '<tr>';
                table_row += '<td>' + i + '</td>';
                table_row += '<td><a class="link" row-value="">' + $.trim(value.qno) + '</a></td>';
                table_row += '<td>' + $.trim(value.qtype) + '</td>';
                table_row += '<td>' + $.trim(value.ans_date) + '</td>';
                table_row += '<td>' + $.trim(value.min_name) + '</td>';
                table_row += '<td>' + $.trim(value.name) + '</td>';
                table_row += '<td>' + $.trim(value.qtitle) + '</td>';
                table_row += '</tr>';

                i++;
            }
        });
        $('#tblQuestionNoWise tbody').append(table_row);
    });

    var getNoOfQuestions = function(){
        document.getElementById('inputNumQNo').value = '';
        noOfQ = 0;
        $.each(model, function (key, value) {
            if(sessionNo == value.sessionNo){
                noOfQ++;
            }
        });
        console.log("getNoOfQuestions",noOfQ);
        let lblTxt = '(1 - '+ noOfQ +')';
        $('#lblQuestionLimit').text(lblTxt);
        document.getElementById('inputNumQNo').min = 1;
        document.getElementById('inputNumQNo').max = noOfQ;
    }

    var getSittingDates = function () {
        $('#idSelDate').empty();
        $('#idSelDate').append($("<option></option>").text('--Please Select--'));
        $.each(model, function (key, value) {
            if(sessionNo == value.sessionNo){
                var sDate = value.SittingDate;
                sDate = sDate.substring(6, sDate.length-2);

                let dateS = new Date(parseInt(sDate, 10));
                dateS = dateS.getDate() + "." + (dateS.getMonth() + 1) + "." + dateS.getFullYear();
                var date_list = $("<option></option>").text(dateS);
                $('#idSelDate').append(date_list);
            }
        });
    }

    var getQuestionNoWise = function(){
        if(sessionNo && questionNo){
            console.log("sessionNo", sessionNo);
            console.log("questionNo", questionNo);

            url_getQuestion_noWise = 'http://164.100.47.5/api_new/question/Get_Question_QuestionWise?sessionno=249&qno=500';
            //url_getQuestion_noWise = 'http://164.100.47.5/api_new/question/Get_Question_QuestionWise?sessionno=' + sessionNo + '&qno=' + questionNo;
            
            $.ajax({
                'url': url_getQuestion_noWise,
                'method': 'GET',
                success: function (data) {
                    result = data;

                    var table_row = '';
                    $('#tblQuestionNoWise tbody').empty();
                    var i = 1;
                    $.each(data, function (key, value) {
                        table_row += '<tr>';
                        table_row += '<td>' + i + '</td>';
                        table_row += '<td><a class="link" row-value="">' + $.trim(value.qno) + '</a></td>';
                        table_row += '<td>' + $.trim(value.qtype) + '</td>';
                        table_row += '<td>' + $.trim(value.ans_date) + '</td>';
                        table_row += '<td>' + $.trim(value.min_name) + '</td>';
                        table_row += '<td>' + $.trim(value.name) + '</td>';
                        table_row += '<td>' + $.trim(value.qtitle) + '</td>';
                        table_row += '</tr>';

                        i++;
                    });
                    $('#tblQuestionNoWise tbody').append(table_row);
                },
                error: function (err) { console.log(err); }
            });
        }
    }
</script>

