﻿@model RSWP_UI.Models.BussinessDocumentModel
@{
	ViewBag.Title = "ListOfBussiness";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Business.css" rel="stylesheet" />
<section class="row contentRow bgRajhSabha">
	<div class="container-fluid bgWhiteConter">
		<div class="row">
			<div class="col-md-3">
				@Html.Partial("_SideLayoutMenu")
			</div>
			<div class="col-md-6 boxMiddleBorder" id="business-center">
				<div class="broadComTab">
					<ul>
						<li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

						<li><a href="#">@RSWP_UI.Resources.Resource.Business</a></li>
						<li><a href="">@RSWP_UI.Resources.Resource.ListofBusiness</a></li>
					</ul>
				</div>
				<div class="boxSearchMid">
                    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
					<div class="box-midd">
                        <h4 class="text-center" style="margin-top:0px;">@RSWP_UI.Resources.Resource.ListofBusiness</h4>
						<div id="dvSessions" class="sessionNo" style="margin-top:10px;">
							<div class="row select_dropd input-panel">
								<div class="col-md-2"><span>@RSWP_UI.Resources.Resource.Session</span></div>
								<div class="col-md-4">
									<select style="width: 100px;" id="slctSession">
										@foreach (var item in Model.Sessions)
										{
											<option value="@item">@item</option>
										}
									</select>
								</div>
								<div class="col-md-2">
                                    <span>@RSWP_UI.Resources.Resource.SelectMonth</span>
								</div>
								<div class="col-md-4">
									@Html.DropDownList("sittingMonth", Model.SittingMonths, new { width = "100px" })
								</div>
							</div>
						</div>
						<div class="calendar_panel time_table" style="margin: 20px 0 10px 0;">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										<td>
                                            <strong style="color:#ffffff;">@RSWP_UI.Resources.Resource.Dates</strong>
										</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="busiDate22">
											<ul id="ulDocuments">
												@foreach (var item in Model.Documents)
												{
													<li class="firstli">
														<a href="javascript:void(0)" class="lnk" onclick="setFrameUrl('@item.FileUrl')">
															@item.selectedDate.Value.Day

															@if (item.FileType == "LOB")
															{
																<span></span>
															}
															else if (item.FileType == "RLOB")
															{
																<span>r</span>
															}
															else if (item.FileType == "SLOB")
															{
																<span>s</span>
															}
															else if (item.FileType == "SLOB-2")
															{
																<span>ss</span>
															}
														</a>
													</li>
												}
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					@if (Model.Documents.Count > 0)
					{
						<iframe id="docFrame" src="@Model.Documents.First().FileUrl" style="width:800px;height:300px"></iframe>
					}
					else
					{
						<iframe id="docFrame" src="" style="width:800px;height:300px"></iframe>
					}
					<div class="memberListAraSearch">
						<div class="row">
							<form>
								<div class="col-sm-12 text-right">
									@*<a class="btn btn-default" href="http://164.100.47.5/webcom/ProvisionalCalender_Archive.aspx">Archive</a>*@
									<button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
									<!--<button type="button" class="btn btn-default reduce">Reduce Width&nbsp;&lt;&lt; </button>-->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="sectionBox">
					<ul class="sideBarList sidebar-none">
						<li><a href="">@RSWP_UI.Resources.Resource.SpecialMentions</a></li>
						<li><a href="">@RSWP_UI.Resources.Resource.MattersRaisedwithPermissionZeroHour</a></li>
					</ul>
				</div>
				<div class="sectionBox">
                    <h4>@RSWP_UI.Resources.Resource.LEGISLATION_C</h4>
					<ul class="sideBarList">
						<li><a href="">@RSWP_UI.Resources.Resource.Introduction</a></li>
						<li><a href="">@RSWP_UI.Resources.Resource.BillsIntroducedDuringSession</a></li>
						<li><a href="">@RSWP_UI.Resources.Resource.BillsPassedDuringSession</a></li>
						<li><a href="">@RSWP_UI.Resources.Resource.BillsSearchAdvanced</a></li>
					</ul>
				</div>
				<div class="sectionBox">
                    <h4>@RSWP_UI.Resources.Resource.STATEMENTS</h4>
					<ul class="sideBarList">
						<li><a href="">@RSWP_UI.Resources.Resource.BillsPassedbytheHouseofParliament</a></li>
						<li><a href="">@RSWP_UI.Resources.Resource.BillsPendingattheEndofSession</a></li>
						<li><a href="">@RSWP_UI.Resources.Resource.GovernmentlegBusinesstobeTakenUp</a></li>
						<li><a href="">@RSWP_UI.Resources.Resource.WeeklyProgressofBills</a></li>
						<li><a href="">@RSWP_UI.Resources.Resource.StatuaryOrderlaid</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
    function setFrameUrl(url) {
        $('#docFrame').attr('src', url);
    }
    $('#slctSession').change(function () {
        var sessionNo = $(this).val();
        $.ajax({
            url: '@Url.Action("GetJsonSessionSittings", "Business")',
            data: { sessionNo: sessionNo, section: 'TableOffice', subSection: 'TableBusiness'},
            success: function (response) {
                var optionHtml = '';
                for (var i = 0; i < response.length; i++) {
                    $('#sittingMonth option').remove();
                    optionHtml += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                }
                $('#sittingMonth').append(optionHtml);
                $('#docFrame').attr('src', '');
                UpdateDocuments();
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    });
    $('#sittingMonth').change(function () {
        $('#docFrame').attr('src', '');
        UpdateDocuments();
    });

    function UpdateDocuments() {
        $.ajax({
            url: '@Url.Action("GetJsonDocuments", "Business")',
            data: { month: $('#sittingMonth').val(), sessionNo: $('#slctSession').val(), section: 'TableOffice', subSection: 'TableBusiness ' },
            success: function (response) {
                $('#ulDocuments li').remove();
                var liHtml = '';
                for (var i = 0; i < response.length; i++) {
                    var sittingDate = new Date(response[i].selectedDate.match(/\d+/)[0] * 1);
                    liHtml += '<li>';
                    var clickEvent = "setFrameUrl('" + response[i].FileUrl + "')";
                    liHtml += '<a href="javascript:void(0)" onclick="'+clickEvent+'" class="lnk">';
                    liHtml += sittingDate.getDate();
                    if (response[i].FileType == 'LOB')
                        liHtml += '<span></span>';
                    else if (response[i].FileType == 'RLOB')
                        liHtml += '<span>r</span>';
                    else if (response[i].FileType == 'SLOB')
                        liHtml += '<span>s</span>';
                    else if (response[i].FileType == 'SLOB-2')
                        liHtml += '<span>ss</span>';
                    liHtml += '</a></li>';
                }
                if (response.length > 0)
                    $('#docFrame').attr('src', response[0].FileUrl);

                $('#ulDocuments').append(liHtml);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
</script>

