﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.GeneralInformation</h4>
        <ul class="sideBarList height-s">
            <li><a href="@Url.Action("Index", new { questionsTypes = "Introduction" })" data-section="Questions" data-subsection="General Information" data-module="Introduction">@RSWP_UI.Resources.Resource.Introduction</a></li>
            <li><a href="@Url.Action("Index", new { questionsTypes = "RulesOfProcedure" })" data-section="Questions" data-subsection="General Information" data-module="Rules of Procedure">@RSWP_UI.Resources.Resource.RulesofProcedure</a></li>
            <li><a href="@Url.Action("Index", new { questionsTypes = "GroupingOfMinistries" })" data-section="Questions" data-subsection="General Information" data-module="Grouping of Ministries">@RSWP_UI.Resources.Resource.GroupingofMinistries</a></li>
            <li><a href="@Url.Action("Index", new { questionsTypes = "TypesOfQuestions" })" data-section="Questions" data-subsection="General Information" data-module="Types of Questions">@RSWP_UI.Resources.Resource.TypesofQuestions</a></li>
            <li><a href="@Url.Action("Index", new { questionsTypes = "AdmissibilityOfQuestions" })" data-section="Questions" data-subsection="General Information" data-module="Admissibility of Questions">@RSWP_UI.Resources.Resource.AdmissibilityofQuestions</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.OtherLinks</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("OthersLinks", new { questionsTypes = "MinistryWiseSubjects", archive="" })"  data-section="Questions" data-subsection="Other Links" data-module="Ministry wise Subjects">@RSWP_UI.Resources.Resource.MinistrywiseSubjects</a></li>
            <li><a href="@Url.Action("MinistryWiseNodalOfficers")" data-section="Questions" data-subsection="Other Links" data-module="Ministry-wise Nodal Officers">@RSWP_UI.Resources.Resource.MinistrywiseNodalOfficers</a></li>
            <li><a href="@Url.Action("OthersLinks", new { questionsTypes = "SessionWiseStatisticalReport", archive="" })"  data-section="Questions" data-subsection="Other Links" data-module="Session-wise Statistical Report">@RSWP_UI.Resources.Resource.SessionwiseStatisticalReport</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4><a href="/Graphical/Graphical_Analysis">@RSWP_UI.Resources.Resource.GraphicalAnalysis</a></h4>

    </div>
</div>
