﻿
<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.SearchQuestions</h3>
    <div class="box-midd">
        <div class="filterOptionDrop row">
            <br />
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectSession</label>
                <select class="form-control" id="Sel_Session">
                    <option>--Please Select--</option>
                    @foreach (var session in (List<int>)TempData["sessionNo"])
                    {
                        <option>@session</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div class="searchResulltTabl">
    <table class="table table-striped" id="tblQuestion">
        <thead>
            <tr>
                <th width="10%">@RSWP_UI.Resources.Resource.SNo.</th>
                <th width="10%">@RSWP_UI.Resources.Resource.QN.</th>
                <th width="10%">@RSWP_UI.Resources.Resource.QType_sm</th>
                <th width="10%">@RSWP_UI.Resources.Resource.Date_sm</th>
                <th width="20%">@RSWP_UI.Resources.Resource.Ministry_sm</th>
                <th width="20%">@RSWP_UI.Resources.Resource.Member</th>
                <th width="20%">@RSWP_UI.Resources.Resource.Subject</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    var sessionNo = '';
    var result = '';
    
    $("#Sel_Session").change(function () {
        console.log($(this).val());
        sessionNo = $(this).val();

        getQuestionSessionWise();
    });

    var getQuestionSessionWise = function () {
        
        url_getQuestion_sessionWise = 'http://164.100.47.5/api_new/Question/Get_Question_SessionWise?session=249';
        //url_getQuestion_sessionWise = 'http://164.100.47.5/api_new/Question/Get_Question_SessionWise?session=' + sessionNo;
            
        console.log(url_getQuestion_sessionWise);

        $.ajax({
            'url': url_getQuestion_sessionWise,
            'method': 'GET',
            success: function (data) {
                result = data;
                sortResults(result, 'qno', true);

                var table_row = '';
                $('#tblQuestion tbody').empty();
                var i = 1;
                $.each(data, function (key, value) {
                    table_row += '<tr>';
                    table_row += '<td>' + i + '</td>';
                    table_row += '<td><a class="link" row-value="">' + $.trim(value.qno) + '</a></td>';
                    table_row += '<td>' + $.trim(value.qtype) + '</td>';
                    table_row += '<td>' + $.trim(value.ans_date) + '</td>';
                    table_row += '<td>' + $.trim(value.min_name) + '</td>';
                    table_row += '<td>' + $.trim(value.name) + '</td>';
                    table_row += '<td>' + $.trim(value.qtitle) + '</td>';
                    table_row += '</tr>';

                    i++;
                });
                $('#tblQuestion tbody').append(table_row);
            },
            error: function (err) { console.log(err); }
        });
    }

    function sortResults(result, prop, asc) {
        result.sort(function (a, b) {
            if (asc) {
                return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
            } else {
                return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
            }
        });
    }
</script>
