﻿<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.ShortNoticeQuestions</h3>
    <div class="box-midd">
        <div class="filterOptionDrop row">
            <br />
            <div class="col-md-6 form-group">
                <label>@RSWP_UI.Resources.Resource.SelectSession</label>
                <select class="form-control" id="Sel_Session">
                    <option>--Please Select--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="searchResulltTabl">
        <table class="table table-striped" id="tblShortQuestion">
            <thead>
                <tr>
                    <th width="10%">@RSWP_UI.Resources.Resource.SNo.</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.QN.</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.QType_sm</th>
                    <th width="10%">@RSWP_UI.Resources.Resource.Date_sm</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Ministry_sm</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Member</th>
                    <th width="20%">@RSWP_UI.Resources.Resource.Subject</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    var sessionNo = '';
    var url_getSession = 'http://164.100.47.5/api_new/Question/GetShorNoticeQuestion_session';
    $.ajax({
        'url': url_getSession,
        'method': 'GET',
        success: function (data) {
            sortResults(data, 'session_code', false);
            $.each(data, function (key, value) {
                var sessionData = $('<option></option>').val(value.session_code).text(value.Session_value);
                $('#Sel_Session').append(sessionData);
            });
        },
        error: function (err) { console.log(err); }
    });

    $('#Sel_Session').change(function () {
        sessionNo = $(this).val();
        getShortQuestions();
    });

    var getShortQuestions = function () {
        console.log("sessionNo", sessionNo);
        var url_getShortQuestion = 'http://164.100.47.5/api_new/Question/GetShorNoticeQuestion?session=' + sessionNo;
        $.ajax({
            'url': url_getShortQuestion,
            'method': 'GET',
            success: function (data) {
                sortResults(data, 'qno', true);
                var tbl_data = '';
                var i = 1;
                $('#tblShortQuestion tbody').empty();
                $.each(data, function (key, value) {
                    tbl_data += '<tr>';
                    tbl_data += '<td>' + i + '</td>';
                    tbl_data += '<td><a class="link" row-value="">' + $.trim(value.qno) + '</a></td>';
                    tbl_data += '<td>' + $.trim(value.qtype) + '</td>';
                    tbl_data += '<td>' + $.trim(value.ans_date) + '</td>';
                    tbl_data += '<td>' + $.trim(value.min_name) + '</td>';
                    tbl_data += '<td>' + $.trim(value.name) + '</td>';
                    tbl_data += '<td>' + $.trim(value.qtitle) + '</td>';

                    i++;
                });
                $('#tblShortQuestion').append(tbl_data);
            },
            error: function (err) { console.log(err); }
        });
    }

    function sortResults(result, prop, asc) {
        result.sort(function (a, b) {
            if (asc) {
                return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
            } else {
                return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
            }
        });
    }
</script>
