﻿@using RSWP_DOM.Common
@model IEnumerable<Documents>

<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
    <div class="box-midd">
        <div class="graph-sec single-member-content">
            <div class="top-qa-row">
                <a href="@Url.Action("OthersLinks", new { questionsTypes = "MinistryWiseSubjects", archive="yes" })" class="btn btn-danger">@RSWP_UI.Resources.Resource.Archive</a>
            </div><br/><br />
                       <h4>@RSWP_UI.Resources.Resource.MinistryofAgricultureandFarmersWelfareKrishiEvamKisanKalyan</h4>
            <div class="searchResulltTabl">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="5%">@RSWP_UI.Resources.Resource.SLNo</th>
                            <th width="80%">@RSWP_UI.Resources.Resource.Ministry_sm</th>
                            <th width="15%">@RSWP_UI.Resources.Resource.FileType &amp; @RSWP_UI.Resources.Resource.Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count() > 0)
                            {
                                var index = 0;
                                foreach (var data in Model)
                                {
                                    index += 1;
                                    <tr>
                                        <td>@index</td>
                                        <td><a href="@data.FileUrl" target="_blank">@data.Ministry</a></td>
                                        <td>@data.FileType @data.FileSize</td>
                                    </tr>
                                }

                            }
                            else
                            {
                                    <tr>
                                        <td colspan="3" align="center">@RSWP_UI.Resources.Resource.NoRecordsFound</td>
                                    </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="responsible-person">
                <h5>@RSWP_UI.Resources.Resource.Source_sm:-</h5>
                <p>@RSWP_UI.Resources.Resource.DeshDeepakVerma</p>
                <p>@RSWP_UI.Resources.Resource.SecretaryGeneral</p>
            </div>
        </div>
    </div>
</div>
