﻿@model RSWP_UI.Models.TableBulletin2ViewModel

<div class="box-mid">
    <div class="searchResulltTabl">
        <table border="1" id="tableData" class="table table-striped">
            <tr>
                <th>@RSWP_UI.Resources.Resource.DATE</th>
                <th> @RSWP_UI.Resources.Resource.BulletinNo</th>
                <th>@RSWP_UI.Resources.Resource.SubjectName</th>
                <th>@RSWP_UI.Resources.Resource.SectionName</th>
                <th>@RSWP_UI.Resources.Resource.PDFVersion </th>
            </tr>
            @if (Model != null && Model.Bulletins != null && Model.Bulletins.Count > 0)
            {
                foreach (var docItem in Model.Bulletins)
                {
                    <tr>

                        <td>@docItem.SelectedDate.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                        <td colspan="3">
                            <table border="1" id="innerTable" style="width: 100% ;word-wrap: break-word">
                                @foreach (var bulletinItem in docItem.BulletinList)
                                {
                                    <tr>

                                        <td width="30%">
                                            &nbsp;<a href="#" onclick="openContent('@bulletinItem.BulletinNo.Trim()');"> @bulletinItem.BulletinNo </a>&nbsp; &nbsp;
                                            <div id="htmlText_@bulletinItem.BulletinNo.Trim()" hidden>

                                                <div>

                                                    &nbsp;<table width="100%">
                                                        <tr>
                                                            <td colspan="3" style="text-align: center">
                                                                <strong>
                                                                    <span>
                                                                        <span style="font-size: 14pt; color: blue">
                                                                            Parliamentary Bulletin Part-II
                                                                        </span><a href="#">
                                                                            <span style="font-size: 14pt; color: #ff0000"> </span>
                                                                        </a>
                                                                    </span>
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>No. <span id="bulletinNo" style="font-size:10pt;">@bulletinItem.BulletinNo</span></strong>
                                                            </td>
                                                            <td style="text-align: center">
                                                                <span id="selectedDate" style="font-size:10pt;font-weight:bold;"> @bulletinItem.Date.DayOfWeek,@bulletinItem.Date.ToString("MMMM dd, yyyy", System.Globalization.CultureInfo.InvariantCulture)    @*Thursday, February 20, 2020*@</span>
                                                            </td>
                                                            <td style="text-align: right">
                                                                <span id="sectionName" style="font-size:10pt;font-weight:bold;">@bulletinItem.SectionName</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" style="text-align: center">
                                                                <span id="lblTitle" style="font-size:10pt;font-weight:bold;">@bulletinItem.SubjectName                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">
                                                                &nbsp;
                                                                <span id="htmlContent" style="font-size:10pt;">
                                                                    @Html.Raw(@bulletinItem.HtmlText)
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" style="height: 21px; text-align: right">
                                                                <span id="sgName">@bulletinItem.SGName</span>
                                                                <br />
                                                                <span id="designation">@bulletinItem.SGDesignation</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <br />
                                                </div>
                                            </div>
                                        </td>
                                        <td width="30%">@bulletinItem.SubjectName</td>
                                        <td width="40%">@bulletinItem.SectionName</td>
                                    </tr>
                                }


                            </table>
                        </td>
                        <td>
                            <a href="@(docItem.EnglishDocument.FileUrl ?? "#")" target="@(docItem.EnglishDocument.FileUrl ==null?"": "_blank")">
                                <div style="height:100%;width:100%">
                                    English Version
                                </div>
                            </a>  Size: @docItem.EnglishDocument.FileSize kb
                            <a href="@(docItem.HindiDocument.FileUrl ?? "#")" target="@(docItem.HindiDocument.FileUrl ==null?"": "_blank")">
                                <div style="height:100%;width:100%">
                                    Hindi Version
                                </div>
                            </a> Size: @docItem.HindiDocument.FileSize kb
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No Records Found..!!</td>
                </tr>
            }

        </table>
    </div>
</div>

<script>
          window.onload=function ()
                     {
                       if ('@TempData["Message"]' != null && '@TempData["Message"]'!='') {
                         alert('@TempData["Message"]');
                        }
    };
    $(document).ready(function () {
        //$('#tableData').after('<div id="nav"></div>');
        //var rowsShown = 10;
        //var rowsTotal = $('#tableData tbody tr').length;
        //var numPages = rowsTotal / rowsShown;
        //for (i = 0; i < numPages; i++) {
        //    var pageNum = i + 1;
        //    $('#nav').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
        //}
        //$('#tableData tbody tr').hide();
        //$('#tableData tbody tr').slice(0, rowsShown).show();
        //$('#nav a:first').addClass('active');
        //$('#nav a').bind('click', function () {

        //    $('#nav a').removeClass('active');
        //    $(this).addClass('active');
        //    var currPage = $(this).attr('rel');
        //    var startItem = currPage * rowsShown;
        //    var endItem = startItem + rowsShown;
        //    $('#tableData tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
        //        css('display', 'table-row').animate({ opacity: 1 }, 300);
        //});



    });
</script>
