﻿@model RSWP_UI.Models.PaperLaidInRSViewModel
@{
    int SNo = 1;
}
<div class="box-mid">
    <div class="searchResulltTabl">
        <table id="member_table" border="1" class="table table-striped">
            <thead>
                <tr>
                    <th>@RSWP_UI.Resources.Resource.SNo</th>
                    <th> @RSWP_UI.Resources.Resource.MINISTRY</th>
                    <th>@RSWP_UI.Resources.Resource.SESSIONNO</th>
                    <th>@RSWP_UI.Resources.Resource.ReportType</th>
                    <th>@RSWP_UI.Resources.Resource.DATE </th>
                    <th>@RSWP_UI.Resources.Resource.Title </th>
                    <th>@RSWP_UI.Resources.Resource.FileName </th>
                </tr>
            </thead>
            <tbody id="memberList">
                @if (Model != null && Model.PaperLaidInRSList != null && Model.PaperLaidInRSList.Count > 0)
                {
                    foreach (var item in Model.PaperLaidInRSList)
                    {
                        <tr>
                            <td>@SNo</td>
                            <td>@item.MinistryName</td>
                            <td>@item.SessionNo</td>
                            <td>@item.ReportType</td>
                            <td>@item.SittingDate.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                            <td>@item.Tiltle</td>
                            <td><a href="@item.FileUrl" target="_blank">@item.DocumentName</a></td>
                        </tr>

                        {
                            SNo++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
          window.onload=function ()
                     {
                       if ('@TempData["Message"]' != null && '@TempData["Message"]'!='') {
                         alert('@TempData["Message"]');
                        }
    };



</script>
