﻿
<div class="sectionBox">
    <ul class="sideBarList sidebar-none">
        <li><a href="/Business/SM_Search_Form" data-section="Business" data-subsection="GOI Manual of Handlings" data-module="Special Mentions">@RSWP_UI.Resources.Resource.SpecialMentions</a></li>
        <li><a href="@Url.Action("MatterRaisedWithPermission","Business")" data-section="Debates" data-subsection="Discussions" data-module="Matters Raised with Permission (Zero Hour)">@RSWP_UI.Resources.Resource.MattersRaisedwithPermissionZeroHour</a></li>
    </ul>
</div>
<div class="sectionBox">
    <h4>@RSWP_UI.Resources.Resource.LEGISLATION_C</h4>
    <ul class="sideBarList">
        <li><a id="LegislativeIntroduction" href="#" target="_blank" data-section="Business" data-subsection="LEGISLATION" data-module="Introduction">@RSWP_UI.Resources.Resource.Introduction</a></li>
        <li><a href="/Business/BillIntroduced" data-section="Business" data-subsection="LEGISLATION" data-module="Bills Introduced(During Session)">@RSWP_UI.Resources.Resource.BillsIntroducedDuringSession</a></li>
        <li><a href="/Business/BillPassed" data-section="Business" data-subsection="LEGISLATION" data-module="Bills Passed(During Session)">@RSWP_UI.Resources.Resource.BillsPassedDuringSession</a></li>
        <li><a href="/Business/BillSearch" data-section="Business" data-subsection="LEGISLATION" data-module="Bills Search (Advanced)">@RSWP_UI.Resources.Resource.BillsSearchAdvanced</a></li>
    </ul>
</div>
<div class="sectionBox">
    <h4>@RSWP_UI.Resources.Resource.STATEMENTS</h4>
    <ul class="sideBarList">
        <li><a onclick="getStatementData('@RSWP_UI.Common.CommanConstant.BillsPassedByTheHouseOfParliament');" href="#" data-section="Business" data-subsection="STATEMENTS" data-module="Bills Passed by the House of Parliament">@RSWP_UI.Resources.Resource.BillsPassedbytheHouseofParliament</a></li>
        <li><a onclick="getStatementData('@RSWP_UI.Common.CommanConstant.BillsPendingAtTheEndOfSession');" href="#" data-section="Business" data-subsection="STATEMENTS" data-module="Bills Pending at the End of Session">@RSWP_UI.Resources.Resource.BillsPendingattheEndofSession</a></li>
        <li><a onclick="getStatementData('@RSWP_UI.Common.CommanConstant.GovernmentLegBusinessToBeTakenUp');" href="#" data-section="Business" data-subsection="STATEMENTS" data-module="Government leg. Business to be Taken Up">@RSWP_UI.Resources.Resource.GovernmentlegBusinesstobeTakenUp</a></li>
        <li><a onclick="getStatementData('@RSWP_UI.Common.CommanConstant.WeeklyProgressOfBills');" href="#" data-section="Business" data-subsection="STATEMENTS" data-module="Weekly Progress of Bills">@RSWP_UI.Resources.Resource.WeeklyProgressofBills</a></li>
        <li><a onclick="getStatementData('@RSWP_UI.Common.CommanConstant.StatuaryOrderLaid');" href="#" data-section="Business" data-subsection="STATEMENTS" data-module="Statuary Order laid">@RSWP_UI.Resources.Resource.StatuaryOrderlaid</a></li>
    </ul>
</div>
<script>
    function getStatementData(type) {
        $.ajax(
            {
                url: '@Url.Action("Statements", "Business")',
                type: 'Get',
                data: { type: type },
                success: function (result) {
                    $('.boxMiddleBorder').html('');
                    $('.boxMiddleBorder').html(result);
                }
                ,
                   error: function () {
                        alert('Something went wrong.')
                    }
                }

            );
    }
    $(document).ready(
        function () {
            $.ajax(
            {
                url: '@Url.Action("GetLegislativeIntroductionUrl", "Business")',
                type: 'Get',
                
                    success: function (result) {
                        if (result != null && result.IntroductionUrl != null)
                            $('#LegislativeIntroduction').attr('href', result.IntroductionUrl);
                        else
                            $('#LegislativeIntroduction').attr('href', '#');
                }
                

                }

            );
        }

    )






</script>




