﻿@model RSWP_UI.Models.SessionJournalGridViewModel
@*<h4>@RSWP_UI.Resources.Resource.SessionsJournal</h4>*@
<div class="box-mid">
    <div class="searchResulltTabl">
        <span id="spnContentSessionWise" style="outline:solid">
            <table cellspacing="0" rules="all" border="1" id="ctl00_ContentPlaceHolder1_GridView4" style="font-family:Verdana;font-size:10pt;width:100%;border-collapse:collapse;">

                <tbody>
                    <tr>
                        <th scope="col">@RSWP_UI.Resources.Resource.SESSIONNO</th>
                        <th scope="col">@RSWP_UI.Resources.Resource.Dates</th>
                    </tr>
                    <tr>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.HTMLContent))
                            {
                                <a href="#" target="_blank" onclick="openContent(@Model.SessionNo.ToString(),this)">@Model.SessionNo</a>

                            }
                            else
                            {
                                <a onclick="openContent(@Model.SessionNo.ToString(),this)">@Model.SessionNo</a>
                            }

                        </td>
                        <td>
                            @foreach (var item in Model.DocumentList)
                            {
                                <b><a href="@item.FileUrl" target="_blank">@item.selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) (@(item?.FileSize / 1000) KB)</a>|</b>
                            }
                            <div id="htmlText_@Model.SessionNo.ToString()" hidden>

                                <table width="1136">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div align="right">
                                                    <p align="center"><strong><font color="#ff0000" size="5">J O U R N A L S</font></strong></p>
                                                    <p class="MsoHeading7" align="center" style="text-align: center; margin: 6pt 0in 0pt;"><span style="font-family: &quot;times new roman&quot;, times, serif; color: red; font-size: 18pt;">OF THE</span></p>
                                                    <h6 align="center" style="text-align: center;"><span style="font-family: &quot;times new roman&quot;, times, serif; color: red; font-size: 18pt;">R A J Y A&nbsp; S A B H A</span></h6>
                                                    <p class="MsoNormal" align="center" style="text-align: center; margin: 6pt -10.45pt 0pt 0in;"><b><span style="font-family: &quot;times new roman&quot;, times, serif; font-size: 14pt;" id="sessionInWords">(@Model.SessionNoInWords SESSION)</span></b></p>
                                                    <p class="MsoNormal" align="center" style="text-align: center; margin-top: 6pt;"><font face=""></font></p>
                                                    <p class="MsoNormal" align="center" style="text-align: center; margin-top: 12pt;"><i><i><font face=""><span style="font-family: &quot;times new roman&quot;, times, serif; font-weight: bold;" id="sessionDates">@Model.FromDate.DayOfWeek,@Model.FromDate.ToString("MMMM dd, yyyy", System.Globalization.CultureInfo.InvariantCulture) to @Model.ToDate.DayOfWeek,@Model.ToDate.ToString("MMMM dd, yyyy", System.Globalization.CultureInfo.InvariantCulture)</span></font></i></i></p>
                                                    <p class="MsoNormal" align="center" style="text-align: center; margin-top: 6pt;"><font face=""></font></p>
                                                    <p class="MsoNormal" align="center" style="text-align: center; margin-top: 6pt;"><font face=""></font></p>
                                                    @*<strong>
                                                        <span id="Label1" style="font-weight: normal;">
                                                            <p class="MsoNormal" align="center" style="text-align: center; margin-top: 6pt;"><font face=""></font></p>
                                                            <p align="center" style="text-align: center; margin: 0in 0in 0pt;"><span style="font-family: &quot;times new roman&quot;, times, serif; font-size: 14pt;"><font face="">VOLUME-CCXXXXV</font></span></p>
                                                            <p class="MsoNormal" align="center" style="text-align: center; margin-top: 6pt;"><b><span style="font-family: &quot;times new roman&quot;, times, serif;"><font face="">E-mail:-&nbsp;</font></span><a href="mailto:rslobby@sansad.nic.in"><span style="font-family: &quot;times new roman&quot;, times, serif;"><font face="">rslobby@sansad.nic.in</font></span></a></b></p>
                                                            <p class="MsoNormal" align="center" style="text-align: center; margin-top: 6pt;"><b><span style="font-family: &quot;times new roman&quot;, times, serif;"><font face="">Website:-&nbsp;</font></span><a href="https://rajyasabha.nic.in/"><span style="font-family: &quot;times new roman&quot;, times, serif; color: purple;"><font face="">http://rajyasabha.nic.in</font></span></a></b></p>
                                                            <p class="MsoNormal" align="center" style="text-align: center; margin-top: 6pt;"><b><span style="font-family: &quot;times new roman&quot;, times, serif; font-size: 14pt;"><font face="">SUMMONS</font></span></b></p>
                                                            <p class="MsoNormal" style="text-align: justify; margin-top: 6pt;"><font face=""></font></p>
                                                            <p class="MsoNormal" style="text-align: justify; line-height: 24px; margin-top: 6pt;"><font face=""><span style="line-height: 28px; font-family: &quot;times new roman&quot;, times, serif; font-size: 14pt;">“I</span><span style="font-family: &quot;times new roman&quot;, times, serif;">n exercise of the powers conferred upon me by clause (1) of article 85 of the Constitution, I hereby summon the Rajya Sabha to meet at New Delhi on Monday, the 29<sup>th</sup>&nbsp;January</span><span style="font-family: &quot;times new roman&quot;, times, serif;">, 2018 at 11.00 A.M.</span></font></p>
                                                        </span>
                                                    </strong>*@
                                                    <span id="mainContent" style="line-height: 24px;">
                                                        @Html.Raw(Model.HTMLContent)
                                                        @*<p class="MsoNormal" style="margin-top: 6pt;"><font face=""></font></p>
                                                        <table width="1136">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="614">
                                                                        <p align="left" class="MsoNormal" style="margin-top: 6pt;"><span style="font-family: &quot;times new roman&quot;, times, serif; font-size: 11pt;"><font face="">New Delhi.</font></span></p>
                                                                    </td>
                                                                    <td width="506">
                                                                        <p align="right" class="MsoNormal" style="margin-top: 6pt;"><span style="font-family: &quot;times new roman&quot;, times, serif; font-size: 11pt;"><font face="">RAM NATH KOVIND</font></span></p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p align="left" class="MsoNormal" style="margin-top: 6pt;"><font face=""><span style="font-family: &quot;times new roman&quot;, times, serif;" id="contentDate">@Model.ContentDate.DayOfWeek,@Model.ContentDate.ToString("MMMM dd, yyyy", System.Globalization.CultureInfo.InvariantCulture)</font></p>
                                                                    </td>
                                                                    <td><div align="right"><span style="font-family: &quot;times new roman&quot;, times, serif;">&nbsp;President”</span></div></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>*@
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


        </span>
    </div>

</div>


<script>
    function openContent(sessionNo, ele) {
        var mainContent = $('#mainContent').html().trim();
        if (mainContent == "") {
            // ele.href = "";
            return;
        }
        var elementHtml = $("#htmlText_" + sessionNo).html();
        var win = window.open("", "_blank ", "");
        win.document.title = 'Main Content'
        win.document.body.innerHTML = elementHtml;
    }
</script>
