﻿
<div class="sectionBox">
    <h4>@RSWP_UI.Resources.Resource.Business</h4>
    <ul class="sideBarList">
        <li><a href="@Url.Action("ProvisionalCalender","Business")" class="active" data-section="Business" data-subsection="Business" data-module="Provisional Calender">@RSWP_UI.Resources.Resource.ProvisionalCalender</a></li>
        <li><a href="@Url.Action("ListOfBussiness","Business")" data-section="Business" data-subsection="Business" data-module="List of Business">@RSWP_UI.Resources.Resource.ListofBusiness</a></li>
        <li><a href="@Url.Action("PaperToBeLaid","Business")" data-section="Business" data-subsection="Business" data-module="Papers to be laid on the Table">@RSWP_UI.Resources.Resource.PaperstobelaidontheTable</a></li>
        <li><a href="@Url.Action("BulletinPart1","Business")" data-section="Business" data-subsection="Business" data-module="Bulletin Part-I">@RSWP_UI.Resources.Resource.BulletinPartI</a></li>
        <li><a href="@Url.Action("BulletinPart2","Business")" data-section="Business" data-subsection="Business" data-module="Bulletin Part-II">@RSWP_UI.Resources.Resource.BulletinPartII</a></li>
        <li><a href="@Url.Action("SessionalResume","Business")" data-section="Business" data-subsection="Business" data-module="Sessional Resume">@RSWP_UI.Resources.Resource.SessionalResume</a></li>
        <li><a href="@Url.Action("SessionJournal","Business")" data-section="Business" data-subsection="Business" data-module="Session's Journal" >@RSWP_UI.Resources.Resource.SessionsJournal</a></li>
        <li><a href="@Url.Action("Synopsis","Business")" data-section="Business" data-subsection="Business" data-module="Synopsis of Debates">@RSWP_UI.Resources.Resource.SynopsisofDebates</a></li>
        <li><a href="@Url.Action("PaperToBeLaidRajyaSabha","Business")" data-section="Business" data-subsection="Business" data-module="Papers to be laid in Rajya Sabha">@RSWP_UI.Resources.Resource.PaperstobelaidinRajyaSabha</a></li>
        <li><a href="@Url.Action("VeledectoryAddress","Business")" data-section="Business" data-subsection="Business" data-module="Valedictory Address (Session wise)">@RSWP_UI.Resources.Resource.ValedictoryAddressSessionwise</a></li>
        <li><a href="@Url.Action("StatisticalInformation","Business")" data-section="Business" data-subsection="Business" data-module="Statistical information(Session wise)">@RSWP_UI.Resources.Resource.StatisticalinformationSessionwise</a></li>
        <li><a href="#" data-section="Business" data-subsection="Business" data-module="Business Transacted by the Parliament">@RSWP_UI.Resources.Resource.BusinessTransactedbytheParliament</a></li>
    </ul>
</div>
<div class="sectionBox">
    <h4>@RSWP_UI.Resources.Resource.GOIManualofHandlings</h4>
    <ul class="sideBarList">  
        <li><a href="" data-section="Business" data-subsection="GOI Manual of Handlings" data-module="Legislations" >@RSWP_UI.Resources.Resource.Legislations</a></li>
        <li><a href=""  data-section="Business" data-subsection="GOI Manual of Handlings" data-module="Subordinate Legislations" >@RSWP_UI.Resources.Resource.SubordinateLegislations</a></li>
        <li><a href=""  data-section="Business" data-subsection="GOI Manual of Handlings" data-module="Legislations R/o States Under President's Rule">@RSWP_UI.Resources.Resource.LegislationsRoStatesUnderPresidentsRule</a></li>
    </ul>
</div>

