﻿
@{
    ViewBag.Title = "BillIntroduced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Introduced Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SideLayoutMenu")
            </div>
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h5 style="text-align:center;"><strong>PARLIAMENTARY BILLS INFORMATION SYSTEM</strong></h5>
                        <h5 style="text-align:center;"><strong>संसदीय विधेयक सूचना प्रणाली</strong></h5>
                        <div style="text-align:center;">
                            Select Session : @Html.DropDownList("sessioncode", TempData["SessionList"] as SelectList, new { @onchange = "callChangefunc()" })
                        </div>
                        <br />
                        <div>
                            <h5>BILLS INTRODUCED IN RAJYA SABHA DURING</h5>
                            <h5 id="sessionNumber"></h5>
                            <h5 id="totalMembers"></h5>
                        </div>
                    </div>
                </div>
                <br />
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table id="member_table" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>SL.No.</th>
                                    <th>Bill No. & Year</th>
                                    <th>Title of Bill</th>
                                    <th>Type of Bill</th>
                                    <th>Name of Member/Ministry</th>
                                    <th>Date of Introduction</th>
                                </tr>
                            </thead>
                            <tbody id="memberList">
                                @*@{ int count = 1;}
                                    @foreach(var item in (List<GetAll_IntroducedbillViewModel>)Session["IntroduceBill"])
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.bill_no of @item.bill_year</td>
                                            <td>@item.title <br /> <a href="@item.as_introduced_file" target="_blank">As introduced (54 Kb)</a> <br /> <a href="@item.H_as_introduced_file" target="_blank">पुर: स्थापित रूप में (64 Kb)</a></td>
                                            <td>@item.type</td>
                                            <td>@item.intro @item.ministry</td>
                                            <td>@item.introduction.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                        count++;
                                    }*@
                            </tbody>
                        </table>
                    </div>
                </div>
                @*<div class="sectionBox stats-an">
                        <div class="memberListAraSearch">
                            <div class="row">
                                <form>
                                    <div class="col-sm-12 text-right">
                                        <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        callChangefunc();
    });
</script>
<script type="text/javascript">
    function callChangefunc() {
        debugger;
        var obj = {};
        obj.sessionvalue = $.trim($("[id*=sessioncode]").val());
        $.ajax({
            url: '@Url.Action("BillIntroduced_Result", "Business")',
            data: { sessionVal: obj.sessionvalue },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td>' + data[i].bill_no + ' of ' + data[i].bill_year + '</td>';
                    member_data += '<td>' + data[i].title + '<br/>' + '<a class="link" href="' + data[i].as_introduced_file + '" target="_blank"> As introduced (54 Kb) </a>' + '<br/>' + '<a class="link" href="' + data[i].H_as_introduced_file + '" target="_blank">' + 'पुर: स्थापित रूप में (64 Kb)' + '</a>' + '</td>';
                    member_data += '<td>' + data[i].type + '</td>';
                    member_data += '<td>' + data[i].intro + ' ' + data[i].ministry + '</td>';
                    var value = new Date
                        (
                        parseInt(data[i].introduction.replace(/(^.*\()|([+-].*$)/g, ''))
                        );
                    var month = value.getMonth() + 1;
                    var dat = value.getDate() +
                        "/" +
                        month +
                        "/" +
                        value.getFullYear();
                    member_data += '<td>' + dat + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Records Found : ' + data.length;
                $('#totalMembers').text(totMem);
                var SesVal = 'THE SESSION :- ' + obj.sessionvalue;
                $('#sessionNumber').text(SesVal);
            },
            error: function ()
            {
                alert('No Record Found.');
            }
        });
    }
</script>

