﻿
@{
    ViewBag.Title = "BillSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Committee Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SideLayoutMenu")
            </div>
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h5 style="text-align:center;"><strong>PARLIAMENTARY BILLS INFORMATION SYSTEM</strong></h5>
                        <h5 style="text-align:center;"><strong>संसदीय विधेयक सूचना प्रणाली</strong></h5>
                        <h4 style="text-align:center;padding-top:2%;"><strong>Bills - Advance Search</strong></h4>
                        <div class="ShowData">
                            <div class="searchResulltTabl">
                                <table id="mm" class="table table-striped table-bordered table-sm">

                                    <tr>
                                        <td colspan="2">
                                            <label>Bill introduced in House:</label><br />
                                            <input type="radio" id="bothhouse" name="billintro" value="Both Houses" /><label>Both Houses</label>&nbsp;
                                            <input type="radio" id="bothhouse" name="billintro" value="Lok Sabha" /><label>Lok Sabha</label>&nbsp;
                                            <input type="radio" id="bothhouse" name="billintro" value="Rajya Sabha" checked /><label>Rajya Sabha</label>&nbsp;
                                        </td>
                                        <td colspan="2">
                                            <label>Bill Type:</label><br />
                                            <input type="radio" id="alltype" name="billtype" value="All" /><label>All</label>&nbsp;
                                            <input type="radio" id="alltype" name="billtype" value="Government" checked /><label>Government</label>&nbsp;
                                            <input type="radio" id="alltype" name="billtype" value="Private Member" /><label>Private Member</label>&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <label>Bill Status:</label>&nbsp;&nbsp;
                                            <input type="radio" id="allstatus" name="billstatus" value="All" /><label>All</label>&nbsp;
                                            <input type="radio" id="allstatus" name="billstatus" value="Assented" checked /><label>Assented</label>&nbsp;
                                            <input type="radio" id="allstatus" name="billstatus" value="Passed" /><label>Passed</label>&nbsp;
                                            <input type="radio" id="allstatus" name="billstatus" value="Pending" /><label>Pending</label>&nbsp;
                                            <input type="radio" id="allstatus" name="billstatus" value="Withdrawn" /><label>Withdrawn</label>&nbsp;
                                            <input type="radio" id="allstatus" name="billstatus" value="Negatived" /><label>Negatived</label>&nbsp;
                                            <input type="radio" id="allstatus" name="billstatus" value="Lapsed" /><label>Lapsed</label>&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label>Search in - Short Title of the Bill - Give Keyword(s): </label><br />
                                            <input type="text" class="" id="searchbill" />
                                        </td>
                                        <td colspan="2">
                                            <label>Introduced by Member: </label><br />
                                            <select id="intromem" disabled>
                                                <option>--Select One--</option>
                                            </select>&nbsp;&nbsp;&nbsp;
                                            <input type="radio" id="current" name="intromember" checked disabled /><label>Current</label>&nbsp;
                                            <input type="radio" id="current" name="intromember" disabled /><label>Ex-Members</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label>Ministry-in-charge of Bill: </label><br />
                                            @Html.DropDownList("ministryid", ViewBag.MinistryList as SelectList, "--Select One--", new { style = "font-size:14px" })
                                        </td>
                                        <td colspan="2">
                                            <label>Bill Category: </label><br />
                                            <select id="billcategory">
                                                <option>--Select One--</option>
                                                <option value="Ordinary Bill">Ordinary Bill</option>
                                                <option value="Constitutional Amendment Bill">Constitutional Amendment Bill</option>
                                                <option value="Financial Bill">Financial Bill</option>
                                                <option value="Money Bill">Money Bill</option>
                                                <option value="Ordinance Replacing Bill">Ordinance Replacing Bill</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label>Introduced between years:</label><br />
                                            <label>From: </label>&nbsp;
                                            <select>
                                                <option>YYYY</option>
                                                @for (int i = DateTime.Now.Year; i >= 1947; i--)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <label>To: </label>&nbsp;
                                            <select>
                                                <option>YYYY</option>
                                                @for (int i = DateTime.Now.Year; i >= 1947; i--)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </td>
                                        <td colspan="2">
                                            <input type="button" id="btnSubmit" onclick="GetData()" value="Submit" />&nbsp;&nbsp;&nbsp;
                                            <input type="reset" id="btnReset" value="Reset" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div id="totalMembers"></div>
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table id="member_table" class="table table-striped table-bordered table-sm" hidden>
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Bill No.</th>
                                    <th>Short Title</th>
                                    <th>Date of Introduction</th>
                                    <th>Debate / Passed in LS</th>
                                    <th>Debate / Passed in RS</th>
                                    <th>Referred to Committee / Report Presented</th>
                                    <th>Assent Date/ Gazette Notification / Act No.</th>
                                    <th>Synopsis</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="memberList"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>
</section>
@*<script>
        $(document).ready(function () {
            callChangefunc();
        });
    </script>*@
<script type="text/javascript">
    function GetData() {
        debugger;
        var obj = {};
        obj.house = document.querySelector('input[name="billintro"]:checked').value;
        if (obj.house == "Both Houses")
        {
            obj.house = ""
        }
        obj.type = document.querySelector('input[name="billtype"]:checked').value;
        obj.status = document.querySelector('input[name="billstatus"]:checked').value;
        $.ajax({
            url: '@Url.Action("BillSearchResult", "Legislation")',
            data: { house: obj.house, type: obj.type, status:obj.status },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table').hide();
                $('#member_table tbody').empty();
                $('#totalMembers').empty();
                for (var i = 0; i < data.length; i++)
                {
                    //if (data[i].House == obj.house /* || obj.House == "Both Houses"*/)
                    //{
                    //    if (data[i].type == obj.type /* || obj.type == "All"*/)
                    //    {
                    //        if (data[i].status == obj.status /* || obj.status == "All"*/)
                    //        {
                                member_data += '<tr>';
                                member_data += '<td>' + data[i].year + '</td>';
                                member_data += '<td>' + data[i].number + '</td>';
                                member_data += '<td>' + data[i].short_title + '<br/>' + '<a class="link" href="#" target="_blank"> As introduced (61 Kb) </a>' + ' , ' + '<a class="link" href="#" target="_blank"> As Passed by Rajyasabha (12 Kb) </a>' + '<br/>' + '<a class="link" href="#" target="_blank">' + 'पुर: स्थापित रूप में (368 Kb)' + '</a>' + ' , ' + '<a class="link" href="#" target="_blank">' + 'राज्य सभा द्वारा पारित (35 Kb)' + '</a>' + '</td>';
                                var value = new Date
                                    (
                                    parseInt(data[i].introduction.replace(/(^.*\()|([+-].*$)/g, ''))
                                    );
                                var month = value.getMonth() + 1;
                                var dat = value.getDate() +
                                    "/" +
                                    month +
                                    "/" +
                                    value.getFullYear();
                                member_data += '<td>' + dat + '</td>';
                                if (data[i].passed_in_loksabha == null)
                                {
                                    member_data += '<td>' + ' ' + '</td>';
                                }
                                else
                                {
                                    var value1 = new Date
                                        (
                                        parseInt(data[i].passed_in_loksabha.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var month1 = value1.getMonth() + 1;
                                    var dat1 = value1.getDate() +
                                        "/" +
                                        month1 +
                                        "/" +
                                        value1.getFullYear();
                                    member_data += '<td>' + dat1 + '</td>';
                                }
                                if (data[i].passed_in_rajyasabha == null) {
                                    member_data += '<td>' + ' ' + '</td>';
                                }
                                else {
                                    var value2 = new Date
                                        (
                                        parseInt(data[i].passed_in_rajyasabha.replace(/(^.*\()|([+-].*$)/g, ''))
                                        );
                                    var month2 = value2.getMonth() + 1;
                                    var dat2 = value2.getDate() +
                                        "/" +
                                        month2 +
                                        "/" +
                                        value2.getFullYear();
                                    member_data += '<td>' + dat2 + '</td>';
                                }
                                member_data += '<td>' + ' ' + '</td>';
                                if (data[i].assent == null)
                                {
                                    member_data += '<td>' + ' ' + '</td>';
                                }
                                else
                                {
                                    member_data += '<td>' + data[i].assent + '</td>';
                                }
                                member_data += '<td>' + ' ' + '</td>';
                                member_data += '<td>' + data[i].status + '</td>';
                                member_data += '</tr>';
                    //        }
                    //    }
                    //}
                }
                if (data.length > 0)
                {
                    $('#member_table').show();
                    $('#member_table tbody').append(member_data);
                    var totMem = 'Total Bills Found: ' + data.length;
                    $('#totalMembers').text(totMem);
                }
                else
                {
                    var totMem = 'No record found. ';
                    $('#totalMembers').text(totMem);
                }
            },
            error: function ()
            {
                alert('No Record Found.');
            }
        });
    }

</script>


