﻿
@{
    ViewBag.Title = "BillPassed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Passed Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SideLayoutMenu")
            </div>
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h5 style="text-align:center;"><strong>PARLIAMENTARY BILLS INFORMATION SYSTEM</strong></h5>
                        <h5 style="text-align:center;"><strong>संसदीय विधेयक सूचना प्रणाली</strong></h5>
                        <div style="text-align:center;">
                            Select Session : @Html.DropDownList("sessioncode", TempData["SessionList"] as SelectList, new { @onchange = "callChangefunc()" })
                        </div>
                        <br />
                        <div>
                            <h5>BILLS PASSED / RETURNED DURING THE</h5>
                            <h5 id="sessionNumber"></h5>
                            <h5 id="totalMembers"></h5>
                            <h4 style="text-align:center;color:red;" id="sessionText"><strong></strong></h4>
                        </div>
                    </div>
                </div>
                <br />
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table id="member_table" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>SL.No.</th>
                                    <th>Bill No. & Year</th>
                                    <th>Title of Bill</th>
                                    <th>Type of Bill</th>
                                    <th>Name of Member/Ministry</th>
                                    <th>Date of Passing / Return</th>
                                </tr>
                            </thead>
                            <tbody id="memberList"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        callChangefunc();
    });
</script>
<script type="text/javascript">
    function callChangefunc() {
        debugger;
        var obj = {};
        obj.sessionvalue = $.trim($("[id*=sessioncode]").val());
        $.ajax({
            url: '@Url.Action("BillPass_Result", "Business")',
            data: { sessionVal: obj.sessionvalue },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td>' + data[i].bill_no + ' of ' + data[i].bill_year + '</td>';
                    member_data += '<td>' + data[i].title + '<br/>' + '<a class="link" href="' + data[i].as_introduced_file + '" target="_blank"> As introduced (61 Kb) </a>' + ' , ' + '<a class="link" href="' + data[i].as_passedrajyasabha_file + '" target="_blank"> As Passed by Rajyasabha (12 Kb) </a>' + '<br/>' + '<a class="link" href="' + data[i].H_as_introduced_file + '" target="_blank">' + 'पुर: स्थापित रूप में (368 Kb)' + '</a>' + ' , ' + '<a class="link" href="' + data[i].H_as_passedrajyasabha_file + '" target="_blank">' + 'राज्य सभा द्वारा पारित (35 Kb)' + '</a>' + '</td>';
                    member_data += '<td>' + data[i].type + '</td>';
                    member_data += '<td>' + data[i].intro + ' ' + data[i].ministry + '</td>';
                    var value = new Date
                        (
                        parseInt(data[i].passing_dt.replace(/(^.*\()|([+-].*$)/g, ''))
                        );
                    var month = value.getMonth() + 1;
                    var dat = value.getDate() +
                        "/" +
                        month +
                        "/" +
                        value.getFullYear();
                    member_data += '<td>' + dat + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                if (data.length > 0)
                {
                    $('#member_table').show();
                    $('#sessionText').hide();
                    $('#member_table tbody').append(member_data);
                    var totMem = 'Records Found : ' + data.length;
                    $('#totalMembers').text(totMem);
                    var SesVal = 'THE SESSION :- ' + obj.sessionvalue;
                    $('#sessionNumber').text(SesVal);
                }
                else
                {
                    $('#member_table').hide();
                    $('#sessionText').show();
                    var totMem = 'Records Found : ' + data.length;
                    $('#totalMembers').text(totMem);
                    var SesVal = 'THE SESSION :- ' + obj.sessionvalue;
                    $('#sessionNumber').text(SesVal);
                    var sesRes = 'No bill passed during ' + obj.sessionvalue + ' session.';
                    $('#sessionText').text(sesRes);
                }
            },
            error: function ()
            {
                alert('No Record Found.');
            }
        });
    }
</script>

