﻿@model RSWP_UI.Models.TableBulletin2ViewModel
@{
    ViewBag.Title = "BulletinPartII";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Business.css" rel="stylesheet" />

<!--DatePicker Calendar-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    /*#tableData tr {
        display: none;
    }*/

    .form-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;
        margin-bottom: 10px
    }

        .form-row select, .form-row input[type="date"], .form-row input[type="text"] {
            width: 151px;
            height: 31px
        }

        .form-row label {
            margin-bottom: 0;
        }

    .form-radio {
        display: flex;
        align-items: center;
        width: 151px
    }

        .form-radio span {
            margin-left: 3px !important
        }

    .formBtnRow {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

        .formBtnRow input {
            margin: 0 10px
        }
</style>
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SideLayoutMenu")
            </div>
            <div class="col-md-6 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">[@RSWP_UI.Resources.Resource.Business]</a></li>
                        <li><a href="">@RSWP_UI.Resources.Resource.ParliamentaryBulletinPartII</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
                    <div class="box-midd ">
                        <h4 class="text-center" style="margin-top: 2px">@RSWP_UI.Resources.Resource.ParliamentaryBulletinPartII</h4>
                        <div id="dvSessions" class="sessionNo" style="margin-top:20px;">
                            <div class="row select_dropd input-panel">
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <label>@RSWP_UI.Resources.Resource.SelectMonth</label>
                                        <select id="monthPicker" class="" name="Select Month"  onchange="onFilterSubmit();">
                                            <option value="" selected="selected">@RSWP_UI.Resources.Resource.SelectMonth</option>
                                            <option value="1">@RSWP_UI.Resources.Resource.January</option>
                                            <option value="2">@RSWP_UI.Resources.Resource.February</option>
                                            <option value="3">@RSWP_UI.Resources.Resource.March</option>
                                            <option value="4">@RSWP_UI.Resources.Resource.April</option>
                                            <option value="5">@RSWP_UI.Resources.Resource.May</option>
                                            <option value="6">@RSWP_UI.Resources.Resource.June</option>
                                            <option value="7">@RSWP_UI.Resources.Resource.July</option>
                                            <option value="8">@RSWP_UI.Resources.Resource.August</option>
                                            <option value="9">@RSWP_UI.Resources.Resource.September</option>
                                            <option value="10">@RSWP_UI.Resources.Resource.October</option>
                                            <option value="11">@RSWP_UI.Resources.Resource.November</option>
                                            <option value="12">@RSWP_UI.Resources.Resource.December</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <label>@RSWP_UI.Resources.Resource.SelectYear</label>
                                        <select id="yearPicker" class="" onchange="onFilterSubmit();">
                                            <option value="" selected="selected">@RSWP_UI.Resources.Resource.SelectYear</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="formBtnRow">
                                        <input type="submit" onclick="openAdvanceSearch();" class="btn btn-default" value="Advance Search" />
                                        @*<input type="submit" onclick="onFilterSubmit();" class="btn btn-default" value="Submit" />*@
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div id="advanceSearch" style="display:none; outline: thick solid #668ba2;margin:auto">
                                <br />

                                <div class="row select_dropd input-panel">
                                    <div class="col-md-6">
                                        <div class="form-row">
                                            <label>@RSWP_UI.Resources.Resource.DATE (@RSWP_UI.Resources.Resource.From)</label>
                                            <input type="date" id="fromDate">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-row">
                                            <label>@RSWP_UI.Resources.Resource.DATE (@RSWP_UI.Resources.Resource.To)</label>
                                            <input type="date" id="toDate">
                                        </div>
                                    </div>
                                </div>

                                <div class="row select_dropd input-panel">
                                    <div class="col-md-6">
                                        <div class="form-row">
                                            <label>@RSWP_UI.Resources.Resource.BulletinNo</label>
                                            <select id="bulletinPicker" class="">
                                                <option value="" selected="selected">Select Bulletin No</option>
                                                @foreach (var bulletin in Model.BulletinNoList)
                                                {
                                                    <option value="@bulletin.Value">@bulletin.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-row">
                                            <label>@RSWP_UI.Resources.Resource.Sections</label>
                                            <select id="sectionPicker" class="">
                                                <option value="" selected="selected">Select Section</option>
                                                @foreach (var sectionItem in Model.SectionList)
                                                {
                                                    <option value="@sectionItem.Value">@sectionItem.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row select_dropd input-panel">
                                    <div class="col-md-6">
                                        <div class="form-row">
                                            <label>@RSWP_UI.Resources.Resource.SearchInTitle</label>
                                            <input type="text" id="searchInTitle" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-row">
                                            <label>@RSWP_UI.Resources.Resource.SearchInText</label>
                                            <input type="text" id="searchInText" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row select_dropd input-panel">
                                    <div class="col-md-6">
                                        <div class="form-row">
                                            <label>@RSWP_UI.Resources.Resource.SortOn</label>
                                            <div class="form-radio">
                                                <input type="radio" name="sortOn" value="date" /><span>Date</span>
                                                <input type="radio" name="sortOn" value="section" /><span>Section</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="formBtnRow">
                                            <input type="button" class="btn btn-default" value="Search" onclick="advanceSearch()" />
                                            <input type="button" class="btn btn-default" onclick="resetAdvanceSearch();" value="Reset" />
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>

                        </div>
                        <div class="calendar_panel time_table" style="margin: 20px 0 10px 0;">

                        </div>
                    </div>
                    <div id="contentContainer">
                        @Html.Partial("_bulletin2Table", Model)
                    </div>


                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>
</section>
<script>
        $(document).ready(function () {
            for (i = new Date().getFullYear(); i > 1900; i--) {
                $('#yearPicker').append($('<option />').val(i).html(i));
            }

        });
        function openContent(bulletinNo) {
            var elementHtml = $("#htmlText_" + bulletinNo).html();
            var win = window.open("", "_blank ", "");
            win.document.title ='Bulletin II'
            win.document.body.innerHTML = elementHtml;
        }

    function onFilterSubmit() {
        debugger;
            var selectedMonth = $('#monthPicker option:selected').val();
            var selectedYear = $('#yearPicker option:selected').val();
            var message = "";
            if (selectedMonth == "" || selectedMonth == null || selectedMonth=="Please Select") {
                message = message+"Please select month.\n"
            }
            if (selectedYear == "" || selectedYear == null || selectedYear == "Please Select") {
                message = message+"Please select year.\n"
            }

            if (message != "" && message != null) {
                alert(message);
                return;
            }
            $.ajax(
                {
                    url: '@Url.Action("GetBulletinPart2TableData", "Business")',
                    type: 'Post',
                    data: { month: selectedMonth, year: selectedYear},
                    success: function (result) {
                        //var tableElement = $(result)[0];
                        console.log(result);
                         $('#contentContainer').html(result);
                        

                    }
                    ,
                    error: function () {
                        alert('Something went wrong.')
                    }
                }

            );
        }

    function openAdvanceSearch() {
        if ($('#advanceSearch').css('display') == 'none') {
            $('#advanceSearch').show();
        }
        else {
            $('#advanceSearch').hide();
        }
    }

    function advanceSearch() {
        var fromDate = $('#fromDate').val();
        var toDate = $('#toDate').val();
        var bulletinNo = $('#bulletinPicker').val();
        var section = $('#sectionPicker').val();
        var searchTitleText = $('#searchInTitle').val();
        var searchHtmlText = $('#searchInText').val();
        var sortBy = $('input[name="sortOn"]:checked').val();
        var message = "";
        if ((fromDate == "" || fromDate == null) && (toDate == "" || toDate == null) && (bulletinNo == "" || bulletinNo == null)
            && (section == "" || section == null) && (searchTitleText == null || searchTitleText.trim() == "") && (searchHtmlText == null || searchHtmlText.trim() == "")
            && (sortBy == "" || sortBy == null)
        ) {
            alert('Please enter at least one filter.')
            return;
        }
        var filterData={ };
        filterData["From"] = fromDate;
        filterData["To"] = toDate;
        filterData["BulletinNo"] = bulletinNo;
        filterData["Section"] = section;
        filterData["SearchHtml"] = searchHtmlText;
        filterData["SearchTitle"] = searchTitleText;
        filterData["SortOn"] = sortBy;

        $.ajax(
                {
                url: '@Url.Action("GetBulletinPart2TableData", "Business")',
                type: 'Post',
                data: { month: 0, year: 0, filterModel: filterData },
                success: function (result) {
                    var tableElement = $(result)[0];
                    console.log("Table Element : " + tableElement);
                    console.log("Result : " + result);
                    //console.log("Result [0] : " + result);
                    if (tableElement.rows.length > 1)
                        $('#contentContainer').html(result);
                    else
                        $('#contentContainer').html('<b>No Records available<b>');
                    }
                    ,
                    error: function () {
                        alert('Something went wrong.')
                    }
                }

            );
    }

    function resetAdvanceSearch() {
        $('#advanceSearch').find('input:text').val('');
        $('#advanceSearch').find('input[type=date]').val('');
        $('#advanceSearch').find('input[name="sortOn"]').prop('checked', false);
      //  $('#advanceSearch').find('input:text').val('');
        $('#bulletinPicker').prop('selectedIndex', 0);
        $('#sectionPicker').prop('selectedIndex', 0);
    }
</script>
