﻿@using RSWP_UI.Models.BusinessDataViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="text-align:center;">Rajya Sabha</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form class="col-md-12 form-horizontal" id="myForm">
                <h4 class="modal-title" style="text-align:center;"> Special Mention </h4>
                @foreach (var item in (List<GetSMListViewModel>)Session["SM_Res"] ?? new List<GetSMListViewModel>())
                {
                    if (item.sr_no == Convert.ToInt32(TempData["SM_Id"]))
                    {
                        <div style="text-align:center;"><h4>Made On  @item.made_Date  SessionNo: @item.sess_no</h4></div><br />
                        <div>
                            Member Name :- @item.mp_name <br />
                            Subject :- @item.subject <br />
                            Ministry :- @item.Ministry <br />
                            Reply :- No Reply
                            <br />
                            <br />
                            @if(@item.SM_Text != null)
                            {
                                @MvcHtmlString.Create(HttpUtility.HtmlDecode(item.SM_Text.ToString()));
                            }
                        </div>
                    }
                }
            </form>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
            <button type="button" id="btnSubmit" class="btn btncolor" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>