﻿@model @RSWP_UI.Models.BusinessViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                <div class="sectionBox">
                    <h4>@RSWP_UI.Resources.Resource.Business</h4>
                    <ul class="sideBarList">
                        <li><a href="" class="active">@RSWP_UI.Resources.Resource.ProvisionalCalender</a></li>
                        <li><a href="@Url.Action("ListOfBussiness","Business")">@RSWP_UI.Resources.Resource.ListofBusiness</a></li>
                        <li><a href="@Url.Action("PaperToBeLaid","Business")">@RSWP_UI.Resources.Resource.PaperstobelaidontheTable</a></li>
                        <li><a href="@Url.Action("BulletinPart1","Business")">@RSWP_UI.Resources.Resource.BulletinPartI</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.BulletinPartII</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.SessionalResume</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.SessionsJournal</a></li>
                        <li><a href="@Url.Action("Synopsis","Business")">@RSWP_UI.Resources.Resource.SynopsisofDebates</a></li>
                        <li><a href="@Url.Action("PaperToBeLaidRajyaSabha","Business")">@RSWP_UI.Resources.Resource.PaperstobelaidinRajyaSabha</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.ValedictoryAddressSessionwise</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.StatisticalinformationSessionwise</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.BusinessTransactedbytheParliament</a></li>
                    </ul>
                </div>
                <div class="sectionBox">
                    <h4>@RSWP_UI.Resources.Resource.GOIManualofHandlings</h4>
                    <ul class="sideBarList">
                        <li><a href="">@RSWP_UI.Resources.Resource.Legislation</a></li>
                        <li><a href="">@RSWP_UI.Resources.Resource.SubordinateLegislation</a></li>
                        <li><a href="">@RSWP_UI.Resources.Resource.LegislationsRoStatesUnderPresidentsRule</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="#">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.Business</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.ProvisionalCalender</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">

                    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
                    <div class="box-midd">
                        <div class="sessionNo" style="margin-top:10px;">
                            <select style="width: 100px;">
                                <option>206</option>
                                <option>205</option>
                                <option>204</option>
                            </select>
                        </div>
                        <h4 class="text-center">@RSWP_UI.Resources.Resource.ProvisionalCalender</h4>
                        <div class="searchResulltTabl">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="10%">@RSWP_UI.Resources.Resource.SNo.</th>
                                        <th width="50%">@RSWP_UI.Resources.Resource.Date_sm</th>
                                        <th width="20%"> LOB</th>
                                        <th width="20%"> RLOB</th>
                                        <th width="20%"> SLOB-I</th>
                                        <th width="20%"> SLOB-II</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1 March</td>
                                        <td><a href="file.pdf">file.pdf(200kb)</a></td>
                                        <td><a href="abc.pdf">abc.pdf(202kb)</a></td>
                                        <td><a href="slob.pdf">slob.pdf(100kb)</a></td>
                                        <td>None</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2 March</td>
                                        <td><a href="file1.pdf">file1.pdf(200kb)</a></td>
                                        <td><a href="abc1.pdf">abc1.pdf(202kb)</a></td>
                                        <td>None</td>
                                        <td>None</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" href="http://164.100.47.5/webcom/ProvisionalCalender_Archive.aspx">@RSWP_UI.Resources.Resource.Archive</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                    <!--<button type="button" class="btn btn-default reduce">Reduce Width&nbsp;&lt;&lt; </button>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>
</section>
