﻿
@{
    ViewBag.Title = "MatterRaisedWithPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SideLayoutMenu")
            </div>
            <div class="col-md-6 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.Business</a></li>
                        <li><a href="">@RSWP_UI.Resources.Resource.MattersRaisedwithPermissionZeroHour</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
                    <div class="box-midd">
                        <h4 class="text-center" style="margin-top:0px;">@RSWP_UI.Resources.Resource.MattersRaisedwithPermissionZeroHour</h4>
                        <div class="searchResulltTabl">
                            <table id="member_table" border="1" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th>@RSWP_UI.Resources.Resource.Type</th>
                                        <th> @RSWP_UI.Resources.Resource.SESSIONNO</th>
                                        <th> @RSWP_UI.Resources.Resource.SittingDate</th>
                                        <th> @RSWP_UI.Resources.Resource.Title</th>


                                        <th>@RSWP_UI.Resources.Resource.FileName </th>
                                    </tr>
                                </thead>
                                <tbody id="memberList">
                                        @{int count = 1; }
                                        @foreach (var item in ViewBag.List)
                                        {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Type</td>
                                        <td>@item.session</td>
                                        <td>@item.selectedDate</td>
                                        <td>@item.Tiltle</td>
                                        <td><a href="@item.FileUrl" target="_blank">@item.Name</a></td>
                                    </tr>
                                            count++;
                                        }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>
</section>

