﻿@model RSWP_UI.Models.BussinessDocumentModel
@{
    ViewBag.Title = "PaperToBeLaid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Business.css" rel="stylesheet" />
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SideLayoutMenu")
            </div>
            <div class="col-md-6 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.Business</a></li>
                        <li><a href="">@RSWP_UI.Resources.Resource.PAPERSTOBELAID</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
                    <div class="box-midd">
                        <h4 class="text-center" style="margin-top:0px;">@RSWP_UI.Resources.Resource.PAPERSTOBELAID</h4>
                        <div id="dvSessions" class="sessionNo" style="margin-top:10px;">
                            <div class="row select_dropd input-panel">
                                <div class="col-md-3 is-flex" style="padding-right:0 !important">
                                    <span>@RSWP_UI.Resources.Resource.Session</span>
                                    <select style="width: 82px !important;" id="slctSession">
                                        @foreach (var item in Model.Sessions)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-5 is-flex">
                                    <span style="margin-left:0 !important">@RSWP_UI.Resources.Resource.From</span>
                                    @if (Model.SessionList.Count > 0)
                                    {
                                        <span id="spnFromDate">@Model.SessionList.First().StartDate.ToString("dd/MM/yyyy")</span>
                                    }
                                    else
                                    {
                                        <span id="spnFromDate">-</span>
                                    }
                                    <span>@RSWP_UI.Resources.Resource.To</span>
                                    @if (Model.SessionList.Count > 0)
                                    {
                                        <span id="spnToDate">@Model.SessionList.First().EndDate.ToString("dd/MM/yyyy")</span>
                                    }
                                    else
                                    {
                                        <span id="spnToDate">-</span>
                                    }

                                </div>
                                <div class="col-md-4 is-flex">
                                    <span>@RSWP_UI.Resources.Resource.SelectMonth</span>
                                    @Html.DropDownList("sittingMonth", Model.SittingMonths, new { width = "150px" })
                                </div>
                            </div>
                        </div>
                        <div style="text-align:center">
                            As on : @System.DateTime.Now.Date.ToString("dd/MM/yyyy")
                        </div>
                        <div class="calendar_panel time_table" style="margin: 20px 0 10px 0;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <td>
                                            <strong style="color:#ffffff;">@RSWP_UI.Resources.Resource.DATE</strong>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="busiDate22">
                                            <ul id="ulDocuments">
                                                @foreach (var item in Model.Documents)
                                                {
                                                    <li class="firstli">
                                                        <a href="javascript:void(0)" class="lnk" onclick="setFrameUrl('@item.FileUrl')">
                                                            @item.selectedDate.Value.Day
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @if (Model.Documents.Count > 0)
                    {

                        <a  href="@Model.Documents[0].FileUrl" id="docFrame1" target="_blank" title="Open Pdf in New Window" class="pull-right"><u>@RSWP_UI.Resources.Resource.OpenPDFInNewTab</u></a>
                        <iframe id="docFrame" src="@Model.Documents.First().FileUrl" style="width:648px;height:300px"></iframe>
                    }
                    else
                    {
                        <iframe id="docFrame" src="" style="width:648px;height:300px"></iframe>
                    }
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="http://164.100.47.5/webcom/ProvisionalCalender_Archive.aspx">Archive</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                    <!--<button type="button" class="btn btn-default reduce">Reduce Width&nbsp;&lt;&lt; </button>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>
</section>

<script>
    function setFrameUrl(url) {
        $('#docFrame').attr('src', url);
        $('#docFrame1').attr('href', url);
    }
       $('#slctSession').change(function () {
        debugger;
        var sessionNo = $(this).val();
        var allSessions = @Html.Raw(Json.Encode(Model.SessionList));
        for (var i = 0; i < allSessions.length; i++) {
            if (allSessions[i].sessionNo == sessionNo) {
                var startDate = new Date(allSessions[i].StartDate.match(/\d+/)[0] * 1)
                var endDate = new Date(allSessions[i].EndDate.match(/\d+/)[0] * 1);
                $('#spnFromDate').text(startDate.getDate() + '/' + (startDate.getMonth() + 1) + '/' + startDate.getFullYear());
                $('#spnToDate').text(endDate.getDate() + '/' + (endDate.getMonth() + 1) + '/' + endDate.getFullYear());
            }
        }
    })
    $('#slctSession').change(function () {
        var sessionNo = $(this).val();
        $.ajax({
            url: '@Url.Action("GetJsonSessionSittings", "Business")',
            data: { sessionNo: sessionNo, section: 'TableOffice', subSection: 'TableLaid'},
            success: function (response) {
                var optionHtml = '';
                for (var i = 0; i < response.length; i++) {
                    $('#sittingMonth option').remove();
                    optionHtml += '<option value="' + response[i].Value + '">' + response[i].Text + '</option>';
                }
                $('#sittingMonth').append(optionHtml);
                $('#docFrame').attr('src', '');
                UpdateDocuments();
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    });
    $('#sittingMonth').change(function () {
        $('#docFrame').attr('src', '');
        UpdateDocuments();
    });

    function UpdateDocuments() {
        $.ajax({
            url: '@Url.Action("GetJsonDocuments", "Business")',
            data: { month: $('#sittingMonth').val(), sessionNo: $('#slctSession').val(), section: 'TableOffice', subSection: 'TableLaid' },
            success: function (response) {
                $('#ulDocuments li').remove();
                var liHtml = '';
                for (var i = 0; i < response.length; i++) {
                    var sittingDate = new Date(response[i].selectedDate.match(/\d+/)[0] * 1);
                    liHtml += '<li>';
                    var clickEvent = "setFrameUrl('" + response[i].FileUrl + "')";
                    liHtml += '<a href="javascript:void(0)" onclick="' + clickEvent + '" class="lnk">';
                    liHtml += sittingDate.getDate();
                    liHtml += '</a></li>';
                }
                if (response.length > 0)
                    $('#docFrame').attr('src', response[0].FileUrl);
                    $('#docFrame1').attr('href', response[0].FileUrl);

                $('#ulDocuments').append(liHtml);
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    }
</script>
