﻿@model RSWP_UI.Models.PaperLaidInRSViewModel
@{
    ViewBag.Title = "PaperToBeLaidRajbhaSabha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Business.css" rel="stylesheet" />
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SideLayoutMenu")
            </div>
            <div class="col-md-6 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">[@RSWP_UI.Resources.Resource.Business]</a></li>
                        <li><a href="">@RSWP_UI.Resources.Resource.PaperstobelaidinRajyaSabha</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
                    <div class="box-midd ">
                        <h4 class="text-center" style="margin-top: 2px">@RSWP_UI.Resources.Resource.PaperstobelaidinRajyaSabha</h4>
                        <div id="advanceSearch" class="sessionNo" style="margin-top:20px;">
                            <div class="row">
                                <div class="col-md-6 select_dropd input-panel">
                                    <span>@RSWP_UI.Resources.Resource.Session:</span>
                                        <select id="sessionNo" onchange="GetSittingDate();" style="width: inherit;">
                                            @foreach (var item in Model.SessionList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                </div>

                                <div class="col-md-6 select_dropd input-panel">
                                    <span>@RSWP_UI.Resources.Resource.MINISTRY:</span>
                                        <select id="ministryNames" style="width: inherit;">
                                            @foreach (var item in Model.MinistryList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                </div>

                                <div class="col-md-12 select_dropd input-panel" style="margin-top:10px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>@RSWP_UI.Resources.Resource.SelectDate (@RSWP_UI.Resources.Resource.From ):</span>
                                            <select id="sittingDatesFrom" class="sittingDates" style="width: inherit;">
                                                <option value="">@RSWP_UI.Resources.Resource.Select</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <span style="font-size: 10pt;text-align: left;">(@RSWP_UI.Resources.Resource.To)</span>
                                            <select id="sittingDatesTo" class="sittingDates" style="width: inherit;">
                                                <option value="">@RSWP_UI.Resources.Resource.Select</option>
                                            </select>
                                        </div>
                                    </div>
                                   
                                  

                                </div>

                                <div class="col-md-6 select_dropd input-panel" style="margin-top: 10px">
                                        <span> @RSWP_UI.Resources.Resource.Type:</span>

                                        <select id="reportType" style="width: inherit;">
                                            @foreach (var item in Model.ReportTypeList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>
                                </div>

                                <div class="col-md-6 select_dropd input-panel" style="margin-top: 10px">
                                        <span>@RSWP_UI.Resources.Resource.TitleSearch: </span>
                                        <input type="text" id="titleSearch" name="titleSearch" style="width: inherit;" value="" />
                                </div>

                                <div class="col-md-12 select_dropd input-panel" style="margin-top: 15px;">
                                        <span style="margin: 0px 0 0 20px !important;">@RSWP_UI.Resources.Resource.SortBy: </span>
                                        <input type="radio" name="sortOn" value="@RSWP_UI.Common.CommanConstant.Date" />
                                        <label class="control-label"> @RSWP_UI.Resources.Resource.DATE &nbsp;&nbsp; </label>
                                        <input type="radio" name="sortOn" value="@RSWP_UI.Common.CommanConstant.Ministry" />
                                        <label class="control-label">@RSWP_UI.Resources.Resource.MINISTRY &nbsp;&nbsp; </label>
                                        <input type="radio" name="sortOn" value="@RSWP_UI.Common.CommanConstant.ReportType" />
                                        <label class="control-label">@RSWP_UI.Resources.Resource.ReportType</label>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12 text-center" style="margin-top: 7px">
                                    <input type="submit" class="btn btn-default" onclick="advanceSearch();" value="Submit" />&nbsp; &nbsp;&nbsp; &nbsp;
                                    <input type="submit" class="btn btn-default" onclick="resetAdvanceSearch();" value="Reset" />&nbsp; &nbsp; &nbsp; &nbsp;

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="contentContainer">
                        @Html.Partial("_PaperLaidInRSGrid", Model)
                    </div>

                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">

                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>
</section>

<script>

     function GetSittingDate() {
    var selectedSessionNo = $("#sessionNo").val();
        if (selectedSessionNo == undefined || selectedSessionNo == null || selectedSessionNo == '@RSWP_UI.Resources.Resource.PleaseSelect' || selectedSessionNo=='') {
            resetSittingDates();
        return;
    }
        $.ajax({
            url: "@Url.Action("GetJsonSittingDatesBySessionNo", "Business")",
            dataType: "json",
            type: "GET",
            data: { sessionNo: selectedSessionNo}
			,
			success: function (data) {
				var items = "";
				$.each(data, function (i, item) {
					items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $(".sittingDates").html(items);
            },
            error: function () {
                alert('Something went wrong');
            }
		});
    }

    function advanceSearch() {
        var fromDate = $('#sittingDatesFrom option:selected').val();
        var toDate = $('#sittingDatesTo option:selected').val();
        var sessionNo = $('#sessionNo option:selected').val();
        var reportType = $('#reportType option:selected').val();
        var searchTitleText = $('#titleSearch').val();
        var ministryName = $('#ministryNames option:selected').val();
        var sortBy = $('input[name="sortOn"]:checked').val();
        var message = "";
        if ((fromDate == "" || fromDate == null) && (toDate == "" || toDate == null) && (sessionNo == "" || sessionNo == null)
            && (reportType == "" || reportType == null) && (searchTitleText == null || searchTitleText.trim() == "") && (ministryName == null || ministryName.trim() == "")
            && (sortBy == "" || sortBy == null)
        ) {
            alert('@RSWP_UI.Resources.Resource.PleaseEnterAtLeastOneFilter')
            return;
        }
        if (process(fromDate) > process(toDate)) {
            alert('@RSWP_UI.Resources.Resource.FromDateCannotBeGreaterThanToDate');
            return;
        }
        var filterData={ };
        filterData["From"] = getDateInFormat(fromDate);
        filterData["To"] = getDateInFormat(toDate);
        filterData["SessionNo"] = sessionNo;
        filterData["Ministry"] = ministryName;
        filterData["ReportType"] = reportType;
        filterData["DocTitleSearch"] = searchTitleText;
        filterData["SortOn"] = sortBy;
        filterData["DisplayAllRecords"] = false;//Filtering data
        $.ajax(
                {
                url: '@Url.Action("GetPaperToBeLaidRajyaSabhaGridData", "Business")',
                type: 'Post',
                data: { filterModel: filterData },
                success: function (result) {
                        var tableElement = $(result)[0];
                        if (tableElement.rows.length > 1)
                            $('#contentContainer').html(result);
                        else
                            $('#contentContainer').html('<b>'+'@RSWP_UI.Resources.Resource.NoRecordAvailable'+'<b>');
                }
                ,
                    error: function () {
                        alert('Something went wrong.')
                    }
                }
            );
    }


    function resetAdvanceSearch() {
        $('#advanceSearch').find('input:text').val('');
        $('#advanceSearch').find('input[name="sortOn"]').prop('checked', false);
        resetSittingDates();
        $('#advanceSearch').find('select').each(
            function (index, item) {
                item.value = item.options[0].value;
            }
        );

    }
    function resetSittingDates() {
         $(".sittingDates option").remove();
            var defautltItem = '<option value="">'+'@RSWP_UI.Resources.Resource.Select'+'</option>';
            $(".sittingDates").html(defautltItem);
    }
    function process(date) {
        var parts = date.split("/");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }

    function getDateInFormat(date) {
        var parts = date.split("/");
        var dateInYYYYMMDD = parts[2] +'/'+ parts[1] +'/'+ parts[0];
        return dateInYYYYMMDD;
    }
</script>
