﻿@model RSWP_UI.Models.SessionJournalViewModel
@{
    ViewBag.Title = "BulletinPartII";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Business.css" rel="stylesheet" />
<!--DatePicker Calendar-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style>
    /*#tableData tr {
        display: none;
    }*/
</style>
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SideLayoutMenu")
            </div>
            <div class="col-md-6 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">[@RSWP_UI.Resources.Resource.Business]</a></li>
                        <li><a href="">@RSWP_UI.Resources.Resource.SessionsJournal</a></li>
                    </ul>
                </div>

                <div class="boxSearchMid">
                    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.SessionsJournal</h3>
                    <div class="box-midd">
                        <div id="dvSessions" class="sessionNo" style="margin-top:10px;">
                            <div class="row select_dropd input-panel">
                                @*<div class="col-md-2"><span>@RSWP_UI.Resources.Resource.Session</span></div>*@
                                <div class="col-md-12">
                                    <select style="width: 100px;" id="slctSession" onchange="GetGridData();">
                                        @foreach (var item in Model.Sessions)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="contentContainer">
                        @Html.Partial("_sessionJournalGrid", Model.GridData)
                    </div>

                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">

                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>
</section>
<script>

    function GetGridData()
    {
        var sessionNo = $('#slctSession option:selected').val();
        if (sessionNo == null || sessionNo == undefined || sessionNo == 0 || sessionNo == '' ) {
            return;
        }
         $.ajax(
            {
                url: '@Url.Action("GetSessionJournalGridContent", "Business")',
                 type: 'Get',
                 data: { sessionNo: sessionNo },
                success: function (result) {
                    $('#contentContainer').html('');
                    $('#contentContainer').html(result);
                }
                ,
                   error: function () {
                        alert('Something went wrong.')
                    }
                }

            );

    }

</script>
