﻿@model RSWP_UI.Models.BusinessDataViewModel.GetSMListViewModel
@{
    ViewBag.Title = "SM_Search_Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Special Mention Page-->
@using (Html.BeginForm("SM_Search_Form", "Business", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="row contentRow bgRajhSabha">
        <div class="container-fluid bgWhiteConter">
            <div class="row">
                <div class="col-md-3">
                    @Html.Partial("_SideLayoutMenu")
                </div>
                <div class="col-md-6 boxMiddleBorder" id="question-center">
                    <div class="">
                        <div id="content">
                            <h4 style="text-align:center;"><strong>SPECIAL MENTIONS</strong></h4>
                            <div style="text-align:left;">
                                @RSWP_UI.Resources.Resource.SessionNo_sm : @Html.DropDownList("sess_no", TempData["SessionList"] as SelectList, new { })
                            </div>
                            <div style="padding-top:1%;">
                                @RSWP_UI.Resources.Resource.MemberName : @Html.DropDownList("mp_code", TempData["MemList"] as SelectList, "Select One", new { })
                            </div>
                            <div style="padding-top:1%;">
                                @RSWP_UI.Resources.Resource.MinistryName : @Html.DropDownList("MIN_NO", TempData["MinistryList"] as SelectList, "--Select One--", new { })
                            </div>
                            <div style="padding-top:1%;">
                                Date (From) &nbsp;
                                <input type="date" id="EnterDate" name="EnterDate" value="" />
                                &nbsp;&nbsp;
                                (To) &nbsp;
                                <input type="date" id="EnterDate1" name="EnterDate1" value="" />
                            </div>
                            <div style="padding-top:1%;">
                                Reply Status : <select id="ddlreplystatus">
                                    <option>Select One</option>
                                    <option>Final Reply</option>
                                    <option>Interim Reply</option>
                                    <option>No Reply</option>
                                </select>
                            </div>
                            <div style="padding-top:1%;">
                                Search In Subject : <input type="text" id="txtsubject" name="txtsubject" value="" />
                            </div>
                            <div style="padding-top:1%;">
                                Sort on :
                                <input type="radio" id="MadeSerialNo" name="Subject" checked /><label>Made Serial No</label>&nbsp;
                                <input type="radio" id="MadeDate" name="Subject" /><label>Made Date</label>&nbsp;
                                <input type="radio" id="MemberName" name="Subject" /><label>Member Name</label>&nbsp;
                                <input type="radio" id="Ministry" name="Subject" /><label>Ministry</label>&nbsp;
                            </div>
                            <div style="padding-top:1%;text-align:center">
                                <input type="submit" name="" value="Submit" id="show" style="height:24px;width:100px;">&nbsp;<input style="height:24px;width:100px;" type="reset" value="Reset" id="Reset1">
                            </div>
                        </div>
                    </div>
                    @*<br />
                        <div id="totalMembers" style="font-size:13px;font-weight:bold;padding-bottom:1%;">
                        </div>
                        <div class="ShowData">
                            <div class="searchResulltTabl">
                                <table id="member_table" class="table table-striped table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Session(Made Date)</th>
                                            <th>Subject</th>
                                            <th>Name Of Member</th>
                                            <th>Ministry Concerned</th>
                                            <th>Reply From Ministry</th>
                                        </tr>
                                    </thead>
                                    <tbody id="memberList"></tbody>
                                </table>
                            </div>
                        </div>*@
                </div>
                <div class="col-md-3">
                    @Html.Partial("_rightMenuLayout")
                </div>
            </div>
        </div>
    </section>
}
<!--Special Mention Result-->
@*<script>
        $(document).ready(function () {
            GetData();
        });
    </script>
    <script type="text/javascript">
        function GetData() {
            debugger;
            var obj = {};
            obj.sessionvalue = $.trim($("[id*=sessioncode]").val());
            $.ajax({
                url: '@Url.Action("GetSMResult", "Business")',
                data: { sessionVal: obj.sessionvalue },
                method: 'POST',
                success: function (data) {
                    debugger;
                    var member_data = '';
                    $('#member_table tbody').empty();
                    var count = 1;
                    var d = new Date();
                    var todayMonth = d.getMonth() + 1;
                    for (var i = 0; i < data.length; i++) {
                        member_data += '<tr>';
                        member_data += '<td>' + data[i].sr_no + '</td>';
                        member_data += '<td>' + data[i].sess_no + '(' + data[i].made_Date + ')' + '</td>';
                        member_data += '<td><a href="#" class="link">' + data[i].subject + '</a></td>';
                        member_data += '<td>' + data[i].mp_name + '</td>';
                        member_data += '<td>' + data[i].Ministry + '</td>';
                        member_data += '<td>' + 'No Reply' + '</td>';
                        member_data += '</tr>';
                        count++;
                    }
                    //var totalcount = i - 1;
                    $('#member_table tbody').append(member_data);
                    var totMem = 'Total No of Members :- ' + data.length;
                    $('#totalMembers').text(totMem);
                },
                error: function ()
                {
                    alert('Error');
                }
            });
        }
    </script>*@
