﻿@using RSWP_UI.Models.BusinessDataViewModel
@{
    ViewBag.Title = "SM_Searchs_Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Special Mention Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SideLayoutMenu")
            </div>
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <strong>
                            <a href="/Business/SM_Search_Form">Search Form</a>
                        </strong>
                    </div>
                </div>
                <br />
                <div id="totalMembers" style="font-size:13px;font-weight:bold;padding-bottom:1%;">
                    Total Record Found: @TempData["SM_Count"]
                </div>
                @if (Session["SM_Res"] != null)
                {
                    <div class="ShowData">
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Session(Made Date)</th>
                                        <th>Subject</th>
                                        <th>Name Of Member</th>
                                        <th>Ministry Concerned</th>
                                        <th>Reply From Ministry</th>
                                    </tr>
                                </thead>
                                <tbody id="memberList">
                                    @foreach (var item in (List<GetSMListViewModel>)Session["SM_Res"] ?? new List<GetSMListViewModel>())
                                    {
                                        if (item.mp_code == Convert.ToInt32(TempData["mp_code"]) || Convert.ToInt32(TempData["mp_code"]) == 0)
                                        {
                                            if (item.MIN_NO == Convert.ToString(TempData["min_code"]) || TempData["min_code"] == null)
                                            {
                                                <tr>
                                                    <td><a href="#" onclick="GetRecord('@item.sr_no');">@item.sr_no</a></td>
                                                    <td>@item.sess_no (@item.made_Date)</td>
                                                    <td><a href="#" onclick="GetRecord('@item.sr_no');">@item.subject</a></td>
                                                    <td>@item.mp_name</td>
                                                    <td>@item.Ministry</td>
                                                    <td>No Reply</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>  
</section>
<div id="myGetData" class="modal fade" role="dialog"></div>
<!--Special Mention Result-->
<script type="text/javascript">
    @*function GetData() {
        debugger;
        var obj = {};
        obj.sessionvalue = $.trim($("[id*=sessioncode]").val());
        $.ajax({
            url: '@Url.Action("GetSMSResult", "Business")',
            data: { sessionVal: obj.sessionvalue },
            method: 'POST',
            success: function () {
                window.location.href = '@Url.Action("SM_Searchs_Form", "Business")';
            },
            error: function ()
            {
                alert('Error');
            }
        });
    }*@

     var GetRecord = function (recNo) {
        var url = "/Business/GetRecord?Id=" + recNo;
        $('#myGetData').load(url, function () {
            $('#myGetData').modal({
                display: 'show',
                backdrop: 'static',
                keyboard: false
            });;
        })
    }
</script>
