﻿@model RSWP_UI.Models.BussinessDocumentModel
@{
    ViewBag.Title = "SessionalResume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Business.css" rel="stylesheet" />
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SideLayoutMenu")
            </div>
            <div class="col-md-6 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

                        <li><a href="#">@RSWP_UI.Resources.Resource.Business</a></li>
                        <li><a href="">@RSWP_UI.Resources.Resource.StatisticalInformation</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h3>
                    <div class="box-midd">
                        <h4 class="text-center" style="margin-top:0px;">@RSWP_UI.Resources.Resource.StatisticalInformation</h4>
                        <div id="dvSessions" class="sessionNo" style="margin-top:10px;">
                            <div class="row select_dropd input-panel">
                                <div class="col-md-2"><span>@RSWP_UI.Resources.Resource.Session</span></div>
                                <div class="col-md-2">
                                    <select style="width: 100px;" id="slctSession">
                                        @foreach (var item in Model.SessionList)
                                        {
                                            <option value="@item.sessionNo">@item.sessionNo</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <span>@RSWP_UI.Resources.Resource.From</span>
                                </div>
                                <div class="col-md-2">
                                    @if (Model.SessionList.Count > 0)
                                    {
                                        <span id="spnFromDate">@Model.SessionList.First().StartDate.ToString("dd/MM/yyyy")</span>
                                    }
                                    else
                                    {
                                        <span id="spnFromDate">-</span>
                                    }
                                </div>
                                <div class="col-md-1">
                                    <span>@RSWP_UI.Resources.Resource.To</span>
                                </div>
                                <div class="col-md-1">
                                    @if (Model.SessionList.Count > 0)
                                    {
                                        <span id="spnToDate">@Model.SessionList.First().EndDate.ToString("dd/MM/yyyy")</span>
                                    }
                                    else
                                    {
                                        <span id="spnToDate">-</span>
                                    }
                                </div>
                            </div>
                            <div class="row justify-content-center" style="text-align:center">
                                <div class="col-md-12">
                                    <span>@RSWP_UI.Resources.Resource.PublishDate:</span>

                                    @if (Model.Documents.Count > 0 && Model.Documents.First().PublishedOn.HasValue)
                                    {
                                        <span id="spnPublishDate">@Model.Documents.First().PublishedOn.Value.ToString("dd/MM/yyyy")</span>
                                    }
                                    else
                                    {
                                        <span id="spnPublishDate">-</span>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.Documents.Count > 0)
                    {
                        <a href="@Model.Documents.First().FileUrl" id="docFrame1" target="_blank" title="Open Pdf in New Window" class="pull-right"><u>@RSWP_UI.Resources.Resource.OpenPDFInNewTab</u></a>
                        <iframe id="docFrame" src="@Model.Documents.First().FileUrl" style="width:648px;height:300px"></iframe>
                    }
                    else
                    {
                        <iframe id="docFrame" src="" style="width:648px;height:300px"></iframe>
                    }
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    @*<a class="btn btn-default" href="http://164.100.47.5/webcom/ProvisionalCalender_Archive.aspx">Archive</a>*@
                                    @*<a class="btn btn-default" href="#">Archive</a>*@
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                    <!--<button type="button" class="btn btn-default reduce">Reduce Width&nbsp;&lt;&lt; </button>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @Html.Partial("_rightMenuLayout")
            </div>
        </div>
    </div>
</section>

<script>
    $('#slctSession').change(function () {
        var sessionNo = $(this).val();
        var allSessions =@Html.Raw(Json.Encode(Model.SessionList));
        for (var i = 0; i < allSessions.length; i++) {
            if (allSessions[i].sessionNo == sessionNo) {
                var startDate = new Date(allSessions[i].StartDate.match(/\d+/)[0] * 1)
                var endDate = new Date(allSessions[i].EndDate.match(/\d+/)[0] * 1);
                //var publishDate = new Date(allSessions[i].PublishDate.match(/\d+/)[0] * 1);
                $('#spnFromDate').text(startDate.getDate() + '/' + (startDate.getMonth() + 1) + '/' + startDate.getFullYear());
                $('#spnToDate').text(endDate.getDate() + '/' + (endDate.getMonth() + 1) + '/' + endDate.getFullYear());
                //$('#spnPublishDate').text(publishDate.getDate() + '/' + (publishDate.getMonth() + 1) + '/' + publishDate.getFullYear());
                break;
            }
        }
        $('#docFrame').attr('src', '');
        $('#docFrame1').attr('href', '');
        $.ajax({
            url: '@Url.Action("GetJsonDocs", "Business")',
            data: { sessionNo: sessionNo, section: 'TableOffice', subSection:'TableInformation'},
            success: function (response) {
                if (response.length > 0) {
                    $('#docFrame').attr('src', response[0].FileUrl);
                    $('#docFrame1').attr('href', response[0].FileUrl);
                    var publishDate = new Date(response[0].PublishDate.match(/\d+/)[0] * 1);
                    $('#spnPublishDate').text(publishDate.getDate() + '/' + (publishDate.getMonth() + 1) + '/' + publishDate.getFullYear());
                }
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    });
</script>

