﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.StandingCommittees</h4>
        <ul class="sideBarList">
            <li><a href="/Committees/BusinessAdvisory?id=1" class="active" data-section="Committees" data-subsection="Standing Committees" data-module="Business Advisory">@RSWP_UI.Resources.Resource.BusinessAdvisory</a></li>
            <li><a href="/Committees/ProvisionofCE?id=10" data-section="Committees" data-subsection="Standing Committees" data-module="Committee on Provision of Computers for Members of Rajya Sabha">@RSWP_UI.Resources.Resource.CommitteeOnProvisionOfComputersForMembersOfRajyaSabha</a></li>
            <li><a href="/Committees/Ethics?id=2" data-section="Committees" data-subsection="Standing Committees" data-module="Ethics">@RSWP_UI.Resources.Resource.Ethics</a></li>
            <li><a href="/Committees/GeneralPurposesCommittee?id=3" data-section="Committees" data-subsection="Standing Committees" data-module="General Purposes Committee">@RSWP_UI.Resources.Resource.GeneralPurposesCommittee</a></li>
            <li><a href="/Committees/GovernmentAssurances?id=4" data-section="Committees" data-subsection="Standing Committees" data-module="Government Assurances">@RSWP_UI.Resources.Resource.GovernmentAssurances</a></li>
            @*<li><a href="#">Search</a></li>
                <li><a href="#">Graphical Analysis</a></li>*@
            <li><a href="/Committees/HouseCommittee?id=5" data-section="Committees" data-subsection="Standing Committees" data-module="House Committee">@RSWP_UI.Resources.Resource.HouseCommittee</a></li>
            <li><a href="/Committees/MPLADS?id=6" data-section="Committees" data-subsection="Standing Committees" data-module="MPLADS">@RSWP_UI.Resources.Resource.MPLADS</a></li>
            <li><a href="/Committees/PapersLaid?id=7" data-section="Committees" data-subsection="Standing Committees" data-module="Papers Laid on the table">@RSWP_UI.Resources.Resource.PapersLaidOnTheTable</a></li>
            <li><a href="/Committees/Petitions?id=8" data-section="Committees" data-subsection="Standing Committees" data-module="Petitions">@RSWP_UI.Resources.Resource.Petitions</a></li>
            <li><a href="/Committees/Privileges?id=9" data-section="Committees" data-subsection="Standing Committees" data-module="Privileges">@RSWP_UI.Resources.Resource.Privileges</a></li>
            <li><a href="/Committees/Rules?id=11" data-section="Committees" data-subsection="Standing Committees" data-module="Rules">@RSWP_UI.Resources.Resource.Rules</a></li>
            <li><a href="/Committees/SubordinateLegislation?id=12" data-section="Committees" data-subsection="Standing Committees" data-module="Subordinate Legislation">@RSWP_UI.Resources.Resource.SubordinateLegislation</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittees_RS</h4>
        <ul class="sideBarList">
            <li><a href="/Committees/Commerce?id=13" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-RS" data-module="Commerce" >@RSWP_UI.Resources.Resource.Commerce</a></li>
            <li><a href="/Committees/HFWelfare?id=14" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-RS" data-module="Health and Family Welfare">@RSWP_UI.Resources.Resource.HealthAndFamilyWelfare</a></li>
            <li><a href="/Committees/HomeAffairs?id=15" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-RS" data-module="Home Affairs">@RSWP_UI.Resources.Resource.HomeAffairs</a></li>
            <li><a href="/Committees/HumanResourceDevelopment?id=16" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-RS" data-module="Human Resource Development">@RSWP_UI.Resources.Resource.HumanResourceDevelopment</a></li>
            <li><a href="/Committees/Industry?id=17" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-RS" data-module="Industry">@RSWP_UI.Resources.Resource.Industry</a></li>
            <li><a href="/Committees/PPGLJustice?id=18" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-RS" data-module="Personnel, Public Grievances, Law and Justice">@RSWP_UI.Resources.Resource.PersonnelPublicGrievancesLawAndJustice</a></li>
            <li><a href="/Committees/STEFCClimatehange?id=19" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-RS" data-module="Science and Technology, Environment and Forests">@RSWP_UI.Resources.Resource.ScienceAndTechnologyEnvironmentAndForests</a></li>
            <li><a href="/Committees/TTCulture?id=20" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-RS" data-module="Transport, Tourism and Culture">@RSWP_UI.Resources.Resource.TransportTourismAndCulture</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4><a href="/Committees/SelectCommittee">@RSWP_UI.Resources.Resource.SelectCommitees</a></h4>
        @*<ul class="sideBarList">
                <li><a href="#">Select Committees on the Ancient Monuments and Archaeological Sites and Remains (Amendment) Bill, 2018</a></li>
            </ul>*@
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.JointCommittees</h4>
        <ul class="sideBarList">
            <li><a href="#"  data-section="Committees" data-subsection="Joint Committees" data-module="Empowerment Of Women">@RSWP_UI.Resources.Resource.EmpowermentOfWomen</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Food Management in Parliament House Complex">@RSWP_UI.Resources.Resource.FoodManagementInParliamentHouseComplex</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Joint Committee on Installation of Portraits/Statues of National Leaders and Parliamentarians in Parliament House Complex">@RSWP_UI.Resources.Resource.JointCommitteeOnInstallationOfPortraitsStatuesOfNationalLeadersEtc</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="JOINT PARLIAMENTARY COMMITTEE">@RSWP_UI.Resources.Resource.JOINTPARLIAMENTARYCOMMITTEE</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Joint Parliamentary Committee on Maintenance of Heritage Character and Development of Parliament House Complex">@RSWP_UI.Resources.Resource.JointParliamentaryCommitteeOnMaintenanceofHeritageCharacterEtc</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Library Committee">@RSWP_UI.Resources.Resource.LibraryCommittee</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Members Salary and Allowances">@RSWP_UI.Resources.Resource.MembersSalaryAndAllowances </a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Offices of Profit">@RSWP_UI.Resources.Resource.OfficesOfProfit</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Public Accounts">@RSWP_UI.Resources.Resource.PublicAccounts</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Public Undertakings">@RSWP_UI.Resources.Resource.PublicUndertakings</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Railway Convention Committee">@RSWP_UI.Resources.Resource.RailwayConventionCommittee </a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Security in Parliament House Complex">@RSWP_UI.Resources.Resource.SecurityInParliamentHouseComplex</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Welfare of Other Backward Classes">@RSWP_UI.Resources.Resource.WelfareOfOtherBackwardClasses</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Joint Committees" data-module="Welfare of Scheduled Castes and Scheduled Tribes">@RSWP_UI.Resources.Resource.WelfareOfScheduledCastesAndScheduledTribes</a></li>
        </ul>
    </div>
</div>
