﻿<div class="col-md-3">
    @*<div class="sectionBox">
            <ul class="sideBarList" style="border-top:none">
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Commitee Meeting Schedule</a></li>
            </ul>
        </div>*@
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.AtAGlance</h4>
        <ul class="sideBarList">
            <li><a href="/Committees/GeneralInforamtion" data-section="Committees" data-subsection="At a Glance" data-module="General Information">@RSWP_UI.Resources.Resource.GeneralInformation</a></li>
            <li><a href="/Committees/GenInfoChairman" data-section="Committees" data-subsection="At a Glance" data-module="Chairman">@RSWP_UI.Resources.Resource.Chairman</a></li>
            <li><a href="/Committees/GenInfoComposition" data-section="Committees" data-subsection="At a Glance" data-module="Composition">@RSWP_UI.Resources.Resource.Composition</a></li>
            <li><a href="#">@RSWP_UI.Resources.Resource.Rule</a></li>
            <li><a href="/Committees/CommitteesReport">@RSWP_UI.Resources.Resource.CommitteeReports</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.DepartmentRelatedParliamentaryStandingCommittees_LS</h4>
        <ul class="sideBarList">
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=5&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Agriculture">@RSWP_UI.Resources.Resource.Agriculture</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=45&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Chemicals and Fertilizers">@RSWP_UI.Resources.Resource.ChemicalsAndFertilizers</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=46&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Coal and Steel">@RSWP_UI.Resources.Resource.CoalAndSteel</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=7&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Defence">@RSWP_UI.Resources.Resource.Defence</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=9&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Energy">@RSWP_UI.Resources.Resource.Energy</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=11&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="EXTERNAL AFFAIRS">@RSWP_UI.Resources.Resource.EXTERNALAFFAIRS</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=12&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Finance">@RSWP_UI.Resources.Resource.Finance</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=13&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Food, Consumer Affairs and Public Distribution">@RSWP_UI.Resources.Resource.FoodConsumerAffairsAndPublicDistribution</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=18&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Information Technology">@RSWP_UI.Resources.Resource.InformationTechnology</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=19&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Labour">@RSWP_UI.Resources.Resource.Labour</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=23&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Petroleum and Natural Gas">@RSWP_UI.Resources.Resource.PetroleumAndNaturalGas</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=28&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Railways">@RSWP_UI.Resources.Resource.Railways </a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=32&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Rural Development">@RSWP_UI.Resources.Resource.RuralDevelopment</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=47&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Social Justice and Empowerment">@RSWP_UI.Resources.Resource.SocialJusticeAndEmpowerment</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=41&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Urban Development">@RSWP_UI.Resources.Resource.UrbanDevelopment</a></li>
            <li><a href="http://loksabhaph.nic.in/Committee/CommitteeInformation.aspx?comm_code=44&tab=1" target="_blank" data-section="Committees" data-subsection="Department Related Parliamentary Standing Committees-LS" data-module="Water Resources">@RSWP_UI.Resources.Resource.WaterResources</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4></h4>
        <ul class="sideBarList" style="border-top:none">
            <li><a id="CommitteeIntroduction" href="#" target="_blank" data-section="Committees" data-subsection="Committees" data-module="Introduction">@RSWP_UI.Resources.Resource.Introduction</a></li>
            <li><a href="/Committees/MemberSearch" data-section="Committees" data-subsection="Committees" data-module="Committees Membership Search">@RSWP_UI.Resources.Resource.Committees @RSWP_UI.Resources.Resource.MembershipSearch</a></li>
            <li><a href="/Committees/MeetingSchedule" data-section="Committees" data-subsection="Committees" data-module="Committees Meeting Schedule">@RSWP_UI.Resources.Resource.Committees @RSWP_UI.Resources.Resource.MeetingSchedule</a></li>
            <li><a href="@Url.Action("SummaryOFWork","Committees")" data-section="Committees" data-subsection="Committees" data-module="Summary of Work">@RSWP_UI.Resources.Resource.SummaryOfWork</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Committees" data-module="Room Details">@RSWP_UI.Resources.Resource.RoomDetails</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Committees" data-module="Consultative Committees">@RSWP_UI.Resources.Resource.ConsultativeCommittees</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Committees" data-module="Bills with the Committee & Press release seeking opinion/suggestions from public">@RSWP_UI.Resources.Resource.BillsWithTheCommitteeAndPressReleaseSeekingOpinionSugesstion</a></li>
            <li><a href="#" data-section="Committees" data-subsection="Committees" data-module="Membership of Statutory Bodies">@RSWP_UI.Resources.Resource.MembershipOfStatutoryBodies</a></li>
            @*<li><a href="#">Parliamentary Forum</a></li>*@
        </ul>
    </div>
    @*<div class="sectionBox">
            <h4><a href="#">Search</a></h4>
        </div>*@
    <div class="sectionBox">
        <h4><a href="/Graphical/Graphical_Analysis">@RSWP_UI.Resources.Resource.GraphicalAnalysis</a></h4>
    </div>
</div>


<script>

    $(document).ready(
        function () {
            $.ajax(
                {
                    url: '@Url.Action("GetCommitteeIntroductionUrl", "Committees")',
                    type: 'Get',
                    success: function (result) {
                        if (result != null && result.IntroductionUrl != null)
                            $('#CommitteeIntroduction').attr('href', result.IntroductionUrl);
                        else
                            $('#CommitteeIntroduction').attr('href', '#');
                    }
                });
        });


</script>