﻿
@{
    ViewBag.Title = "RightToInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/RTILeftMenu")
            <h4 class="main-title center">@RSWP_UI.Resources.Resource.RightToInformation</h4>
            <div class="col-md-9 boxMiddleBorder" id="business-center">

                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.RTI</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

