﻿@model RSWP_UI.Models.OfficialDebatesListVM
<div id="gridData">
    <table id="member_table" class="table table-striped table-bordered table-sm">
        @if (Model != null && Model.OfficialDebatesList != null && Model.OfficialDebatesList.Count > 0)
        {
            <thead>
                <tr>
                    <th>@RSWP_UI.Resources.Resource.SNo</th>
                    <th>@RSWP_UI.Resources.Resource.DATE</th>
                    <th>@RSWP_UI.Resources.Resource.HindiVersion</th>
                    <th>@RSWP_UI.Resources.Resource.FloorVersion</th>

                </tr>
            </thead>
            <tbody id="memberList">
                @{int i = 1;}
                @foreach (var item in Model.OfficialDebatesList)
                {

                    <tr>
                        <td>
                            @i
                        </td>
                        <td>

                            @item.SelectedDate.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                        </td>

                        @if (item.HindiVersionDocument != null && !string.IsNullOrEmpty(item.HindiVersionDocument.Name))
                        {
                            <td>
                                <a href="@item.HindiVersionDocument.FileUrl" target="_blank"> <u>  @item.HindiVersionDocument.Name </u></a>(@(item.HindiVersionDocument.FileSize / 1000) KB)
                            </td>
                        }
                        else
                        {
                            <td><center>-</center></td>
                        }

                        @if (item.FloorVersionDocument != null && !string.IsNullOrEmpty(item.FloorVersionDocument.Name))
                        {
                            <td>
                                <a href="@item.FloorVersionDocument.FileUrl" target="_blank"> <u>  @item.FloorVersionDocument.Name </u></a>(@(item.FloorVersionDocument.FileSize / 1000) KB)
                            </td>
                        }
                        else
                        {
                            <td><center>-</center></td>
                        }


                    </tr>
                    { i++; }
                }

            </tbody>
        }
    </table>
</div>
<script>
  window.onload=function ()
                     {
                       if ('@TempData["Message"]' != null && '@TempData["Message"]'!='') {
                    alert('@TempData["Message"]');
                    }
    };
</script>