﻿@model RSWP_UI.Models.VerbatimDebatesViewModel
<div id="gridData">
    <table id="member_table" class="table table-striped table-bordered table-sm">
        @if (Model != null && Model.VerbatimDebatesList != null && Model.VerbatimDebatesList.Count > 0)
        {
            <thead>
                <tr>
                    <th>@RSWP_UI.Resources.Resource.DATE</th>
                    <th>@RSWP_UI.Resources.Resource.File</th>


                </tr>
            </thead>
            <tbody id="memberList">
                <tr>

                    <td>

                        @Model.SelectedDate.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                    </td>
                    <td>
                        @foreach (var item in Model.VerbatimDebatesList)
                        {
                            <b> <a href="#" class="time" id="@item.Id" data-fileurl="@item.FileUrl" onclick="setDocumentUrl('@item.Id');"> <u>  @item.Time </u></a> |</b>
                        }
                    </td>
                </tr>
            </tbody>


        }
    </table>

    <iframe id="docFrame" style="width:900px;height:400px"></iframe>

</div>
<script>
  window.onload=function ()
                     {
                       if ('@TempData["Message"]' != null && '@TempData["Message"]'!='') {
                    alert('@TempData["Message"]');
      }

                       setDocumentUrl();

    };

    function setDocumentUrl(id) {
        
        $('#docFrame').attr('src', '');
        $('#newTab').attr('href', '');
        var records = $('.time');
       
        if (id != '' && id != null && id != undefined && id != 0) {
            var url = $('#' + id)[0].dataset.fileurl;
            $('#docFrame').attr('src', url);
            $('#newTab').attr('href', url);
            $('#newTab').attr('target', "_blank");
        }
        else if (records.length > 0) {
         var  url = records[0].dataset.fileurl;
            $('#docFrame').attr('src', url);
            $('#newTab').attr('href', url);
            $('#newTab').attr('target', "_blank");
        }
        else {
            $('#newTab').attr('href',"");
            $('#newTab').attr('target', "");
        }
    }


</script>