﻿@model RSWP_UI.Models.DiscussionsListVM
@{
    ViewBag.Title = "Discussion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Introduced Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

                        <li><a href="#">@RSWP_UI.Resources.Resource.Debates</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.Discussions</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.Discussions</h4>
                    <div id="dvSessions" class="sessionNo" style="margin-top:10px;">

                        <div class="col-md-12" id="advanceSearch">
                            <div class="col-md-6">
                                <div class="row select_dropd input-panel">
                                    <div class="col-md-2"><span>@RSWP_UI.Resources.Resource.Session</span></div>
                                    <div class="col-md-8">
                                        <select class="form-control" id="sessionNo" onchange="GetSittingDate();">
                                            @foreach (var item in Model.SessionList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="row select_dropd input-panel">
                                    <div class="col-md-2"><span>@RSWP_UI.Resources.Resource.Title</span></div>
                                    <div class="col-md-8">
                                        <input type="text" id="title" class="form-control" />

                                    </div>
                                </div>

                                <div class="row select_dropd input-panel">
                                    <div class="col-md-2"><span>@RSWP_UI.Resources.Resource.AllMembers</span></div>
                                    <div class="col-md-8">
                                        <select class="form-control" id="allMember">
                                            @foreach (var item in Model.FirstMemberList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row select_dropd input-panel">
                                    <div class="col-md-2"><span>@RSWP_UI.Resources.Resource.Type</span></div>
                                    <div class="col-md-10">
                                        <select class="form-control" id="discussionType">
                                            @foreach (var item in Model.TypeList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        </select>

                                    </div>

                                    <div class="row select_dropd input-panel">
                                        <div class="col-md-2"><span>@RSWP_UI.Resources.Resource.From</span></div>


                                        <div class="col-md-4">
                                            <select id="sittingDatesFrom" class="form-control sittingDates">
                                                <option value="">@RSWP_UI.Resources.Resource.PleaseSelect</option>
                                            </select>
                                        </div>

                                        <div class="col-md-1"><span>@RSWP_UI.Resources.Resource.To</span></div>
                                        <div class="col-md-4">
                                            <select id="sittingDatesTo" class="form-control sittingDates">
                                                <option value="">@RSWP_UI.Resources.Resource.PleaseSelect</option>
                                            </select>
                                        </div>



                                    </div>

                                    <div class="row input-panel">

                                        <input type="button" class="btn" onclick="advanceSearch();" value="Submit" />
                                        <input type="button" class="btn" onclick="resetAdvanceSearch();" value="Reset" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="contentContainer" class="ShowData">
                            @Html.Partial("_DiscussionGridView")
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<script>


        window.onload=function ()
    {
        if ('@TempData["Message"]' != null && '@TempData["Message"]'!='') {
        alert('@TempData["Message"]');
        }
    };
    function GetSittingDate() {
        var selectedSessionNo = $("#sessionNo").val();
        if (selectedSessionNo == undefined || selectedSessionNo == null || selectedSessionNo == '@RSWP_UI.Resources.Resource.PleaseSelect' || selectedSessionNo=='') {
            resetSittingDates();
           // GetGridData();
        return;
    }
        $.ajax({
            url: "@Url.Action("GetDebatesSittingDatesList", "Debates")",
            dataType: "json",
            type: "GET",
            async: false,
            data: { sessionNo: selectedSessionNo,section:'@RSWP_UI.Common.CommanConstant.Debates',subSection:'@RSWP_UI.Common.CommanConstant.Discussions'}
            ,
            success: function (data) {
                var items = "";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $(".sittingDates").html(items);
            },
            error: function () {
                alert('Something went wrong');
            }
        });

           // GetGridData();
    }



    @*function GetGridData()
    {
        var sessionNo = $('#slctSession option:selected').val();
        var selectedDate = $('#slctDate option:selected').val();
        if (sessionNo == null || sessionNo == undefined || sessionNo == 0 || sessionNo == '') {
            $('#contentContainer').html('');
            return;
        }
        if (selectedDate == null || selectedDate == undefined || selectedDate == '') {
            $('#contentContainer').html('');
            return;
        }
        if (selectedDate != null && selectedDate != undefined && selectedDate!='')
        selectedDate = getDateInFormat(selectedDate);
         $.ajax(
            {
                url: '@Url.Action("GetVerbatimDebatesGridData", "Debates")',
                 type: 'Get',
                 data: { sessionNo: sessionNo, selectedDate: selectedDate },
                success: function (result) {
                    $('#contentContainer').html('');
                    $('#contentContainer').html(result);
                    setDocumentUrl();
                }
                ,
                   error: function () {
                        alert('Something went wrong.')
                    }
                }
        );
    }*@


    function advanceSearch() {
        var fromDate = $('#sittingDatesFrom option:selected').val();
        var toDate = $('#sittingDatesTo option:selected').val();
        var sessionNo = $('#sessionNo option:selected').val();
        var discussionType = $('#discussionType option:selected').val();
        var searchTitleText = $('#title').val();
        var allMember = $('#allMember option:selected').val();

        var message = "";
        if ((fromDate == "" || fromDate == null) && (toDate == "" || toDate == null) && (sessionNo == "" || sessionNo == null)
            && (discussionType == "" || discussionType == null) && (searchTitleText == null || searchTitleText.trim() == "") && (allMember == null || allMember.trim() == "")

        ) {
            alert('@RSWP_UI.Resources.Resource.PleaseEnterAtLeastOneFilter')
            return;
        }
        if (fromDate != undefined && fromDate != null && fromDate != "" && toDate != undefined && toDate != "" && toDate != null && process(fromDate) > process(toDate)) {
            alert('@RSWP_UI.Resources.Resource.FromDateCannotBeGreaterThanToDate');
            return;
        }
        var filterData = {};
        if (fromDate) {
            filterData["From"] = getDateInFormat(fromDate);
        } else {
            filterData["From"] = null;
        }
        if (toDate) {
            filterData["To"] = getDateInFormat(toDate);
        } else {
            filterData["To"] = null;
        }

        filterData["SessionNo"] = sessionNo;
        filterData["AllMember"] = allMember;
        filterData["DiscussionType"] = discussionType;
        filterData["SearchTitle"] = searchTitleText;
        filterData["DisplayAllRecords"] = false;//Filtering data
        $.ajax(
                {
                url: '@Url.Action("GetDiscussionsGridData", "Debates")',
                type: 'Post',
                data: { filterModel: filterData },
                success: function (result) {
                 //   var tableElement = $(result)[0];
                 var noOfRows= $(result).find('#memberList')[0].rows
                 if (noOfRows.length > 0)
                            $('#contentContainer').html(result);
                        else
                            $('#contentContainer').html('<b>'+'@RSWP_UI.Resources.Resource.NoRecordAvailable'+'<b>');
                }
                ,
                    error: function () {
                        alert('Something went wrong.')
                    }
                }
            );
    }

    function process(date) {
        var parts = date.split("/");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }

    function getDateInFormat(date) {
        var parts = date.split("/");
        var dateInYYYYMMDD = parts[2] + '/' + parts[1] + '/' + parts[0];
        return dateInYYYYMMDD;
    }
      function resetSittingDates() {
          $(".sittingDates option").remove();
            var defautltItem = '<option value="">'+'@RSWP_UI.Resources.Resource.PleaseSelect'+'</option>';
            $(".sittingDates").html(defautltItem);
    }


      function resetAdvanceSearch() {
          $('#advanceSearch').find('input:text').val('');

          resetSittingDates();
          $('#advanceSearch').find('select').each(
              function (index, item) {
                  item.value = item.options[0].value;
              }
          );

      }
      function resetAll() {
          resetSittingDates();
          $("#slctSession").val($("#slctSession option:first").val());
          $('#contentContainer').html('');
      }
</script>

