﻿@model RSWP_UI.Models.VerbatimDebatesViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Bill Introduced Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")


            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

                        <li><a href="#">@RSWP_UI.Resources.Resource.Debates</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.VerbatimDebates</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">

                    <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.UNCORRECTEDVERBATIMDEBATES</h4>
                    <a id="newTab" href="#" target="_blank" title="Open Pdf in New Window" class="pull-right"><u>@RSWP_UI.Resources.Resource.OpenPDFInNewTab</u></a>


                    <div id="dvSessions" class="sessionNo" style="margin-top:10px;">
                        <div class="row select_dropd input-panel">
                            <div class="col-md-2"><span>@RSWP_UI.Resources.Resource.Session</span></div>
                            <div class="col-md-4">
                                <select class="form-control" id="slctSession" onchange="GetSittingDate();">
                                    @foreach (var item in Model.Sessions)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="row select_dropd input-panel">
                            <div class="col-md-2"><span>@RSWP_UI.Resources.Resource.DATE</span></div>
                            <div class="col-md-4">
                                <select class="form-control" id="slctDate" onchange="GetGridData();">
                                    @foreach (var item in Model.Dates)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }

                                </select>
                            </div>

                        </div>
                    </div>
                    <div id="contentContainer" class="ShowData">
                        @Html.Partial("_verbatimDebatesGrid", Model)
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function GetSittingDate() {
        var selectedSessionNo = $("#slctSession").val();
        if (selectedSessionNo == undefined || selectedSessionNo == null || selectedSessionNo == '@RSWP_UI.Resources.Resource.PleaseSelect' || selectedSessionNo=='') {
            resetSittingDates();
            GetGridData();
        return;
    }
        $.ajax({
            url: "@Url.Action("GetDebatesSittingDatesList", "Debates")",
            dataType: "json",
            type: "GET",
            async: false,
            data: { sessionNo: selectedSessionNo,section:'@RSWP_UI.Common.CommanConstant.Debates',subSection:'@RSWP_UI.Common.CommanConstant.VerbatimDebates'}
			,
			success: function (data) {
				var items = "";
				$.each(data, function (i, item) {
					items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });

                $("#slctDate").html(items);
            },
            error: function () {
                alert('Something went wrong');
            }
        });

            GetGridData();
    }



    function GetGridData()
    {
        var sessionNo = $('#slctSession option:selected').val();
        var selectedDate = $('#slctDate option:selected').val();
        if (sessionNo == null || sessionNo == undefined || sessionNo == 0 || sessionNo == '') {
            $('#contentContainer').html('');
            return;
        }
        if (selectedDate == null || selectedDate == undefined || selectedDate == '') {
            $('#contentContainer').html('');
            return;
        }
        if (selectedDate != null && selectedDate != undefined && selectedDate!='')
        selectedDate = getDateInFormat(selectedDate);
         $.ajax(
            {
                url: '@Url.Action("GetVerbatimDebatesGridData", "Debates")',
                 type: 'Get',
                 data: { sessionNo: sessionNo, selectedDate: selectedDate },
                success: function (result) {
                    $('#contentContainer').html('');
                    $('#contentContainer').html(result);
                    setDocumentUrl();
                }
                ,
                   error: function () {
                        alert('Something went wrong.')
                    }
                }
        );

       
    }

    function process(date) {
        var parts = date.split("/");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }

    function getDateInFormat(date) {
        var parts = date.split("/");
        var dateInYYYYMMDD = parts[2] + '/' + parts[1] + '/' + parts[0];
        return dateInYYYYMMDD;
    }
      function resetSittingDates() {
          $("#slctDate option").remove();
            var defautltItem = '<option value="">'+'@RSWP_UI.Resources.Resource.PleaseSelect'+'</option>';
            $("#slctDate").html(defautltItem);
    }

</script>