﻿<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.Otherpressrelease</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.SNo</th>
                <th>@RSWP_UI.Resources.Resource.PressRelease</th>
                <th>@RSWP_UI.Resources.Resource.DateOfPublication</th>
                <th>@RSWP_UI.Resources.Resource.CommiteeName</th>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>


