﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.ImportantLinks</h4>
        <ul class="sideBarList">
            <li><a href="#" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.Reportcommitties</a></li>
            <li><a href="@Url.Action("PressReleaseLink","PressRelease")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.ValedictoryAddress</a></li>
            <li><a href="@Url.Action("OthrePressRelease","PressRelease")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Official Debate Portal">@RSWP_UI.Resources.Resource.Otherpressrelease</a></li>
        </ul>
    </div>
</div>
