﻿<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.ValidictoryAddressTitle</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.SNo</th>
                <th>@RSWP_UI.Resources.Resource.ValidictoryAddress</th>
                <th>@RSWP_UI.Resources.Resource.SessionDuration</th>
                <th>@RSWP_UI.Resources.Resource.PublishDate</th>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>

<div class="searchResulltTabl">
    <h4 class="main-title center">@RSWP_UI.Resources.Resource.StatisticalInformation</h4>
    <table id="member_table" class="table table-striped">
        <thead>
            <tr>
                <th>@RSWP_UI.Resources.Resource.SNo</th>
                <th>@RSWP_UI.Resources.Resource.StatisticalInformationSessionWise1</th>
                <th>@RSWP_UI.Resources.Resource.SessionDuration</th>
                <th>@RSWP_UI.Resources.Resource.PublishDate</th>
            </tr>
        </thead>
        <tbody id="memberList">
        </tbody>
    </table>
</div>
