﻿
@{
    ViewBag.Title = "DownloadLink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_DownloadLeftMenu")
            <h4 class="main-title center">@RSWP_UI.Resources.Resource.Downloads</h4>
            <div class="col-md-9 boxMiddleBorder" id="business-center">

                <div class="broadComTab">
                    <ul>
                      
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.DownloadLink</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.RajyaSabha</h4>
                    <h4 class="text-center">@RSWP_UI.Resources.Resource.ParliamentryNoticeForm</h4>
                    <div id="contentContainer" class="ShowData">
                        @Html.Partial("Partial/_downloadGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

