﻿
@{
    ViewBag.Title = "StatusofRajyaSabhaFelloship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_ChairmenRajyaSabhaLeftMenu")
            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.drSRadhaKrishnanchairandfellowship</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h4 class="main-title center">@RSWP_UI.Resources.Resource.StatusofDrRadhakrishnanChair</h4>
                    <div id="contentContainer" class="ShowData">
                        @Html.Partial("Partial/_StatusofRajyaSabhaFellowshipGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

