﻿
@{
    ViewBag.Title = "AgeWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div id="WholeContent">
                    <div id="content">
                        <div>
                            <br />
                            <div style="text-align:center;">
                                <span id="" style="font-size:14px;font-weight:bold;">@RSWP_UI.Resources.Resource.AgeWiseMembersOfRajyaSabha</span>
                            </div>
                            <br />
                            <div class="row" id="comAge" style="padding-left:45px">
                                <div class="col-md-6">
                                    <label>@RSWP_UI.Resources.Resource.AgeFrom</label>
                                    <input type="text" id="strdt" name="" />
                                </div>
                                <div class="col-md-6">
                                    <label>@RSWP_UI.Resources.Resource.AgeTo</label>

                                    <input type="text" id="enddt" name="" />
                                </div>
                            </div>
                            <div style="text-align:center;">
                                <input type="button" id="btnSubmit" onclick="GetData()" value="Show" />
                            </div>
                            <div id="totalMembers" style="text-align:center;font-size:13px;font-weight:bold;">

                            </div>
                            <div class="pull-right" id="file" style="display:none;">
                                <input type="checkbox" id="showAllPhoto" value="img" /><label id="ShowPhoto"> @RSWP_UI.Resources.Resource.ShowPhoto </label>
                                <input type="button" id="btnExport" onclick="fnExcelReport();" value="Export to Excel" />
                            </div>

                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="ShowData" style="display:none" id="result">
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th class="photocolumn">@RSWP_UI.Resources.Resource.Photo</th>
                                        <th>@RSWP_UI.Resources.Resource.MemberName</th>
                                        <th>@RSWP_UI.Resources.Resource.DateOfBirth</th>
                                        <th>@RSWP_UI.Resources.Resource.State</th>
                                        <th>@RSWP_UI.Resources.Resource.Party</th>
                                        <th>@RSWP_UI.Resources.Resource.AgeasonTodayYearsMonths</th>

                                    </tr>
                                </thead>
                                <tbody id="memberList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">@RSWP_UI.Resources.Resource.Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<iframe id="txtArea1" style="display:none"></iframe>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            $("#file").show();
            $("#result").show();
        });
    });
</script>
<script type="text/javascript">
    function GetData() {
        var obj = {};
        obj.startdate = $.trim($("[id*=strdt]").val());
        obj.enddate = $.trim($("[id*=enddt]").val());
        $.ajax({
            url: '@Url.Action("AgeWise_Result", "Members")',
            data: { },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                var age = "";
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].DATE_BIRTH != "")
                    {
                        if (data[i].DATE_BIRTH != null)
                        {
                            if (obj.startdate < 30 || obj.enddate < 30)
                            {
                                break;
                            }
                            else
                            {
                                var components = data[i].DATE_BIRTH.split('/');
                                var date = new Date(components[2], components[1] - 1, components[0]);
                                age = _calculateAge(date);
                                if (age >= obj.startdate && age <= obj.enddate) {
                                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                                    member_data += '<tr>';
                                    member_data += '<td>' + count + '</td>';
                                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';
                                    member_data += '<td>' + data[i].MP_NAME + '</td>';
                                    member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                                    member_data += '<td>' + age + '</td>';
                                    member_data += '</tr>';
                                    count++;
                                }
                            }
                        }
                    }
                }
                var totalcount = count - 1;
                if (count > 1)
                {
                    $('#member_table').show();
                    $('#file').show();
                    $('#totalMembers').show();
                    $('#member_table tbody').append(member_data);
                    var totMem = ' Member Of Rajya Sabha Having Age between ' + obj.startdate + ' and ' + obj.enddate + ' are ' + totalcount + ' Members';
                    $('#totalMembers').text(totMem);
                }
                else
                {
                    $('#member_table').hide();
                    $('#file').hide();
                    $('#totalMembers').hide();
                    alert('Age can not be less than 30');
                }

            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }

    function _calculateAge(birthday) { // birthday is a date
        var ageDifMs = Date.now() - birthday.getTime();
        var ageDate = new Date(ageDifMs); // miliseconds from epoch
        return Math.abs(ageDate.getUTCFullYear() - 1970);
    }
</script>
<script>
    $(document).ready(function () {
        $("#searchMember").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#memberList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // Photo Hide & Show
        $("#showAllPhoto").on('change', function () {
            var checked = $(this).is(':checked');
            if (checked == true) {
                $(".photocolumn").show();
            }
            else {
                $(".photocolumn").hide();
            }
        });

    });

    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#member_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#member_table th,#member_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#btnSubmit,#comAge{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });
    // Export to Excel
    $("#btnExport").click(function (e) {
        TableToExcel.convert(document.getElementById("member_table"));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>