﻿
@{
    ViewBag.Title = "AverageAge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <div>
                            <br />
                            <p>
                                @RSWP_UI.Resources.Resource.TheAverageageofRajyaSabhaMembersis  :- @*63.42*@ @ViewBag.AgeResult @RSWP_UI.Resources.Resource.Years

                            </p>
                            <p>
                                @RSWP_UI.Resources.Resource.Averageiscalculatedonthebasisofdataof @ViewBag.MemberAgeCount @RSWP_UI.Resources.Resource.Membersoutoftotalof @ViewBag.MemberCount @RSWP_UI.Resources.Resource.MembersAson @DateTime.Now.ToString("dd/MM/yyyy")

                            </p>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">@RSWP_UI.Resources.Resource.Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script>
    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#member_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#member_table th,#member_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#atoz{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("content").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });
</script>