﻿@using RSWP_UI.Common
@{
    ViewBag.Title = "BillingualList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Get BillingualList Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div id="WholeContent">
                    <div id="content">
                        <h5 style="text-align:center;" id="memberSearchheading">@RSWP_UI.Resources.Resource.TypeanypartorfullNameoftheMembertosearch</h5>
                        <div class="row">
                            <form>
                                <div class="col-sm-9 col-sm-offset-1">
                                    <input type="text" class="form-control" id="searchMember" />
                                    <button class="btn btn-danger" id="btnReset" type="reset">@RSWP_UI.Resources.Resource.Reset</button>
                                </div>
                            </form>
                        </div>
                        <div>
                            <div id="aToz" class="shortingATag" style="text-align:center;">
                                <a href="">@RSWP_UI.Resources.Resource.A</a>
                                <a href="">@RSWP_UI.Resources.Resource.B</a>
                                <a href="">@RSWP_UI.Resources.Resource.C</a>
                                <a href="">@RSWP_UI.Resources.Resource.D</a>
                                <a href="">@RSWP_UI.Resources.Resource.E</a>
                                <a href="">@RSWP_UI.Resources.Resource.F</a>
                                <a href="">@RSWP_UI.Resources.Resource.G</a>
                                <a href="">@RSWP_UI.Resources.Resource.H</a>
                                <a href="">@RSWP_UI.Resources.Resource.I</a>
                                <a href="">@RSWP_UI.Resources.Resource.J</a>
                                <a href="">@RSWP_UI.Resources.Resource.K</a>
                                <a href="">@RSWP_UI.Resources.Resource.L</a>
                                <a href="">@RSWP_UI.Resources.Resource.M</a>
                                <a href="">@RSWP_UI.Resources.Resource.N</a>
                                <a href="">@RSWP_UI.Resources.Resource.O</a>
                                <a href="">@RSWP_UI.Resources.Resource.P</a>
                                <a href="">@RSWP_UI.Resources.Resource.Q</a>
                                <a href="">@RSWP_UI.Resources.Resource.R</a>
                                <a href="">@RSWP_UI.Resources.Resource.S</a>
                                <a href="">@RSWP_UI.Resources.Resource.T</a>
                                <a href="">@RSWP_UI.Resources.Resource.U</a>
                                <a href="">@RSWP_UI.Resources.Resource.V</a>
                                <a href="">@RSWP_UI.Resources.Resource.W</a>
                                <a href="">@RSWP_UI.Resources.Resource.X</a>
                                <a href="">@RSWP_UI.Resources.Resource.Y</a>
                                <a href="">@RSWP_UI.Resources.Resource.Z</a>
                            </div>
                            <div style="text-align:center;">
                                <span id="" style="font-size:12px;font-weight:bold;">@RSWP_UI.Resources.Resource.ALPHABETICALLISTOFTHEMEMBERSOFTHERAJYASABHA </span>
                            </div>
                            <div id="totalMembers" style="text-align:center;font-size:12px;font-weight:bold;">

                            </div>
                            <div style="text-align:center;">
                                @{DateTime date = DateTime.Now; }
                                <span id="" style="font-size:12px;font-weight:bold;">@RSWP_UI.Resources.Resource.ASON :- @string.Format("{0:D}", date) </span>
                            </div>
                            <div class="pull-right">
                                <input type="checkbox" id="showAllPhoto" value="img" /><label id="ShowPhoto"> @RSWP_UI.Resources.Resource.ShowPhoto </label>

                                <input type="button" id="btnExport" onclick="fnExcelReport();" value="Export to Excel" />
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                    <div class="ShowData" @*style="display:none"*@>
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th class="photocolumn">@RSWP_UI.Resources.Resource.Photo</th>
                                        <th>@RSWP_UI.Resources.Resource.Name</th>
                                        <th>@RSWP_UI.Resources.Resource.nameh</th>
                                        <th>@RSWP_UI.Resources.Resource.Party</th>
                                        <th>@RSWP_UI.Resources.Resource.State</th>

                                    </tr>
                                </thead>
                                <tbody id="memberList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">@RSWP_UI.Resources.Resource.Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<iframe id="txtArea1" style="display:none"></iframe>
<!-- Modal Biodata Results-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-4">
                        <p align="center"><img id="idModalMemImg" height="150" src="" alt="" /></p>
                    </div>
                    <div class="col-md-6">
                        <h3 class="modal-title"></h3>
                        <h4>
                            @RSWP_UI.Resources.Resource.MemberOfParliament<br />(@RSWP_UI.Resources.Resource.RAJYA_SABHA_C)
                        </h4>

                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close" onclick='window.location = "@Url.Action("BillingualList","Members")";' data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#general">@RSWP_UI.Resources.Resource.General</a></li>
                            <li><a data-toggle="tab" href="#biodata">@RSWP_UI.Resources.Resource.Biodata</a></li>
                            <li><a data-toggle="tab" href="#Questions">@RSWP_UI.Resources.Resource.Questions</a></li>
                            <li><a data-toggle="tab" href="#Assurances">@RSWP_UI.Resources.Resource.Assurances</a></li>
                            <li><a data-toggle="tab" href="#Commitee">@RSWP_UI.Resources.Resource.Committees</a></li>
                            <li><a data-toggle="tab" href="#SpecialMentions">@RSWP_UI.Resources.Resource.SpecialMentions</a></li>
                            <li><a data-toggle="tab" href="#Debates">@RSWP_UI.Resources.Resource.Debates</a></li>
                            <li><a data-toggle="tab" href="#Bills">@RSWP_UI.Resources.Resource.Bills</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="general" class="tab-pane fade in active">
                                <table class="table" id="general_Table">
                                    <tr><th>@RSWP_UI.Resources.Resource.StatefromwhichIamelected : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.MyPoliticalParty :</th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.MyDelhiAddress :</th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.MyTelephoneNo :</th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.MyPermanentAddress : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.MyTelephoneNo :</th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.Emailmeat :</th><td></td></tr>
                                </table>
                                <div>
                                    <a href="http://www.mplads.gov.in/mplads/Default.aspx" target="_blank"><u>@RSWP_UI.Resources.Resource.MPLADSFUND</u></a>
                                </div>
                            </div>
                            <div id="biodata" class="tab-pane fade in">
                                <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.MYBIODATA</strong></h5>
                                <table class="table">
                                    <tr><th>@RSWP_UI.Resources.Resource.MembersName : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.FathersName : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.MotherName : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.DateOfBirth : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.PlaceOfBirth : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.MaritalStatus : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.SpousesName : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.Children : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.EducationalQualification : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.Profession : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.PermanentAddress : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.PresentAddress : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.EMail : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.PositionsHeld : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.FreedomFighter : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.BooksPublished : </th><td></td></tr>
                                    <tr>
                                        <th>
                                            @RSWP_UI.Resources.Resource.SocialandCulturalActivitiesLiteraryArtisticand<br />
                                            @RSWP_UI.Resources.Resource.ScientificAccomplishmentsandotherSpecialInterests :
                                        </th>

                                        <td></td>
                                    </tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.SportsClubsFavouritePastimesandRecreation : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.CountriesVisited : </th><td></td></tr>
                                    <tr><th>@RSWP_UI.Resources.Resource.OtherInformation : </th><td></td></tr>
                                </table>
                            </div>
                            <div id="Questions" class="tab-pane fade in">
                                <div id="totalQuestion" style="font-size:14px;font-weight:bold;">

                                </div>
                                <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.QuestionsPutbyMe</strong></h5>

                                <table class="table" id="Question_table">
                                    <thead>
                                        <tr>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.QN</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.QTYPE</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.DATE</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.MINISTRY</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.Subject</strong></h5></th>
                                        </tr>
                                    </thead>
                                    <tbody id="QuestionList"></tbody>
                                </table>
                            </div>
                            <div id="Assurances" class="tab-pane fade in">
                                <div id="totalAssurances" style="font-size:14px;font-weight:bold;">

                                </div>
                                <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.AssurancesgiventomebyGovt</strong></h5>
                                <table class="table" id="Assurances_table">
                                    <thead>
                                        <tr>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.SESANO</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.SOURCE</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.DATE</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.MINISTRY</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.Member</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.CLUBBEDMEMBERs</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.Subject</strong></h5></th>
                                        </tr>
                                    </thead>
                                    <tbody id="AssurancesList"></tbody>
                                </table>
                            </div>
                            <div id="Commitee" class="tab-pane fade in">
                                <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.CommiteeMembership</strong></h5>
                                <table class="table" id="Commitee_table" hidden>
                                    <thead>
                                        <tr>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.CommiteeName</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.MembershipFrom</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.Status</strong></h5></th>

                                        </tr>
                                    </thead>
                                    <tbody id="CommiteeList"></tbody>
                                </table>
                                <br />
                                <p style="text-align:center;">@RSWP_UI.Resources.Resource.MyAdhocCommittees <br />@RSWP_UI.Resources.Resource.DetailsNotAvailableTryLater</p>

                            </div>
                            <div id="SpecialMentions" class="tab-pane fade in">
                                <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.SpecialMentionmadebyMe </strong></h5>
                                <div>
                                    <strong>
                                        <label id="totalCon"></label>
                                    </strong>
                                </div>
                                <table class="table" id="SpecialMentions_Table" hidden>
                                    <thead>
                                        <tr>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.SNo.</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.MADEDATE</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.Subject</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.MINISTRYCONCERNED</strong></h5></th>
                                            <th><h5><strong>@RSWP_UI.Resources.Resource.REPLYFROMMINISTRYSENT_Y_N</strong></h5></th>

                                        </tr>
                                    </thead>
                                    <tbody id="SpecialMentionsList"></tbody>
                                </table>
                            </div>
                            <div id="Debates" class="tab-pane fade in">
                                <br />
                                <p><a href="#">@RSWP_UI.Resources.Resource.VerbatimDebates189thSessiononwards</a></p>
                                <p><a href="#">@RSWP_UI.Resources.Resource.OfficialDebatesFrom13thMay1952onwards</a></p>

                            </div>
                            <div id="Bills" class="tab-pane fade in">
                                <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.BillsIntroducedbyme </strong></h5>
                                <p>@RSWP_UI.Resources.Resource.NoBillsIntroducedByMe</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick='window.location = "@Url.Action("BillingualList","Members")";' data-dismiss="modal">@RSWP_UI.Resources.Resource.Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal For Special Mentions -->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="SpecialMentionsData_table">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@RSWP_UI.Resources.Resource.Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal For Question Numbers -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="QuesnData_table">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@RSWP_UI.Resources.Resource.Close</button>
            </div>
        </div>
    </div>
</div>
<!--Get BillingualList Result-->
<script>
    $(document).ready(function () {
        GetData();
    });
</script>
<script type="text/javascript">
    function GetData() {
        $.ajax({
            url: '@Url.Action("Alphabetical_Result", "Members")',
            data: { },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var values = [];
                    var val = data[i];
                    var keys = Object.keys(val);
                    for (var j = 0; j < keys.length; j++) {
                        values.push(keys[j] + '=' + val[keys[j]]);
                    }
                    var valuestring = values.join("|");
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td><a href="#" class="link" row-value="' + valuestring + '">' + data[i].MP_NAME + '</a></td>';
                    //member_data += '<td><a href="#" class="link" row-value="' + valuestring + '">' + data[i].hMP_NAME + '</a></td>';
                    member_data += '<td><a href="#">' + data[i].hMP_NAME + '</a></td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }
</script>
<!--Photo & Print Result-->
<script>
    $(document).ready(function () {
        $("#searchMember").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#memberList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // Photo Hide & Show
        $("#showAllPhoto").on('change', function () {
            var checked = $(this).is(':checked');
            if (checked == true) {
                $(".photocolumn").show();
            }
            else {
                $(".photocolumn").hide();
            }
        });

    });

    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#member_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#member_table th,#member_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#atoz{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });
    // Export to Excel
     $("#btnExport").click(function (e) {
        TableToExcel.convert(document.getElementById("member_table"));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<!--Alphabetical By Result-->
<script>
    $('.shortingATag a').click(function (e) {
        e.preventDefault();
        alphabet = $(this).text();
        getdata_Alpha(alphabet);
    });
</script>
<script type="text/javascript">
    function getdata_Alpha(alphabet) {
        debugger;
        $.ajax({
            url: '@Url.Action("Alphabet_Result", "Members")',
            data: { name : alphabet},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var values = [];
                    var val = data[i];
                    var keys = Object.keys(val);
                    for (var j = 0; j < keys.length; j++) {
                        values.push(keys[j] + '=' + val[keys[j]]);
                    }
                    var valuestring = values.join("|");
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td><a href="#" class="link" row-value="' + valuestring + '">' + data[i].MP_NAME + '</a></td>';
                    member_data += '<td><a href="#" class="link" row-value="' + valuestring + '">' + data[i].hMP_NAME + '</a></td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select Alphabet.');
            }
        });
    }
</script>
<!--BioData Model-->
<script type="text/javascript">
    var commanCon = '@CommanConstant.urlContent';
    ////// Opens modal by clicking on each member //////
    $(document).on('click', '.link', function (e) {
        var rowvalue = $(this).attr('row-value');
        var values = rowvalue.split("|");
        var dataObject = {};

        $.each(values, function (i, elem) {
            dataObject[elem.split("=")[0]] = elem.split("=")[1];
        });
        ////// IMAGE //////
        var imgSrc = 'https://rajyasabha.nic.in/rsnew/member_site/photos/P' + dataObject.MP_CODE + '.jpg';
        $('#idModalMemImg').attr("src", imgSrc);

        $('#myModal').find('.modal-title').text(dataObject.MP_NAME);

        $('#myModal').find('#general table').find('tr:eq(0)').find('td').text(dataObject.STATE_NAME);
        $('#myModal').find('#general table').find('tr:eq(1)').find('td').text(dataObject.PARTY_NAME);
        $('#myModal').find('#general table').find('tr:eq(2)').find('td').text(dataObject.LADD);
        $('#myModal').find('#general table').find('tr:eq(3)').find('td').text(dataObject.LTELE);
        $('#myModal').find('#general table').find('tr:eq(4)').find('td').text(dataObject.PADD);
        $('#myModal').find('#general table').find('tr:eq(5)').find('td').text(dataObject.PTELE);
        $('#myModal').find('#general table').find('tr:eq(6)').find('td').text(dataObject.EMAIL_ID);

        ////// BIODATA //////
        $('#myModal').find('#biodata table').find('tr:eq(0)').find('td').text(dataObject.MP_NAME);

        var url_MemBio = '';
        if (dataObject.MP_CURRENT)
            url_MemBio = commanCon + '/api_new/Memberweb/GetCurrentMember_Biodata?mpcode=' + dataObject.MP_CODE;
        else
            url_MemBio = commanCon + '/api_new/Memberweb/GetFormerMember_Biodata?mpcode=' + dataObject.MP_CODE;

        $.ajax({
            'url': url_MemBio,
            'method': 'GET',
            success: function (dataBiodata) {
                debugger;
                var child = "";
                if (dataBiodata[0].NO_SONS != "") {
                    if (dataBiodata[0].NO_SONS == "One") {
                        child= dataBiodata[0].NO_SONS + " son ";
                    }
                    else {
                        child= dataBiodata[0].NO_SONS + " sons ";
                    }
                }
                if (dataBiodata[0].NO_DAUGHTER != "") {
                    if (dataBiodata[0].NO_DAUGHTER == "one") {
                        child = child + dataBiodata[0].NO_DAUGHTER + " daughter ";
                    }
                    else {
                        child = child +  dataBiodata[0].NO_DAUGHTER + " daughters ";
                    }
                }
                $('#myModal').find('#biodata table').find('tr:eq(1)').find('td').text(dataBiodata[0].FATH_NAME);
                $('#myModal').find('#biodata table').find('tr:eq(2)').find('td').text(dataBiodata[0].MOTH_NAME);
                $('#myModal').find('#biodata table').find('tr:eq(3)').find('td').text(moment(dataBiodata[0].DATE_BIRTH).format("DD-MM-YYYY"));
                $('#myModal').find('#biodata table').find('tr:eq(4)').find('td').text(dataBiodata[0].PLACE_BIRTH);
                $('#myModal').find('#biodata table').find('tr:eq(5)').find('td').text(dataBiodata[0].MARITIAL + "on " + dataBiodata[0].DATE_MARRIAGE);
                $('#myModal').find('#biodata table').find('tr:eq(6)').find('td').text(dataBiodata[0].SPOUSE_NAME);
                $('#myModal').find('#biodata table').find('tr:eq(7)').find('td').text(child);
                $('#myModal').find('#biodata table').find('tr:eq(8)').find('td').text(dataBiodata[0].QUALIFICATION);
                $('#myModal').find('#biodata table').find('tr:eq(9)').find('td').text(dataBiodata[0].OTHER_PROF_DETAIL);
                $('#myModal').find('#biodata table').find('tr:eq(10)').find('td').text(dataBiodata[0].C_PADDRESS + dataBiodata[0].C_PPIN + "  Tel. - " + dataBiodata[0].C_PTELE);
                $('#myModal').find('#biodata table').find('tr:eq(11)').find('td').text(dataBiodata[0].C_LADDRESS + dataBiodata[0].C_LPIN + "  Tel. - " + dataBiodata[0].C_LTELE);
                $('#myModal').find('#biodata table').find('tr:eq(12)').find('td').text(dataBiodata[0].C_EMAIL_ID);
                        if (dataBiodata[0].DET_PUB_OFFICE_HELD != "")
                        {
                    $('#myModal').find('#biodata table').find('tr:eq(13)').find('td').text(dataBiodata[0].DET_PUB_OFFICE_HELD);
                        }
                        else
                        {
                    $('#myModal').find('#biodata table').find('tr:eq(13)').find('td').text("-");
                        }
                        if (dataBiodata[0].FREE_STRUGGLE == true)
                        {
                    $('#myModal').find('#biodata table').find('tr:eq(14)').find('td').text("Yes");
                        }
                        else
                        {
                    $('#myModal').find('#biodata table').find('tr:eq(14)').find('td').text("No");
                }
                if (dataBiodata[0].BOOKS != "") {
                    $('#myModal').find('#biodata table').find('tr:eq(15)').find('td').text(dataBiodata[0].BOOKS);
                }
                else {
                    $('#myModal').find('#biodata table').find('tr:eq(15)').find('td').text("-");
                }

                $('#myModal').find('#biodata table').find('tr:eq(16)').find('td').text(dataBiodata[0].ACTIVITY);
                $('#myModal').find('#biodata table').find('tr:eq(17)').find('td').text(dataBiodata[0].HOBBIES);
                $('#myModal').find('#biodata table').find('tr:eq(18)').find('td').text(dataBiodata[0].COUNTRY_VISITED);
                $('#myModal').find('#biodata table').find('tr:eq(19)').find('td').text(dataBiodata[0].ESSENTIAL_INFO);
                    },
            error: function (err) { console.log(err); }
        });

        ////// QUESTION //////
        $('#myModal').find('#Questions table').find('tr:eq(0)').find('td').text(dataObject.MP_NAME);

        var url_MemQues = '';
        if (dataObject.MP_CURRENT)
            url_MemQues = commanCon + '/Api_new/Question/GetMeber_Question?mpcode=' + dataObject.MP_CODE;
        else
            url_MemQues = commanCon + '/Api_new/Question/GetMeber_Question?mpcode=' + dataObject.MP_CODE;

        $.ajax({
            'url': url_MemQues,
            'method': 'GET',
            success: function (dataQuestion) {
                var member_data = '';
                $('#Question_table tbody').empty();
                for (var i = 0; i < dataQuestion.length; i++) {
                    member_data += '<tr>';
                    member_data += '<td>' + '<a href="#" onclick="someFunction(\'' + dataObject.MP_CODE + '\' , \'' + dataQuestion[i].qno + '\')">' + dataQuestion[i].qno + '</a>' + '</td>';
                    member_data += '<td>' + dataQuestion[i].qtype + '</td>';
                    member_data += '<td>' + dataQuestion[i].ans_date + '</td>';
                    member_data += '<td>' + dataQuestion[i].min_name + '</td>';
                    member_data += '<td>' + dataQuestion[i].qtitle + '</td>';
                    member_data += '</tr>';
                }
                $('#Question_table tbody').append(member_data);
                var totMem = dataQuestion.length + ' Records Found !';
                $('#totalQuestion').text(totMem);
            },
            error: function (err) { console.log(err); }
        });

        ////// Assurances //////
        $('#myModal').find('#Assurances table').find('tr:eq(0)').find('td').text(dataObject.MP_NAME);

        var url_Assurances = '';
        if (dataObject.MP_CURRENT)
            url_Assurances = commanCon + '/api_new/memberGetdata/GetCGA?mpcode=' + dataObject.MP_CODE;
        else
            url_Assurances = commanCon + '/api_new/memberGetdata/GetCGA?mpcode=' + dataObject.MP_CODE;

        $.ajax({
            'url': url_Assurances,
            'method': 'GET',
            success: function (dataAssurances) {
                var member_data = '';
                $('#Assurances_table tbody').empty();
                for (var i = 0; i < dataAssurances.length; i++) {
                    member_data += '<tr>';
                    member_data += '<td>' /*+ '<a href="#">'*/ + dataAssurances[i].oassuno /*+ '</a>'*/ + '</td>';
                    member_data += '<td>' + dataAssurances[i].q_catg + '</td>';
                    var d = new Date(dataAssurances[i].q_date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                    if (month.length < 2)
                    month = '0' + month;
                    if (day.length < 2)
                    day = '0' + day;
                    member_data += '<td>' + [day, month, year].join('-') + '</td>';
                    member_data += '<td>' + dataAssurances[i].min_name + '</td>';
                    member_data += '<td>' + dataAssurances[i].mpname + '</td>';
                    if (dataAssurances[i].ClubbedMember == null)
                    {
                        member_data += '<td>' + '--' + '</td>';
                    }
                    else
                    {
                        member_data += '<td>' + dataAssurances[i].ClubbedMember + '</td>';
                    }
                    member_data += '<td>' + dataAssurances[i].subject + '</td>';
                    member_data += '</tr>';
                }
                $('#Assurances_table tbody').append(member_data);
                var totMem = dataAssurances.length + ' Records Found !';
                $('#totalAssurances').text(totMem);
            },
            error: function (err) { console.log(err); }
        });

        ////// Commitee //////
        $('#myModal').find('#Commitee table').find('tr:eq(0)').find('td').text(dataObject.MP_NAME);

        var url_Commitee = '';
        if (dataObject.MP_CURRENT)
            url_Commitee = commanCon + '/api_new/committee_web/GetCommitteeMemberList_MemberWise?mpcode=' + dataObject.MP_CODE;
        else
            url_Commitee = commanCon + '/api_new/committee_web/GetCommitteeMemberList_MemberWise?mpcode=' + dataObject.MP_CODE;

        $.ajax({
            'url': url_Commitee,
            'method': 'GET',
            success: function (dataCommitee) {
                var member_data = '';
                $('#Commitee_table tbody').empty();
                if (dataCommitee.length != 0)
                {
                    $('#Commitee_table').show();
                    for (var i = 0; i < dataCommitee.length; i++) {
                        member_data += '<tr>';
                        member_data += '<td>' + dataCommitee[i].vmaincomname + '</td>';
                        member_data += '<td>' + moment(dataCommitee[i].ddoj).format("DD-MM-YYYY") + '</td>';
                        if (dataCommitee[i].vstatus == "Chairman") {
                            member_data += '<td>' + dataCommitee[i].vstatus + '</td>';
                        }
                        else {
                            member_data += '<td>' + 'Member' + '</td>';
                        }
                        member_data += '</tr>';
                    }
                }
                $('#Commitee_table tbody').append(member_data);
            },
            error: function (err) { console.log(err); }
        });

        ////// Special Mentions //////
        $('#myModal').find('#SpecialMentions table').find('tr:eq(0)').find('td').text(dataObject.MP_NAME);

        var url_SpecialMentions = '';
        if (dataObject.MP_CURRENT)
            url_SpecialMentions = commanCon + '/api_new/Business/Get_SpecialMentionmemberwise?mpcode=' + dataObject.MP_CODE;
        else
            url_SpecialMentions = commanCon + '/api_new/Business/Get_SpecialMentionmemberwise?mpcode=' + dataObject.MP_CODE;

        $.ajax({
            'url': url_SpecialMentions,
            'method': 'GET',
            success: function (dataSpecialMentions) {
                var member_data = '';
                $('#SpecialMentions_table tbody').empty();
                if (dataSpecialMentions.length != 0) {
                    $('#SpecialMentions_Table').show();
                    for (var i = 0; i < dataSpecialMentions.length; i++) {
                        member_data += '<tr>';
                        member_data += '<td>' + dataSpecialMentions[i].sr_no + '</td>';
                        member_data += '<td>' + dataSpecialMentions[i].made_Date + '</br>' + '(' + dataSpecialMentions[i].sess_no + ')' + '</td>';
                        member_data += '<td><a href="#" onclick="return SpecialMentions(\'' + dataSpecialMentions[i].sr_no + '\' , \'' + dataSpecialMentions[i].mp_code + '\')" >' + dataSpecialMentions[i].subject + '</a></td>';
                        member_data += '<td>' + dataSpecialMentions[i].Ministry + '</td>';
                        if (dataSpecialMentions[i].dt_final != null)
                        {
                            member_data += '<td>' + 'Final Reply' + '<br/>' + dataSpecialMentions[i].dt_final + '</td>';
                        }
                        else {
                            member_data += '<td>' + '-' + '</td>';
                        }
                        member_data += '</tr>';
                    }
                }
                $('#SpecialMentions_table tbody').append(member_data);
                var totRecord = dataSpecialMentions.length + ' Records Found';
                $('#totalCon').text(totRecord);
            },
            error: function (err) { console.log(err); }
        });

        $('#myModal').modal('show');
    });

</script>
<!--Question Numbers Details-->
<script type="text/javascript">
    function someFunction(code, Qno) {
        debugger;
        var url_QuesnData = '';
        url_QuesnData = commanCon + '/api_new/question/GetQuestionMemberwise?mpcode=' + code + '&qslno=' + Qno;
        debugger;
        $.ajax({
            'url': url_QuesnData,
            'method': 'GET',
            success: function (QuesnData) {
                debugger;
                var member_data = '';
                if (QuesnData.length != 0) {
                    $('#QuesnData_table').empty();
                    //var token = "<br/>";
                    //var qstr = QuesnData[0].qn_text;
                    //var astr = QuesnData[0].ans_text.replace('<br/>', '\n');
                    member_data = '<div style="text-align:center;"><strong>' + 'QUESTION DETAILS' + '</br></br>' + 'MINISTRY OF : ' + QuesnData[0].MIN_NAME +
                        '</br></br>' + 'RAJYA SABHA' + '</br>' + QuesnData[0].qtype + ' QUESTION NO ' + QuesnData[0].qno + '</br>' + 'TO BE ANSWERED ON ' + QuesnData[0].ans_date + '</br>' + QuesnData[0].qtitle + '</strong></div>' +
                        '<div>' + QuesnData[0].qno + '. ' + QuesnData[0].name + '</br>' + 'Will the Minister of ' + QuesnData[0].MIN_NAME + 'be pleased to state:- ' + '</br>' +
                        QuesnData[0].qn_text + '</br>' + '<strong>' + 'Answer' + '</strong>' + '</br>' + QuesnData[0].ans_text + '</br></br>' + '<a target="_blank" href="' + QuesnData[0].eng_file + '">' + 'ENGLISH VERSION' + '</a>' + '&nbsp' + '&nbsp' + '&nbsp' + '<a target="_blank" href="' + QuesnData[0].hindi_file + '">' + 'HINDI VERSION' + '</a>' +
                        '</div>';
                }
                $('#QuesnData_table').append(member_data);
                $('#myModal2').modal('show');
            },
            error: function (err) { console.log(err); }
        });
    }
</script>
<!--Special Mentions-->
<script type="text/javascript">
    function SpecialMentions(data, code) {
        var url_SpecialMentionsData = '';
        url_SpecialMentionsData = commanCon + '/api_new/Business/Get_SpecialMentionmemberwise?mpcode=' + code;
        debugger;
        $.ajax({
            'url': url_SpecialMentionsData,
            'method': 'GET',
            success: function (SpecialMentionsData) {
                debugger;
                var member_data = '';
                if (SpecialMentionsData.length != 0) {
                    $('#SpecialMentionsData_table').empty();
                    for (var i = 0; i < SpecialMentionsData.length; i++) {
                        if (SpecialMentionsData[i].sr_no == data) {
                            member_data = '<div><strong>' + 'Special Mention Details' + '</br></br>' + 'Made On ' + SpecialMentionsData[i].made_Date + '   Session No. ' + SpecialMentionsData[i].sess_no +
                                '</br>' + 'Subject :- ' + SpecialMentionsData[i].subject +
                                '</br>' + SpecialMentionsData[i].SM_Text + '</strong></div>';
                            break;
                        }
                    }
                }
                $('#SpecialMentionsData_table').append(member_data);
                $('#myModal1').modal('show');
            },
            error: function (err) { console.log(err); }
        });
    }
</script>