﻿@using RSWP_UI.Models.MemberViewModel
@{
    ViewBag.Title = "BirthdaysWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Get BirthdaysWise Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">

                        <br />
                        <div class="cls_birthday" id="monData">
                            <a href="" row-value="01">@RSWP_UI.Resources.Resource.January</a>&nbsp;
                            <a href="" row-value="02">@RSWP_UI.Resources.Resource.February</a>&nbsp;
                            <a href="" row-value="03">@RSWP_UI.Resources.Resource.March</a>&nbsp;
                            <a href="" row-value="04">@RSWP_UI.Resources.Resource.April</a>&nbsp;
                            <a href="" row-value="05">@RSWP_UI.Resources.Resource.May</a>&nbsp;
                            <a href="" row-value="06">@RSWP_UI.Resources.Resource.June</a>&nbsp;
                            <a href="" row-value="07">@RSWP_UI.Resources.Resource.July</a>&nbsp;
                            <a href="" row-value="08">@RSWP_UI.Resources.Resource.August</a>&nbsp;
                            <a href="" row-value="09">@RSWP_UI.Resources.Resource.September</a>&nbsp;
                            <a href="" row-value="10">@RSWP_UI.Resources.Resource.October</a>&nbsp;
                            <a href="" row-value="11">@RSWP_UI.Resources.Resource.November</a>&nbsp;
                            <a href="" row-value="12">@RSWP_UI.Resources.Resource.December</a>
                        </div>
                        <div id="rdoData">
                            <p>
                                <input type="radio" id="Alpha" name="GetData" value="Alphabetical" checked />@RSWP_UI.Resources.Resource.Alphabetical &nbsp;&nbsp;&nbsp;
                                <input type="radio" id="State" name="GetData" value="StateWise" />@RSWP_UI.Resources.Resource.StateWise &nbsp;&nbsp;&nbsp;
                                <input type="radio" id="Party" name="GetData" value="PartyWise" />@RSWP_UI.Resources.Resource.PartyWise
                            </p>

                        </div>
                    </div>
                    @*<div class="shortingATag" id="ddlAlpha" style="text-align:center;">
                            <a href="">A</a>
                            <a href="">B</a>
                            <a href="">C</a>
                            <a href="">D</a>
                            <a href="">E</a>
                            <a href="">F</a>
                            <a href="">G</a>
                            <a href="">H</a>
                            <a href="">I</a>
                            <a href="">J</a>
                            <a href="">K</a>
                            <a href="">L</a>
                            <a href="">M</a>
                            <a href="">O</a>
                            <a href="">P</a>
                            <a href="">Q</a>
                            <a href="">R</a>
                            <a href="">S</a>
                            <a href="">T</a>
                            <a href="">U</a>
                            <a href="">V</a>
                            <a href="">W</a>
                            <a href="">X</a>
                            <a href="">Y</a>
                            <a href="">Z</a>
                        </div>*@
                    <div class="" id="ddlState" style="display:none;">
                        <label>@RSWP_UI.Resources.Resource.StateWise</label>

                        <select id="StateId" onchange="callChangefuncState()">
                            <option>--Please Select--</option>
                            @foreach (var item in (List<GetStateViewModel>)Session["state"])
                            {
                                <option value="@item.STATE_NAME">@item.STATE_NAME</option>
                            }
                        </select>
                    </div>
                    <div class="" id="ddlParty" style="display:none;">
                        <label>@RSWP_UI.Resources.Resource.PartyWise</label>

                        <select id="PartyId" onchange="callChangefuncParty()">
                            <option>--Please Select--</option>
                            @foreach (var item in (List<GetPartyViewModel>)Session["party"])
                            {
                                <option value="@item.PARTY_CODE">@item.PARTY_NAME</option>
                            }
                        </select>
                    </div>
                </div>
                <div id="WholeContent">
                    <div style="text-align:center;">
                        <span id="" style="font-size:14px;font-weight:bold;">@RSWP_UI.Resources.Resource.BIRTHDAYLISTOFTHEMEMBERS</span>
                    </div>
                    <div style="text-align:center;">
                        @{DateTime date1 = DateTime.Now; }
                        <span id="" style="font-size:12px;font-weight:bold;">AS ON :- @string.Format("{0:D}", date1) </span>
                    </div>
                    @*<div id="totalMembers" style="text-align:center;font-size:12px;font-weight:bold;">
                            <p>Total No of Members :- </p>
                        </div>*@
                    <div class="pull-right">
                        <input type="checkbox" id="showAllPhoto" value="img" /><label id="ShowPhoto"> @RSWP_UI.Resources.Resource.ShowPhoto </label>
                        <input type="button" id="btnExport" onclick="fnExcelReport();" value="Export to Excel" />
                    </div>

                    <br />
                    <br />
                    <div class="ShowData" @*style="display:none"*@>
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th class="photocolumn">@RSWP_UI.Resources.Resource.Photo</th>
                                        <th>@RSWP_UI.Resources.Resource.Name</th>
                                        <th>@RSWP_UI.Resources.Resource.DateOfBirth</th>
                                        <th>@RSWP_UI.Resources.Resource.Party</th>
                                        <th>@RSWP_UI.Resources.Resource.State</th>
                                        <th>@RSWP_UI.Resources.Resource.LocalAddress</th>
                                        <th>@RSWP_UI.Resources.Resource.PermanentAddress</th>
                                    </tr>
                                </thead>
                                <tbody id="memberList">
                                    @{int count = 1;}
                                    @{var pic = "";}
                                    @{var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";}
                                    @foreach (var item in (List<GetAlphabeticalMembersViewModel>)Session["MonthResult"])
                                    {
                                        if (item.DATE_BIRTH != "")
                                        {
                                            if (item.DATE_BIRTH != null)
                                            {
                                                int monthDOB = 0;
                                                string[] ageList = item.DATE_BIRTH.Split('/');
                                                monthDOB = Convert.ToInt32(ageList[1]);
                                                int corMonth = Convert.ToInt32(TempData["month"]);
                                                if (corMonth == monthDOB)
                                                {
                                                    pic = imagePath + item.MP_CODE + ".jpg";
                                                    <tr>
                                                        <td>@count</td>
                                                        <td class="photocolumn"><img class="membersmallpic" src="@pic"></td>
                                                        <td><a href="#">@item.MP_NAME</a></td>
                                                        <td>@item.DATE_BIRTH</td>
                                                        <td>@item.PARTY_CODE</td>
                                                        <td>@item.STATE_NAME</td>
                                                        <td>@item.LADD</td>
                                                        <td>@item.PADD</td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<iframe id="txtArea1" style="display:none"></iframe>
<script>
    function GetDataMethod() {
        window.location.href = '/Members/BirthdayWise';
    }
</script>
@*<script>
        $(document).ready(function () {
            GetData();
        });
    </script>
    <script type="text/javascript">
        function GetData() {
            $.ajax({
                url: '@Url.Action("Alphabetical_Result", "Members")',
                data: { },
                method: 'POST',
                success: function (data) {
                    debugger;
                    var member_data = '';
                    $('#member_table tbody').empty();
                    var count = 1;
                    for (var i = 0; i < data.length; i++) {
                        var imagePath = "http://164.100.47.5/newmembers/photos/P";
                        member_data += '<tr>';
                        member_data += '<td>' + count + '</td>';
                        member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                        member_data += '<td><a class="link">' + data[i].MP_NAME + '</a></td>';
                        member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                        member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                        member_data += '<td>' + data[i].STATE_NAME + '</td>';
                        member_data += '<td>' + data[i].LADD + '</td>';
                        member_data += '<td>' + data[i].PADD + '</td>';
                        member_data += '</tr>';
                        count++;
                    }
                    //var totalcount = i - 1;
                    $('#member_table tbody').append(member_data);
                    var totMem = 'Total No of Members :- ' + data.length;
                    $('#totalMembers').text(totMem);
                },
                error: function ()
                {
                    alert('Please Select a member.');
                }
            });
        }
    </script>*@

<!--Photo & Print Result-->
<script>
    $(document).ready(function () {
        $("#searchMember").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#memberList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // Photo Hide & Show
        $("#showAllPhoto").on('change', function () {
            var checked = $(this).is(':checked');
            if (checked == true) {
                $(".photocolumn").show();
            }
            else {
                $(".photocolumn").hide();
            }
        });

    });

    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#member_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#member_table th,#member_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#atoz{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });
    // Export to Excel
    $("#btnExport").click(function (e) {
        TableToExcel.convert(document.getElementById("member_table"));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<!--Hide & Show Result-->
<script>
    $("#State").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            $("#ddlState").show();
            $("#ddlParty").hide();
            $("#ddlAlpha").hide();
        }
        else {
            $("#ddlState").hide();
        }
    });
    $("#Party").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            $("#ddlState").hide();
            $("#ddlParty").show();
            $("#ddlAlpha").hide();
        }
        else {
            $("#ddlParty").hide();
        }
    });
    $("#Alpha").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            GetDataMethod();
            $("#ddlState").hide();
            $("#ddlParty").hide();
            $("#ddlAlpha").show();
        }
        else {
            $("#ddlAlpha").hide();
        }
    });
</script>
<!--State Wise Result-->
<script type="text/javascript">
    function callChangefuncState() {
        debugger;
        var obj = {};
        obj.partyvalue = document.getElementById('StateId').value;
        $.ajax({
            url: '@Url.Action("StateWise_Result", "Members")',
            data: { statecode: obj.partyvalue},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td><a href="#" class="link">' + data[i].MP_NAME + '</a></td>';
                    member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '<td>' + data[i].LADD + '</td>';
                    member_data += '<td>' + data[i].PADD + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select One');
            }
        });
    }
</script>
<!--Party Wise Result-->
<script type="text/javascript">
    function callChangefuncParty() {
        debugger;
        var obj = {};
        obj.partyvalue = document.getElementById('PartyId').value;
        $.ajax({
            url: '@Url.Action("PartyWise_Result", "Members")',
            data: { partycode: obj.partyvalue},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td><a href="#" class="link">' + data[i].MP_NAME + '</a></td>';
                    member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '<td>' + data[i].LADD + '</td>';
                    member_data += '<td>' + data[i].PADD + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select One');
            }
        });
    }
</script>
<!--Alphabetical By Result-->
<script>
    $('.cls_birthday a').click(function (e) {
        debugger;
        var value = $(this).attr('row-value');
        getdata_Month(value);
    });
</script>
<script type="text/javascript">
    function getdata_Month(value) {
        debugger;
        $.ajax({
            url: '@Url.Action("DOBMonth_Result", "Members")',
            data: { month: value },
            method: 'POST',
            success: function (data) {
                window.location.href = '@Url.Action("BirthdaysWise", "Members")';
                //debugger;
                //var member_data = '';
                //$('#member_table tbody').empty();
                //var count = 1;
                //for (var i = 0; i < data.length; i++) {
                //    if (data[i].DATE_BIRTH != "") {
                //        if (data[i].DATE_BIRTH != null) {
                //            var components = data[i].DATE_BIRTH.split('/');
                //            var date = components[1];
                //            if (date == value)
                //            {
                //                var imagePath = "http://164.100.47.5/newmembers/photos/P";
                //                member_data += '<tr>';
                //                member_data += '<td>' + count + '</td>';
                //                member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                //                member_data += '<td><a class="link">' + data[i].MP_NAME + '</a></td>';
                //                member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                //                member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                //                member_data += '<td>' + data[i].STATE_NAME + '</td>';
                //                member_data += '<td>' + data[i].LADD + '</td>';
                //                member_data += '<td>' + data[i].PADD + '</td>';
                //                member_data += '</tr>';
                //                count++;
                //            }
                //        }
                //    }
                //}
                //$('#member_table tbody').append(member_data);
                //var totMem = 'Total No of Members :- ' + data.length;
                //$('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select Alphabet.');
            }
        });
    }
</script>

@using RSWP_UI.Models.MemberViewModel
@{
    ViewBag.Title = "BirthdaysWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Get BirthdaysWise Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <br />
                        <div class="cls_birthday">
                            <a href="" row-value="01">@RSWP_UI.Resources.Resource.January</a>&nbsp;
                            <a href="" row-value="02">@RSWP_UI.Resources.Resource.February</a>&nbsp;
                            <a href="" row-value="03">@RSWP_UI.Resources.Resource.March</a>&nbsp;
                            <a href="" row-value="04">@RSWP_UI.Resources.Resource.April</a>&nbsp;
                            <a href="" row-value="05">@RSWP_UI.Resources.Resource.May</a>&nbsp;
                            <a href="" row-value="06">@RSWP_UI.Resources.Resource.June</a>&nbsp;
                            <a href="" row-value="07">@RSWP_UI.Resources.Resource.July</a>&nbsp;
                            <a href="" row-value="08">@RSWP_UI.Resources.Resource.August</a>&nbsp;
                            <a href="" row-value="09">@RSWP_UI.Resources.Resource.September</a>&nbsp;
                            <a href="" row-value="10">@RSWP_UI.Resources.Resource.October</a>&nbsp;
                            <a href="" row-value="11">@RSWP_UI.Resources.Resource.November</a>&nbsp;
                            <a href="" row-value="12">@RSWP_UI.Resources.Resource.December</a>
                        </div>
                        <div>
                            <p>
                                <input type="radio" id="Alpha" name="GetData" value="Alphabetical" checked />@RSWP_UI.Resources.Resource.Alphabetical &nbsp;&nbsp;&nbsp;
                                <input type="radio" id="State" name="GetData" value="StateWise" />@RSWP_UI.Resources.Resource.StateWise &nbsp;&nbsp;&nbsp;
                                <input type="radio" id="Party" name="GetData" value="PartyWise" />@RSWP_UI.Resources.Resource.PartyWise
                            </p>

                        </div>
                    </div>
                    @*<div class="shortingATag" id="ddlAlpha" style="text-align:center;">
                            <a href="">A</a>
                            <a href="">B</a>
                            <a href="">C</a>
                            <a href="">D</a>
                            <a href="">E</a>
                            <a href="">F</a>
                            <a href="">G</a>
                            <a href="">H</a>
                            <a href="">I</a>
                            <a href="">J</a>
                            <a href="">K</a>
                            <a href="">L</a>
                            <a href="">M</a>
                            <a href="">O</a>
                            <a href="">P</a>
                            <a href="">Q</a>
                            <a href="">R</a>
                            <a href="">S</a>
                            <a href="">T</a>
                            <a href="">U</a>
                            <a href="">V</a>
                            <a href="">W</a>
                            <a href="">X</a>
                            <a href="">Y</a>
                            <a href="">Z</a>
                        </div>*@
                    <div class="" id="ddlState" style="display:none;">
                        <label>@RSWP_UI.Resources.Resource.StateWise</label>

                        <select id="StateId" onchange="callChangefuncState()">
                            <option>--Please Select--</option>
                            @foreach (var item in (List<GetStateViewModel>)Session["state"])
                            {
                                <option value="@item.STATE_NAME">@item.STATE_NAME</option>
                            }
                        </select>
                    </div>
                    <div class="" id="ddlParty" style="display:none;">
                        <label>@RSWP_UI.Resources.Resource.PartyWise</label>

                        <select id="PartyId" onchange="callChangefuncParty()">
                            <option>--Please Select--</option>
                            @foreach (var item in (List<GetPartyViewModel>)Session["party"])
                            {
                                <option value="@item.PARTY_CODE">@item.PARTY_NAME</option>
                            }
                        </select>
                    </div>
                    <div style="text-align:center;">
                        <span id="" style="font-size:14px;font-weight:bold;">@RSWP_UI.Resources.Resource.BIRTHDAYLISTOFTHEMEMBERS</span>
                    </div>
                    <div style="text-align:center;">
                        @{DateTime date = DateTime.Now; }
                        <span id="" style="font-size:12px;font-weight:bold;">AS ON :- @string.Format("{0:D}", date) </span>
                    </div>
                    @*<div id="totalMembers" style="text-align:center;font-size:12px;font-weight:bold;">
                            <p>Total No of Members :- </p>
                        </div>*@
                    <div class="pull-right">
                        <input type="checkbox" id="showAllPhoto" value="img" /> @RSWP_UI.Resources.Resource.ShowPhoto
                        <input type="button" id="btnExport" onclick="fnExcelReport();" value="Export to Excel" />
                    </div>
                </div>
                <br />
                <br />
                <div class="ShowData" @*style="display:none"*@>
                    <div class="searchResulltTabl">
                        <table id="member_table" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>@RSWP_UI.Resources.Resource.SNo</th>
                                    <th class="photocolumn">@RSWP_UI.Resources.Resource.Photo</th>
                                    <th>@RSWP_UI.Resources.Resource.Name</th>
                                    <th>@RSWP_UI.Resources.Resource.DateOfBirth</th>
                                    <th>@RSWP_UI.Resources.Resource.Party</th>
                                    <th>@RSWP_UI.Resources.Resource.State</th>
                                    <th>@RSWP_UI.Resources.Resource.LocalAddress</th>
                                    <th>@RSWP_UI.Resources.Resource.PermanentAddress</th>
                                </tr>
                            </thead>
                            <tbody id="memberList">
                                @{int count1 = 1;}
                                @{var pic1 = "";}
                                @{var imagePath1 = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";}
                                @foreach (var item in (List<GetAlphabeticalMembersViewModel>)Session["MonthResult"])
                                {
                                    if (item.DATE_BIRTH != "")
                                    {
                                        if (item.DATE_BIRTH != null)
                                        {
                                            int monthDOB = 0;
                                            string[] ageList = item.DATE_BIRTH.Split('/');
                                            monthDOB = Convert.ToInt32(ageList[1]);
                                            int corMonth = Convert.ToInt32(TempData["month"]);
                                            if (corMonth == monthDOB)
                                            {
                                                pic1 = imagePath1 + item.MP_CODE + ".jpg";
                                                <tr>
                                                    <td>@count1</td>
                                                    <td class="photocolumn"><img class="membersmallpic" src="@pic1"></td>
                                                    <td><a href="#">@item.MP_NAME</a></td>
                                                    <td>@item.DATE_BIRTH</td>
                                                    <td>@item.PARTY_CODE</td>
                                                    <td>@item.STATE_NAME</td>
                                                    <td>@item.LADD</td>
                                                    <td>@item.PADD</td>
                                                </tr>
                                                count1++;
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" href="#">Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
@*<script>
        $(document).ready(function () {
            GetData();
        });
    </script>
    <script type="text/javascript">
        function GetData() {
            $.ajax({
                url: '@Url.Action("Alphabetical_Result", "Members")',
                data: { },
                method: 'POST',
                success: function (data) {
                    debugger;
                    var member_data = '';
                    $('#member_table tbody').empty();
                    var count = 1;
                    for (var i = 0; i < data.length; i++) {
                        var imagePath = "http://164.100.47.5/newmembers/photos/P";
                        member_data += '<tr>';
                        member_data += '<td>' + count + '</td>';
                        member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                        member_data += '<td><a class="link">' + data[i].MP_NAME + '</a></td>';
                        member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                        member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                        member_data += '<td>' + data[i].STATE_NAME + '</td>';
                        member_data += '<td>' + data[i].LADD + '</td>';
                        member_data += '<td>' + data[i].PADD + '</td>';
                        member_data += '</tr>';
                        count++;
                    }
                    //var totalcount = i - 1;
                    $('#member_table tbody').append(member_data);
                    var totMem = 'Total No of Members :- ' + data.length;
                    $('#totalMembers').text(totMem);
                },
                error: function ()
                {
                    alert('Please Select a member.');
                }
            });
        }
    </script>*@

<!--Photo & Print Result-->
<script>
    $(document).ready(function () {
        $("#searchMember").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#memberList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // Photo Hide & Show
        $("#showAllPhoto").on('change', function () {
            var checked = $(this).is(':checked');
            if (checked == true) {
                $(".photocolumn").show();
            }
            else {
                $(".photocolumn").hide();
            }
        });

    });

    // Export to Excel
    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('member_table');

        for (j = 0; j < tab.rows.length; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");
        tab_text = tab_text.replace(/<img[^>]*>/gi, "");
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, "");

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }
</script>
<!--Hide & Show Result-->
<script>
    $("#State").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            $("#ddlState").show();
            $("#ddlParty").hide();
            $("#ddlAlpha").hide();
        }
        else {
            $("#ddlState").hide();
        }
    });
    $("#Party").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            $("#ddlState").hide();
            $("#ddlParty").show();
            $("#ddlAlpha").hide();
        }
        else {
            $("#ddlParty").hide();
        }
    });
    $("#Alpha").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            $("#ddlState").hide();
            $("#ddlParty").hide();
            $("#ddlAlpha").show();
        }
        else {
            $("#ddlAlpha").hide();
        }
    });
</script>
<!--State Wise Result-->
<script type="text/javascript">
    function callChangefuncState() {
        debugger;
        var obj = {};
        obj.partyvalue = document.getElementById('StateId').value;
        $.ajax({
            url: '@Url.Action("StateWise_Result", "Members")',
            data: { statecode: obj.partyvalue},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td><a href="#" class="link">' + data[i].MP_NAME + '</a></td>';
                    member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '<td>' + data[i].LADD + '</td>';
                    member_data += '<td>' + data[i].PADD + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select One');
            }
        });
    }
</script>
<!--Party Wise Result-->
<script type="text/javascript">
    function callChangefuncParty() {
        debugger;
        var obj = {};
        obj.partyvalue = document.getElementById('PartyId').value;
        $.ajax({
            url: '@Url.Action("PartyWise_Result", "Members")',
            data: { partycode: obj.partyvalue},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td><a href="#" class="link">' + data[i].MP_NAME + '</a></td>';
                    member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '<td>' + data[i].LADD + '</td>';
                    member_data += '<td>' + data[i].PADD + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select One');
            }
        });
    }
</script>
<!--Alphabetical By Result-->
<script>
    $('.cls_birthday a').click(function (e) {
        debugger;
        var value = $(this).attr('row-value');
        getdata_Month(value);
    });
</script>
<script type="text/javascript">
    function getdata_Month(value) {
        debugger;
        $.ajax({
            url: '@Url.Action("DOBMonth_Result", "Members")',
            data: { month: value },
            method: 'POST',
            success: function (data) {
                window.location.href = '@Url.Action("BirthdaysWise", "Members")';
                //debugger;
                //var member_data = '';
                //$('#member_table tbody').empty();
                //var count = 1;
                //for (var i = 0; i < data.length; i++) {
                //    if (data[i].DATE_BIRTH != "") {
                //        if (data[i].DATE_BIRTH != null) {
                //            var components = data[i].DATE_BIRTH.split('/');
                //            var date = components[1];
                //            if (date == value)
                //            {
                //                var imagePath = "http://164.100.47.5/newmembers/photos/P";
                //                member_data += '<tr>';
                //                member_data += '<td>' + count + '</td>';
                //                member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                //                member_data += '<td><a class="link">' + data[i].MP_NAME + '</a></td>';
                //                member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                //                member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                //                member_data += '<td>' + data[i].STATE_NAME + '</td>';
                //                member_data += '<td>' + data[i].LADD + '</td>';
                //                member_data += '<td>' + data[i].PADD + '</td>';
                //                member_data += '</tr>';
                //                count++;
                //            }
                //        }
                //    }
                //}
                //$('#member_table tbody').append(member_data);
                //var totMem = 'Total No of Members :- ' + data.length;
                //$('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select Alphabet.');
            }
        });
    }
</script>

