﻿@using RSWP_UI.Models.MemberViewModel
@{
    ViewBag.Title = "BirthdayWisesWithoutAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get BirthdaysWise Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <br />
                        <div class="cls_birthday">
                            <a href="" row-value="01">January</a>&nbsp;
                            <a href="" row-value="02">February</a>&nbsp;
                            <a href="" row-value="03">March</a>&nbsp;
                            <a href="" row-value="04">April</a>&nbsp;
                            <a href="" row-value="05">May</a>&nbsp;
                            <a href="" row-value="06">June</a>&nbsp;
                            <a href="" row-value="07">July</a>&nbsp;
                            <a href="" row-value="08">August</a>&nbsp;
                            <a href="" row-value="09">September</a>&nbsp;
                            <a href="" row-value="10">October</a>&nbsp;
                            <a href="" row-value="11">November</a>&nbsp;
                            <a href="" row-value="12">December</a>
                        </div>
                        <div>
                            <p>
                                <input type="radio" id="Alpha" name="GetData" value="Alphabetical" checked />Alphabetical &nbsp;&nbsp;&nbsp;
                                <input type="radio" id="State" name="GetData" value="StateWise" />StateWise &nbsp;&nbsp;&nbsp;
                                <input type="radio" id="Party" name="GetData" value="PartyWise" />PartyWise
                            </p>
                        </div>
                    </div>
                    @*<div class="shortingATag" id="ddlAlpha" style="text-align:center;">
                            <a href="">A</a>
                            <a href="">B</a>
                            <a href="">C</a>
                            <a href="">D</a>
                            <a href="">E</a>
                            <a href="">F</a>
                            <a href="">G</a>
                            <a href="">H</a>
                            <a href="">I</a>
                            <a href="">J</a>
                            <a href="">K</a>
                            <a href="">L</a>
                            <a href="">M</a>
                            <a href="">O</a>
                            <a href="">P</a>
                            <a href="">Q</a>
                            <a href="">R</a>
                            <a href="">S</a>
                            <a href="">T</a>
                            <a href="">U</a>
                            <a href="">V</a>
                            <a href="">W</a>
                            <a href="">X</a>
                            <a href="">Y</a>
                            <a href="">Z</a>
                        </div>*@
                    <div class="" id="ddlState" style="display:none;">
                        <label>State Wise</label>
                        <select id="StateId" onchange="callChangefuncState()">
                            <option>--Please Select--</option>
                            @foreach (var item in (List<GetStateViewModel>)Session["state"])
                            {
                                <option value="@item.STATE_NAME">@item.STATE_NAME</option>
                            }
                        </select>
                    </div>
                    <div class="" id="ddlParty" style="display:none;">
                        <label>Party Wise</label>
                        <select id="PartyId" onchange="callChangefuncParty()">
                            <option>--Please Select--</option>
                            @foreach (var item in (List<GetPartyViewModel>)Session["party"])
                            {
                                <option value="@item.PARTY_CODE">@item.PARTY_NAME</option>
                            }
                        </select>
                    </div>
                </div>
                <div id="WholeContent">
                    <div style="text-align:center;">
                        <span id="" style="font-size:14px;font-weight:bold;">BIRTHDAY LIST OF THE MEMBERS</span>
                    </div>
                    <div style="text-align:center;">
                        @{DateTime date = DateTime.Now; }
                        <span id="" style="font-size:12px;font-weight:bold;">AS ON :- @string.Format("{0:D}", date) </span>
                    </div>
                    @*<div id="totalMembers" style="text-align:center;font-size:12px;font-weight:bold;">
                            <p>Total No of Members :- </p>
                        </div>*@
                    <div class="pull-right">
                        <input type="checkbox" id="showAllPhoto" value="img" /><label id="ShowPhoto"> Show Photo </label>
                        <input type="button" id="btnExport" onclick="fnExcelReport();" value="Export to Excel" />
                    </div>

                    <br />
                    <br />
                    <div class="ShowData" @*style="display:none"*@>
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th class="photocolumn">Photo</th>
                                        <th>Name</th>
                                        <th>Date of Birth</th>
                                        <th>Party</th>
                                        <th>State</th>
                                    </tr>
                                </thead>
                                <tbody id="memberList">
                                    @{int count = 1;}
                                    @{var pic = "";}
                                    @{var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";}
                                    @foreach (var item in (List<GetAlphabeticalMembersViewModel>)Session["MonthResult"])
                                    {
                                        if (item.DATE_BIRTH != "")
                                        {
                                            if (item.DATE_BIRTH != null)
                                            {
                                                int monthDOB = 0;
                                                string[] ageList = item.DATE_BIRTH.Split('/');
                                                monthDOB = Convert.ToInt32(ageList[1]);
                                                int corMonth = Convert.ToInt32(TempData["month"]);
                                                if (corMonth == monthDOB)
                                                {
                                                    pic = imagePath + item.MP_CODE + ".jpg";
                                                    <tr>
                                                        <td>@count</td>
                                                        <td class="photocolumn"><img class="membersmallpic" src="@pic"></td>
                                                        <td><a href="">@item.MP_NAME</a></td>
                                                        <td>@item.DATE_BIRTH</td>
                                                        <td>@item.PARTY_CODE</td>
                                                        <td>@item.STATE_NAME</td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<iframe id="txtArea1" style="display:none"></iframe>
<script>
    function GetDataMethod() {
        window.location.href = '/Members/BirthdayWiseWithoutAdd';
    }
</script>
@*<script>
        $(document).ready(function () {
            GetData();
        });
    </script>
    <script type="text/javascript">
        function GetData() {
            $.ajax({
                url: '@Url.Action("Alphabetical_Result", "Members")',
                data: { },
                method: 'POST',
                success: function (data) {
                    debugger;
                    var member_data = '';
                    $('#member_table tbody').empty();
                    var count = 1;
                    for (var i = 0; i < data.length; i++) {
                        var imagePath = "http://164.100.47.5/newmembers/photos/P";
                        member_data += '<tr>';
                        member_data += '<td>' + count + '</td>';
                        member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                        member_data += '<td><a class="link">' + data[i].MP_NAME + '</a></td>';
                        member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                        member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                        member_data += '<td>' + data[i].STATE_NAME + '</td>';
                        member_data += '<td>' + data[i].LADD + '</td>';
                        member_data += '<td>' + data[i].PADD + '</td>';
                        member_data += '</tr>';
                        count++;
                    }
                    //var totalcount = i - 1;
                    $('#member_table tbody').append(member_data);
                    var totMem = 'Total No of Members :- ' + data.length;
                    $('#totalMembers').text(totMem);
                },
                error: function ()
                {
                    alert('Please Select a member.');
                }
            });
        }
    </script>*@

<!--Photo & Print Result-->
<script>
    $(document).ready(function () {
        $("#searchMember").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#memberList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // Photo Hide & Show
        $("#showAllPhoto").on('change', function () {
            var checked = $(this).is(':checked');
            if (checked == true) {
                $(".photocolumn").show();
            }
            else {
                $(".photocolumn").hide();
            }
        });

    });

     // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#member_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#member_table th,#member_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#atoz{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });
    // Export to Excel
     $("#btnExport").click(function (e) {
        TableToExcel.convert(document.getElementById("member_table"));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<!--Hide & Show Result-->
<script>
    $("#State").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            $("#ddlState").show();
            $("#ddlParty").hide();
            $("#ddlAlpha").hide();
        }
        else {
            $("#ddlState").hide();
        }
    });
    $("#Party").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            $("#ddlState").hide();
            $("#ddlParty").show();
            $("#ddlAlpha").hide();
        }
        else {
            $("#ddlParty").hide();
        }
    });
    $("#Alpha").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            GetDataMethod();
            $("#ddlState").hide();
            $("#ddlParty").hide();
            $("#ddlAlpha").show();
        }
        else {
            $("#ddlAlpha").hide();
        }
    });
</script>
<!--State Wise Result-->
<script type="text/javascript">
    function callChangefuncState() {
        debugger;
        var obj = {};
        obj.partyvalue = document.getElementById('StateId').value;
        $.ajax({
            url: '@Url.Action("StateWise_Result", "Members")',
            data: { statecode: obj.partyvalue},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td><a href="#" class="link">' + data[i].MP_NAME + '</a></td>';
                    member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select One');
            }
        });
    }
</script>
<!--Party Wise Result-->
<script type="text/javascript">
    function callChangefuncParty() {
        debugger;
        var obj = {};
        obj.partyvalue = document.getElementById('PartyId').value;
        $.ajax({
            url: '@Url.Action("PartyWise_Result", "Members")',
            data: { partycode: obj.partyvalue},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td><a href="#" class="link">' + data[i].MP_NAME + '</a></td>';
                    member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select One');
            }
        });
    }
</script>
<!--Alphabetical By Result-->
<script>
    $('.cls_birthday a').click(function (e) {
        debugger;
        var value = $(this).attr('row-value');
        getdata_Month(value);
    });
</script>
<script type="text/javascript">
    function getdata_Month(value) {
        debugger;
        $.ajax({
            url: '@Url.Action("DOBMonth_Result", "Members")',
            data: { month: value },
            method: 'POST',
            success: function (data) {
                window.location.href = '@Url.Action("BirthdaysWise", "Members")';
                //debugger;
                //var member_data = '';
                //$('#member_table tbody').empty();
                //var count = 1;
                //for (var i = 0; i < data.length; i++) {
                //    if (data[i].DATE_BIRTH != "") {
                //        if (data[i].DATE_BIRTH != null) {
                //            var components = data[i].DATE_BIRTH.split('/');
                //            var date = components[1];
                //            if (date == value)
                //            {
                //                var imagePath = "http://164.100.47.5/newmembers/photos/P";
                //                member_data += '<tr>';
                //                member_data += '<td>' + count + '</td>';
                //                member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                //                member_data += '<td><a class="link">' + data[i].MP_NAME + '</a></td>';
                //                member_data += '<td>' + data[i].DATE_BIRTH + '</td>';
                //                member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                //                member_data += '<td>' + data[i].STATE_NAME + '</td>';
                //                member_data += '<td>' + data[i].LADD + '</td>';
                //                member_data += '<td>' + data[i].PADD + '</td>';
                //                member_data += '</tr>';
                //                count++;
                //            }
                //        }
                //    }
                //}
                //$('#member_table tbody').append(member_data);
                //var totMem = 'Total No of Members :- ' + data.length;
                //$('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select Alphabet.');
            }
        });
    }
</script>
