﻿@model List<RSWP_UI.Models.DocumentModelView>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu", Model)

            <div class="col-md-6 boxMiddleBorder" id="members">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.RS_MEMBERS_BREIFBIO2003</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.BriefBiodata19522003</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <tr style="color:white;background-color: #C11E1B;padding:5px">
                                    <td>@RSWP_UI.Resources.Resource.SLNo</td>
                                    <td>@RSWP_UI.Resources.Resource.Title</td>

                                </tr>
                                @{int count = 1; }
                                @foreach (var item in ViewBag.topRawList)
                                {

                                    <tr class="border border-dark">
                                        <td>@count</td>

                                        <td>
                                            <a href="@item.FileUrl" target="_blank">@item.Tiltle (@item.FileType, @item.FileSize)</a>
                                        </td>
                                    </tr>
                                    count++;

                                }
                            </table>
                            <br />
                            <br />
                            <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.BIOGRAPHICALSKETCHES</h4>
                            <table class="table table-bordered">

                                <tr style="color:white;background-color: #C11E1B;padding:5px">
                                    <td>@RSWP_UI.Resources.Resource.SLNo</td>
                                    <td>@RSWP_UI.Resources.Resource.Title</td>
                                </tr>
                                @{count = 1; }
                                @foreach (var item in ViewBag.BioSkeetchList)
                                {

                                    <tr class="border border-dark">
                                        <td>@count</td>
                                        <td>
                                            <a href="@item.FileUrl" target="_blank">@item.Tiltle (@item.FileType, @item.FileSize)</a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </table>
                            <br />
                            <br />
                            <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.Member</h4>
                            <table class="table table-bordered">

                                <tr style="color:white;background-color: #C11E1B;padding:5px">
                                    <td>@RSWP_UI.Resources.Resource.SLNo</td>
                                    <td>@RSWP_UI.Resources.Resource.Title</td>
                                </tr>
                                @{count = 1; }
                                @foreach (var item in ViewBag.MemberBrifList)
                                {

                                    <tr class="border border-dark">
                                        <td>@count</td>
                                        <td>
                                            <a href="@item.FileUrl" target="_blank">@item.Tiltle (@item.FileType, @item.FileSize)</a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>






