﻿
@{
    ViewBag.Title = "DeclarationOfAssetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.DeclarationofAssetsandLiabilites</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                   
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="color:white;background-color: #C11E1B;padding:5px">
                                        <th>@RSWP_UI.Resources.Resource.SLNo</th>
                                        <th>@RSWP_UI.Resources.Resource.Title</th>

                                    </tr>
                                </thead>
                                <tbody id="memberList">
                                    @{ int count = 1;}
                                    @foreach (var item in ViewBag.list)
                                    {
                                        if (ViewBag.list != null)
                                        {
                                            <tr class="border border-dark">
                                                <td>@count</td>
                                                <td>
                                                    <a href="@item.FileUrl" target="_blank">@item.Tiltle [@item.FileType] (@item.FileSize)</a>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                </tbody>
                                @*<tbody>
                                    @{ int count = 1;}
                                    @foreach (var item in ViewBag.list)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Tiltle</td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            @Html.Partial("Partial/rightMenu")
        </div>
</section>


