﻿@model List<RSWP_UI.Models.DocumentModelView>
    
@{
    ViewBag.Title = "DisqualificationofMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.DisqualificationofMembersonGroundofDefection</a></li>
                    </ul>
                </div>
                <div class="box-midd">
                    <h4 class="text-center">@RSWP_UI.Resources.Resource.DisqualificationofMembersonGroundofDefection</h4>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <iframe src=@item.FileUrl class="custom-pdf" style="-webkit-transition: width 2s; transition: width 2s;">
                                <p>@RSWP_UI.Resources.Resource.Yourbrowserdoesnotsupportiframes.</p>
                            </iframe>
                        }

                    }
                    else
                    {
                        <p>@RSWP_UI.Resources.Resource.FileDoesNotExist!!!</p>
                    }

                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>

