﻿@using RSWP_UI.Models.MemberViewModel
@{
    ViewBag.Title = "EmailAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Get Email Address Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div id="WholeContent">
                    <div id="content">
                        <h5 style="text-align:center;" id="memberSearchheading">@RSWP_UI.Resources.Resource.TypeanypartorfullNameoftheMembertosearch</h5>
                        <div class="row">
                            <form>
                                <div class="col-sm-9 col-sm-offset-1">
                                    <input type="text" class="form-control" id="searchMember" />
                                    <button class="btn btn-danger" id="btnReset" type="reset">@RSWP_UI.Resources.Resource.Reset</button>
                                </div>
                            </form>
                        </div>
                        <br />
                        <div id="rdoData">
                            <p>
                                <input type="radio" id="Alpha" name="GetData" value="Alphabetical" checked />@RSWP_UI.Resources.Resource.Alphabetical &nbsp;&nbsp;&nbsp;
                                <input type="radio" id="State" name="GetData" value="StateWise" />@RSWP_UI.Resources.Resource.StateWise &nbsp;&nbsp;&nbsp;
                                <input type="radio" id="Party" name="GetData" value="PartyWise" />@RSWP_UI.Resources.Resource.PartyWise
                            </p>
                        </div>
                    </div>
                    <div class="shortingATag" id="ddlAlpha" style="text-align:center;">
                        <a href="">@RSWP_UI.Resources.Resource.A</a>
                        <a href="">@RSWP_UI.Resources.Resource.B</a>
                        <a href="">@RSWP_UI.Resources.Resource.C</a>
                        <a href="">@RSWP_UI.Resources.Resource.D</a>
                        <a href="">@RSWP_UI.Resources.Resource.E</a>
                        <a href="">@RSWP_UI.Resources.Resource.F</a>
                        <a href="">@RSWP_UI.Resources.Resource.G</a>
                        <a href="">@RSWP_UI.Resources.Resource.H</a>
                        <a href="">@RSWP_UI.Resources.Resource.I</a>
                        <a href="">@RSWP_UI.Resources.Resource.J</a>
                        <a href="">@RSWP_UI.Resources.Resource.K</a>
                        <a href="">@RSWP_UI.Resources.Resource.L</a>
                        <a href="">@RSWP_UI.Resources.Resource.M</a>
                        <a href="">@RSWP_UI.Resources.Resource.N</a>
                        <a href="">@RSWP_UI.Resources.Resource.O</a>
                        <a href="">@RSWP_UI.Resources.Resource.P</a>
                        <a href="">@RSWP_UI.Resources.Resource.Q</a>
                        <a href="">@RSWP_UI.Resources.Resource.R</a>
                        <a href="">@RSWP_UI.Resources.Resource.S</a>
                        <a href="">@RSWP_UI.Resources.Resource.T</a>
                        <a href="">@RSWP_UI.Resources.Resource.U</a>
                        <a href="">@RSWP_UI.Resources.Resource.V</a>
                        <a href="">@RSWP_UI.Resources.Resource.W</a>
                        <a href="">@RSWP_UI.Resources.Resource.X</a>
                        <a href="">@RSWP_UI.Resources.Resource.Y</a>
                        <a href="">@RSWP_UI.Resources.Resource.Z</a>

                    </div>
                    <div class="" id="ddlState" style="display:none;">
                        <label>@RSWP_UI.Resources.Resource.StateWise</label>
                        <select id="StateId" onchange="callChangefuncState()">
                            <option>--Please Select--</option>
                            @foreach (var item in (List<GetStateViewModel>)Session["state"])
                            {
                                <option value="@item.STATE_NAME">@item.STATE_NAME</option>
                            }
                        </select>
                    </div>
                    <div class="" id="ddlParty" style="display:none;">
                        <label>@RSWP_UI.Resources.Resource.PartyWise</label>

                        <select id="PartyId" onchange="callChangefuncParty()">
                            <option>--Please Select--</option>
                            @foreach (var item in (List<GetPartyViewModel>)Session["party"])
                            {
                                <option value="@item.PARTY_CODE">@item.PARTY_NAME</option>
                            }
                        </select>
                    </div>
                    <div style="text-align:center;">
                        <span id="" style="font-size:14px;font-weight:bold;">@RSWP_UI.Resources.Resource.EMAILADDRESSESOFSITTINGMEMBERSOFRAJYASABHA</span>
                    </div>
                    <div id="totalMembers" style="text-align:center;font-size:12px;font-weight:bold;">

                    </div>
                    <div style="text-align:center;">
                        @{DateTime date = DateTime.Now; }
                        <span id="" style="font-size:12px;font-weight:bold;">AS ON :- @string.Format("{0:D}", date) </span>
                    </div>
                    <div class="pull-right">
                        <input type="checkbox" id="showAllPhoto" value="img" /><label id="ShowPhoto"> @RSWP_UI.Resources.Resource.ShowPhoto </label>

                        <input type="button" id="btnExport" onclick="fnExcelReport();" value="Export to Excel" />
                    </div>
                    <br />
                    <br />
                    <div class="ShowData" @*style="display:none"*@>
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th class="photocolumn">@RSWP_UI.Resources.Resource.Photo</th>
                                        <th>@RSWP_UI.Resources.Resource.Name</th>
                                        <th>@RSWP_UI.Resources.Resource.Party</th>
                                        <th>@RSWP_UI.Resources.Resource.State</th>
                                        <th>@RSWP_UI.Resources.Resource.Emailid</th>

                                    </tr>
                                </thead>
                                <tbody id="memberList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">@RSWP_UI.Resources.Resource.Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<iframe id="txtArea1" style="display:none"></iframe>
<!--Email Address By Result-->
<script>
    $(document).ready(function () {
        GetData();
    });
</script>
<script type="text/javascript">
    function GetData() {
        $.ajax({
            url: '@Url.Action("Alphabetical_Result", "Members")',
            data: { },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td>' + data[i].MP_NAME + '</td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    //if (data[i].EMAIL_ID != "                                                                                                    ") {
                    if (data[i].EMAIL_ID != "") {
                        member_data += '<td><img src=/Members/WriteTextAsImage/?id=' + data[i].EMAIL_ID + ' /></td>';
                    }
                    else {
                        member_data += '<td>' + '-' + '</td>';
                    }
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }
</script>
<!--Photo & Print Result-->
<script>
    $(document).ready(function () {
        $("#searchMember").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#memberList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // Photo Hide & Show
        $("#showAllPhoto").on('change', function () {
            var checked = $(this).is(':checked');
            if (checked == true) {
                $(".photocolumn").show();
            }
            else {
                $(".photocolumn").hide();
            }
        });

    });

    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#member_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#member_table th,#member_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#rdoData,#ddlAlpha,#ddlState,#ddlParty{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });
    // Export to Excel
    $("#btnExport").click(function (e) {
        TableToExcel.convert(document.getElementById("member_table"));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<!--Hide & Show Result-->
<script>
    $("#State").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            $("#ddlState").show();
            $("#ddlParty").hide();
            $("#ddlAlpha").hide();
        }
        else {
            $("#ddlState").hide();
        }
    });
    $("#Party").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            $("#ddlState").hide();
            $("#ddlParty").show();
            $("#ddlAlpha").hide();
        }
        else {
            $("#ddlParty").hide();
        }
    });
    $("#Alpha").on('change', function () {
        var checked = $(this).is(':checked');
        if (checked == true) {
            $("#ddlState").hide();
            $("#ddlParty").hide();
            $("#ddlAlpha").show();
        }
        else {
            $("#ddlAlpha").hide();
        }
    });
</script>
<!--State Wise Result-->
<script type="text/javascript">
    function callChangefuncState() {
        debugger;
        var obj = {};
        obj.partyvalue = document.getElementById('StateId').value;
        $.ajax({
            url: '@Url.Action("StateWise_Result", "Members")',
            data: { statecode: obj.partyvalue},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td>' + data[i].MP_NAME + '</td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '<td><img src=/Members/WriteTextAsImage/?id=' + data[i].EMAIL_ID + ' /></td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select One');
            }
        });
    }
</script>
<!--Party Wise Result-->
<script type="text/javascript">
    function callChangefuncParty() {
        debugger;
        var obj = {};
        obj.partyvalue = document.getElementById('PartyId').value;
        $.ajax({
            url: '@Url.Action("PartyWise_Result", "Members")',
            data: { partycode: obj.partyvalue},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td>' + data[i].MP_NAME + '</td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '<td> <img src=/Members/WriteTextAsImage/?id=' + data[i].EMAIL_ID + ' /></td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select One');
            }
        });
    }
</script>
<!--Alphabetical By Result-->
<script>
    $('.shortingATag a').click(function (e) {
        e.preventDefault();
        alphabet = $(this).text();
        getdata_Alpha(alphabet);
    });
</script>
<script type="text/javascript">
    function getdata_Alpha(alphabet) {
        debugger;
        $.ajax({
            url: '@Url.Action("Alphabet_Result", "Members")',
            data: { name : alphabet},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    member_data += '<tr>';
                    member_data += '<td>' + count + '</td>';
                    member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';

                    member_data += '<td>' + data[i].MP_NAME + '</td>';
                    member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                    member_data += '<td>' + data[i].STATE_NAME + '</td>';
                    member_data += '<td> <img src=/Members/WriteTextAsImage/?id=' + data[i].EMAIL_ID + ' /></td>';
                    member_data += '</tr>';
                    count++;
                }
                //var totalcount = i - 1;
                $('#member_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Select Alphabet.');
            }
        });
    }
</script>
