﻿
@{
    ViewBag.Title = "ExpenditureIncurred";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div id="WholeContent">
                    <div id="content">
                        <h4 style="text-align:center;font-weight:bold;">
                            <strong>
                                @RSWP_UI.Resources.Resource.ExpenditureincurredonthesalaryandallowancesofDeputyChairmanLopMembers
                            </strong>

                        </h4>
                        <div id="ExtrData">
                            <div id="rdoData">
                                <p>
                                    <input type="radio" id="Member" name="GetData" value="Alphabetical" checked />@RSWP_UI.Resources.Resource.Members &nbsp;&nbsp;&nbsp;
                                    <input type="radio" id="LeaderofOpposition" name="GetData" value="Alphabetical" />@RSWP_UI.Resources.Resource.LeaderOfOpposition &nbsp;&nbsp;&nbsp;
                                    <input type="radio" id="HonbleDeputyChairman" name="GetData" value="StateWise" />@RSWP_UI.Resources.Resource.HonbleDeputyChairman
                                </p>

                            </div>
                            <div id="members">
                                <label>
                                    @RSWP_UI.Resources.Resource.SelectMember  :
                                </label>
                                @Html.DropDownList("name", ViewBag.List as SelectList, "--- Select One ---", new { })
                            </div>
                            <div id="LeaderofOppositions" hidden>
                                <label>
                                    @RSWP_UI.Resources.Resource.SelectMember  :
                                </label>
                                <select id="name1">
                                    <option value="@TempData["LeaderOPCode"]">@TempData["LeaderOP"]</option>
                                </select>
                                @*@Html.DropDownList("leaderOP", TempData["LeaderOP"] as SelectList, "", new { })*@
                            </div>
                            <div id="HonbleDeputyChairmans" hidden>
                                <label>
                                    @RSWP_UI.Resources.Resource.SelectMember  :
                                </label>
                                <select id="name2">
                                    <option value="@TempData["DeputyChairManCode"]">@TempData["DeputyChairMan"]</option>
                                </select>
                            </div>
                            <div>
                                <label>
                                    @RSWP_UI.Resources.Resource.FinancialYear    :
                                </label>

                                <select id="drpFinancialYr">
                                    <option id="">--Select Financial Year--</option>
                                    @{int finyear = 2013; }
                                    @{ int lfinyear = 0;}
                                    @while (finyear <= DateTime.Today.Year)
                                    {
                                        if (DateTime.Today.Year == finyear && DateTime.Today.Month <= 3)
                                        { }
                                        else
                                        {
                                            lfinyear = finyear + 1;
                                            <option id="">@finyear-@lfinyear</option>
                                        }
                                        finyear++;
                                    }
                                </select>
                            </div>
                        </div>
                        <div id="btnData">
                            <div style="text-align:center;" id="Memberbtn">
                                <input type="button" id="btnSubmit" onclick="GetData()" value="Get Expense Details" />
                            </div>
                            <div style="text-align:center;" id="OPbtn" hidden>
                                <input type="button" id="btnSubmit" onclick="GetData1()" value="Get Expense Details" />
                            </div>
                            <div style="text-align:center;" id="HCbtn" hidden>
                                <input type="button" id="btnSubmit" onclick="GetData2()" value="Get Expense Details" />
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="ShowData" id="Show_Data" hidden>
                        <div class="searchResulltTabl">
                            <table class="table table-striped" id="member_table">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th>@RSWP_UI.Resources.Resource.MonthYear</th>
                                        <th>@RSWP_UI.Resources.Resource.Salary</th>
                                        <th>@RSWP_UI.Resources.Resource.ConstituencyAllowance</th>
                                        <th>@RSWP_UI.Resources.Resource.OfficeExpenseAllowance</th>
                                        <th>@RSWP_UI.Resources.Resource.SalarytoSecretarialAssistantPaidtoPAofMember</th>
                                        <th>@RSWP_UI.Resources.Resource.TADA</th>
                                    </tr>

                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ShowData" id="Show_Data1" hidden>
                        <div class="searchResulltTabl">
                            <table class="table table-striped" id="member_table1">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th>@RSWP_UI.Resources.Resource.MonthYear</th>
                                        <th>@RSWP_UI.Resources.Resource.Salary</th>
                                        <th>@RSWP_UI.Resources.Resource.ConstituencyAllowance</th>
                                        <th>@RSWP_UI.Resources.Resource.SumptuaryAllowance	</th>
                                        <th>@RSWP_UI.Resources.Resource.DA</th>
                                        <th>@RSWP_UI.Resources.Resource.TADA</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script type="text/javascript">
    function GetData() {
        debugger;
        var obj = {};
        obj.memberCode = $.trim($("[id*=name]").val());
        obj.enddate = $.trim($("[id*=drpFinancialYr]").val());
        var strtsplit = obj.enddate.split('-')[0];
        var strFinalDate = strtsplit + '-' + '04' + '-' + '01';
        var lstsplit = obj.enddate.split('-')[1];
        var lstFinalDate = lstsplit + '-' + '03' + '-' + '31';
        $.ajax({
            url: '@Url.Action("ExpenditureIncurred_Result", "Members")',
            data: { mpcode: obj.memberCode, duration1: strFinalDate, duration2: lstFinalDate },
            method: 'POST',
            success: function (data) {
                debugger;
                if (data.length != 0)
                {
                    $("#Show_Data").show();
                    $("#Show_Data1").hide();
                    var member_data = '';
                    $('#member_table tbody').empty();
                    var count = 1;
                    var mpsalary = 0;
                    var constituency = 0;
                    var office = 0;
                    var pasalary = 0;
                    var totaltada = 0;
                    for (var i = 0; i < data.length; i++) {
                        member_data += '<tr>';
                        member_data += '<td>' + count + '</td>';
                        member_data += '<td>' + data[i].billmonthtext + '</td>';
                        member_data += '<td>' + data[i].mpsal + '</td>';
                        member_data += '<td>' + data[i].constituencyallow + '</td>';
                        member_data += '<td>' + data[i].officeallow + '</td>';
                        member_data += '<td>' + data[i].pasal + '</td>';
                        member_data += '<td>' + data[i].tada + '</td>';
                        member_data += '</tr>';
                        count++;
                        mpsalary = mpsalary + data[i].mpsal;
                        constituency = constituency + data[i].constituencyallow;
                        office = office + data[i].officeallow;
                        pasalary = pasalary + data[i].pasal;
                        totaltada = totaltada + data[i].tada;
                    }
                    member_data += '<tr>';
                    member_data += '<td>' + '&nbsp;' + '</td>';
                    member_data += '<td>' + 'Total' + '</td>';
                    member_data += '<td>' + mpsalary + '</td>';
                    member_data += '<td>' + constituency + '</td>';
                    member_data += '<td>' + office + '</td>';
                    member_data += '<td>' + pasalary + '</td>';
                    member_data += '<td>' + totaltada + '</td>';
                    member_data += '</tr>';
                    $('#member_table tbody').append(member_data);
                }
                else
                {
                    alert('Select Member & Financial Year');
                }
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }

</script>
<script type="text/javascript">
    function GetData1() {
        debugger;
        var obj = {};
        obj.memberCode = $.trim($("[id*=name1]").val());
        obj.enddate = $.trim($("[id*=drpFinancialYr]").val());
        var strtsplit = obj.enddate.split('-')[0];
        var strFinalDate = strtsplit + '-' + '04' + '-' + '01';
        var lstsplit = obj.enddate.split('-')[1];
        var lstFinalDate = lstsplit + '-' + '03' + '-' + '31';
        $.ajax({
            url: '@Url.Action("ExpenditureIncurredOP_Result", "Members")',
            data: { mpcode: obj.memberCode, duration1: strFinalDate, duration2: lstFinalDate },
            method: 'POST',
            success: function (data) {
                debugger;
                if (data.length != 0)
                {
                    $("#Show_Data1").show();
                    $("#Show_Data").hide();
                    var member_data = '';
                    $('#member_table1 tbody').empty();
                    var count = 1;
                    var mpsalary = 0;
                    var constituency = 0;
                    var office = 0;
                    var pasalary = 0;
                    var totaltada = 0;
                    for (var i = 0; i < data.length; i++) {
                        member_data += '<tr>';
                        member_data += '<td>' + count + '</td>';
                        member_data += '<td>' + data[i].billmonthtext + '</td>';
                        member_data += '<td>' + data[i].basicsal + '</td>';
                        member_data += '<td>' + data[i].constituencyallow + '</td>';
                        member_data += '<td>' + data[i].sumpallow + '</td>';
                        member_data += '<td>' + data[i].da + '</td>';
                        member_data += '<td>' + data[i].tada + '</td>';
                        member_data += '</tr>';
                        count++;
                        mpsalary = mpsalary + data[i].basicsal;
                        constituency = constituency + data[i].constituencyallow;
                        office = office + data[i].sumpallow;
                        pasalary = pasalary + data[i].da;
                        totaltada = totaltada + data[i].tada;
                    }
                    member_data += '<tr>';
                    member_data += '<td>' + '&nbsp;' + '</td>';
                    member_data += '<td>' + 'Total' + '</td>';
                    member_data += '<td>' + mpsalary + '</td>';
                    member_data += '<td>' + constituency + '</td>';
                    member_data += '<td>' + office + '</td>';
                    member_data += '<td>' + pasalary + '</td>';
                    member_data += '<td>' + totaltada + '</td>';
                    member_data += '</tr>';
                    $('#member_table1 tbody').append(member_data);
                }
                else
                {
                    alert('Select Member & Financial Year');
                }
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }

</script>
<script type="text/javascript">
    function GetData2() {
        debugger;
        var obj = {};
        obj.memberCode = $.trim($("[id*=name2]").val());
        obj.enddate = $.trim($("[id*=drpFinancialYr]").val());
        var strtsplit = obj.enddate.split('-')[0];
        var strFinalDate = strtsplit + '-' + '04' + '-' + '01';
        var lstsplit = obj.enddate.split('-')[1];
        var lstFinalDate = lstsplit + '-' + '03' + '-' + '31';
        $.ajax({
            url: '@Url.Action("ExpenditureIncurredOP_Result", "Members")',
            data: { mpcode: obj.memberCode, duration1: strFinalDate, duration2: lstFinalDate },
            method: 'POST',
            success: function (data) {
                debugger;
                if (data.length != 0)
                {
                    $("#Show_Data1").show();
                    $("#Show_Data").hide();
                    var member_data = '';
                    $('#member_table1 tbody').empty();
                    var count = 1;
                    var mpsalary = 0;
                    var constituency = 0;
                    var office = 0;
                    var pasalary = 0;
                    var totaltada = 0;
                    for (var i = 0; i < data.length; i++) {
                        member_data += '<tr>';
                        member_data += '<td>' + count + '</td>';
                        member_data += '<td>' + data[i].billmonthtext + '</td>';
                        member_data += '<td>' + data[i].basicsal + '</td>';
                        member_data += '<td>' + data[i].constituencyallow + '</td>';
                        member_data += '<td>' + data[i].sumpallow + '</td>';
                        member_data += '<td>' + data[i].da + '</td>';
                        member_data += '<td>' + data[i].tada + '</td>';
                        member_data += '</tr>';
                        count++;
                        mpsalary = mpsalary + data[i].basicsal;
                        constituency = constituency + data[i].constituencyallow;
                        office = office + data[i].sumpallow;
                        pasalary = pasalary + data[i].da;
                        totaltada = totaltada + data[i].tada;
                    }
                    member_data += '<tr>';
                    member_data += '<td>' + '&nbsp;' + '</td>';
                    member_data += '<td>' + 'Total' + '</td>';
                    member_data += '<td>' + mpsalary + '</td>';
                    member_data += '<td>' + constituency + '</td>';
                    member_data += '<td>' + office + '</td>';
                    member_data += '<td>' + pasalary + '</td>';
                    member_data += '<td>' + totaltada + '</td>';
                    member_data += '</tr>';
                    $('#member_table1 tbody').append(member_data);
                }
                else
                {
                    alert('Select Member & Financial Year');
                }
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }

</script>
<script>
    $(document).ready(function () {
        $("#LeaderofOpposition").click(function () {
            $("#members").hide();
            $("#LeaderofOppositions").show();
            $("#HonbleDeputyChairmans").hide();
            $("#OPbtn").show();
            $("#Memberbtn").hide();
            $("#HCbtn").hide();
        });
        $("#HonbleDeputyChairman").click(function () {
            $("#members").hide();
            $("#LeaderofOppositions").hide();
            $("#HonbleDeputyChairmans").show();
            $("#OPbtn").hide();
            $("#Memberbtn").hide();
            $("#HCbtn").show();
        });
        $("#Member").click(function () {
            $("#members").show();
            $("#LeaderofOppositions").hide();
            $("#HonbleDeputyChairmans").hide();
            $("#OPbtn").hide();
            $("#Memberbtn").show();
            $("#HCbtn").hide();
        });
    });
</script>
<!--Print Data-->
<script>
    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#member_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#member_table th,#member_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#ExtrData,#btnData{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });
</script>