﻿@model List<RSWP_UI.Models.DocumentModelView>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu", Model)

            <div class="col-md-6 boxMiddleBorder" id="members">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"])
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>
                <div class="boxSearchMid">

                    <div class="box-midd">
                        @{
                            bool result = false;
                            bool.TryParse(Request.QueryString["archieve"], out result);
                            if (Request.QueryString["archieve"] != null && result)
                            {
                                <h5> <a href="/Members/GeneralInformation_Index?MenuId=25002&archieve=false"><p class="text-left">@RSWP_UI.Resources.Resource.Current</p></a></h5>
                            }
                        }
                        <table class="table table-responsive table-bordered">
                            @foreach (var item in Model)
                            {

                                <tr class="border border-dark">
                                    <td>
                                        <a href="@item.FileUrl" target="_blank">@item.Tiltle - @item.Year (@item.FileType, @item.FileSize)</a>
                                    </td>
                                </tr>
                            }
                        </table>
                     
                    </div>

                </div>
            </div>

            @Html.Partial("Partial/rightMenu")
        </div>



    </div>
</section>


