﻿
@{
    ViewBag.Title = "MemberAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div id="WholeContent">
                    <div id="content">
                        <h5 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.AttendanceOfTheMembersOfRajyaSabha </strong></h5>
                        <br />
                        <div id="ExtraData">
                            <div>
                                <label>@RSWP_UI.Resources.Resource.SelectSession : </label>
                                @Html.DropDownList("sessioncode", TempData["SNo"] as SelectList, "--Select Session--", new { @onchange = "callChangefunc()" })
                            </div>
                            <div>
                                <label>@RSWP_UI.Resources.Resource.SelectDate : </label>
                                <select id="GetData" name="">
                                    <option>--Select Date--</option>
                                </select>
                            </div>
                            <div class="row" style="padding-top:8px;">
                                <div class="col-md-2">
                                    <input type="button" id="btnSubmit" onclick="" value="Date Wise" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" id="btnSubmit1" onclick="" value="Date Wise Total" />
                                </div>
                                <div class="col-md-3">
                                    <input type="button" id="btnSubmit2" onclick="" value="Member's Wise'" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" id="btnSubmit3" onclick="" value="Session Wise" />
                                </div>
                            </div>
                        </div>
                    </div>
                
                <br />
                    <div class="ShowData" id="result">
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SESSIONNO</th>
                                        <th>@RSWP_UI.Resources.Resource.SESSION_C</th>
                                        <th>@RSWP_UI.Resources.Resource.FROM_C</th>
                                        <th>@RSWP_UI.Resources.Resource.TO_C</th>
                                    </tr>
                                </thead>
                                <tbody id="memberList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">@RSWP_UI.Resources.Resource.Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<script type="text/javascript">
    function callChangefunc() {
        debugger;
        var obj = {};
        obj.sessionCode = $.trim($("[id*=sessioncode]").val());
        $.ajax({
           url: '@Url.Action("selectDate", "Members")',
           data: { session: obj.sessionCode },
            method: 'POST',
            success: function (data) {
                debugger;
                $("#GetData option:gt(0)").remove();
                $("#GetData option:eq(0)").remove();
                $("#GetData").append($('<option/>').attr("value", '0').text('--Select Date--'));
                for (var i = 0; i < data.length; i++) {
                    $("#GetData").append($('<option/>').attr("value", data[i].sessionno).text(data[i].dates));
                }
            },
            error: function () {
                alert('Not Success...');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        GetData();
    });
</script>
<script type="text/javascript">
    function GetData() {
        $.ajax({
            url: '@Url.Action("selectSession", "Members")',
            data: { },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                     member_data += '<tr>';
                     member_data += '<td><a href="#" class="link" onClick="showData(' + data[i].sessionno + ')">' + data[i].sessionno + '</a></td>';
                     member_data += '<td>' + data[i].sessionname + '</td>';
                     var value = new Date
                         (
                         parseInt(data[i].period.replace(/(^.*\()|([+-].*$)/g, ''))
                    );
                    var date = value.getDate();
                    if (date < 10) {
                        date = '0' + date;
                    }
                    var month = value.getMonth() + 1;
                    if (month < 10) {
                        month = '0' + month;
                    }
                     var dat = date +
                         "/" +
                         month +
                         "/" +
                         value.getFullYear();
                     var value1 = new Date
                         (
                         parseInt(data[i].period2.replace(/(^.*\()|([+-].*$)/g, ''))
                    );
                    var date1 = value1.getDate();
                    if (date1 < 10) {
                        date1 = '0' + date1;
                    }
                    var month1 = value1.getMonth() + 1;
                    if (month1 < 10) {
                        month1 = '0' + month1;
                    }
                    var dat1 = date1 +
                         "/" +
                         month1 +
                         "/" +
                         value1.getFullYear();
                     member_data += '<td>' + dat + '</td>';
                     member_data += '<td>' + dat1 + '</td>';
                     member_data += '</tr>';
                     count++;
                }
                $('#member_table tbody').append(member_data);
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }
</script>
<script type="text/javascript">
    function showData(sesCode) {
        $.ajax({
            url: '@Url.Action("GetSessionDetails", "Members")',
            data: { sesCode: sesCode },
            method: 'POST',
            success: function () {
                window.location.href='@Url.Action("SessionWiseResults", "Members")';
            },
            error: function ()
            {
            }
        });
    }
</script>
@*<script>
        function showData(sesCode) {
            var sessionCode= sesCode;
            window.location.href='@Url.Action("SessionWiseResults", "Members",new { id = "250" })';
        }
    </script>*@

<!--Print-->
<script>
    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#member_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#member_table th,#member_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#ExtraData{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });
</script>