﻿@model List<RSWP_UI.Models.DocumentModelView>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu", Model)

            <div class="col-md-6 boxMiddleBorder" id="members">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"])
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>
                <div class="boxSearchMid">

                    <div class="box-midd">
                        <h6> <p class="text-center">@RSWP_UI.Resources.Resource.MPLADS</p></h6>
                        <table class="table table-responsive table-bordered">
                            @foreach (var item in Model)
                            {

                                <tr class="border border-dark" style="border-style: solid; border-width:thin;border-color:black">
                                    <td>
                                        <a href="@item.FileUrl" target="_blank">@item.Tiltle</a>
                                    </td>
                                    <td>
                                        @item.RowType
                                    </td>
                                    <td>
                                        @item.FileSize
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>

                </div>
            </div>

            @Html.Partial("Partial/rightMenu")
        </div>



    </div>
</section>


