﻿
@{
    ViewBag.Title = "MPLADSVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/rightMenu")
            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.MPLADSVideo</a></li>
                    </ul>
                </div>

                <div class="boxSearchMid">
                    <h4 class="main-title center">@RSWP_UI.Resources.Resource.MPLADSVideo</h4>
                    <div id="contentContainer" class="ShowData">
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th>@RSWP_UI.Resources.Resource.VideoGallery</th>
                                    </tr>
                                </thead>
                                <tbody id="memberList">
                                    @{ int count = 1;}
                                    @foreach (var item in ViewBag.list)
                                    {

                                        <tr class="border border-dark">
                                            <td>@count</td>
                                            <td>
                                                <a href="@item.FileUrl" target="_blank">@item.Tiltle [@item.FileType] (@item.FileSize)</a>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



