﻿
@{
    ViewBag.Title = "NominatedMember_Since1952";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div id="WholeContent">
                    <div id="content">
                        <div>
                            <br />
                            <div style="text-align:center;">
                                <span id="" style="font-size:14px;font-weight:bold;">@RSWP_UI.Resources.Resource.ListOfNominatedMembersSince1952</span>
                            </div>
                            <div style="text-align:center;">
                                <span id="" style="font-size:14px;font-weight:bold;">@RSWP_UI.Resources.Resource.TermAllWiseList</span>
                            </div>
                            <div class="pull-right" id="ViewAlpha">
                                <u>
                                    <a href="#" onclick="getAlphaRes()">@RSWP_UI.Resources.Resource.ViewAlphabeticalList</a>
                                </u>
                            </div>
                            <div class="pull-right" id="ViewTerm" hidden>
                                <u>
                                    <a href="#" onclick="getTermRes()">@RSWP_UI.Resources.Resource.ViewTermwiseList</a>
                                </u>
                            </div><br />
                            <div class="pull-right">
                                <input type="checkbox" id="showAllPhoto" value="img" /><label id="ShowPhoto"> @RSWP_UI.Resources.Resource.ShowPhoto </label>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                    <div class="ShowData">
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo.</th>
                                        <th class="photocolumn">@RSWP_UI.Resources.Resource.Photo</th>
                                        <th>@RSWP_UI.Resources.Resource.NAMEOFMEMBER</th>
                                        <th>@RSWP_UI.Resources.Resource.STATE_C</th>
                                        <th>@RSWP_UI.Resources.Resource.PARTY_C</th>
                                        <th>@RSWP_UI.Resources.Resource.TERMFromTo</th>
                                    </tr>
                                </thead>
                                <tbody id="memberList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">@RSWP_UI.Resources.Resource.Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<iframe id="txtArea1" style="display:none"></iframe>
<script>
    function getAlphaRes() {
        $('#ViewAlpha').hide();
        $('#ViewTerm').show();
    }
    function getTermRes() {
        $('#ViewAlpha').show();
        $('#ViewTerm').hide();
    }
</script>
<script>
    $(document).ready(function () {
        GetData();
    });
</script>
<script type="text/javascript">
    function GetData() {
        $.ajax({
            url: '@Url.Action("NominatedMemberSince1952_Result", "Members")',
            data: { },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                var check = '';
                $('#member_table tbody').empty();
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    if (check != data[i].MP_CODE) {
                        member_data += '<tr>';
                        member_data += '<td>' + count + '</td>';
                        member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';
                        member_data += '<td>' + data[i].mp_name + '</td>';
                        member_data += '<td>' + data[i].STATE_NAME + '</td>';
                        member_data += '<td>' + data[i].MP_PARTY_CODE + '</td>';
                        member_data += '<td>' + data[i].n_date + '&nbsp;' + '&nbsp;' + '&nbsp;' + '&nbsp;' + data[i].e_date + '</td>';
                        member_data += '</tr>';
                        count++;
                    }
                    else
                    {
                        member_data += '<tr>';
                        member_data += '<td>' + '&nbsp;' + '</td>';
                        member_data += '<td class="photocolumn">' + '&nbsp;'  + '</td>';
                        member_data += '<td>' + '&nbsp;' /*data[i].mp_name*/ + '</td>';
                        member_data += '<td>' + data[i].STATE_NAME + '</td>';
                        member_data += '<td>' + data[i].MP_PARTY_CODE + '</td>';
                        member_data += '<td>' + data[i].n_date + '&nbsp;' + '&nbsp;' + '&nbsp;' + '&nbsp;' + data[i].e_date + '</td>';
                        member_data += '</tr>';
                    }
                    check = data[i].MP_CODE;
                }
                $('#member_table tbody').append(member_data);
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $("#searchMember").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#memberList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // Photo Hide & Show
        $("#showAllPhoto").on('change', function () {
            var checked = $(this).is(':checked');
            if (checked == true) {
                $(".photocolumn").show();
            }
            else {
                $(".photocolumn").hide();
            }
        });

    });

    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#member_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#member_table th,#member_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#atoz{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });
    // Export to Excel
    $("#btnExport").click(function (e) {
        TableToExcel.convert(document.getElementById("member_table"));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

