﻿@model List<RSWP_UI.Models.DocumentModelView>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu", Model)

            <div class="col-md-6 boxMiddleBorder" id="members">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.OrientationProgram</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.OrientationProgram</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            @*@{
            bool result = false;
            bool.TryParse(Request.QueryString["archieve"], out result);
            if (Request.QueryString["archieve"] != null && result)
            {
                <h5> <a href="/Members/Orientation_Index?MenuId=25010&archieve=false"><p class="text-left">@RSWP_UI.Resources.Resource.Current</p></a></h5>
            }
            else
            {
                <h5> <a href="/Members/Orientation_Index?MenuId=25010&archieve=true"><p class="text-left">@RSWP_UI.Resources.Resource.Archives</p></a></h5>
            }
        }*@

                            <table class="table table-bordered">
                                <tr style="color:white;background-color: #C11E1B;padding:5px">
                                    <td>@RSWP_UI.Resources.Resource.SLNo</td>
                                    <td>@RSWP_UI.Resources.Resource.Title</td>
                                    <td>@RSWP_UI.Resources.Resource.Year</td>
                                </tr>
                                @{int count = 1; }
                                @foreach (var item in ViewBag.toprow)
                                {

                                <tr class="border border-dark">
                                    <td>@count</td>

                                    <td>
                                        <a href="@item.FileUrl" target="_blank">@item.Tiltle (@item.FileType, @item.FileSize)</a>
                                    </td>
                                    <td>
                                        @item.Year
                                    </td>
                                </tr>
                                    count++;

                                }
                            </table>
                            <br />
                            <br />
                            <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.OrientationProgramProceedings</h4>
                            <table class="table table-bordered">

                                <tr style="color:white;background-color: #C11E1B;padding:5px">
                                    <td>@RSWP_UI.Resources.Resource.SLNo</td>
                                    <td>@RSWP_UI.Resources.Resource.Title</td>
                                    <td>@RSWP_UI.Resources.Resource.Duration</td>
                                    <td>@RSWP_UI.Resources.Resource.Time</td>
                                    <td>@RSWP_UI.Resources.Resource.VenueAndPlace</td>
                                </tr>
                                @{count = 1; }
                                @foreach (var item in ViewBag.list)
                                {

                                <tr class="border border-dark">
                                    <td>@count</td>
                                    <td>
                                        <a href="@item.FileUrl" target="_blank">@item.Tiltle (@item.FileType, @item.FileSize)</a>
                                    </td>
                                    <td>@item.Duration</td>
                                    <td>@item.Time</td>
                                    <td>@item.Venue</td>
                                </tr>
                                    count++;
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>


