﻿
@{
    ViewBag.Title = "PartyPosition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6" id="question-center">
               
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>

