﻿

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">

            @Html.Partial("Partial/leftMenu")

            <div class="col-md-6 boxMiddleBorder" id="members">
                @*<div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"])
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>*@
                <div class="">
                    @{
                        bool result = false;
                        bool.TryParse(Request.QueryString["archieve"], out result);
                        if (Request.QueryString["archieve"] != null && result)
                        {
                            <h5> <a href="/Members/SalaryActAndRules_Index?MenuId=25009&archieve=false"><p class="text-left">@RSWP_UI.Resources.Resource.Current</p></a></h5>
                        }
                        else
                        {
                            <h5> <a href="/Members/SalaryActAndRules_Index?MenuId=25009&archieve=true"><p class="text-left">@RSWP_UI.Resources.Resource.Archives</p></a></h5>
                        }
                    }
                    <div class="box-mid">
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SLNo</th>
                                        <th>@RSWP_UI.Resources.Resource.FileName</th>
                                        <th>@RSWP_UI.Resources.Resource.Year</th>
                                    </tr>
                                </thead>
                                <tbody id="memberList">
                                    @{ int count = 1;}
                                    @foreach (var item in ViewBag.SalaryActList)
                                    {

                                    <tr class="border border-dark">
                                        <td>@count</td>
                                        <td>
                                            <a href="@item.FileUrl" target="_blank">@item.Tiltle [@item.FileType] (@item.FileSize)</a>
                                        </td>
                                        <td>
                                            @item.year
                                        </td>
                                    </tr>
                                        count++;

                                    }
                                </tbody>
                            </table>
                        </div>
                        @*<h4> <p class="text-center">@RSWP_UI.Resources.Resource.Member</p></h4>
                            <table class="table table-responsive table-bordered">

                            </table>
                            <h4> <p class="text-center">@RSWP_UI.Resources.Resource.Others</p></h4>
                            <table class="table table-responsive table-bordered">
                                @foreach (var item in Model.Where(x => x.RowType == "Others"))
                                {

                                    <tr class="border border-dark">
                                        <td>
                                            <a href="@item.FileUrl" target="_blank">@item.Tiltle [@item.FileType] (@item.FileSize)</a>
                                        </td>
                                    </tr>
                                }
                            </table>*@
                    </div>

                </div>
            </div>

            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>


