﻿@using RSWP_UI.Models.MemberViewModel
@using RSWP_UI.Common
@{
    ViewBag.Title = "SC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;font-weight:bold;">
                            <strong>
                                Secretary-General
                            </strong>
                        </h4>
                    </div>
                    @foreach (var item in (List<GetSecretaryGeneralViewModel>)Session["SecretaryGeneralData"])
                    {
                        <div class="row">
                            <p style="text-align:center;"><img class="DC" src="@item.PhotoName" style="width:20%;"></p>
                        </div>
                        <div>
                            <p style="text-align:center;">@item.INIT @item.FNAME @item.LNAME</p>
                        </div>
                        <div>
                            @MvcHtmlString.Create(HttpUtility.HtmlDecode(item.BIODATA));
                        </div>
                    }
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>

