﻿@using RSWP_UI.Models.MemberViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RSWP_UI.Resources.Resource.SessionWiseResults</title>
</head>
<body>
    <div class="constant">
        <div>
            <h5 style="text-align:center;"><strong> @RSWP_UI.Resources.Resource.STATEMENTSHOWINGTHETOTALNUMBEROFDAYSEACHMEMBERSIGNED </strong></h5>
        </div>
        <div>
            <h5 style="text-align:center;"><strong> THE MEMBERS' ATTENDANCE REGISTER OF @TempData["sessionCode"] SESSION </strong></h5>
        </div>
        <div>
            <h5 style="text-align:center;"><strong> @RSWP_UI.Resources.Resource.MonsoonSession </strong></h5>
        </div>
        <div>
            @{ DateTime date1 = Convert.ToDateTime(TempData["strSessionDate"]??0);}
            @{ DateTime date2 = Convert.ToDateTime(TempData["lstSessionDate"]??0);}
            <h5 style="text-align:center;"><strong> ( @date1.ToString("d/M/yyyy") To @date2.ToString("d/M/yyyy") ) </strong></h5>
        </div>
        <div style="text-align:center;">
            <label>Total No. of sittings: @TempData["totaldays"]</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <label>(@RSWP_UI.Resources.Resource.StatusAsOn @DateTime.Today.AddDays(-1).ToString("dd/MM/yyyy"))</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <label>@RSWP_UI.Resources.Resource.Currentnoofsittings: @TempData["sittingdays"]</label>
        </div>
        <br />
        <div class="ShowData" id="result" style="padding-left:20%;">
            <div class="searchResulltTabl">
                <table id="member_table" class="table table-striped table-bordered table-sm" border="1" style="width:75%;">
                    <thead>
                        <tr>
                            <th>@RSWP_UI.Resources.Resource.SNo.</th>
                            <th>@RSWP_UI.Resources.Resource.DivisionSeatNo.</th>
                            <th>@RSWP_UI.Resources.Resource.NameofMember_sm</th>
                            <th>@RSWP_UI.Resources.Resource.State</th>
                            <th>@RSWP_UI.Resources.Resource.Noofdaysmembersignedtheregister</th>
                        </tr>
                    </thead>
                    <tbody id="memberList">
                        <tr>
                            @{ int count = 0;}
                            @foreach (var item in (List<GetSessionViewModel>)Session["sessionWiseData"]??new List<GetSessionViewModel>())
                            {
                            <tr>
                                <td>@count</td>
                                <td>@item.divno</td>
                                <td>@item.name</td>
                                <td>@item.C_MP_STATE_CODE</td>
                                <td>@item.noofsittings</td>
                            </tr>
                            count++;
                        }
                        <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
