﻿@using RSWP_UI.Models.MemberViewModel
@{
    ViewBag.Title = "StateWiseSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div id="WholeContent">
                    <div id="content">
                        <div>
                            <br />
                            <div style="text-align:center;">
                                <span id="" style="font-size:12px;font-weight:bold;">@RSWP_UI.Resources.Resource.MEMBERSOFRAJYASABHASTATEWISELIST</span>
                            </div>
                            <div style="text-align:center;">
                                @{DateTime date = DateTime.Now; }
                                <span id="" style="font-size:12px;font-weight:bold;">@RSWP_UI.Resources.Resource.ASON :- @string.Format("{0:D}", date) </span>
                            </div>
                            <div class="pull-right">
                                <input type="button" id="btnExport" onclick="fnExcelReport();" value="Export to Excel" />
                            </div>
                        </div>
                        <br />
                        <br />
                        <div>
                            <table border="1" id="member_table" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">@RSWP_UI.Resources.Resource.NameofState</th>
                                        <th style="text-align:center;">@RSWP_UI.Resources.Resource.NoofSeats</th>
                                        <th style="text-align:center;">@RSWP_UI.Resources.Resource.NoOfMembers</th>
                                        <th style="text-align:center;">@RSWP_UI.Resources.Resource.Vacancies</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (List<GetStateViewModel>)Session["state"] ?? new List<GetStateViewModel>())
                                    {
                                        <tr>
                                            <td>@item.STATE_NAME (@item.STATE_CODE)</td>
                                            <td style="text-align:center;">@item.NO_SEATS</td>
                                            <td style="text-align:center;">@item.STATE_COUNT</td>
                                            @{ int count = item.NO_SEATS - item.STATE_COUNT;}
                                            <td style="text-align:center;">@count</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">@RSWP_UI.Resources.Resource.Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<iframe id="txtArea1" style="display:none"></iframe>
<script>
    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#member_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#member_table th,#member_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#atoz{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });
    // Export to Excel
    $("#btnExport").click(function (e) {
        TableToExcel.convert(document.getElementById("member_table"));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>