﻿
@{
    ViewBag.Title = "TermWiseFormerMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div id="WholeContent">
                    <div id="content">
                        <h5 style="text-align:center;">@RSWP_UI.Resources.Resource.ListofFormerMembersofRajyaSabhaTermWise</h5>
                        <div>
                            <div id="trm1TO7" class="cls_term">
                                <label>@RSWP_UI.Resources.Resource.TERMS :&emsp;</label>
                                <a href="" data-value=6 onClick="showDiv(6);">6&emsp;</a>
                                <a href="" data-value=5 onClick="showDiv(5);">5&emsp;</a>
                                <a href="" data-value=4 onClick="showDiv(4);">4&emsp;</a>
                                <a href="" data-value=3 onClick="showDiv(3);">3&emsp;</a>
                                <a href="" data-value=2 onClick="showDiv(2);">2&emsp;</a>
                                <a href="" data-value=1 onClick="showDiv(1);"><strong>1&emsp;</strong></a>
                            </div>
                            <div style="text-align:center;">
                                <span id="" style="font-size:12px;font-weight:bold;">@RSWP_UI.Resources.Resource.MembersWith1Terms</span>
                            </div>
                            <div class="pull-right">
                                <input type="checkbox" id="showAllPhoto" value="img" /><label id="ShowPhoto"> @RSWP_UI.Resources.Resource.ShowPhoto </label>
                                <input type="button" id="btnExport" onclick="fnExcelReport();" value="Export to Excel" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="ShowData" @*style="display:none"*@>
                        <div class="searchResulltTabl">
                            <table id="Term_wise_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th class="photocolumn">@RSWP_UI.Resources.Resource.PHOTO_C</th>
                                        <th>@RSWP_UI.Resources.Resource.NAMEOFMEMBER</th>
                                        <th>@RSWP_UI.Resources.Resource.STATE_C</th>
                                        <th>@RSWP_UI.Resources.Resource.PARTY_C</th>
                                        <th>@RSWP_UI.Resources.Resource.TERMFromTo</th>
                                        <th>@RSWP_UI.Resources.Resource.ReasonVacationDate</th>
                                    </tr>
                                </thead>
                                <tbody id="memberList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">@RSWP_UI.Resources.Resource.Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<iframe id="txtArea1" style="display:none"></iframe>
<script>
    $(document).ready(function () {
        GetData();
    });
</script>
<script type="text/javascript">
    function GetData() {
        $.ajax({
            url: '@Url.Action("FormerMemberTerm_Result", "Members")',
            data: { term: 1 },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#Term_wise_table tbody').empty();
                var count = 1;
                var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                for (var i = 0; i < data.length; i++) {
                        member_data += '<tr>';
                        member_data += '<td>' + count + '</td>';
                        member_data += '<td class="photocolumn"><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';
                        member_data += '<td>' + data[i].MPFULLNAME + '</td>';
                        member_data += '<td>' + data[i].STATE_NAME + '</td>';
                        member_data += '<td>' + data[i].PARTY_CODE + '</td>';
                        var value = new Date
                            (
                            parseInt(data[i].NOTIFICATION_DATE.replace(/(^.*\()|([+-].*$)/g, ''))
                    );
                    var date = value.getDate();
                    if (date < 10) {
                        date = '0' + date;
                    }
                    var month = value.getMonth() + 1;
                    if (month < 10) {
                        month = '0' + month;
                    }
                    var dat = "(" + date +
                            "/" +
                            month +
                            "/" +
                            value.getFullYear();
                        var value1 = new Date
                            (
                            parseInt(data[i].EXPIRATION_DATE.replace(/(^.*\()|([+-].*$)/g, ''))
                    );
                    var date1 = value1.getDate();
                    if (date1 < 10) {
                        date1 = '0' + date1;
                    }
                    var month1 = value1.getMonth() + 1;
                    if (month1 < 10) {
                        month1 = '0' + month1;
                    }
                    var dat1 = date1 +
                            "/" +
                            month1 +
                            "/" +
                            value1.getFullYear() + ")";
                        member_data += '<td>' + dat + '&nbsp;' + '-' + '&nbsp;' + dat1 + '</td>';
                        member_data += '<td>' + data[i].reason + '</td>';
                        member_data += '</tr>';
                        count++;
                }
                $('#Term_wise_table tbody').append(member_data);
                var totMem = 'Total No of Members :- ' + data.length;
                $('#totalMembers').text(totMem);
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }
</script>
<script>
    function showDiv(pageid) {
        $.ajax({
            url: '@Url.Action("FormerMemberTerm_Result", "Members")',
            data: { term: pageid},
            method: 'POST',
            success: function (data) {
                window.location.href = '@Url.Action("TermsWiseFormerMember", "Members")';
            },
            error: function ()
            {
                alert('Select term');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $("#searchMember").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#memberList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // Photo Hide & Show
        $("#showAllPhoto").on('change', function () {
            var checked = $(this).is(':checked');
            if (checked == true) {
                $(".photocolumn").show();
            }
            else {
                $(".photocolumn").hide();
            }
        });

    });

    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#Term_wise_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#Term_wise_table th,#Term_wise_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#trm1TO7{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });

    // Export to Excel
    $("#btnExport").click(function (e) {
        TableToExcel.convert(document.getElementById("Term_wise_table"));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>