﻿@using RSWP_UI.Models.MemberViewModel
@{
    ViewBag.Title = "TermsWiseFormerMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div id="WholeContent"">
                    <div id="content">
                        <h5 style="text-align:center;">@RSWP_UI.Resources.Resource.ListofFormerMembersofRajyaSabhaTermWise</h5>
                        <div>
                            <div class="cls_term" id="trm1TO7">
                                <label>@RSWP_UI.Resources.Resource.TERMS :&emsp;</label>
                                @if (Convert.ToInt32(TempData["res"]) == 7)
                                {
                                    <a href="" data-value=7 onClick="showDiv(7);"><strong>7&emsp;</strong></a>
                                }
                                else
                                {
                                    <a href="" data-value=7 onClick="showDiv(7);">7&emsp;</a>
                                }
                                @if (Convert.ToInt32(TempData["res"]) == 6)
                                {
                                    <a href="" data-value=6 onClick="showDiv(6);"><strong>6&emsp;</strong></a>
                                }
                                else
                                {
                                    <a href="" data-value=6 onClick="showDiv(6);">6&emsp;</a>
                                }
                                @if (Convert.ToInt32(TempData["res"]) == 5)
                                {
                                    <a href="" data-value=5 onClick="showDiv(5);"><strong>5&emsp;</strong></a>
                                }
                                else
                                {
                                    <a href="" data-value=5 onClick="showDiv(5);">5&emsp;</a>
                                }
                                @if (Convert.ToInt32(TempData["res"]) == 4)
                                {
                                    <a href="" data-value=4 onClick="showDiv(4);"><strong>4&emsp;</strong></a>
                                }
                                else
                                {
                                    <a href="" data-value=4 onClick="showDiv(4);">4&emsp;</a>
                                }
                                @if (Convert.ToInt32(TempData["res"]) == 3)
                                {
                                    <a href="" data-value=3 onClick="showDiv(3);"><strong>3&emsp;</strong></a>
                                }
                                else
                                {
                                    <a href="" data-value=3 onClick="showDiv(3);">3&emsp;</a>
                                }
                                @if (Convert.ToInt32(TempData["res"]) == 2)
                                {
                                    <a href="" data-value=2 onClick="showDiv(2);"><strong>2&emsp;</strong></a>
                                }
                                else
                                {
                                    <a href="" data-value=2 onClick="showDiv(2);">2&emsp;</a>
                                }
                                @if (Convert.ToInt32(TempData["res"]) == 1)
                                {
                                    <a href="" data-value=1 onClick="showDiv(1);"><strong>1&emsp;</strong></a>
                                }
                                else
                                {
                                    <a href="" data-value=1 onClick="showDiv(1);">1&emsp;</a>
                                }
                            </div>
                            <div style="text-align:center;">
                                <span id="" style="font-size:12px;font-weight:bold;">Members With @TempData["res"] Term(s)</span>
                            </div>
                            <div class="pull-right">
                                <input type="checkbox" id="showAllPhoto" value="img" /><label id="ShowPhoto"> @RSWP_UI.Resources.Resource.ShowPhoto </label>
                                <input type="button" id="btnExport" onclick="fnExcelReport();" value="Export to Excel" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="ShowData" @*style="display:none"*@>
                        <div class="searchResulltTabl">
                            <table id="Term_wise_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th class="photocolumn">@RSWP_UI.Resources.Resource.PHOTO_C</th>
                                        <th>@RSWP_UI.Resources.Resource.NAMEOFMEMBER</th>
                                        <th>@RSWP_UI.Resources.Resource.STATE_C</th>
                                        <th>@RSWP_UI.Resources.Resource.PARTY_C</th>
                                        <th>@RSWP_UI.Resources.Resource.TERMFromTo</th>
                                        <th>@RSWP_UI.Resources.Resource.ReasonVacationDate</th>
                                    </tr>
                                </thead>
                                <tbody id="memberList">
                                    @{int count = 1;}
                                    @{var pic = "";}
                                    @{var check = "";}
                                    @{var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";}
                                    @foreach (var item in (List<GetFormerMemberViewModel>)Session["FormerTerm"] ?? new List<GetFormerMemberViewModel>())
                                    {
                                        if (item.totalcount == Convert.ToInt32(TempData["res"] ?? 0))
                                        {
                                            if (check != item.MP_CODE.ToString())
                                            {
                                                pic = imagePath + item.MP_CODE + ".jpg";
                                                <tr>
                                                    <td>@count</td>
                                                    <td class="photocolumn"><img class="membersmallpic" src="@pic"></td>
                                                    <td>@item.MPFULLNAME</td>
                                                    <td>@item.STATE_NAME</td>
                                                    <td>@item.PARTY_CODE</td>
                                                    <td>(@item.NOTIFICATION_DATE.ToString("dd/MM/yyyy") &nbsp;&nbsp;&nbsp;&nbsp; @item.EXPIRATION_DATE.ToString("dd/MM/yyyy"))</td>
                                                    <td>@item.reason</td>
                                                </tr>
                                                count++;
                                            }
                                            else
                                            {
                                                pic = imagePath + item.MP_CODE + ".jpg";
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td class="photocolumn">&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>@item.STATE_NAME</td>
                                                    <td>@item.PARTY_CODE</td>
                                                    <td>(@item.NOTIFICATION_DATE.ToString("dd/MM/yyyy") &nbsp;&nbsp;&nbsp;&nbsp; @item.EXPIRATION_DATE.ToString("dd/MM/yyyy"))</td>
                                                    <td>@item.reason</td>
                                                </tr>
                                            }
                                            check = item.MP_CODE.ToString();
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" id="btnPrint" href="#">@RSWP_UI.Resources.Resource.Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/rightMenu")
        </div>
    </div>
</section>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<iframe id="txtArea1" style="display:none"></iframe>
<script>
    function showDiv(pageid) {
        $.ajax({
            url: '@Url.Action("FormerMemberTerm_Result", "Members")',
            data: { term: pageid},
            method: 'POST',
            success: function (data) {
                window.location.href = '@Url.Action("TermsWiseFormerMember", "Members")';
            },
            error: function ()
            {
                alert('Select term');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $("#searchMember").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#memberList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // Photo Hide & Show
        $("#showAllPhoto").on('change', function () {
            var checked = $(this).is(':checked');
            if (checked == true) {
                $(".photocolumn").show();
            }
            else {
                $(".photocolumn").hide();
            }
        });

    });

    // Print
    var htmlToPrint = '' + '<style type="text/css">' + '#Term_wise_table{ font-family: Arial;' + 'font-size:small;' + 'margin-right:10px;' + 'border-collapse: collapse;' + 'border : 1px solid black;' + 'width:100%;}' + '#Term_wise_table th,#Term_wise_table td{border-collapse: collapse;border:1px solid black;padding:2px;}' + '.membersmallpic { width: 30px;}' + ' #searchMember,#btnReset,#showAllPhoto,#btnExport,#memberSearchheading,#ShowPhoto,#trm1TO7{display:none;} </style>';
    $("#btnPrint").click(function (e) {
        debugger;
        window.frames["print_frame"].document.body.innerHTML = htmlToPrint + document.getElementById("WholeContent").innerHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();
    });

    // Export to Excel
    $("#btnExport").click(function (e) {
        TableToExcel.convert(document.getElementById("Term_wise_table"));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
