﻿
@{
    ViewBag.Title = "BirthdayToday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get BirhtdayWise Wise Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_TodayLeftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <div>
                            <h4 style="text-align:center;">
                                <strong>
                                    Birthday of Members of Parliament,
                                    Rajya Sabha
                                </strong>
                            </h4>
                        </div>
                        <div style="text-align:center;">
                            <strong>
                                @DateTime.Now.ToString("dd/MM/yyyy")
                            </strong>
                        </div>
                    </div>
                    <br />
                    <div id="ShowNoData" style="text-align:center;"></div>
                    <div class="ShowData" id="ShowData" style="display:none">
                        <div class="searchResulltTabl">
                            <table id="member_table" class="table table-striped table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th>@RSWP_UI.Resources.Resource.SNo</th>
                                        <th>@RSWP_UI.Resources.Resource.Name</th>
                                        <th>@RSWP_UI.Resources.Resource.Photo</th>
                                    </tr>
                                </thead>
                                <tbody id="memberList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/_TodayRightMenu")
        </div>
    </div>
</section>

<!--Get Alphabet Result-->
<script>
    $(document).ready(function () {
        GetData();
    });
</script>
<script type="text/javascript">
    function GetData() {
        $.ajax({
            url: '@Url.Action("Alphabetical_Result", "Today")',
            data: { },
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                $('#member_table tbody').empty();
                var count = 1;
                var d = new Date();
                var todayDay = d.getDate();
                var todayMonth = d.getMonth() + 1;
                for (var i = 0; i < data.length; i++) {
                    var imagePath = "https://rajyasabha.nic.in/rsnew/member_site/photos/P";
                    if (data[i].DATE_BIRTH != "") {
                        if (data[i].DATE_BIRTH != null) {
                            var dataMonth = data[i].DATE_BIRTH.split('/');
                            var dataMonthValue = dataMonth[1];
                            var dataDayValue = dataMonth[0];
                            if (dataDayValue == todayDay && dataMonthValue == todayMonth)
                            {
                                member_data += '<tr>';
                                member_data += '<td>' + count + '</td>';
                                member_data += '<td>' + '<a href="#" class="link">' + data[i].MP_NAME + '</a>' + '<br/>' + data[i].PARTY_CODE + '<br/>' + data[i].STATE_NAME + '<br/>' + data[i].EMAIL_ID + '</td>';
                                member_data += '<td class=""><img class="membersmallpic" src="' + imagePath + data[i].MP_CODE + ".jpg" + '"></td>';
                                member_data += '</tr>';
                                count++;
                            }
                        }
                    }
                }
                //var totalcount = i - 1;
                if (count != 1) {
                    $('#ShowData').show();
                    $('#member_table tbody').append(member_data);
                    var totMem = 'Total No of Members :- ' + data.length;
                    $('#totalMembers').text(totMem);
                }
                else {
                    var noData = 'No Member has Birthday Today';
                    $('#ShowNoData').text(noData);
                }
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }
</script>

