﻿@model RSWP_UI.Models.DocumentModelView
    @{
        ViewBag.Title = "BulletinTwo";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <section class="row contentRow bgRajhSabha">
        <div class="container-fluid bgWhiteConter">
            <div class="row">
                @Html.Partial("Partial/_TodayLeftMenu")
                <div class="col-md-6 boxMiddleBorder" id="business-center">
                    <div class="broadComTab">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

                            <li><a href="#">@RSWP_UI.Resources.Resource.TodayInRS</a></li>
                            <li><a href="#">@RSWP_UI.Resources.Resource.BulletinPartI__Latest</a></li>
                        </ul>
                    </div>
                    <div class="boxSearchMid">
                        <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.BulletinPartI__Latest</h4>
                    </div>
                    <div id="contentContainer" class="ShowData">
                        @Html.Partial("Partial/_ListofBusiness", Model)
                    </div>
                </div>
                @Html.Partial("Partial/_TodayRightMenu")
            </div>
        </div>
        
    </section>

