﻿@model RSWP_UI.Models.DiscussionsViewModel
@{
    ViewBag.Title = "CommitteeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_TodayLeftMenu")
            <div class="col-md-9 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

                        <li><a href="#">@RSWP_UI.Resources.Resource.TodayInRS</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.CommitteeReports</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h4 class="text-center rcolor">@RSWP_UI.Resources.Resource.CommitteeReports</h4>
                    <a href="#" style="margin-left:830px" role="button" target="_blank" aria-pressed="true">@RSWP_UI.Resources.Resource.OpenInNewWindow</a>
                </div>
                <div id="contentContainer" class="ShowData">
                    @Html.Partial("Partial/_ListofBusiness",Model)
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

