﻿@using RSWP_UI.Models.TodayInRSViewModel
@{
    ViewBag.Title = "Government_Bills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Today Meeting Committee Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_TodayLeftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;"><strong>Government Bills</strong></h4>
                    </div>
                </div>
                <br />
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table id="member_table" class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Session No.</th>
                                    <th>Bill No. of Year</th>
                                    <th>Title</th>
                                    <th>Ministry</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody id="memberList">
                                @{ int cnt = 1;}
                                @foreach (var item in (List<GetGovBillsViewModel>)Session["GetGovBills"])
                                {
                                    if (item.Sitting_Date.ToString("dd/MM/yyyy") == DateTime.Now.ToString("dd/MM/yyyy"))
                                    {
                                        <tr>
                                            <td>@item.sessionno</td>
                                            <td>@item.Bill_No of @item.Year</td>
                                            <td>@item.Bill_Title</td>
                                            <td>@item.ministry</td>
                                            <td><a href="@item.link" target="_blank">English</a> <a href="#">Hindi</a><br /></td>
                                        </tr>
                                        cnt++;
                                    }
                                }
                            </tbody>
                        </table>
                        @if(cnt==1)
                        {
                            <div style="text-align:center;"><h4><strong>No Bill</strong></h4></div>
                        }
                    </div>
                </div>
            </div>
            @Html.Partial("Partial/_TodayRightMenu")
        </div>
    </div>
</section>

