﻿@using RSWP_UI.Models.TodayInRSViewModel
@{
    ViewBag.Title = "MeetingList_ThisWeek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get This Week Meeting Committee Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_TodayLeftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h5 style="text-align:center;"><strong>Parliamentary Committees</strong></h5>
                        <h5 style="text-align:center;"><strong>COMMITTEE MEETINGS</strong></h5>
                        <h5 style="text-align:center;"><strong>ALL</strong></h5>
                        <h5 style="text-align:center;">From:- @DateTime.Now.ToString("dd/MM/yyyy") To:- @DateTime.Now.AddDays(7).ToString("dd/MM/yyyy")</h5>
                    </div>
                </div>
                <br />
                @{ int count = 0;}
                @foreach (var item in (List<AllCommitteeMeetingListViewModel>)Session["MeetingList"])
                {
                    foreach (var res in (List<AllCommitteeMeetingListViewModel>)Session["AllMeetingList"])
                    {
                        if (item.comName == res.comName && DateTime.Parse(res.dmeetdate) >= DateTime.Parse(DateTime.Now.ToString("dd-MMM-yyyy")) && DateTime.Parse(res.dmeetdate) <= DateTime.Parse(DateTime.Now.AddDays(7).ToString("dd-MMM-yyyy")))
                        {
                            <h4 style="text-align:center;"><strong>@item.comName</strong></h4>
                            <div class="ShowData">
                                <div @*class="searchResulltTabl"*@>
                                    <table id="member_table" class="table table-striped table-bordered table-sm">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Meeting No</th>
                                                <th>Venue & Place </th>
                                                <th>Agenda</th>
                                            </tr>
                                        </thead>
                                        <tbody id="memberList">
                                            <tr>
                                                <td>@res.dmeetdate</td>
                                                <td>@res.meet_time</td>
                                                <td>@res.nmeetno</td>
                                                <td>@res.vvenuename</td>
                                                <td>@res.agenda</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            count++;
                            break;
                        }
                    }
                }
                @if (count == 0)
                {
                    <h4 style="text-align:center;color:red;"><strong>Record Not Found</strong></h4>
                }
                <br />
                <p>
                    Disclaimer :- Database includes details only in respect of Parliamentary Committees in which Rajya Sabha is represented. While every effort has been made to incorporate changes in planned programmes, on account of postponement, rescheduling, Cancellation etc. Members of Committees are advised to reconfirm with the Committee Secretariat concerned.
                </p>
            </div>
            @Html.Partial("Partial/_TodayRightMenu")
        </div>
    </div>
</section>

