﻿
@{
    ViewBag.Title = "Private_Bills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Get Today Meeting Committee Page-->
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_TodayLeftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;"><strong>Private Bills</strong></h4>
                    </div>
                    <br />
                    <div style="text-align:center;"><h4><strong>No Bill</strong></h4></div>
                </div>
                <br />
            </div>
            @Html.Partial("Partial/_TodayRightMenu")
        </div>
    </div>
</section>

