﻿@model RSWP_UI.Models.TodayAtGlanceViewModel
@using RSWP_UI.Common;
@{
    ViewBag.Title = "BusinessList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partial/_TodayLeftMenu")
            <div class="col-md-6 boxMiddleBorder" id="business-center">
                <div class="broadComTab">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">[@RSWP_UI.Resources.Resource.Home]</a></li>

                        <li><a href="#">@RSWP_UI.Resources.Resource.TodayInRS</a></li>
                        <li><a href="#">@RSWP_UI.Resources.Resource.TodayataGlance</a></li>
                    </ul>
                </div>
                <div class="boxSearchMid">
                    <h3 class="text-center rcolor">Rajya Sabha</h3>
                    <div class="box-midd">
                        <h4 class="text-center">@RSWP_UI.Resources.Resource.TodayinRajyaSabha : @string.Format("{0:D}", DateTime.Now) @*Thursday, Novermber, 01, 2018*@</h4>
                        <h5 class="text-center text-red">@RSWP_UI.Resources.Resource.RajyaSabhaCurrentlyNotInSession</h5>
                        <div class="memberListAraSearch">
                            <div class="row">
                                <div class="searchResulltTabl">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th width="20%">@RSWP_UI.Resources.Resource.LOB</th>
                                                <th width="20%">@RSWP_UI.Resources.Resource.PLOT</th>
                                                <th width="20%">@RSWP_UI.Resources.Resource.BP1</th>
                                                <th width="20%">@RSWP_UI.Resources.Resource.BP2</th>
                                                <th width="20%">@RSWP_UI.Resources.Resource.Synopsis</th>
                                                <th width="20%">@RSWP_UI.Resources.Resource.UnCorrectedDebate</th>
                                                <th width="20%">@RSWP_UI.Resources.Resource.StarredQuestionList</th>
                                                <th width="20%">@RSWP_UI.Resources.Resource.UnStarredQuestionList</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (int i = 0; i <= 2; i++)
                                    {
                                        <tr>
                                            @if (i == 0)
                                    {
                                        //Current Day
                                        <td>
                                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Current].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Current].FileUrl==null?"":"_blank")">
                                                <center>
                                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Current].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.CurrentDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Current].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                                </center>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Current].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Current].FileUrl==null?"":"_blank")">

                                                <center>
                                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Current].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.CurrentDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Current].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                                </center>
                                            </a>
                                        </td>

                                        <td>
                                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Current].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Current].FileUrl==null?"":"_blank")">
                                                <center>
                                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Current].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.CurrentDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Current].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                                </center>
                                            </a>
                                        </td>

                                        <td>
                                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Current].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Current].FileUrl==null?"":"_blank")">
                                                <center>

                                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Current].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.CurrentDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Current].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                                </center>
                                            </a>
                                        </td>

                                        <td>
                                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Current].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Current].FileUrl==null?"":"_blank")">
                                                <center>

                                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Current].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.CurrentDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Current].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                                </center>
                                            </a>
                                        </td>

                                        <td>
                                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Current].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Current].FileUrl==null?"":"_blank")">

                                                <center>
                                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Current].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.CurrentDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Current].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                                </center>
                                            </a>
                                        </td>

                                        <td>
                                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Current].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Current].FileUrl==null?"":"_blank")">
                                                <center>

                                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Current].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.CurrentDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Current].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                                </center>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Current].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Current].FileUrl==null?"":"_blank")">

                                                <center>
                                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Current].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.CurrentDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Current].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                                </center>
                                            </a>
                                        </td>


                            }
                            else if (i == 1)
                            {
                                //Previous day
                                <td>
                                    <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Previous].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Previous].FileUrl==null?"":"_blank")">
                                        <center>
                                            @(Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Previous].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.PreviousDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Previous].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                        </center>
                                    </a>
                                </td>
                                <td>
                                    <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Previous].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Previous].FileUrl==null?"":"_blank")">
                                        <center>

                                            @(Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Previous].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.PreviousDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Previous].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                        </center>
                                    </a>
                                </td>

                                <td>
                                    <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Previous].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Previous].FileUrl==null?"":"_blank")">
                                        <center>
                                            @(Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Previous].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.PreviousDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Previous].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                        </center>
                                    </a>
                                </td>

                                <td>
                                    <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Previous].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Previous].FileUrl==null?"":"_blank")">
                                        <center>

                                            @(Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Previous].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.PreviousDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Previous].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                        </center>
                                    </a>
                                </td>

                                <td>
                                    <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Previous].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Previous].FileUrl==null?"":"_blank")">

                                        <center>
                                            @(Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Previous].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.PreviousDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Previous].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                        </center>
                                    </a>
                                </td>

                                <td>
                                    <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Previous].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Previous].FileUrl==null?"":"_blank")">

                                        <center>
                                            @(Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Previous].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.PreviousDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Previous].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                        </center>
                                    </a>
                                </td>

                                <td>
                                    <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Previous].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Previous].FileUrl==null?"":"_blank")">

                                        <center>
                                            @(Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Previous].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.PreviousDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Previous].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                        </center>
                                    </a>
                                </td>
                                <td>
                                    <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Previous].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Previous].FileUrl==null?"":"_blank")">

                                        <center>
                                            @(Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Previous].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.PreviousDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Previous].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                        </center>
                                    </a>
                                </td>

                    }
                    else
                    {
                        //Next Day

                        <td>
                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Next].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Next].FileUrl==null?"":"_blank")">
                                <center>
                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Next].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.NextDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.ListOfBusiness + "_" + CommanConstant.Next].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                </center>
                            </a>
                        </td>
                        <td>
                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Next].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Next].FileUrl==null?"":"_blank")">

                                <center>
                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Next].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.NextDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.PaperToBeLaid + "_" + CommanConstant.Next].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                </center>
                            </a>
                        </td>

                        <td>
                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Next].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Next].FileUrl==null?"":"_blank")">
                                <center>
                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Next].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.NextDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.TableBulletin1 + "_" + CommanConstant.Next].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                </center>
                            </a>
                        </td>

                        <td>
                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Next].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Next].FileUrl==null?"":"_blank")">

                                <center>
                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Next].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.NextDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.Bulletin2 + "_" + CommanConstant.Next].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                </center>
                            </a>
                        </td>

                        <td>
                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Next].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Next].FileUrl==null?"":"_blank")">
                                <center>

                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Next].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.NextDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.Synopsis + "_" + CommanConstant.Next].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                </center>
                            </a>
                        </td>

                        <td>
                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Next].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Next].FileUrl==null?"":"_blank")">
                                <center>

                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Next].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.NextDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.UnCorrectedDebates + "_" + CommanConstant.Next].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                </center>
                            </a>
                        </td>

                        <td>
                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Next].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Next].FileUrl==null?"":"_blank")">

                                <center>
                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Next].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.NextDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.StarredQuestionList + "_" + CommanConstant.Next].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                </center>
                            </a>
                        </td>
                        <td>
                            <a href="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Next].FileUrl??"#")" target="@(Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Next].FileUrl==null?"":"_blank")">

                                <center>
                                    @(Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Next].FileUrl == null ? "-" : RSWP_UI.Resources.Resource.NextDay + "(" + Model.TodayAtGlanceDocumentList[CommanConstant.UnStarredQuestionList + "_" + CommanConstant.Next].selectedDate.Value.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture) + ")")
                                </center>
                            </a>
                        </td>

            }
                                        </tr>
                            }

                                        </tbody>
                                    </table>
                                </div>
                                <form>
                                    <div class="col-sm-12 text-center">

                                        <a class="btn btn-default" href="http://rajyasabha.nic.in/rsnew/rulings/ar405eng.exe">Download Acrobat Reader</a>
                                        <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                        <!--<button type="button" class="btn btn-default reduce">Reduce Width&nbsp;&lt;&lt; </button>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("Partial/_TodayRightMenu")
        </div>
    </div>
</section>

