﻿@using RSWP_DOM.Common
@model IEnumerable<RecruitmentCell>
<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RecruitmentCell @RSWP_UI.Resources.Resource.RajyaSabhaSecretariat</h3>
    <div class="box-midd">
        <table width="101%" id="box_table_c">
            <tbody>
                @{
                    if (Model.Count() > 0)
                    {

                        foreach (var data in Model)
                        {
                            if (data.Flag == "OCareers")
                            {
                                <tr>
                                    <td>
                                        <h4><b>@RSWP_UI.Resources.Resource.OpenCompetativeExamination</b></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Raw(data.ExamDescription)
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <h4><b>@RSWP_UI.Resources.Resource.DepartmentalExamination</b></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.Raw(data.ExamDescription2)
                                    </td>
                                </tr>
                            }

                        }

                    }
                    else
                    {
                        <tr>
                            <td align="center">@RSWP_UI.Resources.Resource.NoRecordsFound</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<div class="memberListAraSearch">
    <div class="row">
        <form>
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
            </div>
        </form>
    </div>
</div>

