﻿<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.ContactsUS</h3>
    <div class="box-midd">
        <div class="sectionBox">
            <p align="center">
                @RSWP_UI.Resources.Resource.RecruitmentCell<br />
                @RSWP_UI.Resources.Resource.RajyaSabhaSecretariat<br />
                @RSWP_UI.Resources.Resource.RecruitmentCellAddress_629TerraceFloor <br />
                @RSWP_UI.Resources.Resource.RecruitmentCellAddress_ParliamentHouseAnnexe<br />
                @RSWP_UI.Resources.Resource.RecruitmentCellAddress_NewDelhi - 110 001<br />
                <br />
                @RSWP_UI.Resources.Resource.EMail - recruitmentcell.rs@nic.in
            </p>
        </div>
    </div>
</div>
