﻿@using RSWP_DOM.Common
@model IEnumerable<RecruitmentCell>
<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.CareersInRajyaSabhaSecretariat</h3>
    <div class="box-midd">
        <div class="graph-sec single-member-content">
            <h4>@RSWP_UI.Resources.Resource.DownloadADMITCARD</h4>
            <div class="searchResulltTabl">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="5%">@RSWP_UI.Resources.Resource.SNo</th>
                            <th width="95%">@RSWP_UI.Resources.Resource.Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count() > 0)
                            {
                                var index = 0;
                                foreach (var data in Model)
                                {
                                    index += 1;
                                    <tr>
                                        <td>@index</td>
                                        <td><a href="@data.URL" target="_blank">@data.Title</a></td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="2" align="center">@RSWP_UI.Resources.Resource.NoRecordsFound</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

