﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.Careers</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("Index", new { queryType = "RecruitmentRules" })" class="active" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Recruitment Rules">@RSWP_UI.Resources.Resource.RecruitmentRules</a></li>
            <li><a data-toggle="collapse" href="#careersCollapse" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Careers">@RSWP_UI.Resources.Resource.Careers</a></li>
            <ul id="careersCollapse" class="nest-ul panel-collapse collapse">
                <li class="ar"><a href="@Url.Action("Index", new { queryType = "OCareers" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Careers Open Competative Examination">@RSWP_UI.Resources.Resource.OpenCompetativeExamination</a></li>
                <li class="ar"><a href="@Url.Action("Index", new { queryType = "DCareers" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Careers Departmental Examination">@RSWP_UI.Resources.Resource.DepartmentalExamination</a></li>
            </ul>
            <li><a data-toggle="collapse" href="#forthcomingCollapse" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Forthcoming Examination">@RSWP_UI.Resources.Resource.ForthcomingExamination</a></li>
            <ul id="forthcomingCollapse" class="nest-ul panel-collapse collapse">
                <li class="ar"><a href="@Url.Action("Index", new { queryType = "FOCExamination" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Forthcoming Examination Open Competative Examination">@RSWP_UI.Resources.Resource.OpenCompetativeExamination</a></li>
                <li class="ar"><a href="@Url.Action("Index", new { queryType = "FDExamination" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Forthcoming Examination Departmental Examination">@RSWP_UI.Resources.Resource.DepartmentalExamination</a></li>
            </ul>
            <li><a data-toggle="collapse" href="#schemeCollapse" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Scheme Of Examination">@RSWP_UI.Resources.Resource.SchemeOfExamination</a></li>
            <ul id="schemeCollapse" class="nest-ul panel-collapse collapse">
                <li class="ar"><a href="@Url.Action("Index", new { queryType = "SOCExamination" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Scheme Of Examination Open Competative Examination">@RSWP_UI.Resources.Resource.OpenCompetativeExamination</a></li>
                <li class="ar"><a href="@Url.Action("Index", new { queryType = "SDExamination" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Scheme Of Examination Departmental Examination">@RSWP_UI.Resources.Resource.DepartmentalExamination</a></li>
            </ul>
            <li><a data-toggle="collapse" href="#syllabusCollapse" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Syllabus Of Examinations">@RSWP_UI.Resources.Resource.SyllabusOfExaminations</a></li>
            <ul id="syllabusCollapse" class="nest-ul panel-collapse collapse">
                <li class="ar"><a href="@Url.Action("Index", new { queryType = "SYOCExamination" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Syllabus Of Examinations Open Competative Examination">@RSWP_UI.Resources.Resource.OpenCompetativeExamination</a></li>
                <li class="ar"><a href="@Url.Action("Index", new { queryType = "SYDExamination" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Syllabus Of Examinations Departmental Examination">@RSWP_UI.Resources.Resource.DepartmentalExamination</a></li>
            </ul>
            <li><a href="@Url.Action("Index", new { queryType = "LatestAdvertisments" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Latest Advertisments">@RSWP_UI.Resources.Resource.LatestAdvertisments</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "DACard" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Download ADMIT CARD">@RSWP_UI.Resources.Resource.DownloadADMITCARD</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "StatusOfApplication" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Status Of Application">@RSWP_UI.Resources.Resource.StatusOfApplication</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "ESchedule" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Examination Schedule">@RSWP_UI.Resources.Resource.ExaminationSchedule</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "CInstruction" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Instruction To The Candidates">@RSWP_UI.Resources.Resource.InstructionToTheCandidates</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "Result" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Result">@RSWP_UI.Resources.Resource.Result</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "Disclaimer" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Disclaimer">@RSWP_UI.Resources.Resource.Disclaimer</a></li>
            <li><a href="@Url.Action("Index", new { queryType = "ContactUs" })" data-section="Careers in Rajya Sabha Secretariat" data-subsection="Careers" data-module="Contacts Us">@RSWP_UI.Resources.Resource.ContactsUS</a></li>
        </ul>
    </div>
</div>