﻿@using RSWP_DOM.Common
@model IEnumerable<RecruitmentCell>
<div class="boxSearchMid">
    <h3 class="text-center rcolor">@RSWP_UI.Resources.Resource.RecruitmentCell @RSWP_UI.Resources.Resource.RajyaSabhaSecretariat</h3>
    <div class="box-midd">
        <h4><b>@RSWP_UI.Resources.Resource.RecruitmentRules</b></h4>
        <table width="101%" id="box_table_c">
            <tbody>
                
                @{
                    if (Model.Count() > 0)
                    {

                        foreach (var data in Model)
                        {
                            <tr>
                                <td>
                                    <ul class="notice-ul">
                                        <li><a href="@data.FilePath" target="_blank"><i class="fas fa-angle-double-right hand-link-icon"></i><strong>@data.Title<i class="fas fa-file-pdf pdf-r"></i></strong></a></li>
                                    </ul>
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td align="center">@RSWP_UI.Resources.Resource.NoRecordsFound</td>
                        </tr>
                    }
                }
                
            </tbody>
        </table>
    </div>
</div>

<div class="memberListAraSearch">
    <div class="row">
        <form>
            <div class="col-sm-12 text-right">
                <a class="btn btn-default" href="@Url.Action("Index", new { queryType = "archiveRecruitmentRules" })">@RSWP_UI.Resources.Resource.Archive</a>
            </div>
        </form>
    </div>
</div>
