﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.Archives</h4>
        <ul class="sideBarList height-s">
            <li><a href="#">Recruitment Advt.No.1/2017 (in engilsh)  (in Hindi) - [18/08/2017]</a></li>
            <li><a href="#">Recruitment Advt.No.1/2016 (in engilsh)  (in Hindi) - [29/08/16]</a></li>
            <li><a href="#">Personal Assistant (Departmental) (in engilsh)  - [12/10/12]</a></li>
            <li><a href="#">Advertisement No. 1 /2011 (in engilsh)  - [20/12/11]</a></li>
            <li><a href="#">Applications invited for posts in JIC (in engilsh)   - [29/07/11]</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.NoticeBoard</h4>
        <ul class="sideBarList height-s">
            <li><a href="#"> No change in schedule of any Exam/Test (Advt. No.1/2017)</a></li>
            <li><a href="#"> Conduct of Main Examination for the post of Translator – Advt. No. 1/2017</a></li>
            <li><a href="#"> Dates for Written Test/Main Examination for various posts advertised vide Advt. No. 1/2017</a></li>
            <li><a href="#"> Conduct of Main Examination for the post of Assistant Legislative/ Committee/ Protocol/Executive Officer – Advt. No. 1/2017</a></li>
            <li><a href="#"> Modification in General Instructions contained in Advt. No. 1/2017.</a></li>
            <li><a href="#"> Downloading of Admit Cards for Physical Measurement and Physical Fitness Tests for the post of Security Assistant Gr. II – Advt. No. 1/2017</a></li>
            <li><a href="#"> Schedule of Examinations for various posts advertised vide Advt. No. 1/2017</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.Result</h4>
        <ul class="sideBarList height-s">
            <li><a href="#"> List of candidates being recommended for appointment in the grade of Secretariat Assistant (Departmental Examination)</a></li>
            <li><a href="#"> Result of Typing Test 40 w.p.m for appointment in the grade of Secretariat Assistant (Departmental Examination) held on 01st September, 2018</a></li>
            <li><a href="#"> List of candidates recommended for appointment to the post of Translator -Advt. No. 1/2016</a></li>
            <li><a href="#"> Statement of marks obtained by the candidates who appeared in the Interview for the post of Translator held from 25th to 29th June, 2018- Advt. No. 1/2016</a></li>
            <li><a href="#">List of candidates being recommended for appointment to the posts of Jr. Parliamentary Interpreter(English/Hindi), Jr. Parliamentary Interpreter(Assamese), and Jr. Parliamentary Interpreter(Urdu) -Advt. No. 1/2016</a></li>
            <li><a href="#"> Statement of marks obtained by the candidates in the Interview for the posts of Jr. Parliamentary Interpreter (English/Hindi), Jr. Parliamentary Interpreter (Assamese), Jr. Parliamentary Interpreter (Urdu) held on 12th June, 2018 - Advt.No. 1/2016</a></li>
        </ul>
    </div>
</div>
