﻿@using RSWP_DOM.Common
<div class="boxSearchMid">
    <h3 class="text-center rcolor"> @RSWP_UI.Resources.Resource.Disclaimer</h3>
    <div class="box-midd">
        
            <p>This is the official website of the Recruitment Cell, Rajya Sabha Secretariat having its office at Room No. 629, Terrace Floor, Parliament House Annexe, New Delhi. The website is owned and operated by the Rajya Sabha Secretariat.<br/><br />

      The contents of this site are primarily informative in nature and intended for the use of prospective candidates only. While every effort has been made to provide updated and correct data, the information available in the records of Recruitment Cell should alone be treated as authentic. The Recruitment Cell hereby disclaims any and all liability to an individual person/organisation for any loss or damage caused for any action taken on the basis of information available on the website, which may not be correct, due to omission, clerical errors, delay in updating, or any other reason whatsoever. Visitors are advised to cross-check with the official records of the Cell, before taking any action on the basis of the information available on the website.<br /><br />

      No material from this website can be copied, reproduced, published, uploaded, posted, transmitted, distributed or dealt with in any other manner either in whole or in parts, unless expressly authorised.</p>
            

        
    </div>
</div>





