﻿@using RSWP_DOM.Common
@model IEnumerable<RecruitmentCell>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha" id="mainsec">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h1 class="main-title center">@RSWP_UI.Resources.Resource.CareersInRajyaSabhaSecretariat</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Partial("Partials/leftMenu")

            <div class="col-md-6 boxMiddleBorder" id="careers">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"])
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>
                @if (ViewBag.switchName == "RecruitmentRules")
                {
                    @Html.Partial("Partials/recruitmentRules", Model)
                }
                else if (ViewBag.switchName == "FOCExamination" || ViewBag.switchName == "FDExamination")
                {
                    @Html.Partial("Partials/forthcomingExamination", Model)
                }
                else if (ViewBag.switchName == "SOCExamination" || ViewBag.switchName == "SDExamination")
                {
                    @Html.Partial("Partials/schemeOfExamination", Model)
                }
                else if (ViewBag.switchName == "SYOCExamination" || ViewBag.switchName == "SYDExamination")
                {
                    @Html.Partial("Partials/syllabusOfExamination", Model)
                }
                else if (ViewBag.switchName == "LatestAdvertisments")
                {
                    @Html.Partial("Partials/latestAdvertisments", Model)
                }
                else if (ViewBag.switchName == "StatusOfApplication")
                {
                    @Html.Partial("Partials/statusOfApplication", Model)
                }
                else if (ViewBag.switchName == "OCareers" || ViewBag.switchName == "DCareers")
                {
                    @Html.Partial("Partials/careers", Model)
                }
                else if (ViewBag.switchName == "DACard")
                {
                    @Html.Partial("Partials/downloadAdmitCard", Model)
                }
                else if (ViewBag.switchName == "ESchedule")
                {
                    @Html.Partial("Partials/examinationSchedule", Model)
                }
                else if (ViewBag.switchName == "CInstruction")
                {
                    @Html.Partial("Partials/candidatesInstruction", Model)
                }
                else if (ViewBag.switchName == "Result")
                {
                    @Html.Partial("Partials/result", Model)
                }
                else if (ViewBag.switchName == "Disclaimer")
                {
                    @Html.Partial("Disclaimer")
                }
                else if (ViewBag.switchName == "ContactUs")
                {
                    @Html.Partial("Partials/contactus")
                }
                else if (ViewBag.switchName == "archiveRecruitmentRules")
                {
                    @Html.Partial("Partials/archiveRecruitmentRules")
                }
            </div>

            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

