﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.ImportantLinks</h4>
        <ul class="sideBarList">
            <li><a href="@Url.Action("VerbatimDebates","Debates")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Verbatim Debates">@RSWP_UI.Resources.Resource.VerbatimDebates</a></li>
            <li><a href="#" class="active" data-section="Debates" data-subsection="Important Links" data-module="Official Debate Portal">@RSWP_UI.Resources.Resource.OfficialDebatePortal</a></li>
            <li><a href="@Url.Action("OfficialDebatesDateWise","Debates")" class="active" data-section="Debates" data-subsection="Important Links" data-module="Official Debate Date-Wise">@RSWP_UI.Resources.Resource.OfficialDebateDateWise</a></li>
            <li><a href="#" class="active" data-section="Debates" data-subsection="Important Links" data-module="Constituent Assembly Debates">@RSWP_UI.Resources.Resource.ConstituentAssemblyDebates</a></li>
        </ul>
    </div>
    @*<div class="sectionBox">*@
        <ul class="sideBarList">
            <li><a href="@Url.Action("Discussion","Debates")" class="active" data-section="Debates" data-subsection="Discussions" data-module="Discussions">@RSWP_UI.Resources.Resource.Discussions</a></li>
        </ul>
    @*</div>*@

    @*<div class="sectionBox">*@
        <ul class="sideBarList">
            <li><a href="@Url.Action("SpecialMention","Debates")" class="active" data-section="Debates" data-subsection="Special Mentions" data-module="Special Mentions">@RSWP_UI.Resources.Resource.SpecialMentions</a></li>
        </ul>
    @*</div>*@
</div>



