﻿<div class="col-md-3">
    <div class="sectionBox">
        <h4>@RSWP_UI.Resources.Resource.ImportantLinks</h4>
        <ul class="sideBarList">
            <li><a  id="LegislativeIntroduction" href="#" target="_blank" data-section="Legislation" data-subsection="Important Links" data-module="Introduction" class="active">@RSWP_UI.Resources.Resource.Introduction</a></li>
            <li><a href="@Url.Action("BillIntroduced","Legislation")" data-section="Legislation" data-subsection="Important Links" data-module="Bills Introduced(During Session)" >@RSWP_UI.Resources.Resource.BillsIntroducedDuringSession</a></li>
            <li><a href="@Url.Action("BillPassed","Legislation")" data-subsection="Important Links" data-module="Bills Passed(During Session)" >@RSWP_UI.Resources.Resource.BillsPassedDuringSession</a></li>
            <li><a href="/Legislation/BillSearch" data-section="Legislation" data-subsection="Important Links" data-module="Bills Search (Advanced)">@RSWP_UI.Resources.Resource.BillsSearchAdvanced</a></li>
            <li><a href="/Legislation/BillCommittee" data-section="Legislation" data-subsection="Important Links" data-module="Bills with Committees">@RSWP_UI.Resources.Resource.BillsWithCommittees</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        @*<h4>STATEMENTS</h4>
        <ul class="sideBarList">
            <li><a href="#">Bills Passed by the House of Parliament</a></li>
            <li><a href="#">Bills Pending at the End of Session</a></li>
            <li><a href="#">Government leg. Business to be Taken Up</a></li>
            <li><a href="#">Weekly Progress of Bills</a></li>
            <li><a href="#">Statuary Order laid</a></li>
        </ul>*@
        <h4>@RSWP_UI.Resources.Resource.STATEMENTS</h4>
        <ul class="sideBarList">
            <li><a onclick="getStatementData('@RSWP_UI.Common.CommanConstant.BillsPassedByTheHouseOfParliament');" href="#" data-section="Legislation" data-subsection="STATEMENTS" data-module="Bills Passed by the House of Parliament">@RSWP_UI.Resources.Resource.BillsPassedbytheHouseofParliament</a></li>
            <li><a onclick="getStatementData('@RSWP_UI.Common.CommanConstant.BillsPendingAtTheEndOfSession');" href="#" data-section="Legislation" data-subsection="STATEMENTS" data-module="Bills Pending at the End of Session">@RSWP_UI.Resources.Resource.BillsPendingattheEndofSession</a></li>
            <li><a onclick="getStatementData('@RSWP_UI.Common.CommanConstant.GovernmentLegBusinessToBeTakenUp');" href="#" data-section="Legislation" data-subsection="STATEMENTS" data-module="Government leg. Business to be Taken Up">@RSWP_UI.Resources.Resource.GovernmentlegBusinesstobeTakenUp</a></li>
            <li><a onclick="getStatementData('@RSWP_UI.Common.CommanConstant.WeeklyProgressOfBills');" href="#" data-section="Legislation" data-subsection="STATEMENTS" data-module="Weekly Progress of Bills">@RSWP_UI.Resources.Resource.WeeklyProgressofBills</a></li>
            <li><a onclick="getStatementData('@RSWP_UI.Common.CommanConstant.StatuaryOrderLaid');" href="#" data-section="Legislation" data-subsection="STATEMENTS" data-module="Statuary Order laid">@RSWP_UI.Resources.Resource.StatuaryOrderlaid</a></li>
        </ul>
    </div>
    <div class="sectionBox">
        <h4><a href="@Url.Action("LatestBills","Legislation")">@RSWP_UI.Resources.Resource.LatestBills</a></h4>
        @*<ul class="sideBarList">
            <li><a href="#">Bill name-1</a></li>
            <li><a href="#">Bill name-2</a></li>
            <li><a href="#">Bill name-3</a></li>
            <li><a href="#">Bill name-4</a></li>
        </ul>*@
    </div>
    <div class="sectionBox">
        <h4><a href="@Url.Action("Graphical_Analysis","Graphical")">@RSWP_UI.Resources.Resource.GraphicalAnalysis</a></h4>
    </div>
</div>
<script>
      function getStatementData(type) {
        $.ajax(
            {
                url: '@Url.Action("Statements", "Business")',
                type: 'Get',
                data: { type: type },
                success: function (result) {
                    $('.boxMiddleBorder').html('');
                    $('.boxMiddleBorder').html(result);
                }
                ,
                   error: function () {
                        alert('Something went wrong.')
                    }
                }
            );
    }
    $(document).ready(
        function () {
            $.ajax(
            {
                url: '@Url.Action("GetLegislativeIntroductionUrl", "Business")',
                type: 'Get',

                    success: function (result) {
                        if (result != null && result.IntroductionUrl != null)
                            $('#LegislativeIntroduction').attr('href', result.IntroductionUrl);
                        else
                            $('#LegislativeIntroduction').attr('href', '#');
                }


                }

            );
        }

    )
</script>
