﻿
@{
    ViewBag.Title = "BallotList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <br />
                        @*<h1 style="text-align:center;color:red;">Question Search</h1>*@
                        <table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td align="center" style="height: 19px"><h4><strong> @RSWP_UI.Resources.Resource.BallotListSearch</strong></h4></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table id="Table2" style="WIDTH: 439px; HEIGHT: 87px" cellspacing="1" cellpadding="0" width="439" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td><span id="" style="display:inline-block;font-size:11px;font-weight:bold;height:15px;width:303px;"></span></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" width="264" height="8"><span id="" style="display:inline-block;width:110px;">@RSWP_UI.Resources.Resource.SessionNo_sm</span></td>
                                                    <td width="20" height="8"><strong><font color="#0000ff">: </font></strong></td>
                                                    <td height="8">
                                                        
                                                        @Html.DropDownList("sessioncode", ViewBag.SessionList as SelectList, @RSWP_UI.Resources.Resource.SelectSession, new { @onchange = "callChangefunc()" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="right" width="264" height="8"><span id="" style="display:inline-block;width:110px;">@RSWP_UI.Resources.Resource.QuestionType</span></td>
                                                    <td width="20" height="8"><strong><font color="#0000ff">: </font></strong></td>
                                                    <td height="8">
                                                        <select class="" id="questiontype" name="">
                                                            <option>@RSWP_UI.Resources.Resource.STARRED</option>
                                                            <option>@RSWP_UI.Resources.Resource.UNSTARRED</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="right" width="264" height="8"><span id="" style="display:inline-block;width:110px;">@RSWP_UI.Resources.Resource.SittingDate</span></td>
                                                    <td width="20" height="8"><strong><font color="#0000ff">: </font></strong></td>
                                                    <td height="8" id="">
                                                        <select id="GetData" name="">
                                                            <option> Select</option>
                                                        </select>
                                                        @*@Html.DropDownList("name", ViewBag.DateList as SelectList, "", new { })*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="264">&nbsp;</td>
                                                    <td width="20">&nbsp;</td>
                                                    @*<td><input type="submit" onclick="window.open('@Url.Action("BollotResult", "Questions")')" name="" value="Submit" id="show" style="height:24px;width:100px;"><input style="width: 95px; height: 24px" type="reset" value="Reset" id="Reset1"></td>*@
                                                    <td><input type="submit" onclick="GetData()" name="" value="Submit" id="show" style="height:24px;width:100px;">@*&nbsp;<input style="width: 95px; height: 24px" type="reset" value="Reset" id="Reset1">*@</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td height="24"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td><small><font color="#ff0066"></font></small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <div id="QuestionStatusRes" style="text-align:center;"></div>
                <div id="TotalCount"></div>
                <div class="ShowData" id="Show_Data" hidden>
                    <div class="searchResulltTabl">
                        <table class="table table-striped" id="Member_Tables">
                            <thead>
                                <tr>
                                    <th>@RSWP_UI.Resources.Resource.BallotPosition</th>
                                    <th>@RSWP_UI.Resources.Resource.MemberName</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

<script>
    function callChangefunc() {
        debugger;
        var obj = {};
        obj.sessioncode = $.trim($("[id*=sessioncode]").val());
        $.ajax({
            url: '@Url.Action("BallotDateWise", "Questions")',
           data: { session_date: obj.sessioncode },
            method: 'POST',
            success: function (data) {
                //alert('Success...');
                $("#GetData option:gt(0)").remove();
                $("#GetData option:eq(0)").remove();
                for (var i = 0; i < data.length; i++) {
                    $("#GetData").append($('<option/>').attr("value", data[i].session_date).text(data[i].session_date));
                }
            },
            error: function ()
            {
                alert('Not Success...');
            }
        });
    }
</script>
<script type="text/javascript">
    function GetData()
    {
        debugger;
        var obj = {};
        obj.sessioncode = $.trim($("[id*=sessioncode]").val());
        obj.getdate = $.trim($("[id*=GetData]").val());
        obj.questype = $.trim($("[id*=questiontype]").val());
        if (obj.getdate != "") {
            $.ajax({
                url: '@Url.Action("BallotList", "Questions")',
                data: { session: obj.sessioncode, date: obj.getdate, qtype: obj.questype },
                method: 'POST',
                success: function (data) {
                    if (data != 0)
                    {
                        $("#Show_Data").show();
                        //alert('success...');
                        var member_data = '';
                        $('#Member_Tables tbody').find("tr:gt(0)").remove();
                        $('#Member_Tables tbody').find("tr:eq(0)").remove();
                        for (var i = 0; i < data.length; i++) {
                            member_data += '<tr>';
                            member_data += '<td>' + data[i].position + '</td>';
                            member_data += '<td>' + data[i].membername + '</td>';
                            member_data += '</tr>';
                        }
                        $('#Member_Tables tbody').append(member_data);
                    }
                    
                    $('#TotalCount').empty();
                    $('#QuestionStatusRes').empty();
                    if (data.length > 0)
                    {
                        member_count = '<p><strong>' + 'Total record found =' + data.length + '</strong></p>';
                        $('#TotalCount').append(member_count);
                        var quesstatus = '';
                        if (obj.questype == 'STARRED')
                        {
                            quesstatus = 'Oral';
                        }
                        else
                        {
                            quesstatus = 'Written';
                        }
                        member_status = '<p><strong>' + 'Result of the Ballot of Questions for ' + quesstatus + ' Answers On ' + obj.getdate + '</strong></p>';
                        $('#QuestionStatusRes').append(member_status);
                    }
                    else
                    {
                        alert('Select Sitting Date');
                    }
                },
                error: function () {
                    alert('Please Select a member.');
                }
            });
        }
    }
</script>

