﻿@using RSWP_DOM.Common
@model QuestionDocumentsToShow
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"]??new List<SelectListItem>())
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>
                @if (ViewBag.flag == true)
                {
                    @Html.Partial("Partials/defaultPartial")
                }
                else
                {
                    @Html.Partial("Partials/generalQuestionsPartial", Model)
                }

            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>
