﻿
@{
    ViewBag.Title = "IntegratedSearchForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;color:black;">@RSWP_UI.Resources.Resource.RajyaSabhaQuestions_IntegratedSearch</h4>
                        <br />
                        <div>
                            <p>@RSWP_UI.Resources.Resource.EnterthesearchkeywordsandclickSEARCH</p>
                            <p>@RSWP_UI.Resources.Resource.Button :</p>
                            <input type="text" name="" value="" id="" style="height:24px;width:230px;">
                        </div>
                        <br />
                        <div>
                            <p>
                                @RSWP_UI.Resources.Resource.Matcheson:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="MatchOn" value="AllWords" checked />@RSWP_UI.Resources.Resource.AllWords&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="MatchOn" value="exactWord" />@RSWP_UI.Resources.Resource.Exactwordphrase&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="MatchOn" value="AnyWord" />@RSWP_UI.Resources.Resource.AnyWords
                            </p>
                        </div>
                        <div>
                            <p>
                                @RSWP_UI.Resources.Resource.Searchon:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="SearchOn" value="Title" checked />@RSWP_UI.Resources.Resource.Title&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="SearchOn" value="FullText" />@RSWP_UI.Resources.Resource.FullText
                            </p>
                        </div>
                        <div>
                            <p><strong><u>@RSWP_UI.Resources.Resource.Searchoptions</u></strong></p>
                        </div>
                        <div>
                            <p><strong>@RSWP_UI.Resources.Resource.MemberName: </strong>&nbsp;@Html.DropDownList("membercode", ViewBag.List as SelectList, "Select", new { })</p>
                        </div>
                        <div>
                            <p><strong>@RSWP_UI.Resources.Resource.MinistryName: </strong>&nbsp;@Html.DropDownList("ministrycode", ViewBag.MinistryList as SelectList, "Select", new { })</p>
                        </div>
                        <div>
                            <p>
                                <strong>@RSWP_UI.Resources.Resource.AnswerDate: </strong>&nbsp;&nbsp;@RSWP_UI.Resources.Resource.From&nbsp;
                                <select id="" name=""></select>
                                &nbsp;@RSWP_UI.Resources.Resource.To&nbsp;
                                <select id="" name=""></select>
                                &nbsp;@RSWP_UI.Resources.Resource.QuestionType&nbsp;
                                <select id="GetQuesTyp" name="">
                                    <option value="ANYTYPE">@RSWP_UI.Resources.Resource.ANYTYPE</option>
                                    <option value="STARRED">@RSWP_UI.Resources.Resource.STARRED</option>
                                    <option value="UNSTARRED">@RSWP_UI.Resources.Resource.UNSTARRED</option>
                                </select>
                            </p>
                        </div>
                        <div>
                            <p>
                                <strong>@RSWP_UI.Resources.Resource.Session: </strong>&nbsp;&nbsp;@RSWP_UI.Resources.Resource.From&nbsp;
                                @Html.DropDownList("sessioncode", ViewBag.SessionList as SelectList, "Select", new { })
                                &nbsp;@RSWP_UI.Resources.Resource.To&nbsp;
                                @Html.DropDownList("sessioncode1", ViewBag.SessionList as SelectList, "Select", new { })
                                &nbsp;&nbsp;&nbsp;@RSWP_UI.Resources.Resource.QuestionNo_sm.:&nbsp;
                                <input type="text" name="QuesNo" value="" id="QuesNo" style="height:24px;width:230px;">
                            </p>
                        </div>
                        <div>
                            <p>
                                @RSWP_UI.Resources.Resource.SortBy:
                                &nbsp;&nbsp;
                                <input type="radio" name="SortBy" value="Exact Word" checked />@RSWP_UI.Resources.Resource.Ministry_sm&nbsp;&nbsp;
                                <input type="radio" name="SortBy" value="Any Word" />@RSWP_UI.Resources.Resource.AnswerDateDescending&nbsp;&nbsp;
                                <input type="radio" name="SortBy" value="All Word" />@RSWP_UI.Resources.Resource.AnswerDateAscending&nbsp;&nbsp;
                                <input type="radio" name="SortBy" value="All Word" />@RSWP_UI.Resources.Resource.Member&nbsp;&nbsp;
                                <input type="radio" name="SortBy" value="All Word" />@RSWP_UI.Resources.Resource.QN.
                            </p>
                        </div>
                        <div style="text-align:center">
                            <input type="submit" onclick="GetData()" name="" value="Search" id="show" style="height:24px;width:100px;">&nbsp;&nbsp;&nbsp;<input style="width: 95px; height: 24px" type="reset" value="Reset" id="Reset1">
                        </div>
                    </div>
                </div>
                <br />
                <div id="TotalCount"></div>
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table class="table table-striped" id="Member_Tables" hidden>
                            <thead>
                                <tr>
                                    <th>@RSWP_UI.Resources.Resource.QuesNo.</th>
                                    <th>@RSWP_UI.Resources.Resource.QuesType</th>
                                    <th>@RSWP_UI.Resources.Resource.Date_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.Ministry_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.Member</th>
                                    <th>@RSWP_UI.Resources.Resource.Subject</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

<script type="text/javascript">
    function GetData()
    {
        debugger;
        var obj = {};
        obj.sessionNo = $.trim($("[id*=sessioncode]").val());
        obj.MemberCode = $.trim($("[id*=membercode]").val());
        obj.MinistryCode = $.trim($("[id*=ministrycode]").val());
        obj.QuestionType = $.trim($("[id*=GetQuesTyp]").val());
        obj.QuestionNumber = $.trim($("[id*=QuesNo]").val());
        $.ajax({
            url: '@Url.Action("IntegratedSearchForm", "Questions")',
            data: { session: obj.sessionNo, mpCode: obj.MemberCode, minCode: obj.MinistryCode, sesType: obj.QuestionType, QesNumber: obj.QuestionNumber},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                var member_count = '';
                $('#Member_Tables').hide();
                $('#TotalCount').empty();
                $('#Member_Tables tbody').find("tr:gt(0)").remove();
                $('#Member_Tables tbody').find("tr:eq(0)").remove();
                for (var i = 0; i < data.length; i++) {
                            member_data += '<tr>';
                            member_data += '<td>' + '<a href="#">' + data[i].qno + '</a>' + '</td>';
                            member_data += '<td>' + '<a href="#">' + data[i].qtype + '</a>' + '</td>';
                            member_data += '<td>' + '<a href="#">' + data[i].ans_date + '</a>' + '</td>';
                            member_data += '<td>' + '<a href="#">' + data[i].min_name + '</a>' + '</td>';
                            member_data += '<td>' + '<a href="#">' + data[i].name + '</a>' + '</td>';
                            member_data += '<td>' + '<a href="#">' + data[i].status + '</a>' + '</td>';
                            member_data += '</tr>';
                }
                if (obj.sessionNo == "" && obj.MemberCode == "" && obj.MinistryCode == "" && obj.QuestionType == "ANYTYPE" && obj.QuestionNumber == "")
                {
                    alert('Select any field');
                }
                else
                {
                    $('#Member_Tables').show();
                    $('#Member_Tables tbody').append(member_data);
                    $('#TotalCount').empty();
                    member_count = '<p>' + 'Total record found =' + data.length + '</p>';
                    $('#TotalCount').append(member_count);
                }
            },
            error: function ()
            {
                alert('Select any field');
            }
        });
    }
</script>