﻿@*@model RSWP_UI.Models.GetMemberQuestionsViewModel*@
@{
    ViewBag.Title = "MemberWiseSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.QuestionSearch</strong></h4>
                        <table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td align="center" style="height: 19px"><span id="" style="display:inline-block;font-size:14px;font-weight:bold;height:23px;width:415px;">@RSWP_UI.Resources.Resource.MemberWiseSearchForm</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table id="Table2" style="WIDTH: 439px; HEIGHT: 87px" cellspacing="1" cellpadding="0" width="439" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td><span id="" style="display:inline-block;font-size:11px;font-weight:bold;height:15px;width:303px;"> @RSWP_UI.Resources.Resource.SelectTheMemberName.</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" width="264" height="8"><span id="" style="display:inline-block;width:110px;">@RSWP_UI.Resources.Resource.MemberName</span></td>
                                                    <td width="20" height="8"><strong><font color="#0000ff">:</font></strong></td>
                                                    <td height="8">
                                                        @Html.DropDownList("name", ViewBag.List as SelectList, "--- Select One ---", new { })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="264">&nbsp;</td>
                                                    <td width="20">&nbsp;</td>
                                                    <td><input type="submit" onclick="GetData()" name="" value="Submit" id="show" style="height:24px;width:100px;"><input style="width: 95px; height: 24px" type="reset" value="Reset" id="Reset1"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td height="24"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <font face="Times New Roman" align="justify">
                                            <span style="mso-bidi-font-size: 12.0pt">
                                                <font size="2">
                                                    @RSWP_UI.Resources.Resource.Disclaimer:<span style="mso-bidi-font-size: 12.0pt; mso-tab-count: 1">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </span>The database in respect of questions prior to 188<sup>th</sup> Session has been scanned/entered.<span style="mso-bidi-font-size: 12.0pt; mso-spacerun: yes">&nbsp;&nbsp; </span>In
                                                    some cases where the authoritative English text was not available, the Hindi
                                                    text has been used. Data in respect of 188<sup>th</sup> session onwards is that
                                                    sent by the Ministry concerned as electronic text.In case a particular question
                                                    is not available on the database, the Ministry concerned may be approached
                                                    directly, and Rajya Sabha Secretariat may be informed of the data gap by
                                                    sending an e-mail to
                                                </font><img alt="" src="showemail2.jpg">
                                            </span>
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td><small><font color="#ff0066"></font></small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <div id="TotalCount"></div>
                <div class="ShowData" @*style="display:none"*@>
                    <div class="searchResulltTabl">
                        <table id="Member_Tables" class="table table-striped table-bordered table-sm" hidden>
                            <thead>
                                <tr>
                                    <th>@RSWP_UI.Resources.Resource.SLNo.</th>
                                    <th>@RSWP_UI.Resources.Resource.QN.</th>
                                    <th>@RSWP_UI.Resources.Resource.QType_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.Date_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.Ministry_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.Member</th>
                                    <th>@RSWP_UI.Resources.Resource.Subject</th>
                                    <th>@RSWP_UI.Resources.Resource.EnglishFile</th>
                                    <th>@RSWP_UI.Resources.Resource.HindiFile</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="sectionBox stats-an">
                    <div class="memberListAraSearch">
                        <div class="row">
                            <form>
                                <div class="col-sm-12 text-right">
                                    <a class="btn btn-default" href="#">@RSWP_UI.Resources.Resource.Print</a>
                                    <button type="button" class="btn btn-default" id="toggle-btn">&lt;&lt;&nbsp;>></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

<script type="text/javascript">
    function GetData()
    {
        debugger;
        var obj = {};
        obj.mpcode = $.trim($("[id*=name]").val());
        $.ajax({
            url: '@Url.Action("MemberWiseSearch","Questions")',
            data: { mpcode: obj.mpcode},
            method: 'POST',
            success: function (data) {
                var member_data = '';
                var member_count = '';
                var count = 1;
                //alert('success...');
                $('#Member_Tables').show();
                $('#Member_Tables tbody').find("tr:gt(0)").remove();
                $('#Member_Tables tbody').find("tr:eq(0)").remove();
                //$('#Member_Tables thead').find("tr:eq(0)").remove();
                //$('#Member_Tables thead').append('<tr>' + '<td>' + 'SL.No.' + '</td>' + '<td>' + 'Q.No.' + '</td>' + '<td>' + 'Q.Type' + '</td>' + '<td>' + 'Date' + '</td>' + '<td>' + 'Ministry' + '</td>' + '<td>' + 'Member' + '</td>' + '<td>' + 'Subject' + '</td>' + '<td>' + 'English File' + '</td>' + '<td>' + 'Hindi File' + '</td>' +'</tr>');
                for (var i = 0; i < data.length; i++) {
                            member_data += '<tr>';
                            member_data += '<td>' + count + '</td>';
                            member_data += '<td>' + '<a href="#" onclick="someFunction(' + data[i].qno +')">' + data[i].qno + '</a>' + '</td>';
                            member_data += '<td>' + data[i].qtype + '</td>';
                            member_data += '<td>' + data[i].ans_date + '</td>';
                            member_data += '<td>' + data[i].min_name + '</td>';
                            member_data += '<td>' + data[i].name + '</td>';
                            member_data += '<td>' + data[i].qtitle + '</td>';
                            member_data += '<td>' + '<a href=' + data[i].files + ' target="_blank">' + 'English File' + '</a>' + '</td>';
                            member_data += '<td>' + '<a href=' + data[i].hindifiles + ' target="_blank">' + 'Hindi File' + '</a>' + '</td>';
                            member_data += '</tr>';
                            count++;
                }
                $('#Member_Tables tbody').append(member_data);
                $('#TotalCount').empty();
                member_count = '<p>' + 'Total record found =' + data.length + '</p>';
                $('#TotalCount').append(member_count);
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }
</script>
<script type="text/javascript">
    function someFunction(Key) {
        debugger;
        $.ajax({
            url: '@Url.Action("CheckQuestionNumber", "Questions")',
            data: { qno: Key },
            method: 'POST',
            success: function () {
                window.location.href = '@Url.Action("QuestionDetails", "Questions")';
            },
            error: function ()
            {
                alert('Error.');
            }
        });
    }
</script>
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('#Member_Tables').DataTable(
            {
                "pageLength": 100
            }
        );
        $('.dataTables_length').addClass('bs-select');
    });
</script>
@*<script>
        $('#show').click(function () {
            $('.ShowData').toggle("slide");
        });
    </script>*@