﻿@using RSWP_DOM.Common
@model IEnumerable<MinistryNodalOfficers>
@{
    ViewBag.Title = "MinistryWiseNodalOfficers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"])
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>
                @Html.Partial("Partials/nodal", Model)
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

