﻿@using RSWP_DOM.Common
@model IEnumerable<Documents>
@{
    ViewBag.Title = "OthersLinks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"])
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>
                @if (ViewBag.flag == 1)
                {
                    @Html.Partial("Partials/archive", Model)
                }
                else if (ViewBag.flag == 2)
                {
                    @Html.Partial("Partials/subjects", Model)
                }
                else if (ViewBag.flag == 3)
                {
                    @Html.Partial("Partials/nodalPDFList", Model)
                }
                else if (ViewBag.flag == 4)
                {
                    @Html.Partial("Partials/statistical", Model)
                }
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

