﻿
@{
    ViewBag.Title = "PendingQuesMinistryWiseResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <br />
                        <h5 style="text-align:center;color:black;"><strong>@RSWP_UI.Resources.Resource.StatusofParliamentaryQuestionsandAnswers_C</strong></h5>
                        <h5 style="text-align:center;color:black;">
                            <label>@RSWP_UI.Resources.Resource.Session:</label> @Session["SessionValue"]
                        </h5>
                        <h6><strong>@RSWP_UI.Resources.Resource.STARRED</strong></h6>
                        <h6><strong>@RSWP_UI.Resources.Resource.Ministry_sm: @Session["MCode"]</strong></h6>
                        <table border="1" style="width:100%">
                            <tr>
                                <td>@RSWP_UI.Resources.Resource.Date_sm</td>
                                <td>@RSWP_UI.Resources.Resource.TotalQuestions</td>
                                <td>@RSWP_UI.Resources.Resource.ReceivedQuestions</td>
                                <td>@RSWP_UI.Resources.Resource.PendingQuestions</td>
                            </tr>
                            @if (ViewBag.message == "The record is not empty.")
                            {
                                if (ViewBag.Result != null)
                                {

                                    int totalques = 0;
                                    int recques = 0;
                                    int penques = 0;
                                    foreach (var item in ViewBag.Result)
                                    {
                                        if (item.qtype == "STARRED   ")
                                        {
                                            <tr>
                                                <td><a href="" class="Update" id="linkData" onclick="someFunction()">@item.ans_date</a></td>
                                                <td>@item.Total</td>
                                                <td>@item.Received</td>
                                                @if (item.Pending == null)
                                                {
                                                    <td>0</td>
                                                    penques = penques + 0;
                                                }
                                                else
                                                {
                                                    <td>@item.Pending</td>
                                                }
                                            </tr>
                                            totalques = totalques + item.Total;
                                            recques = recques + item.Received;
                                        }
                                    }
                                    <tr>
                                        <td>@RSWP_UI.Resources.Resource.Total</td>
                                        <td>@totalques</td>
                                        <td>@recques</td>
                                        <td>@penques</td>
                                    </tr>
                                }
                            }
                            else
                            {

                            }
                        </table>
                        <br />
                        <h5><strong>@RSWP_UI.Resources.Resource.UNSTARRED</strong></h5>
                        <h6><strong>@RSWP_UI.Resources.Resource.Ministry_sm: @Session["MCode"]</strong></h6>
                        <table border="1" style="width:100%">
                            <tr>
                                <td>@RSWP_UI.Resources.Resource.Date_sm</td>
                                <td>@RSWP_UI.Resources.Resource.TotalQuestions</td>
                                <td>@RSWP_UI.Resources.Resource.ReceivedQuestions</td>
                                <td>@RSWP_UI.Resources.Resource.PendingQuestions</td>
                            </tr>
                            @if (ViewBag.message == "The record is not empty.")
                            {
                                if (ViewBag.Result != null)
                                {
                                    int totalques = 0;
                                    int recques = 0;
                                    int penques = 0;
                                    foreach (var item in ViewBag.Result)
                                    {
                                        if (item.qtype == "UNSTARRED ")
                                        {
                                            <tr>
                                                <td><a href="" class="Update1" id="linkData1" onclick="someFunction1('@item.ans_date')">@item.ans_date</a></td>
                                                <td>@item.Total</td>
                                                <td>@item.Received</td>
                                                @if (item.Pending == null)
                                                {
                                                    <td>0</td>
                                                    penques = penques + 0;
                                                }
                                                else
                                                {
                                                    <td>@item.Pending</td>
                                                }
                                            </tr>
                                            totalques = totalques + item.Total;
                                            recques = recques + item.Received;
                                        }
                                    }
                                    <tr>
                                        <td>@RSWP_UI.Resources.Resource.Total</td>
                                        <td>@totalques</td>
                                        <td>@recques</td>
                                        <td>@penques</td>
                                    </tr>
                                }
                            }
                            else
                            {

                            }
                        </table>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>
<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:red;">
                    &times;
                </button>
                <h4 class="modal-title" style="text-align:center;">
                    @RSWP_UI.Resources.Resource.STARRED
                </h4>
            </div>
            <div class="modal-body">
                <div id="div_data"></div>
                @*<h5>@Html.Hidden("myVar", 0);</h5>*@
                <h5>@RSWP_UI.Resources.Resource.AgricultureAndFarmersWelfare</h5>
                <h5>@RSWP_UI.Resources.Resource.PendingQuestions &nbsp;&nbsp; <label style="color:lightsteelblue"> @RSWP_UI.Resources.Resource.NoPendingQuestions !</label></h5>
            </div>
            <div class="modal-footer">
                @*<input type="button" id="btnClosePopup" value="Close" class="btn btn-danger" data-dismiss="modal" />*@
            </div>
        </div>
    </div>
</div>
<div id="MyPopup1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:red;">
                    &times;
                </button>
                <h4 class="modal-title" style="text-align:center;">
                    @RSWP_UI.Resources.Resource.UNSTARRED
                </h4>
            </div>
            <div class="modal-body" style="">
                <div id="div_data1"></div>
                <h65>@RSWP_UI.Resources.Resource.AgricultureAndFarmersWelfare</h65>
                <h5>@RSWP_UI.Resources.Resource.PendingQuestions &nbsp;&nbsp;&nbsp;<label style="color:lightsteelblue">@RSWP_UI.Resources.Resource.NoPendingQuestions !</label></h5>
            </div>
            <div class="modal-footer">
                @*<input type="button" id="btnClosePopup" value="Close" class="btn btn-danger" data-dismiss="modal" />*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function someFunction() {
        debugger;
        var obj = {};
        obj.ministrycode = $('#linkData').text();
        $.ajax({
            url: '@Url.Action("CheckDateSTARRED", "Questions")',
            data: { ans_date: obj.ministrycode },
            method: 'POST',
            success: function (data) {
                debugger;
                alert('Success...');
                //$("#MyPopup").show();
                //return true;
            },
            error: function ()
            {
                alert('Error...');
            }
        });
    }
</script>
<script type="text/javascript">
    function someFunction1(Key) {
        $.ajax({
            url: '@Url.Action("CheckDateUNSTARRED", "Questions")',
            data: { ansdate: Key },
            method: 'POST',
            success: function (data) {
            var data_res = '';
            $("#MyPopup1").modal("show");
            $('#div_data1').empty();
            data_res = '<p>' + data[0].date + '</p>';
            $('#div_data1').append(data_res);
            },
            error: function ()
            {
                alert('Error.');
            }
        });
    }
</script>

@*<script type="text/javascript">
        $(function () {
            debugger;
            $("a[class='Update']").click(function () {
                var dataLink = $('#linkData').text();
                var data_res = '';
                //$('#myVar').val(dataLink);
                $("#MyPopup").modal("show");
                $('#div_data').empty();
                data_res = '<p>' + dataLink + '</p>';
                $('#div_data').append(data_res);
                return false;
            });
            $("a[class='Update1']").click(function () {
                var dataLink = $('#linkData1').text();
                var data_res = '';
                //$('#myVar').val(dataLink);
                $("#MyPopup1").modal("show");
                $('#div_data1').empty();
                data_res = '<p>' + dataLink + '</p>';
                $('#div_data1').append(data_res);
                return false;
            });
        });
    </script>*@