﻿
@{
    ViewBag.Title = "PendingQuestionsStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <br />
                        @*<h1 style="text-align:center;color:red;">Question Search</h1>*@
                        <h4 style="text-align:center;color:black;"><strong>@RSWP_UI.Resources.Resource.StatusQueryPendingQuestionsStatus</strong></h4>
                        <table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <table id="Table2" style="WIDTH: 439px; HEIGHT: 87px" cellspacing="1" cellpadding="0" width="439" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td><span id="" style="display:inline-block;font-size:11px;font-weight:bold;height:15px;width:303px;"></span></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" width="264" height="8"><span id="" style="display:inline-block;width:120px;">@RSWP_UI.Resources.Resource.Session</span></td>
                                                    <td width="20" height="8"><strong><font color="#0000ff">: </font></strong></td>
                                                    <td height="8">
                                                        @Html.DropDownList("sessioncode", ViewBag.SessionList as SelectList, "Select Session", new { @onchange = "callChangefunc()" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                @*<tr>
                                                    <td width="264">&nbsp;</td>
                                                    <td width="20">&nbsp;</td>
                                                    <td><input type="submit" onclick="GetData()" name="" value="Submit" id="show" style="height:24px;width:100px;"></td>
                                                </tr>*@
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td height="24"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div align="left" style="text-align: justify">
                                            <font face="Times New Roman" size="3">
                                                <span style="mso-bidi-font-size: 12.0pt">
                                                    <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                                        <strong>@RSWP_UI.Resources.Resource.Note</strong>: In
                                                        order to reconcile transfer/receipt of e-mail of questions by/from Ministries, this
                                                        option provides session wise details in terms of Ministry, Department and sitting
                                                        date, showing the number of questions required to be answered by a Ministry/Department,
                                                        and the number of answers received and put into the database.<span style="mso-bidi-font-size: 12.0pt;mso-spacerun: yes">&nbsp;&nbsp;</span>Minor discrepancies may arise because
                                                        (a) in case of some pending questions, the name of the answering Department may
                                                        not have been entered and as such the tendency is shown against the main Ministry,
                                                        (b) in some cases, the answer stated to have been sent was not actually received
                                                        in the correct format or (c) the answer has not yet been incorporated into the database.
                                                    </font>
                                                </span>
                                            </font><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                                       <span style="mso-bidi-font-size: 12.0pt">
                                                           Ministries/Departments
                                                           are advised to reconcile discrepancies by e.mailing to <b>rsqns@sansad.nic.in</b>
                                                       </span>
                                            </font>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><small><font color="#ff0066"></font></small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

<script type="text/javascript">
    function callChangefunc() {
        debugger;
        var obj = {};
        obj.sessionvalue = $.trim($("[id*=sessioncode]").val());
        $.ajax({
            url: '@Url.Action("PendingQuestionsStatus", "Questions")',
            data: { session: obj.sessionvalue},
            method: 'POST',
            success: function (data) {
                window.location.href = '@Url.Action("PendingQuestionsStatusResult", "Questions")';
            },
            error: function ()
            {
                alert('Select One');
            }
        });
    }
</script>