﻿
@{
    ViewBag.Title = "PendingQuesMinistryWiseSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <br />
                        <h4 style="text-align:center;">@RSWP_UI.Resources.Resource.StatusofQuestionsandAnswers</h4>
                        <h5 style="text-align:center;">
                            <label>@RSWP_UI.Resources.Resource.Session:</label> @Session["SessionValue"]
                        </h5>
                        <h6>@RSWP_UI.Resources.Resource.STARRED</h6>
                        <table border="1" style="width:100%">
                            <tr>
                                <td>@RSWP_UI.Resources.Resource.MinistryName</td>
                                <td>@RSWP_UI.Resources.Resource.Total</td>
                                <td>@RSWP_UI.Resources.Resource.Received</td>
                                <td>@RSWP_UI.Resources.Resource.Pending</td>
                            </tr>
                            @if (ViewBag.message == "The record is not empty.")
                            {
                                int totalques = 0;
                                int recques = 0;
                                int penques = 0;
                                foreach (var item in ViewBag.Result)
                                {
                                    if (item.qtype == "STARRED   ")
                                    {
                                        <tr>
                                            <td><a href="#">@item.minname</a></td>
                                            <td>@item.Total</td>
                                            <td>@item.Received</td>
                                            @if (item.Pending == null)
                                            {
                                                <td>0</td>
                                                penques = penques + 0;
                                            }
                                            else
                                            {
                                                <td>@item.Pending</td>
                                            }
                                        </tr>
                                        totalques = totalques + item.Total;
                                        recques = recques + item.Received;
                                    }
                                }
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Total</td>
                                    <td>@totalques</td>
                                    <td>@recques</td>
                                    <td>@penques</td>
                                </tr>
                            }
                        </table>
                        <br />
                        <h6>@RSWP_UI.Resources.Resource.UNSTARRED</h6>
                        <table border="1" style="width:100%">
                            <tr>
                                <td>@RSWP_UI.Resources.Resource.MinistryName</td>
                                <td>@RSWP_UI.Resources.Resource.Total</td>
                                <td>@RSWP_UI.Resources.Resource.Received</td>
                                <td>@RSWP_UI.Resources.Resource.Pending</td>
                            </tr>
                            @if (ViewBag.message == "The record is not empty.")
                            {
                                int totalques = 0;
                                int recques = 0;
                                int penques = 0;
                                foreach (var item in ViewBag.Result)
                                {
                                    if (item.qtype == "UNSTARRED ")
                                    {
                                        <tr>
                                            <td><a href="#">@item.minname</a></td>
                                            <td>@item.Total</td>
                                            <td>@item.Received</td>
                                            @if (item.Pending == null)
                                            {
                                                <td>0</td>
                                                penques = penques + 0;
                                            }
                                            else
                                            {
                                                <td>@item.Pending</td>
                                            }
                                        </tr>
                                        totalques = totalques + item.Total;
                                        recques = recques + item.Received;
                                    }
                                }
                                <tr>
                                    <td>@RSWP_UI.Resources.Resource.Total</td>
                                    <td>@totalques</td>
                                    <td>@recques</td>
                                    <td>@penques</td>
                                </tr>
                            }
                            else
                            {

                            }
                        </table>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

