﻿
@{
    ViewBag.Title = "PendingQuestionsStatusResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.StatusofParliamentaryQuestionsandAnswers_C</strong></h4>
                        <br />
                        <div style="text-align:center;">
                            <div style="display:inline-block;text-align:left;">
                                <p><u><strong><a href="@Url.Action("PendingQuesMinistryWise", "Questions")">@RSWP_UI.Resources.Resource.MinistryWise</a></strong></u></p>
                                <p><u><strong><a href="@Url.Action("PendingQuesDateWise", "Questions")">@RSWP_UI.Resources.Resource.SittingDateWise</a></strong></u></p>
                                <p><u><strong><a href="@Url.Action("PendingQuesMinistryWiseSummary", "Questions")">@RSWP_UI.Resources.Resource.MinistryWiseSummary</a></strong></u></p>
                                <p><u><strong><a href="@Url.Action("PendingQuesDepartmentWiseSummary", "Questions")">@RSWP_UI.Resources.Resource.DepartmentWiseSummary</a></strong></u></p>
                            </div>
                        </div>
                        @*<table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td align="center" style="height: 19px"><span id="" style="display:inline-block;font-size:14px;font-weight:bold;height:23px;width:415px;">Status of Parliamentary Questions and Answers</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table id="Table2" style="WIDTH: 439px; HEIGHT: 87px" cellspacing="1" cellpadding="0" width="439" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td><span id="" style="display:inline-block;font-weight:bold;height:15px;width:500px;"><a href="@Url.Action("PendingQuesMinistryWise", "Questions")">Ministry Wise</a></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span id="" style="display:inline-block;font-weight:bold;height:15px;width:500px;"><a href="@Url.Action("PendingQuesDateWise", "Questions")">Sitting Date Wise</a></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span id="" style="display:inline-block;font-weight:bold;height:15px;width:500px;"><a href="@Url.Action("PendingQuesMinistryWiseSummary", "Questions")">Ministry Wise Summary</a></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span id="" style="display:inline-block;font-weight:bold;height:15px;width:500px;"><a href="#">Department Wise Summary</a></span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>*@
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

