﻿
@{
    ViewBag.Title = "PendingQuesDateWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <br />
                        @*<h1 style="text-align:center;color:red;">Question Search</h1>*@
                        <table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td align="center" style="height: 19px"><span id="" style="display:inline-block;font-size:14px;font-weight:bold;height:23px;width:415px;">@RSWP_UI.Resources.Resource.StatusofParliamentaryQuestionsandAnswers</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table id="Table2" style="WIDTH: 439px; HEIGHT: 87px" cellspacing="1" cellpadding="0" width="439" border="0">
                                            <tbody>
                                                <tr>
                                                    <td align="right" width="264" height="8"><span id="" style="display:inline-block;width:120px;color:red;">@RSWP_UI.Resources.Resource.Session</span></td>
                                                    <td width="20" height="8"><strong><font color="#0000ff">: </font></strong></td>
                                                    <td height="8" style="font-size:13px">
                                                        @Session["SessionValue"]
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right" width="264" height="8"><span id="" style="display:inline-block;width:120px;">@RSWP_UI.Resources.Resource.SittingDate</span></td>
                                                    <td width="20" height="8"><strong><font color="#0000ff">: </font></strong></td>
                                                    <td height="8" style="font-size:13px">
                                                        @Html.DropDownList("dateid", ViewBag.DateList as SelectList, "Select Session", new { @onchange = "callChangefunc()" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="264">&nbsp;</td>
                                                    <td width="20">&nbsp;</td>
                                                    @*<td><input type="submit" onclick="window.open('@Url.Action("BollotResult", "Questions")')" name="" value="Submit" id="show" style="height:24px;width:100px;"><input style="width: 95px; height: 24px" type="reset" value="Reset" id="Reset1"></td>*@
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

<script>
    function callChangefunc() {
        debugger;
        var obj = {};
        obj.ministrydate = $.trim($("[id*=dateid]").val());
        $.ajax({
            url: '@Url.Action("PendingQuesDateWise", "Questions")',
            data: { date: obj.ministrydate },
            method: 'POST',
            success: function (data) {
               //alert('Success...');
               window.location.href = '@Url.Action("PendingQuesDateWiseResult", "Questions")';
            },
            error: function ()
            {
                alert('Not Success...');
            }
        });
    }
</script>