﻿
@{
    ViewBag.Title = "QuestionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h5 style="text-align:center;color:red;">@RSWP_UI.Resources.Resource.GOVERNMENTOFINDIA</h5>
                        <h5 style="text-align:center;color:red;">@RSWP_UI.Resources.Resource.MINISTRYOF  @TempData["min_name"]</h5>
                        <h5 style="text-align:center;color:red;">@RSWP_UI.Resources.Resource.RAJYA_SABHA_C</h5>
                        <h5 style="text-align:center;color:red;">@RSWP_UI.Resources.Resource.QUESTIONNO @TempData["qno"]</h5>
                        <h5 style="text-align:center;color:red;">@RSWP_UI.Resources.Resource.ANSWEREDON @TempData["ans_date"]</h5>
                        @if (TempData["Message"] == "MemberWise")
                        {
                            <h5 style="text-align:right;color:blue;"><a href="~/Questions/MemberWiseSearch">@RSWP_UI.Resources.Resource.Back</a></h5>
                        }
                        else if (TempData["Message"] == "DateWise")
                        {
                            <h5 style="text-align:right;color:blue;"><a href="~/Questions/DateWiseSearch">@RSWP_UI.Resources.Resource.Back</a></h5>
                        }
                        else if (TempData["Message"] == "QuestionNumber")
                        {
                            <h5 style="text-align:right;color:blue;"><a href="~/Questions/QuestionNumberWiseSearch">@RSWP_UI.Resources.Resource.Back</a></h5>
                        }
                        else if (TempData["Message"] == "MinistryWise")
                        {
                            <h5 style="text-align:right;color:blue;"><a href="~/Questions/MinistryWiseSearch">@RSWP_UI.Resources.Resource.Back</a></h5>
                        }
                        else if (TempData["Message"] == "ShortNotice")
                        {
                            <h5 style="text-align:right;color:blue;"><a href="~/Questions/ShortNoticeQuestions">@RSWP_UI.Resources.Resource.Back</a></h5>
                        }
                        else if (TempData["Message"] == "QuestionsType")
                        {
                            <h5 style="text-align:right;color:blue;"><a href="~/Questions/QuestionTypeWiseSearch">@RSWP_UI.Resources.Resource.Back</a></h5>
                        }
                        else if (TempData["Message"] == "SessionWiseRes")
                        {
                            <h5 style="text-align:right;color:blue;"><a href="~/Questions/SessionWiseSearch">@RSWP_UI.Resources.Resource.Back</a></h5>
                        }
                        <h5 style="color:blue;">@TempData["qtitle"]</h5>
                        <br />
                        <div>
                            <label>@TempData["qno"]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>@TempData["shri"] @TempData["name"]</label>
                        </div>
                        <div>
                            <p> Will the Minister of @TempData["min_name"] be pleased to state :-</p>
                        </div>
                        <div>
                            @if (TempData["qn_text"] != null)
                            {
                                @MvcHtmlString.Create(HttpUtility.HtmlDecode(TempData["qn_text"].ToString()));
                            }
                        </div>
                        <h5 style="text-align:center;color:black;">@RSWP_UI.Resources.Resource.ANSWER</h5>
                        <div>
                            @if (TempData["ans_text"] != null)
                            {
                                @MvcHtmlString.Create(HttpUtility.HtmlDecode(TempData["ans_text"].ToString()));
                            }
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>
