﻿
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"])
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>

                @if (ViewBag.param == "BallotList")
                {
                    @Html.Partial("Partials/BallotList")
                }

                @if (ViewBag.param == "PendingQStatus")
                {
                    @Html.Partial("Partials/PendingQStatus")
                }

                @if (ViewBag.param == "ShortNoticeQuestions")
                {
                    @Html.Partial("Partials/ShortNoticeQuestions")
                }
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>


