﻿@using RSWP_UI.Models;
@model List<sittingMaster> 
@{
    ViewBag.Title = "SearchQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="broadComTab">
                    <ul>
                        @foreach (var data in (List<SelectListItem>)TempData["BreadCrumb"])
                        {
                            <li><a href="@data.Value">@data.Text</a></li>
                        }
                    </ul>
                </div>
<<<<<<< HEAD

                @if (ViewBag.param == "DateWise")
                {
                    @Html.Partial("Partials/dateWise", Model)
                }

                @if (ViewBag.param == "QuestionNoWise")
                {
                    @Html.Partial("Partials/QuestionNoWise", Model)
                }

                @if (ViewBag.param == "TypeWise")
                {
                    @*@Html.Partial("Partials/TypeWise", Model)*@
                }

                @if (ViewBag.param == "SessionWise")
                {
                    @Html.Partial("Partials/SessionWise")
                }

                @if (ViewBag.param == "MinistryWise")
                {
                    @Html.Partial("Partials/MinistryWise")
                }
=======
                <div class="boxSearchMid">
                    @if (ViewBag.param == "DateWise")
                    {
                        @*@Html.Partial("Partials/dateWise", Model)*@
                        @Html.Partial("Partials/dateWise", Model)
                    }
                </div>
>>>>>>> 3196ca80bde294ffd842862495805a526b8006d5
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

