﻿
@{
    ViewBag.Title = "SessionWiseSearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h1 style="text-align:center;color:red;">@RSWP_UI.Resources.Resource.QuestionSearch</h1>
                        <table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td align="center" style="height: 19px"><span id="" style="display:inline-block;font-size:14px;font-weight:bold;height:23px;width:415px;">@RSWP_UI.Resources.Resource.SessionWiseSearchForm</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table id="Table2" style="WIDTH: 439px; HEIGHT: 87px" cellspacing="1" cellpadding="0" width="439" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td><span id="" style="display:inline-block;font-size:11px;font-weight:bold;height:15px;width:303px;">@RSWP_UI.Resources.Resource.Providethesessionnumbertogetdetails.</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" width="264" height=""><span id="" style="display:inline-block;width:225px;">@RSWP_UI.Resources.Resource.PleaseSelectthequestiontype</span></td>
                                                    <td width="20" height="8"><strong><font color="#0000ff">: </font></strong></td>
                                                    <td height="8">
                                                        @Html.DropDownList("sessioncode", ViewBag.SessionList as SelectList, "--Select Session--", new { })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="264">&nbsp;</td>
                                                    <td width="20">&nbsp;</td>
                                                    <td><input type="submit" onclick="GetData()" name="" value="Submit" id="show" style="height:24px;width:100px;"><input style="width: 95px; height: 24px" type="reset" value="Reset" id="Reset1"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td height="24"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <font face="Times New Roman" align="justify">
                                            <span style="mso-bidi-font-size: 12.0pt">
                                                <font size="2">
                                                    @RSWP_UI.Resources.Resource.Disclaimer:<span style="mso-bidi-font-size: 12.0pt; mso-tab-count: 1">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </span>The database in respect of questions prior to 188<sup>th</sup> Session has been scanned/entered.<span style="mso-bidi-font-size: 12.0pt; mso-spacerun: yes">&nbsp;&nbsp; </span>In
                                                    some cases where the authoritative English text was not available, the Hindi
                                                    text has been used. Data in respect of 188<sup>th</sup> session onwards is that
                                                    sent by the Ministry concerned as electronic text.In case a particular question
                                                    is not available on the database, the Ministry concerned may be approached
                                                    directly, and Rajya Sabha Secretariat may be informed of the data gap by
                                                    sending an e-mail to
                                                </font><img alt="" src="showemail2.jpg">
                                            </span>
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td><small><font color="#ff0066"></font></small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <div id="TotalCount"></div>
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table class="table table-striped" id="Member_Tables">
                            <thead>
                                <tr>
                                    <th>@RSWP_UI.Resources.Resource.SLNo.</th>
                                    <th>@RSWP_UI.Resources.Resource.QN.</th>
                                    <th>@RSWP_UI.Resources.Resource.QType_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.Date_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.Ministry_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.Member</th>
                                    <th>@RSWP_UI.Resources.Resource.Subject</th>
                                    <th>@RSWP_UI.Resources.Resource.EnglishFile</th>
                                    <th>@RSWP_UI.Resources.Resource.HindiFile</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (TempData["Message"] == "Success")
                                {
                                    int count = 1;
                                    foreach (var i in ViewBag.SessionRes)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td><a href="#" onclick="someFunction('@i.qno')">@i.qno</a></td>
                                            <td>@i.qtype</td>
                                            <td>@i.ans_date</td>
                                            <td>@i.MIN_NAME</td>
                                            <td>@i.name</td>
                                            <td>@i.qtitle</td>
                                            <td><a href='@i.eng_file' target="_blank">@RSWP_UI.Resources.Resource.EnglishFile</a></td>
                                            <td><a href='@i.hindi_file' target="_blank">@RSWP_UI.Resources.Resource.HindiFile</a></td>
                                        </tr>
                                        count++;
                                    }
                                }
                                else
                                { 
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

<script type="text/javascript">
    function GetData() {
        var obj = {};
        obj.mpcode = $.trim($("[id*=sessioncode]").val());
        $.ajax({
            url: '@Url.Action("SessionWiseSearch", "Questions")',
            data: { Session_value: obj.mpcode},
            method: 'POST',
            success: function (data) {
                debugger;
                //alert("Success...");
                 window.location.href = '@Url.Action("SessionWiseSearchResult", "Questions")';
            },
            error: function ()
            {
                //alert(data);
                alert('Error.');
            }
        });
    }
</script>
<script type="text/javascript">
    function someFunction(Key) {
        debugger;
        $.ajax({
            url: '@Url.Action("CheckSessionWiseQuestionNumber", "Questions")',
            data: { qno: Key },
            method: 'POST',
            success: function () {
                window.location.href = '@Url.Action("QuestionDetails", "Questions")';
            },
            error: function ()
            {
                alert('Error.');
            }
        });
    }
</script>



