﻿
@{
    ViewBag.Title = "ShortNoticeQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.ShortNoticeQuestion_SessionWise</strong></h4>
                        <table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <table id="Table2" style="WIDTH: 439px; HEIGHT: 87px" cellspacing="1" cellpadding="0" width="439" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td><span id="" style="display:inline-block;font-size:11px;font-weight:bold;height:15px;width:303px;"></span></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" width="264" height="8"><span id="" style="display:inline-block;width:190px;">@RSWP_UI.Resources.Resource.PleaseSelectthequestiontype</span></td>
                                                    <td width="20" height="8"><strong><font color="#0000ff">: </font></strong></td>
                                                    <td height="8">
                                                        @Html.DropDownList("sessioncode", ViewBag.SessionList as SelectList, "Select Session", new { @onchange = "callChangefunc()" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="264">&nbsp;</td>
                                                    <td width="20">&nbsp;</td>
                                                    <td><input type="submit" onclick="GetData()" name="" value="Submit" id="show" style="height:24px;width:100px;"><input style="width: 95px; height: 24px" type="reset" value="Reset" id="Reset1"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td height="24"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <font face="Times New Roman" align="justify">
                                            <span style="TEXT-ALIGN: left; mso-bidi-font-size: 12.0pt">
                                                <font size="2">
                                                    @RSWP_UI.Resources.Resource.Disclaimer:<span style="mso-bidi-font-size: 12.0pt; mso-tab-count: 1">&nbsp;</span>In case a
                                                    particular question is not available on the database, the Ministry concerned
                                                    may be approached directly, and Rajya Sabha Secretariat may be informed of the
                                                    data gap by sending an e-mail to <b style="color:red">rsqns@sansad.nic.in</b>
                                                </font>
                                            </span>
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td><small><font color="#ff0066"></font></small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <div id="TotalCount"></div>
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table class="table table-striped" id="Member_Tables" hidden>
                            <thead>
                                <tr>
                                    <th>@RSWP_UI.Resources.Resource.SLNo.</th>
                                    <th>@RSWP_UI.Resources.Resource.QuesNo.</th>
                                    <th>@RSWP_UI.Resources.Resource.QTYPE</th>
                                    <th>@RSWP_UI.Resources.Resource.Date_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.Ministry_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.Member</th>
                                    <th>@RSWP_UI.Resources.Resource.Subject</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

<script type="text/javascript">
    function GetData()
    {
        debugger;
        var obj = {};
        obj.sessionvalue = $.trim($("[id*=sessioncode]").val());
        $.ajax({
            url: '@Url.Action("ShortNoticeQuestions", "Questions")',
            data: { session: obj.sessionvalue},
            method: 'POST',
            success: function (data) {
                var member_data = '';
                var count = 1;
                $('#Member_Tables').show();
                //alert('success...');
                $('#Member_Tables tbody').find("tr:gt(0)").remove();
                $('#Member_Tables tbody').find("tr:eq(0)").remove();
                for (var i = 0; i < data.length; i++) {
                            member_data += '<tr>';
                            member_data += '<td>' + count + '</td>';
                            member_data += '<td>' + '<a href="#" onclick="someFunction(' + data[i].qno + ')">' + data[i].qno + '</a>' + '</td>';
                            member_data += '<td>' + data[i].qtype + '</td>';
                            member_data += '<td>' + data[i].ans_date + '</td>';
                            member_data += '<td>' + data[i].min_name + '</td>';
                            member_data += '<td>' + data[i].name + '</td>';
                            member_data += '<td>' + data[i].qtitle + '</td>';
                            member_data += '</tr>';
                            count++;
                    }
                $('#Member_Tables tbody').append(member_data);
                $('#TotalCount').empty();
                member_count = '<p>' + 'Total record found =' + data.length + '</p>';
                $('#TotalCount').append(member_count);
            },
            error: function ()
            {
                alert('Please Select a member.');
            }
        });
    }
</script>
<script type="text/javascript">
    function someFunction(Key) {
        debugger;
        $.ajax({
            url: '@Url.Action("CheckQuestionShortNoticeWise", "Questions")',
            data: { qno: Key },
            method: 'POST',
            success: function () {
                window.location.href = '@Url.Action("QuestionDetails", "Questions")';
            },
            error: function ()
            {
                alert('Error.');
            }
        });
    }
</script>
