﻿
@{
    ViewBag.Title = "SupplementaryQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="row contentRow bgRajhSabha">
    <div class="container-fluid bgWhiteConter">
        <div class="row">
            @Html.Partial("Partials/leftMenu")
            <div class="col-md-6 boxMiddleBorder" id="question-center">
                <div class="">
                    <div id="content">
                        <h4 style="text-align:center;"><strong>@RSWP_UI.Resources.Resource.SupplementaryQuestionRetrievalSystem</strong></h4>
                        <h4 style="text-align:center;"><strong>(@RSWP_UI.Resources.Resource.RAJYA_SABHA_C)</strong></h4>
                        <div>
                            <p><strong>@RSWP_UI.Resources.Resource.SessionNo_sm</strong> &nbsp;&nbsp; @Html.DropDownList("sessioncode", ViewBag.SessionList as SelectList, "Select Session", new { @onchange = "callChangefunc()" })</p>
                        </div>
                        <div>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@RSWP_UI.Resources.Resource.UsetoseperateWords
                            </p>
                            <p><strong>@RSWP_UI.Resources.Resource.Text</strong>  &nbsp;&nbsp; <input type="text" name="" value="" id="pageno" style="height:24px;width:230px;"></p>
                        </div>
                        <div>
                            <p>
                                <strong>@RSWP_UI.Resources.Resource.Matcheson:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="MatchOn" value="Exact Word" checked />@RSWP_UI.Resources.Resource.ExactWord&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="MatchOn" value="Any Word" />@RSWP_UI.Resources.Resource.AnyWords&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="MatchOn" value="All Word" />@RSWP_UI.Resources.Resource.AllWords
                            </p>
                        </div>
                        <div>
                            <p><strong>@RSWP_UI.Resources.Resource.Member </strong>&nbsp;@Html.DropDownList("membercode", ViewBag.List as SelectList, "Select", new { })</p>
                        </div>
                        <div>
                            <p><strong>@RSWP_UI.Resources.Resource.Ministry_sm </strong>&nbsp;@Html.DropDownList("ministrycode", ViewBag.MinistryList as SelectList, "Select", new { })</p>
                        </div>
                        <div>
                            <p>
                                <strong>@RSWP_UI.Resources.Resource.Date_sm </strong>&nbsp;&nbsp;<strong>@RSWP_UI.Resources.Resource.From</strong>
                                <select id="GetData" name="">
                                    <option>Select</option>
                                </select>
                                &nbsp;<strong>@RSWP_UI.Resources.Resource.To</strong>
                                <select id="GetData1" name="">
                                    <option>Select</option>
                                </select>
                            </p>
                        </div>
                        <div>
                            <p>
                                <strong>@RSWP_UI.Resources.Resource.QuestionNo_sm </strong>&nbsp;
                                <select id="GetQuesNo" name="" >
                                    @*@if (ViewBag.SessionPageList != null)
                                    {
                                        @Html.DropDownList("pageno", ViewBag.SessionPageList as SelectList, "Select", new { })
                                    }*@
                                    <option>@RSWP_UI.Resources.Resource.Select</option>
                                </select>
                            </p>
                        </div>
                        <div>
                            <p>
                                <strong>@RSWP_UI.Resources.Resource.SortBy:</strong>
                                &nbsp;&nbsp;
                                <input type="radio" name="SortBy" value="Exact Word" checked />@RSWP_UI.Resources.Resource.QuestionType&nbsp;&nbsp;
                                <input type="radio" name="SortBy" value="Any Word" />@RSWP_UI.Resources.Resource.AnswerDate&nbsp;&nbsp;
                                <input type="radio" name="SortBy" value="All Word" />@RSWP_UI.Resources.Resource.Ministry_sm&nbsp;&nbsp;
                                <input type="radio" name="SortBy" value="All Word" />@RSWP_UI.Resources.Resource.MemberName
                            </p>
                        </div>
                        <div style="text-align:center">
                            <input type="submit" onclick="GetData()" name="" value="Search" id="show" style="height:24px;width:100px;">&nbsp;&nbsp;&nbsp;<input style="width: 95px; height: 24px" type="reset" value="Reset" id="Reset1">
                        </div>
                    </div>
                </div>
                <br />
                <div id="TotalCount"></div>
                <div class="ShowData">
                    <div class="searchResulltTabl">
                        <table class="table table-striped" id="Member_Tables" hidden>
                            <thead>
                                <tr>
                                    <th>@RSWP_UI.Resources.Resource.SLNo.</th>
                                    <th>@RSWP_UI.Resources.Resource.QuesNo.</th>
                                    <th>@RSWP_UI.Resources.Resource.AnswerDate</th>
                                    <th>@RSWP_UI.Resources.Resource.Ministry_sm</th>
                                    <th>@RSWP_UI.Resources.Resource.MPName</th>
                                    <th>@RSWP_UI.Resources.Resource.QuestionTitle</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.Partial("Partials/rightMenu")
        </div>
    </div>
</section>

<script type="text/javascript">
    function callChangefunc() {
        var obj = {};
        obj.sessioncode = $.trim($("[id*=sessioncode]").val());
        var Sessionpg = "@ViewBag.SessionPageList";
        $.ajax({
           url: '@Url.Action("Get_Date_Page", "Questions")',
            data: { session_date: obj.sessioncode },
            method: 'POST',
            success: function (data) {
                $("#GetData option:gt(0)").remove();
                $("#GetData option:eq(0)").remove();
                $("#GetData1 option:gt(0)").remove();
                $("#GetData1 option:eq(0)").remove();
                $("#GetData").append($('<option/>').attr("value", '0').text('Select'));
                for (var i = 0; i < data.length; i++) {
                    if (data[i].session_date != null)
                    {
                        $("#GetData").append($('<option/>').attr("value", data[i].session_date).text(data[i].session_date));
                    }
                }
                $("#GetData1").append($('<option/>').attr("value", '0').text('Select'));
                for (var i = 0; i < data.length; i++) {
                    if (data[i].session_date != null) {
                        $("#GetData1").append($('<option/>').attr("value", data[i].session_date).text(data[i].session_date));
                    }
                }
                $("#GetQuesNo").empty();
                $("#GetQuesNo").append($('<option/>').attr("value", '0').text('Select'));
                for (var i = 0; i < data.length; i++) {
                    if (data[i].qno != 0)
                    {
                        $("#GetQuesNo").append($('<option/>').attr("value", data[i].qno).text(data[i].qno));
                    }
                }
            },
            error: function () {
                alert('Not Success...');
            }
        });
    }
</script>

<script type="text/javascript">
    function GetData()
    {
        debugger;
        var obj = {};
        obj.session = $.trim($("[id*=sessioncode]").val());
        obj.MemRes = document.getElementById('membercode').value;
        obj.MinRes = document.getElementById('ministrycode').value;
        obj.AnsDate = document.getElementById('GetData').value;
        obj.QuesType = document.getElementById('GetQuesNo').value;
        $.ajax({
            url: '@Url.Action("SupplementaryQuestion", "Questions")',
            data: { session: obj.session},
            method: 'POST',
            success: function (data) {
                debugger;
                var member_data = '';
                var member_count = '';
                var count = 1;
                //if (obj.AnsDate != "Select" && obj.AnsDate != "0")
                //{
                //    var value = new Date
                //        (
                //        parseInt(data[i].obj.AnsDate.replace(/(^.*\()|([+-].*$)/g, ''))
                //        );
                //    var month = value.getMonth() + 1;
                //    var dat = value.getDate() +
                //        "." +
                //        month +
                //        "." +
                //        value.getFullYear();
                //}
                $('#TotalCount').empty();
                $('#Member_Tables tbody').find("tr:gt(0)").remove();
                $('#Member_Tables tbody').find("tr:eq(0)").remove();
                for (var i = 0; i < data.length; i++) {
                    if (obj.MemRes == data[i].mp_code || obj.MemRes == "") {
                        if (obj.MinRes == data[i].min_code || obj.MinRes == "") {
                            if (obj.AnsDate == data[i].MIN_NAME || obj.AnsDate == "0") {
                                if (obj.QuesType == data[i].qno || obj.QuesType == "0") {
                                    member_data += '<tr>';
                                    member_data += '<td>' + count + '</td>';
                                    member_data += '<td>' + '<a href="#">' + data[i].qno + '</a>' + '</td>';
                                    member_data += '<td>' + data[i].ans_date + '</td>';
                                    member_data += '<td>' + data[i].MIN_NAME + '</td>';
                                    member_data += '<td>' + data[i].mp_name + '</td>';
                                    member_data += '<td>' + data[i].qtitle + '</td>';
                                    member_data += '</tr>';
                                    count++;
                                }
                            }
                        }
                    }
                }
                if (obj.session == "")
                {
                    alert('Select Session')
                    $('#Member_Tables').hide();
                }
                else
                {
                    $('#Member_Tables').show();
                    $('#Member_Tables tbody').append(member_data);
                    $('#TotalCount').empty();
                    count = count - 1;
                    member_count = '<p>' + 'Total record found =' + count + '</p>';
                    $('#TotalCount').append(member_count);
                }
            },
            error: function ()
            {
                alert('Please select a session.');
            }
        });
    }
</script>
